esb-extends-pojo/src/main/schema/foss2crm/FOSS_RECEIVE_MESSAGES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/msg"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/msg"
	elementFormDefault="qualified">

	<complexType name="SyncMsgRequest">
		<annotation>
			<documentation>悟空系统 推送代办，任务提醒给FOSS</documentation>
		</annotation>
		<sequence>
			<element name="OnlineNoticeMsgInfo" type="tns:OnlineNoticeMsg" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>在线通知消息</documentation>
				</annotation>
			</element>
			<element name="InstationMsgInfo" type="tns:InstationMsg" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>实时消息</documentation>
				</annotation>
			</element>
			<element name="TodoMsgInfo" type="tns:TodoMsg" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>代办消息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="OnlineNoticeMsg">
		<sequence>
				<element name="createType">
				<annotation>
					<documentation>
						生成方式
						消息常量类 MessageConstants
						常量
						MSG__CREATE_TYPE__AUTO
						系统生成
						MSG__CREATE_TYPE__MANUAL 手工输入
					</documentation>
				</annotation>
				<simpleType>
					<restriction  base="string">
						<enumeration value="A"></enumeration>
						<enumeration value="M"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="context">
				<annotation>
					<documentation>消息内容</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<maxLength value="1000"></maxLength>
						<minLength value="0"></minLength>
					</restriction>
				</simpleType>
			</element>
			<element name="airWaybillNo" type="string">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="expireTime" type="dateTime">
				<annotation>
					<documentation>有效时间,全网消息必填</documentation>
				</annotation>
			</element>
			<element name="receiveOrgCode" type="string">
				<annotation>
					<documentation>接收组织编码</documentation>
				</annotation>
			</element>
			<element name="receiveOrgName" type="string">
				<annotation>
					<documentation>接收组织名称</documentation>
				</annotation>
			</element>
			<element name="sendOrgCode" type="string">
				<annotation>
					<documentation>
						发送方部门编码
						如果是系统发送则用
						常量类 MessageConstants属性
						MSG__SYS_ORG_CODE
					</documentation>
				</annotation>
			</element>
			<element name="sendOrgName" type="string">
				<annotation>
					<documentation>发送方部门</documentation>
				</annotation>
			</element>
			<element name="sendUserCode" type="string">
				<annotation>
					<documentation>发送人工号</documentation>
				</annotation>
			</element>
			<element name="sendUserName" type="string">
				<annotation>
					<documentation>发送人姓名</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="InstationMsg">
		<sequence>
			<element name="context">
				<annotation>
					<documentation>消息内容</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<minLength value="1"></minLength>
						<maxLength value="1000"></maxLength>
					</restriction>
				</simpleType>
			</element>
			<element name="createType">
				<annotation>
					<documentation>
						生成方式
						消息常量类 MessageConstants
						常量
						MSG__CREATE_TYPE__AUTO
						系统生成
						MSG__CREATE_TYPE__MANUAL 手工输入
					</documentation>
				</annotation>
				<simpleType>
					<restriction  base="string">
						<enumeration value="A"></enumeration>
						<enumeration value="M"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="expireTime" type="dateTime">
				<annotation>
					<documentation>失效时间</documentation>
				</annotation>
			</element>
			<element name="msgType">
				<annotation>
					<documentation>
						站内消息类型
						普通消息/全网通知
						所需常量
						数据字典类 DictionaryValueConstants
						常量
						MSG_TYPE__NORMAL 普通消息
						MSG_TYPE__ALLNET 全网消息
					</documentation>
				</annotation>
				<simpleType >
					<restriction base="string">
						<enumeration value="NORMAL">
							<annotation>
								<documentation>普通消息</documentation>
							</annotation>
						</enumeration>
						<enumeration value="ALLNET">
							<annotation>
								<documentation>全网消息</documentation>
							</annotation>
						</enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="receiveOrgCode" type="string">
				<annotation>
					<documentation> 接收方组织编码</documentation>
				</annotation>
			</element>
			<element name="receiveOrgName" type="string">
				<annotation>
					<documentation> 接收方组织编码</documentation>
				</annotation>
			</element>
			<element name="receiveSubOrgCode" type="string">
				<annotation>
					<documentation>
						接收方下级组织编码
					</documentation>
				</annotation>
			</element>
			<element name="receiveSubOrgName" type="string">
				<annotation>
					<documentation>
						接收方下级组织名称
					</documentation>
				</annotation>
			</element>
			<element name="receiveType">
				<annotation>
					<documentation> 接收方类型 O:组织;OR:组织和角色</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="O"></enumeration>
						<enumeration value="OR"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="receiveUserName" type="string">
				<annotation>
					<documentation>接收用户</documentation>
				</annotation>
				</element>
			<element name="receiveUserCode" type="string">
				<annotation>
					<documentation>
						接收人员编码
						如果是全网通知则用
						常量类 MessageConstants
						属性
						MSG__SYS_USER_CODE
					</documentation>
				</annotation>
			</element>
			<element name="sendOrgCode" type="string">
				<annotation>
					<documentation>
					送方部门编码
					如果是系统发送则用
					常量类 MessageConstants
					属性 MSG__SYS_ORG_CODE
				</documentation>
				</annotation>
			</element>
			<element name="sendOrgName" type="string">
					<annotation>
					<documentation>发送方部门编码</documentation>
				</annotation>
			</element>
			<element name="sendUserCode" type="string">
				<annotation>
					<documentation>发送人员编码</documentation>
				</annotation>
			</element>
			<element name="sendUserName" type="string">
					<annotation>
					<documentation>发送人员编码</documentation>
				</annotation>
			</element>
			<element name="serialNumber" type="string">
				<annotation>
					<documentation>流水号</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="TodoMsg">
		<sequence>
			<element name="businessNo" type="string">
				<annotation>
					<documentation>业务单号</documentation>
				</annotation>
			</element>
			<element name="businessType" type="string">
				<annotation>
					<documentation>数据字典常量类 DictionaryValueConstants* 参阅 综合管理-待办事项-业务类型
						"值代码</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="createUserName" type="string">
				<annotation>
					<documentation>创建人名称</documentation>
				</annotation>
			</element>
			<element name="dealUrl" type="string">
				<annotation>
					<documentation>处理待办链接地址</documentation>
				</annotation>
			</element>
			<element name="receiveOrgCode" type="string">
				<annotation>
					<documentation>接收组织编码</documentation>
				</annotation>
			</element>
			<element name="receiveRoleCode" type="string">
				<annotation>
					<documentation>接收角色编码</documentation>
				</annotation>
			</element>
			<element name="receiveSubOrgCode" type="string">
				<annotation>
					<documentation>接收下级组织编码</documentation>
				</annotation>
			</element>
			<element name="receiveSubOrgName" type="string">
				<annotation>
					<documentation>接收下级组织名称</documentation>
				</annotation>
			</element>
			<element name="receiveType">
				<annotation>
					<documentation> 接收方类型 O:组织;OR:组织和角色
					消息常量类 MessageConstants 常量 MSG__RECEIVE_TYPE__ORG  组织 MSG__RECEIVE_TYPE__ORG_ROLE 组织+角色
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="O"></enumeration>
						<enumeration value="OR"></enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="serialNumber" type="string">
				<annotation>
					<documentation>流水号</documentation>
				</annotation>
			</element>
			<element name="title" type="string">
				<annotation>
					<documentation>标题</documentation>
				</annotation>
			</element>
			<element name="urlType">
				<annotation>
					<documentation>待办类型
						MessageConstants
						* MSG__URL_TYPE__WEB WEB待办
						* MSG__URL_TYPE__GUI GUI待办
					</documentation>
				</annotation>
				<simpleType>
					<restriction base="string">
						<enumeration value="WEB"></enumeration>
						<enumeration value="GUI"></enumeration>
					</restriction>
				</simpleType>
			</element>
		</sequence>
	</complexType>

	<complexType name="SyncMsgResponseBody">
        <annotation>
        	<documentation>响应结果</documentation>
        </annotation>
        <sequence>
			<element name="status">
				<simpleType>
					<restriction base="string">
						<enumeration value="1">
							<annotation>
								<documentation>成功</documentation>
							</annotation>
						</enumeration>
						<enumeration value="0">
							<annotation>
								<documentation>处理失败</documentation>
							</annotation>
						</enumeration>
					</restriction>
				</simpleType>
			</element>
			<element name="msg" type="string">
				<annotation>
					<documentation>提示消息</documentation>
				</annotation>
			</element>
			<element name="proccessTime" type="date">
				<annotation>
					<documentation>响应时间</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	
	<complexType name="SyncMsgResponse">
		<annotation>
			<documentation>foss 响应报文</documentation>
		</annotation>
		<sequence>
			<element name="ResponseHeader" type="tns:SyncMsgRequest" minOccurs="1" maxOccurs="1" >
				<annotation>
					<documentation>请求报文原路返回</documentation>
				</annotation>
			</element>
			<element name="ResponseBody" type="tns:SyncMsgResponseBody" minOccurs="1" maxOccurs="1" >
				<annotation>
					<documentation>
						响应报文体
					</documentation>
				</annotation>	
			</element>	
		</sequence>
	</complexType>	
	
	<element name="SyncMsgRequest" type="tns:SyncMsgRequest"></element>

	<element name="SyncMsgResponse" type="tns:SyncMsgResponse">
	</element>

</schema>