foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/org/QueryLadingService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/ladingService" xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/ladingService"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/ladingService" name="ladingService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/ladingService">
			<xsd:include schemaLocation="QUERY_DETAIL_LADING.xsd" />
			<xsd:include schemaLocation="QUERY_LADING.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="QueryDetailLadingRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryDetailLadingRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryDetailLadingResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryDetailLadingResponse" name="payload" />
	</wsdl:message>

	<wsdl:message name="QueryLadingRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryLadingRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryLadingReponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryLadingReponse" name="payload" />
	</wsdl:message>
	
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	
	<wsdl:portType name="LadingService">
		<wsdl:operation name="queryDetailLading">
			<wsdl:input message="tns:QueryDetailLadingRequest" />
			<wsdl:output message="tns:QueryDetailLadingResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	
		<wsdl:operation name="queryLading">
			<wsdl:input message="tns:QueryLadingRequest" />
			<wsdl:output message="tns:QueryLadingReponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="LadingServiceSOAP" type="tns:LadingService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryDetailLading">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryDetailLading" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryDetailLadingRequest"></soap:header>
				<soap:body use="literal" parts="paylaod"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryDetailLadingResponse"></soap:header>
				<soap:body use="literal" parts="paylaod"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="queryLading">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryLading" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryLadingRequest"></soap:header>
				<soap:body use="literal" parts="paylaod" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryLadingReponse"></soap:header>
				<soap:body use="literal" parts="paylaod"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LadingService">
		<wsdl:port binding="tns:LadingServiceSOAP" name="LadingServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
