esb-extends-pojo/src/main/schema/foss2fssc/FSSC_CREATE_PAYMENTBILL_WORKFLOW.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/fssc/inteface/domain/payment"
	targetNamespace="http://www.deppon.com/fssc/inteface/domain/payment" elementFormDefault="qualified">
	<element name="callCreatePmtBillWorkflowFossRequest" type="tns:callCreatePmtBillWorkflowFossRequest"></element>
	<element name="callCreatePmtBillWorkflowFossResponse" type="tns:callCreatePmtBillWorkflowFossResponse"></element>
    <complexType name="callCreatePmtBillWorkflowFossRequest">
        <sequence>
    		<element name="paymentBillNo" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>付款申请流水号</documentation>
				</annotation>
			</element>
			<element name="payBillDeptNo" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>付款部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="payBillDeptName" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>付款部门名称</documentation>
				</annotation>
			</element>
			<element name="payBillAmount" type="decimal" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>付款总金额</documentation>
				</annotation>
			</element>
			<element name="payBillComNo" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>子公司编码</documentation>
				</annotation>
			</element>
    		<element name="payBillBankNo" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>银行账号</documentation>
				</annotation>
			</element>
			<element name="accountType" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>账户性质</documentation>
				</annotation>
			</element>
			<element name="accountNumber" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>账户编码</documentation>
				</annotation>
			</element>
			<element name="accountBankNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>开户行编码</documentation>
				</annotation>
			</element>
			<element name="accountBranchBankNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>开户支行编码</documentation>
				</annotation>
			</element>
			<element name="accountProviceNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>开户银行所在省编码</documentation>
				</annotation>
			</element>
			<element name="accountCityNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>开户银行所在城市编码</documentation>
				</annotation>
			</element>
			<element name="peyBillDiscription" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>事由说明</documentation>
				</annotation>
			</element>
			<element name="payBillPayeeName" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>收款方姓名</documentation>
				</annotation>
			</element>
			<element name="payBillCelephone" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>联系方式</documentation>
				</annotation>
			</element>
			<element name="payBillAppNo" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>申请人工号</documentation>
				</annotation>
			</element>
			<element name="payBillLastTime" type="dateTime" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>最迟汇款日期</documentation>
				</annotation>
			</element>
			<element name="payBillAppType" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>工作流类型</documentation>
				</annotation>
			</element>
			<element name="payType" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>支付方式</documentation>
				</annotation>
			</element>
			<element name="currency" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>币种</documentation>
				</annotation>
			</element>
			<element name="exchangeRate" type="decimal" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>汇率</documentation>
				</annotation>
			</element>
			<element name="isAutoAbatementLoan" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>是否自动冲借支</documentation>
				</annotation>
			</element>
			
			<!-- 保理新增 -->
			<element name="factoring" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>是否保理</documentation>
				</annotation>
			</element>
			<element name="customerName" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>客户名称</documentation>
				</annotation>
			</element>
			<element name="customerCode" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>客户编码</documentation>
				</annotation>
			</element>
			<element name="cusCode" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>贷款客户编码</documentation>
				</annotation>
			</element>
				
			<element name="expenseDetail" type="tns:expenseDetail" minOccurs="1" maxOccurs="unbounded">
                <annotation>
    				<documentation>明细行集合</documentation>
				</annotation>
			</element>
			<element name="stowageDetail" type="tns:stowageDetail" minOccurs="0" maxOccurs="unbounded">
    			<annotation>
    				<documentation>配载单集合</documentation>
				</annotation>
			</element>
		</sequence>
    </complexType>

	<complexType name="expenseDetail">
		<sequence>
    		<element name="payBillExpDate" type="dateTime" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>业务发生日期</documentation>
    			</annotation>
    		</element>
    		<element name="expensesType" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>费用类型</documentation>
    			</annotation>
    		</element>
    		<element name="expensesMoney" type="decimal" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>预提金额</documentation>
    			</annotation>
    		</element>
			<element name="billNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>应付单号</documentation>
    			</annotation>
    		</element>
			<element name="expenseExplain" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>事由说明</documentation>
    			</annotation>
    		</element>
			<element name="expenseCostCenter" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>费用承担部门</documentation>
    			</annotation>
    		</element>
			<element name="remittanceNumber" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>汇款编号</documentation>
    			</annotation>
    		</element>
			<element name="isvat" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>是否增值税专用发票</documentation>
    			</annotation>
    		</element>
			<element name="invatNum" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>增值税发票号码</documentation>
    			</annotation>
    		</element>
			<element name="taxfreePrice" type="decimal" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>不含税金额</documentation>
    			</annotation>
    		</element>
			<element name="taxPrice" type="decimal" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>税额</documentation>
    			</annotation>
    		</element>
			<element name="carPurpose" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>租车用途</documentation>
    			</annotation>
    		</element>
			<element name="carNumber" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>车牌号</documentation>
    			</annotation>
    		</element>
			<element name="driverName" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>司机姓名</documentation>
    			</annotation>
    		</element>
			<element name="driverTel" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>司机联系方式</documentation>
    			</annotation>
    		</element>
			<element name="repeatTag" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>重复标记</documentation>
    			</annotation>
    		</element>
			<element name="withHoldClaimNo" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>报销对应的预提工作流号</documentation>
    			</annotation>
    		</element>
    		<element name="taxpayerId" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>纳税人识别号</documentation>
    			</annotation>
    		</element>
    	</sequence>
	</complexType>
	<complexType name="stowageDetail">
		<sequence>
    		<element name="startDeptNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>出发部门</documentation>
    			</annotation>
    		</element>
    		<element name="arriveDeptNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>到达部门</documentation>
    			</annotation>
    		</element>
    		<element name="plateNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>车牌号</documentation>
    			</annotation>
    		</element>
			<element name="carNumber" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>车次号</documentation>
    			</annotation>
    		</element>
			<element name="driverName" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>司机（姓名）</documentation>
    			</annotation>
    		</element>
			<element name="amountMoney" type="decimal" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>总额</documentation>
    			</annotation>
    		</element>
			<element name="startMoney" type="decimal" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>出发付金额</documentation>
    			</annotation>
    		</element>
			<element name="arriveMoney" type="decimal" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>到达付金额</documentation>
    			</annotation>
    		</element>
			<element name="regulationChange" type="decimal" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>增减变化</documentation>
    			</annotation>
    		</element>
			<element name="rewardWithhold" type="string" minOccurs="0" maxOccurs="1">
    			<annotation>
    				<documentation>奖励/扣款</documentation>
    			</annotation>
    		</element>
			<element name="backBillArrive" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>押回单到达</documentation>
    			</annotation>
    		</element>
			<element name="isMonthly" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>是否月结</documentation>
    			</annotation>
    		</element>
			<element name="payableNo" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>应付单号</documentation>
    			</annotation>
    		</element>
    	</sequence>
	</complexType>
    <complexType name="callCreatePmtBillWorkflowFossResponse">
    	<sequence>
    		<element name="paymentBillNo" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>付款申请流水号</documentation>
    			</annotation>
    		</element>
    		<element name="payBillAppType" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>工作流类型</documentation>
    			</annotation>
    		</element>
    		<element name="payBillWorkflowNo" type="string" minOccurs="1" maxOccurs="1">
    			<annotation>
    				<documentation>工作流编号</documentation>
    			</annotation>
    		</element>
    	</sequence>
    </complexType>
</schema>