esb-extends-pojo/src/main/schema/foss2oms/OMS_SYNC_MOTORCADE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/esb/inteface/domain/oms" 
 targetNamespace="http://www.deppon.com/esb/inteface/domain/oms" elementFormDefault="qualified">
	<complexType name="SyncMotorcadeRequest">
		<annotation>
			<documentation>
				FOSS车队信息，调用接口同步数据
			</documentation>
		</annotation>
		<sequence>
			<element name="MotorcadeInfo" type="tns:MotorcadeInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>车队信息同步</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	<complexType name="MotorcadeInfo">
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="code" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>部门编码</documentation>
				</annotation>
			</element>
			<element name="name" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>部门名称</documentation>
				</annotation>
			</element>
			<element name="pinyin" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>拼音</documentation>
				</annotation>
			</element>
			<element name="service" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否集中接送货</documentation>
				</annotation>
			</element>
			<element name="serviceCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>集中接送货车队编码</documentation>
				</annotation>
			</element>
			<element name="serviceTeam" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否集中接送货车队组</documentation>
				</annotation>
			</element>
			<element name="parentOrgCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>所属车队</documentation>
				</annotation>
			</element> 
			<element name="transferCenter" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>所服务外场</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
		
			<element name="modifyTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更新时间(防止出现并发情况无法判断请求先后顺序)</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<element name="dispatchTeam" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否车队调度组</documentation>
				</annotation>
			</element>
			<element name="fleetType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车队类型，包含长途车队，物流班车车队，接送货车队</documentation>
				</annotation>
			</element>
			<element name="isManageVehicle" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否直接管车</documentation>
				</annotation>
			</element>
			<element name="serveBillTerm" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>所服务的集中开单组，非必选，车队大部门才有</documentation>
				</annotation>
			</element>
			
			<element name="isTopMotorcade" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否顶级车队("Y"表示是顶级车队,"N"表示不是顶级车队)</documentation>
				</annotation>
			</element>
			<element name="operatorSign" type="int">
    			<annotation>
    				<documentation>操作标记（传入整数，1、新增；2、修改；3、删除）</documentation>
    			</annotation>
    		</element>
    		<element name="MotorcadeServeSalesAreaInfo" type="tns:MotorcadeServeSalesAreaInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>车队负责营业区信息同步</documentation>
				</annotation>
			</element>
			
			<element name="SalesMotorcadeInfo" type="tns:SalesMotorcadeInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>车队服务的营业部信息同步</documentation>
				</annotation>
			</element>
			
			<element name="MotorcadeServeDistrictInfo" type="tns:MotorcadeServeDistrictInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>车队负责行政区域信息同步 </documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	<complexType name="MotorcadeServeDistrictInfo">
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="virtualCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>虚拟编码</documentation>
				</annotation>
			</element>
			<element name="motorcadeCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车队部门编码</documentation>
				</annotation>
			</element>
			<element name="motorcadeName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车队部门名称</documentation>
				</annotation>
			</element>
			<element name="districtCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>行政区域部门编码</documentation>
				</annotation>
			</element>
			<element name="districtName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>行政区域部门名称</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更新时间</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
		
		</sequence>
	</complexType>
	<complexType name="MotorcadeServeSalesAreaInfo">
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="virtualCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>虚拟编码</documentation>
				</annotation>
			</element>
			<element name="motorcadeCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车队部门编码</documentation>
				</annotation>
			</element>
			<element name="motorcadeName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车队部门名称</documentation>
				</annotation>
			</element>
			<element name="salesareaCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营业区域部门编码</documentation>
				</annotation>
			</element>
			<element name="salesareaName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营业区域部门名称</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更新时间</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	<complexType name="SalesMotorcadeInfo">
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="virtualCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>虚拟编码</documentation>
				</annotation>
			</element>
			<element name="salesdeptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营业部门编码</documentation>
				</annotation>
			</element>
			<element name="motorcadeCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车队部门编码</documentation>
				</annotation>
			</element>
			
			<element name="active" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更新时间</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>
	<complexType name="SyncMotorcadeResponse">
		<annotation>
			<documentation>
				OMS处理数据结果返回给FOSS
			</documentation>
		</annotation>
		<sequence>
			<element name="resultInfos" type="tns:ResultInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>返回信息集合</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="ResultInfo">
		<annotation>
			<documentation>
				返回处理结果
			</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>请求ID</documentation>
				</annotation>
			</element>
			<element name="resultCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>处理结果("1"表示成功,"0"表示失败)</documentation>
				</annotation>
			</element>
			<element name="resultMessage" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>返回处理信息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="SyncMotorcadeRequest" type="tns:SyncMotorcadeRequest"/>
	<element name="SyncMotorcadeResponse" type="tns:SyncMotorcadeResponse"/>
</schema>
