esb-extends-pojo/src/main/schema/fosstocubc/ESB_FOSS2ESB_FOSS_CUBC_ADDCARRENT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.deppon.com/cubc/module/foss/shared/domain"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/cubc/module/foss/shared/domain">
	<annotation>
	  	<documentation xml:lang="en">
	  		[新增]ESB_FOSS2ESB_FOSS_CUBC_ADDCARRENT临时租车
	  	</documentation>
	</annotation>
	<complexType name="rentCarCubcRequest">
		<sequence>
			<element name="rentCarCubcList" type="tns:RentCarCubcDto" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>传给CUBC的租车实体</documentation>
				</annotation>
			</element>
			<element name="tempRentalMarkDetailEntityList" type="tns:TempRentalMarkDetailEntity" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>传给CUBC的租车标记明细表实体</documentation>
				</annotation>
			</element>
			<element name="tempRentalMarkEntityList" type="tns:TempRentalMarkEntity" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>传给CUBC的租车标记表实体</documentation>
				</annotation>
			</element>
			<element name="temprentalMarkSmticksEntityList" type="tns:TemprentalMarkSmticksEntity" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>传给CUBC的租车标记小票实体</documentation>
				</annotation>
			</element>
			<element name="empCode" type="string">
				<annotation>
					<documentation>员工工号</documentation>
				</annotation>
			</element>
			<element name="empName" type="string">
				<annotation>
					<documentation>员工姓名</documentation>
				</annotation>
			</element>
			<element name="currentDeptCode" type="string">
				<annotation>
					<documentation>当前登录部门编码</documentation>
				</annotation>
			</element>
			<element name="currentDeptName" type="string">
				<annotation>
					<documentation>当前登录部门名称</documentation>
				</annotation>
			</element>
			<element name="bearFeesDept" type="string">
				<annotation>
					<documentation>费用承担部门</documentation>
				</annotation>
			</element>
			<element name="bearFeesDeptCode" type="string">
				<annotation>
					<documentation>费用承担部门编码</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="RentCarCubcDto">    
		<sequence>
			<element name="rentCarNo" type="string">
				<annotation>
					<documentation>租车编号</documentation>
				</annotation>
			</element>
			<element name="customerCode" type="string">
				<annotation>
					<documentation>客户/司机编码</documentation>
				</annotation>
			</element>
			<element name="customerName" type="string">
				<annotation>
					<documentation>客户/司机名称--</documentation>
				</annotation>
			</element>
			<element name="customerPhone" type="string">
				<annotation>
					<documentation>司机联系方式</documentation>
				</annotation>
			</element>
			<element name="rentCarUseType" type="string">
				<annotation>
					<documentation>租车用途</documentation>
				</annotation>
			</element>
			<element name="amount" type="decimal">
				<annotation>
					<documentation>租车金额</documentation>
				</annotation>
			</element>
			<element name="useCarDate" type="date">
				<annotation>
					<documentation>租车日期</documentation>
				</annotation>
			</element>
			<element name="isRepeatemark" type="string">
				<annotation>
					<documentation>是否多次标记</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="TempRentalMarkDetailEntity">    
		<sequence>
			<element name="id" type="string">
				<annotation>
					<documentation>id</documentation>
				</annotation>
			</element>
			<element name="tempRentalMarkId" type="string">
				<annotation>
					<documentation>租车id</documentation>
				</annotation>
			</element>
			<element name="tempRentalMarkNo" type="string">
				<annotation>
					<documentation>租车编号</documentation>
				</annotation>
			</element>
			<element name="billNo" type="string">
				<annotation>
					<documentation>单号</documentation>
				</annotation>
			</element>
			<element name="billType" type="string">
				<annotation>
					<documentation>单据类型</documentation>
				</annotation>
			</element>
			<element name="weight" type="decimal">
				<annotation>
					<documentation>总量</documentation>
				</annotation>
			</element>
			<element name="volume" type="decimal">
				<annotation>
					<documentation>体积</documentation>
				</annotation>
			</element>
			
			<element name="createUserName" type="string">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string">
				<annotation>
					<documentation>创建人编码</documentation>
				</annotation>
			</element>
			<element name="createDate" type="date">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="rentalCarUserType" type="string">
				<annotation>
					<documentation>租车用途</documentation>
				</annotation>
			</element>
			<element name="markDepartName" type="string">
				<annotation>
					<documentation>标记部门</documentation>
				</annotation>
			</element>
			<element name="markDepartCode" type="string">
				<annotation>
					<documentation>标记部门编码</documentation>
				</annotation>
			</element>
			<element name="vehicleNo" type="string">
				<annotation>
					<documentation>车牌号</documentation>
				</annotation>
			</element>
			<element name="payableNo" type="string">
				<annotation>
					<documentation>应付单号</documentation>
				</annotation>
			</element>
			<element name="notes" type="string">
				<annotation>
					<documentation>备注</documentation>
				</annotation>
			</element>
			<element name="rentCarAmount" type="decimal">
				<annotation>
					<documentation>租车金额</documentation>
				</annotation>
			</element>
			<element name="billCreateDate" type="date">
				<annotation>
					<documentation>单据（运单、交接单、派送单、配载单）生成时间</documentation>
				</annotation>
			</element>
			<element name="consultPriceNo" type="string">
				<annotation>
					<documentation>询价编号</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="TempRentalMarkEntity">    
		<sequence>
			<element name="id" type="string">
				<annotation>
					<documentation>id</documentation>
				</annotation>
			</element>
			<element name="tempRentalMarkNo" type="string">
				<annotation>
					<documentation>租车编号</documentation>
				</annotation>
			</element>
			<element name="rentalCarUsetype" type="string">
				<annotation>
					<documentation>租车用途</documentation>
				</annotation>
			</element>			
			<element name="useCarDate" type="date">
				<annotation>
					<documentation>用车时间</documentation>
				</annotation>
			</element>
			<element name="userCarReason" type="string">
				<annotation>
					<documentation>用车原因</documentation>
				</annotation>
			</element>						
			<element name="inviteVehicleNo" type="string">
				<annotation>
					<documentation>约车编号</documentation>
				</annotation>
			</element>			
			<element name="acceptPerson" type="string">
				<annotation>
					<documentation>约车受理人</documentation>
				</annotation>
			</element>			
			<element name="acceptPersonCode" type="string">
				<annotation>
					<documentation>约车受理人工号</documentation>
				</annotation>
			</element>			
			<element name="smallTicketNum" type="string">
				<annotation>
					<documentation>小票号</documentation>
				</annotation>
			</element>			
			<element name="rentalAmount" type="decimal">
				<annotation>
					<documentation>租车金额</documentation>
				</annotation>
			</element>
			<element name="kmsNum" type="decimal">
				<annotation>
					<documentation>公里数</documentation>
				</annotation>
			</element>
			<element name="departureName" type="string">
				<annotation>
					<documentation>出发站</documentation>
				</annotation>
			</element>
			<element name="departureCode" type="string">
				<annotation>
					<documentation>出发站编码</documentation>
				</annotation>
			</element>
			<element name="destinationCode" type="string">
				<annotation>
					<documentation>目的站编码</documentation>
				</annotation>
			</element>
			<element name="destinationName" type="string">
				<annotation>
					<documentation>目的站</documentation>
				</annotation>
			</element>
			<element name="notes" type="string">
				<annotation>
					<documentation>备注</documentation>
				</annotation>
			</element>
			<element name="markDepartName" type="string">
				<annotation>
					<documentation>标记部门名称</documentation>
				</annotation>
			</element>
			<element name="markDepartCode" type="string">
				<annotation>
					<documentation>标记部门编码</documentation>
				</annotation>
			</element>
			<element name="createUserName" type="string">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string">
				<annotation>
					<documentation>创建人编码</documentation>
				</annotation>
			</element>
			<element name="createDate" type="date">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyUserNme" type="string">
				<annotation>
					<documentation>修改人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string">
				<annotation>
					<documentation>修改人工号</documentation>
				</annotation>
			</element>
			<element name="modifyDate" type="date">
				<annotation>
					<documentation>修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string">
				<annotation>
					<documentation>状态</documentation>
				</annotation>
			</element>
			<element name="weigthTotal" type="decimal">
				<annotation>
					<documentation>总重量</documentation>
				</annotation>
			</element>
			<element name="volumeTotal" type="decimal">
				<annotation>
					<documentation>总体积</documentation>
				</annotation>
			</element>
			<element name="shallTakeGoodsQyt" type="decimal">
				<annotation>
					<documentation>应走货票数</documentation>
				</annotation>
			</element>
			<element name="actualTakeGoodsQyt" type="decimal">
				<annotation>
					<documentation>实际走货票数</documentation>
				</annotation>
			</element>
			<element name="vehicleNo" type="string">
				<annotation>
					<documentation>车牌号</documentation>
				</annotation>
			</element>
			<element name="selfVolume" type="decimal">
				<annotation>
					<documentation>净空</documentation>
				</annotation>
			</element>
			<element name="vehicleLenghtCode" type="string">
				<annotation>
					<documentation>车型</documentation>
				</annotation>
			</element>
			<element name="driverCode" type="string">
				<annotation>
					<documentation>司机编码</documentation>
				</annotation>
			</element>
			<element name="driverName" type="string">
				<annotation>
					<documentation>司机姓名</documentation>
				</annotation>
			</element>
			<element name="driverPhone" type="string">
				<annotation>
					<documentation>司机电话</documentation>
				</annotation>
			</element>
			<element name="isRepeateMark" type="string">
				<annotation>
					<documentation>是否多次标记</documentation>
				</annotation>
			</element>
			<element name="accruedState" type="string">
				<annotation>
					<documentation>预提状态</documentation>
				</annotation>
			</element>
			<element name="accruedWorkNo" type="string">
				<annotation>
					<documentation>预提工作流号</documentation>
				</annotation>
			</element>
			<element name="accruedWorkResult" type="string">
				<annotation>
					<documentation>预提工作流处理结果</documentation>
				</annotation>
			</element>
			<element name="salesVehiclePlatformName" type="string">
				<annotation>
					<documentation>请车平台名称</documentation>
				</annotation>
			</element>
			<element name="useVehiclePlatform" type="string">
				<annotation>
					<documentation>使用请车平台</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="TemprentalMarkSmticksEntity">
		<sequence>
			<element name="id" type="string">
				<annotation>
					<documentation>id</documentation>
				</annotation>
			</element>
			<element name="tempRentalMarkId" type="string" minOccurs="0">
				<annotation>
					<documentation>租车id</documentation>
				</annotation>
			</element>
			<element name="tempRentalMarkNo" type="string" minOccurs="0">
				<annotation>
					<documentation>租车编号</documentation>
				</annotation>
			</element>
			<element name="smallTickerNum" type="string" minOccurs="0">
				<annotation>
					<documentation>小票单号</documentation>
				</annotation>
			</element>
			<element name="createUserName" type="string" minOccurs="0">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0">
				<annotation>
					<documentation>创建人工号</documentation>
				</annotation>
			</element>
			<element name="createDate" type="date">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="wayBillNo" type="string" minOccurs="0">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0">
				<annotation>
					<documentation>状态</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="rentCarCubcResponse">
		<sequence>
			<element name="result" type="string">
				<annotation>
					<documentation>是否成功 0代码正常 1代表发生异常</documentation>
				</annotation>
			</element>
			<element name="reason" type="string" minOccurs="0">
				<annotation>
					<documentation>异常信息(如果同步失败（失败网点编码）失败后支持重发，此字段为必填)</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="rentCarCubcRequest" type="tns:rentCarCubcRequest"></element>

	<element name="rentCarCubcResponse" type="tns:rentCarCubcResponse"></element>
</schema>