esb-extends-pojo/src/main/schema/foss2ows/OWS_SYNC_ORGANIZATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/ows/inteface/domain/" xmlns:tns1="http://www.deppon.com/ows/inteface/domain/failInfo" targetNamespace="http://www.deppon.com/ows/inteface/domain/" elementFormDefault="qualified">
	<import namespace="http://www.deppon.com/ows/inteface/domain/failInfo" schemaLocation="FailInfo.xsd"/>
	<complexType name="SyncOrganizationRequest">
		<annotation>
			<documentation>
				FOSS组织信息变化，调用接口同步数据
			</documentation>
		</annotation>
		<sequence>
			<element name="OrganizationInfo" type="tns:OrganizationInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>组织信息同步</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="OrganizationInfo">
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="orgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织编码</documentation>
				</annotation>
			</element>
			<element name="orgName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织名称</documentation>
				</annotation>
			</element>
			<element name="pinYin" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>拼音</documentation>
				</annotation>
			</element>
			<element name="unifiedCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织标杆编码</documentation>
				</annotation>
			</element>
			<element name="leader" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织负责人</documentation>
				</annotation>
			</element>
			<element name="principalNo" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织负责人工号</documentation>
				</annotation>
			</element>
			<element name="parentOrgName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>上级组织名称</documentation>
				</annotation>
			</element>
			<element name="parentOrgUnifiedCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>上级组织标杆编码</documentation>
				</annotation>
			</element>
			<element name="subsidiaryCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>所属子公司编码</documentation>
				</annotation>
			</element>
			<element name="costCenterCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>所属成本中心编码</documentation>
				</annotation>
			</element>
			<element name="status" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织状态</documentation>
				</annotation>
			</element>
			<element name="endTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>作废日期</documentation>
				</annotation>
			</element>
			<element name="beginTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>启用日期</documentation>
				</annotation>
			</element>
			<element name="division" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否事业部</documentation>
				</annotation>
			</element>
			<element name="divisionCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>事业部编码</documentation>
				</annotation>
			</element>
			<element name="bigRegion" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否大区</documentation>
				</annotation>
			</element>
			<element name="smallRegion" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否小区</documentation>
				</annotation>
			</element>
			<element name="address" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门地址</documentation>
				</annotation>
			</element>
			<element name="deptArea" type="double" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门面积</documentation>
				</annotation>
			</element>
			<element name="provCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>省份</documentation>
				</annotation>
			</element>
			<element name="cityCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>城市</documentation>
				</annotation>
			</element>
			<element name="countyCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>区县</documentation>
				</annotation>
			</element>
			<element name="salesDepartment" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否营业部派送部</documentation>
				</annotation>
			</element>
			<element name="transferCenter" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否外场</documentation>
				</annotation>
			</element>
			<element name="doAirDispatch" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否可空运配载</documentation>
				</annotation>
			</element>
			<element name="transDepartment" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否车队</documentation>
				</annotation>
			</element>
			<element name="dispatchTeam" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否车队调度组</documentation>
				</annotation>
			</element>
			<element name="billingGroup" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否集中开单组</documentation>
				</annotation>
			</element>
			<element name="transTeam" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否车队组</documentation>
				</annotation>
			</element>
			<element name="isDeliverSchedule" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否派送排单</documentation>
				</annotation>
			</element>
			<element name="isArrangeGoods" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否理货</documentation>
				</annotation>
			</element>
			<element name="deliverOutfield" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>派送排单服务外场</documentation>
				</annotation>
			</element>
			<element name="arrangeOutfield" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>理货部门服务外场</documentation>
				</annotation>
			</element>
			<element name="arrangeBizType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>理货业务类型</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>更新时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<element name="airDispatch" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否空运总调</documentation>
				</annotation>
			</element>
			<element name="entityFinance" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>所属实体财务部</documentation>
				</annotation>
			</element>
			<element name="depCoordinate" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门服务区坐标编号</documentation>
				</annotation>
			</element>
			<element name="depTelephone" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门电话</documentation>
				</annotation>
			</element>
			<element name="depFax" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门传真</documentation>
				</annotation>
			</element>
			<element name="isEntityFinance" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否实体财务部</documentation>
				</annotation>
			</element>
			<element name="orgSimpleName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门简称</documentation>
				</annotation>
			</element>
			<element name="fullPath" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>全路径</documentation>
				</annotation>
			</element>
			<element name="versionNo" type="double" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>数据版本号</documentation>
				</annotation>
			</element>
			<element name="uumsId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>UUMS主键ID</documentation>
				</annotation>
			</element>
			<element name="uumsParentId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>UUMS上级主键ID</documentation>
				</annotation>
			</element>
			<element name="isLeaf" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否为叶子节点</documentation>
				</annotation>
			</element>
			<element name="displayOrder" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>显示顺序</documentation>
				</annotation>
			</element>
			<element name="deptLevel" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门层级</documentation>
				</annotation>
			</element>
			<element name="deptDesc" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门描述，部门备注</documentation>
				</annotation>
			</element>
			<element name="areaCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>地区编码默认拼音</documentation>
				</annotation>
			</element>
			<element name="deptEmail" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织邮箱</documentation>
				</annotation>
			</element>
			<element name="zipCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>邮编号码</documentation>
				</annotation>
			</element>
			<element name="deptAttribute" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织性质</documentation>
				</annotation>
			</element>
			<element name="canceledSystems" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>已封存系统</documentation>
				</annotation>
			</element>
			<element name="ehrDeptCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>EHR部门编码</documentation>
				</annotation>
			</element>
			<element name="countryRegion" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>国家地区</documentation>
				</annotation>
			</element>
			<element name="orgEnSimple" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门英文简称</documentation>
				</annotation>
			</element>
			<element name="uumsIds" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>UUMS主键ID序列</documentation>
				</annotation>
			</element>
			<element name="parentOrgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>组织上级编码</documentation>
				</annotation>
			</element>
      <element name="isExpressRegion" type="string" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>是否快递大区</documentation>
        </annotation>
      </element>
      <element name="isVirualLading" type="string" minOccurs="0" maxOccurs="1">
        <annotation>
          <documentation>是否虚拟网点（Y:是，N：否）</documentation>
        </annotation>
      </element>
		</sequence>
	</complexType>
	<complexType name="SyncOrganizationResponse">
		<annotation>
			<documentation>
				官网处理数据结果返回给FOSS
			</documentation>
		</annotation>
		<sequence>
			<element name="failInfos" type="tns1:FailInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>返回信息集合</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="SyncOrganizationRequest" type="tns:SyncOrganizationRequest"/>
	<element name="SyncOrganizationResponse" type="tns:SyncOrganizationResponse"/>
</schema>
