foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/gis/server/expressTrainLineSchedule.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:tns="http://www.deppon.com/foss/inteface/expressTrainLineScheduleService" 
				  xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/foss"
				  xmlns:tns_header="http://www.deppon.com/esb/header"
				  xmlns:tns_exception="http://www.deppon.com/esb/exception" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  name="ExpressTrainLineScheduleService" 
				  targetNamespace="http://www.deppon.com/foss/inteface/expressTrainLineScheduleService">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/foss">
     	<xsd:include schemaLocation="expressTrainLineSchedule.xsd"></xsd:include>
    </xsd:schema>

    	<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="ESBHeader">
		<wsdl:part name="header" element="tns_header:esbHeader" >
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part name="commonExceptionInfo" element="tns_exception:commonExceptionInfo" >
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="expressTrainLineScheduleRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="expressTrainLineScheduleRequest" element="tns_domain:expressTrainLineScheduleRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="expressTrainLineScheduleResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="expressTrainLineScheduleResponse" element="tns_domain:expressTrainLineScheduleResponse"></wsdl:part>
	</wsdl:message>
  
  <wsdl:portType name="IExpressTrainLineScheduleService">
    <wsdl:operation name="expressTrainLineSchedule">
      <wsdl:input message="tns:expressTrainLineScheduleRequest"/>
      <wsdl:output message="tns:expressTrainLineScheduleResponse"/>
      <wsdl:fault name="commonException" message="tns:CommonException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="expressTrainLineScheduleServiceSOAP" type="tns:IExpressTrainLineScheduleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="expressTrainLineSchedule" >
		<soap:operation soapAction="http://www.deppon.com/foss/inteface/expressTrainLineScheduleService/expressTrainLineSchedule"/> 
      <wsdl:input>
      	<soap:header use="literal" part="esbHeader" message="tns:expressTrainLineScheduleRequest"></soap:header>
        <soap:body use="literal" parts="expressTrainLineScheduleRequest"/>
      </wsdl:input>
      <wsdl:output>
      	<soap:header use="literal" part="esbHeader" message="tns:expressTrainLineScheduleResponse"></soap:header>
        <soap:body use="literal" parts="expressTrainLineScheduleResponse"/>
      </wsdl:output>
      <wsdl:fault name="commonException" xmlns="http://www.deppon.com/esb/exception">
				<soap:fault use="literal" name="commonException"/>
			</wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="ExpressTrainLineScheduleService">
    <wsdl:port binding="tns:expressTrainLineScheduleServiceSOAP" name="expressTrainLineScheduleServiceSOAP">
      <soap:address location="http://www.example.org"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
