foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/gis/server/gisService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/gis/gisService" 
	xmlns:tns_domain="http://www.deppon.com/deppon/gis/inteface/queryDeptByPoint"
	xmlns:tns_domain1="http://www.deppon.com/deppon/gis/inteface/domain"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/gis/gisService" name="gisService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/deppon/gis/inteface/queryDeptByPoint">
			<xsd:include schemaLocation="QueryDeptByPoint.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/deppon/gis/inteface/domain">
			<xsd:include schemaLocation="CollectAddress.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="queryDeptByPointRequest">
		<wsdl:part name="queryDeptByPointRequest" element="tns_domain:queryDeptByPointRequest"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryDeptByPointResponse">
		<wsdl:part name="queryDeptByPointResponse" element="tns_domain:queryDeptByPointResponse"></wsdl:part>
		 <wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
 	<wsdl:message name="commonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	
	<wsdl:message name="CollectAddressRequest">
		<wsdl:part name="collectAddresRequest" element="tns_domain1:collectAddressRequest"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CollectAddressResponse">
		<wsdl:part name="collectAddresResponse" element="tns_domain1:collectAddressResponse"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="gisService">
		<wsdl:documentation>根据坐标查询部门信息</wsdl:documentation>
		<wsdl:operation name="queryDeptByPoint">
			<wsdl:input message="tns:queryDeptByPointRequest" name="queryDeptByPointRequest"/>
			<wsdl:output message="tns:queryDeptByPointResponse" name="queryDeptByPointResponse"/>
			<wsdl:fault name="exception" message="tns:commonException"></wsdl:fault>			
		</wsdl:operation>
		<wsdl:operation name="collectAddress">
			<wsdl:input message="tns:CollectAddressRequest" name="CollectAddressRequest"></wsdl:input>
			<wsdl:output message="tns:CollectAddressResponse" name="CollectAddressResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:commonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="GisServiceSOAP" type="tns:gisService">
		<soap:binding style="document" 
			transport="http://schemas.xmlsoap.org/soap/http"  />
		<wsdl:operation name="queryDeptByPoint">
			<soap:operation
				soapAction="http://www.deppon.com/gis/gisService/queryDeptByPoint" />
			<wsdl:input>
				<soap:body use="literal" parts="queryDeptByPointRequest" />
				<soap:header use="literal" part="esbHeader" message="tns:queryDeptByPointRequest"></soap:header>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" parts="queryDeptByPointResponse"/>
				<soap:header use="literal" part="esbHeader" message="tns:queryDeptByPointResponse"></soap:header>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="collectAddress">
			<soap:operation/>
			<wsdl:input >
				<soap:body use="literal" parts="collectAddresRequest"/>
				<soap:header use="literal" part="esbHeader" message="tns:CollectAddressRequest"></soap:header>
			</wsdl:input>
			<wsdl:output>
				<soap:body  use="literal" parts="collectAddresResponse"/>
				<soap:header use="literal" part="esbHeader" message="tns:CollectAddressResponse"></soap:header>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="gisService">
		<wsdl:port binding="tns:GisServiceSOAP" name="gisServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
