esb-extends-pojo/src/main/schema/foss2omsvts/OMS_SYNC_SALES_DEPARTMENT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/oms/inteface/domain/"
	targetNamespace="http://www.deppon.com/oms/inteface/domain/"
	elementFormDefault="qualified">

	<complexType name="SyncAllSalesDepartmentRequest">
		<annotation>
			<documentation>
				同步营业部全部信息给周边系统，整车，快递，订单等系统
			</documentation>
		</annotation>
		<sequence>
			<element name="salesDepartment" type="tns:SalesDepartmentInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>请求营业部全部信息集合</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SyncAllSalesDepartmentResponse">
		<annotation>
			<documentation>
				同步营业部全部信息给周边系统，整车，快递，订单等系统
			</documentation>
		</annotation>
		<sequence>
			<element name="failInfo" type="tns:FailInfo"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>失败信息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="FailInfo">
		<annotation>
			<documentation>
				营业部信息同步返回结果
			</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>失败id</documentation>
				</annotation>
			</element>
			<element name="reason" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>失败原因</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="SalesDepartmentInfo">
		<annotation>
			<documentation>
				营业部全部基本信息
			</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="unifiedCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>组织标杆编码</documentation>
				</annotation>
			</element>
			<element name="code" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门编码</documentation>
				</annotation>
			</element>
			<element name="name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>部门名称</documentation>
				</annotation>
			</element>
			<element name="pinyin" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>拼音</documentation>
				</annotation>
			</element>
			<element name="leave" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>可出发</documentation>
				</annotation>
			</element>
			<element name="arrive" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>可到达</documentation>
				</annotation>
			</element>
			<element name="station" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否驻地部门</documentation>
				</annotation>
			</element>
			<element name="slogans" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>广告语</documentation>
				</annotation>
			</element>
			<element name="openingDate" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开业日期</documentation>
				</annotation>
			</element>
			<element name="maxTempArrears" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最大临欠额度</documentation>
				</annotation>
			</element>
			<element name="usedTempArrears" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>已用临欠额度</documentation>
				</annotation>
			</element>
			<element name="isBigGoods" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否是精准大票</documentation>
				</annotation>
			</element>
			<element name="billingGroup" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>所属集中开单组</documentation>
				</annotation>
			</element>
			<element name="transferCenter" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>驻地营业部所属外场</documentation>
				</annotation>
			</element>
			<element name="transferCenterName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>驻地营业部所属外场</documentation>
				</annotation>
			</element>
			<element name="cancelArrivalDate" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>取消到达日期</documentation>
				</annotation>
			</element>
			<element name="transferGoodDept" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>转货部门</documentation>
				</annotation>
			</element>
			<element name="transferGoodDeptName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>转货部门</documentation>
				</annotation>
			</element>
			<element name="pickupSelf" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>可自提</documentation>
				</annotation>
			</element>
			<element name="delivery" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>可派送</documentation>
				</annotation>
			</element>
			<element name="airArrive" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>可空运到达</documentation>
				</annotation>
			</element>
			<element name="truckArrive" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>可汽运到达</documentation>
				</annotation>
			</element>
			<element name="singlePieceLimitKG" type="double" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>单件重量上限</documentation>
				</annotation>
			</element>
			<element name="singleBillLimitKG" type="double" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>单票重量上限</documentation>
				</annotation>
			</element>
			<element name="singlePieceLimitVOL" type="double" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>单件体积上限</documentation>
				</annotation>
			</element>
			<element name="singleBillLimitVOL" type="double" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>单票体积上限</documentation>
				</annotation>
			</element>
			<element name="pickupAreaDesc" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>自提区域描述</documentation>
				</annotation>
			</element>
			<element name="deliveryAreaDesc" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>派送区域描述</documentation>
				</annotation>
			</element>
			<element name="deliveryCoordinate" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>派送区坐标编号</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="inCentralizedShuttle" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否在集中接送货范围内</documentation>
				</annotation>
			</element>
			<element name="canPayServiceFee" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否可开劳务费</documentation>
				</annotation>
			</element>
			<element name="canExpressOneMany" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否可开快递一票多件</documentation>
				</annotation>
			</element>
			<element name="canReturnSignBill" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否可返回签单</documentation>
				</annotation>
			</element>
			<element name="canCashOnDelivery" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否可货到付款</documentation>
				</annotation>
			</element>

			<element name="canAgentCollected" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否可代收货款</documentation>
				</annotation>
			</element>
			<element name="stationNumber" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>提货网点编码，为4位数字，当为到达部门时必填</documentation>
				</annotation>
			</element>
			<element name="pickAreaIsExpand" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>自提区域描述是否扩展</documentation>
				</annotation>
			</element>
			<element name="deliveryAreaIsExpand" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>派送区域描述是否扩展</documentation>
				</annotation>
			</element>
			<element name="canExpressReturnSignBill" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>可快递返回签单</documentation>
				</annotation>
			</element>
			<element name="canExpressPickupToDoor" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>可快递接货</documentation>
				</annotation>
			</element>
			<element name="canUpdateDestination" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>补录不可修改快递目的站</documentation>
				</annotation>
			</element>
			<element name="canExpressDelivery" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>可快递派送</documentation>
				</annotation>
			</element>
			<element name="canExpressPickupSelf" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>可快递自提</documentation>
				</annotation>
			</element>
			<element name="expressDeliveryAreaDesc" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递派送区域描述</documentation>
				</annotation>
			</element>
			<element name="expressPickupAreaDesc" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递自提区域描述</documentation>
				</annotation>
			</element>
			<element name="expressPickupAreaIsExp" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递自提区域是否扩展</documentation>
				</annotation>
			</element>
			<element name="expressDeliveryAreaIsExp" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递派送区域是否扩展</documentation>
				</annotation>
			</element>
			<element name="expressDeliveryCoordinate" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递派送地图坐标编码</documentation>
				</annotation>
			</element>
			<element name="satelliteDept" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否卫星点部</documentation>
				</annotation>
			</element>
			<element name="verifyState" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>快递派送电子地图审核状态</documentation>
				</annotation>
			</element>
			<element name="verifyManCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>快递派送电子地图审核人工号</documentation>
				</annotation>
			</element>
			<element name="verifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>快递派送电子地图审核时间</documentation>
				</annotation>
			</element>
			<element name="applyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>快递派送电子地图申请时间</documentation>
				</annotation>
			</element>
			<element name="applyManCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>快递派送电子地图申请人工号</documentation>
				</annotation>
			</element>
			<element name="departServiceArea" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>营业部服务面积（平方千米）</documentation>
				</annotation>
			</element>
			<element name="expressManNum" type="int" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>快递员人数</documentation>
				</annotation>
			</element>
			<element name="canExpressDoorToDoor" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否可上门发货</documentation>
				</annotation>
			</element>
			<element name="canArriveExpressOneMany" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否可到快递一票多件</documentation>
				</annotation>
			</element>
			<element name="canCashOnDeliveryMany" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否可货到付款(外发多件)</documentation>
				</annotation>
			</element>
			<element name="canAgentCollectedMany" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否可代收货款(外发多件)</documentation>
				</annotation>
			</element>
			<element name="agentCollectedUpperLimit" type="string"
				minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>代收货款上限</documentation>
				</annotation>
			</element>
			<element name="canHomeImproSend" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否可家装送装</documentation>
				</annotation>
			</element>
			<element name="isLeagueSaleDept" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否加盟网点</documentation>
				</annotation>
			</element>
			<element name="isTwoLevelNetwork" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否二级网点</documentation>
				</annotation>
			</element>
			<element name="networkModel" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>网点模式</documentation>
				</annotation>
			</element>
			<element name="creatTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新时间</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>

			<element name="versionNo" type="double" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>版本号</documentation>
				</annotation>
			</element>
			<element name="operateType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>操作类别：(1、新增；2、修改；3、删除)；</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="SyncAllSalesDepartmentRequest" type="tns:SyncAllSalesDepartmentRequest" />
	<element name="SyncAllSalesDepartmentResponse" type="tns:SyncAllSalesDepartmentResponse" />
</schema>
