esb-extends-pojo/src/main/schema/foss2ecs/ECS_SYNC_SERVICE_RESOURCES.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/ecs/inteface/domain/"
	xmlns:tns1="http://www.deppon.com/ecs/inteface/domain/failInfo"
	targetNamespace="http://www.deppon.com/ecs/inteface/domain/"
	elementFormDefault="qualified">
	<complexType name="SyncResourceRequest">
		<annotation>
			<documentation>
				FOSS权限信息变化，调用接口同步数据
			</documentation>
		</annotation>
		<sequence>
			<element name="role" type="tns:RoleInfo" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>角色信息同步</documentation>
				</annotation>
			</element>
			<element name="roleResource" type="tns:RoleResourceInfo"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>角色权限信息同步</documentation>
				</annotation>
			</element>
			<element name="resource" type="tns:ResourceInfo" minOccurs="0"
				maxOccurs="unbounded">
				<annotation>
					<documentation>权限信息同步</documentation>
				</annotation>
			</element>
			<element name="userOrgRole" type="tns:UserOrgRoleInfo"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>用户部门信息同步</documentation>
				</annotation>
			</element>
			<element name="userEntity" type="tns:UserEntityInfo"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>用户信息同步</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="UserEntityInfo">
		<sequence>
			<element name="ID" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="empCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>工号</documentation>
				</annotation>
			</element>
			<element name="userName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>用户名</documentation>
				</annotation>
			</element>
			<element name="password" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>密码</documentation>
				</annotation>
			</element>
			<element name="empName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>姓名</documentation>
				</annotation>
			</element>
			<element name="lastLogin" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>最后登录时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="title" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>职位</documentation>
				</annotation>
			</element>
			<element name="beginDate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>生效日期</documentation>
				</annotation>
			</element>
			<element name="endDate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>失效日期</documentation>
				</annotation>
			</element>
			<element name="createDate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyDate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>更新时间</documentation>
				</annotation>
			</element>
			<element name="createUser" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUser" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<element name="version" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>版本号</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="RoleInfo">
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>角色名称</documentation>
				</annotation>
			</element>
			<element name="code" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>角色编码</documentation>
				</annotation>
			</element>
			<element name="notes" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>角色描述</documentation>
				</annotation>
			</element>
			<element name="versionNo" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>数据版本号</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<!-- <element name="operationType" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>操作类型，1、新增；2、修改；3、删除；</documentation>
				</annotation>
			</element> -->
		</sequence>
	</complexType>
	<complexType name="RoleResourceInfo">
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="roleCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>角色</documentation>
				</annotation>
			</element>
			<element name="virtualCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>虚拟编码</documentation>
				</annotation>
			</element>
			<element name="resourceCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>权限</documentation>
				</annotation>
			</element>
			<element name="versionNo" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>数据版本号</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<!-- <element name="operationType" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>操作类型，1、新增；2、修改；3、删除；</documentation>
				</annotation>
			</element> -->
		</sequence>
	</complexType>
	<complexType name="ResourceInfo">
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="code" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>权限编码</documentation>
				</annotation>
			</element>
			<element name="name" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>权限名称</documentation>
				</annotation>
			</element>
			<element name="entryUri" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>权限入口URI</documentation>
				</annotation>
			</element>
			<element name="resLevel" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>功能层次</documentation>
				</annotation>
			</element>
			<element name="parentRes" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>上级权限</documentation>
				</annotation>
			</element>
			<element name="versionNo" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>数据版本号</documentation>
				</annotation>
			</element>
			<element name="displayOrder" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>显示顺序</documentation>
				</annotation>
			</element>
			<element name="checked" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否权限检查</documentation>
				</annotation>
			</element>
			<element name="resType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>权限类型</documentation>
				</annotation>
			</element>
			<element name="leafFlag" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否叶子节点</documentation>
				</annotation>
			</element>
			<element name="iconCls" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>图标的CSS样式</documentation>
				</annotation>
			</element>
			<element name="cls" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>节点的CSS样式</documentation>
				</annotation>
			</element>
			<element name="notes" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>权限描述</documentation>
				</annotation>
			</element>
			<element name="belongSystemType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>权限所属系统类型</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<!-- <element name="operationType" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>操作类型，1、新增；2、修改；3、删除；</documentation>
				</annotation>
			</element> -->
		</sequence>
	</complexType>
	<complexType name="UserOrgRoleInfo">
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="virtualCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>虚拟编码</documentation>
				</annotation>
			</element>
			<element name="empCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>用户</documentation>
				</annotation>
			</element>
			<element name="orgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>部门编码</documentation>
				</annotation>
			</element>
			<element name="orgUnifiedCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="roleCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>角色</documentation>
				</annotation>
			</element>
			<element name="version" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>版本控制号</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<!-- <element name="operationType" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>操作类型，1、新增；2、修改；3、删除；</documentation>
				</annotation>
			</element> -->
		</sequence>
	</complexType>
	<complexType name="SyncResourceResponse">
		<annotation>
			<documentation>
				ecs处理数据结果返回给FOSS
			</documentation>
		</annotation>
		<sequence>
			<element name="isSuccess" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>返回是否成功</documentation>
				</annotation>
			</element>
			<element name="exceptionMsg" type="string" minOccurs="0">
				<annotation>
					<documentation>异常信息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="SyncResourceRequest" type="tns:SyncResourceRequest" />
	<element name="SyncResourceResponse" type="tns:SyncResourceResponse" />
</schema>
