esb-extends-pojo/src/main/schema/foss2ecs/ECS_SYNC_LEASED_INFORMATION.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" 
	xmlns:tns="http://www.deppon.com/ecs/inteface/domain/"
	targetNamespace="http://www.deppon.com/ecs/inteface/domain/"
	elementFormDefault="qualified">

	<complexType name="SyncLeasedInformationRequest">
		<annotation>
			<documentation>外请车、外请司机、白名单信息同步请求信息</documentation>
		</annotation>
		<sequence>
			<element name="LeasedTruckInfos" type="tns:LeasedTruckInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>外请车信息集合</documentation>
				</annotation>
			</element>
			<element name="LeasedDriverInfos" type="tns:LeasedDriverInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>外请司机信息集合</documentation>
				</annotation>
			</element>
			<element name="WhiteListAuditInfos" type="tns:WhiteListAuditInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>白名单信息集合</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="SyncLeasedInformationResponse">
		<annotation>
			<documentation>外请车、外请司机、白名单信息同步返回结果</documentation>
		</annotation>
		<sequence>
			<element name="resultInfo" type="tns:ResultInfo" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>返回信息集合</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<element name="SyncLeasedInformationRequest" type="tns:SyncLeasedInformationRequest"></element>
	<element name="SyncLeasedInformationResponse" type="tns:SyncLeasedInformationResponse"></element>

	<complexType name="LeasedTruckInfo">
		<annotation>
			<documentation>外请车信息</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="vehicleNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车牌号</documentation>
				</annotation>
			</element>
			<element name="vehicleFrameNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车架号</documentation>
				</annotation>
			</element>
			<element name="engineNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发动机号</documentation>
				</annotation>
			</element>
			<element name="bridge" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>单双桥</documentation>
				</annotation>
			</element>
			<element name="deadLoad" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>载重</documentation>
				</annotation>
			</element>
			<element name="selfWeight" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>自重</documentation>
				</annotation>
			</element>
			<element name="beginTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>出厂日期</documentation>
				</annotation>
			</element>
			<element name="endTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报废日期</documentation>
				</annotation>
			</element>
			<element name="plat" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>有无高地板</documentation>
				</annotation>
			</element>
			<element name="tailBoard" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否有尾板</documentation>
				</annotation>
			</element>
			<element name="vehicleLength" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车长</documentation>
				</annotation>
			</element>
			<element name="vehicleWidth" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车宽</documentation>
				</annotation>
			</element>
			<element name="vehicleHeight" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车高</documentation>
				</annotation>
			</element>
			<element name="openVehicle" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否敞篷车</documentation>
				</annotation>
			</element>
			<element name="railVehicle" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否高栏车</documentation>
				</annotation>
			</element>
			<element name="material" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>材质</documentation>
				</annotation>
			</element>
			<element name="selfVolume" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>净空</documentation>
				</annotation>
			</element>
			<element name="GPS" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否装GPS</documentation>
				</annotation>
			</element>
			<element name="GPSProvider" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>GPS供应商</documentation>
				</annotation>
			</element>
			<element name="bargainVehicle" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否合同车</documentation>
				</annotation>
			</element>
			<element name="operatingLic" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营运证号</documentation>
				</annotation>
			</element>
			<element name="beginTimeOperatingLic" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营运证有效开始日期</documentation>
				</annotation>
			</element>
			<element name="endTimeOperatingLic" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营运证有效结束日期</documentation>
				</annotation>
			</element>
			<element name="drivingLicense" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>行驶证号</documentation>
				</annotation>
			</element>
			<element name="beginTimeDrivingLic" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>行驶证有效开始日期</documentation>
				</annotation>
			</element>
			<element name="endTimeDrivingLic" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>行驶证有效结束日期</documentation>
				</annotation>
			</element>
			<element name="insureCard" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>保险卡号</documentation>
				</annotation>
			</element>
			<element name="beginTimeInsureCard" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>保险卡有效开始日期</documentation>
				</annotation>
			</element>
			<element name="endTimeInsureCard" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>保险卡有效结束日期</documentation>
				</annotation>
			</element>
			<element name="contact" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车主姓名</documentation>
				</annotation>
			</element>
			<element name="contactPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车主电话</documentation>
				</annotation>
			</element>
			<element name="contactAddress" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>联系地址</documentation>
				</annotation>
			</element>
			<element name="GPSNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>GPS设备号</documentation>
				</annotation>
			</element>
			<element name="status" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>状态</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改人</documentation>
				</annotation>
			</element>
			<element name="notes" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>备注</documentation>
				</annotation>
			</element>
			<element name="vehicleType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车辆类型（挂车/厢式车/拖头）</documentation>
				</annotation>
			</element>
			<element name="vehicleLenghtCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车辆车型（车长编码）</documentation>
				</annotation>
			</element>
			<element name="bargainRoute" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>合同线路（虚拟CODE）</documentation>
				</annotation>
			</element>
			<element name="producingArea" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>产地（国产/进口）</documentation>
				</annotation>
			</element>
			<element name="brand" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>品牌</documentation>
				</annotation>
			</element>
			<element name="leasedDriverIdCard" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>所属外请司机身份证号</documentation>
				</annotation>
			</element>
			<element name="createUserDept" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建人部门</documentation>
				</annotation>
			</element>
			<element name="modifyUserDept" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改人部门</documentation>
				</annotation>
			</element>
			<element name="optionType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>操作类型</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="LeasedDriverInfo">
		<annotation>
			<documentation>外请车司机信息</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="driverName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>司机姓名</documentation>
				</annotation>
			</element>
			<element name="address" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>司机住址</documentation>
				</annotation>
			</element>
			<element name="driverPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>司机电话</documentation>
				</annotation>
			</element>
			<element name="vehicleNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>驾驶车辆车牌号</documentation>
				</annotation>
			</element>
			<element name="idCard" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>司机身份证</documentation>
				</annotation>
			</element>
			<element name="relativeName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>亲属姓名</documentation>
				</annotation>
			</element>
			<element name="relativePhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>亲属电话</documentation>
				</annotation>
			</element>
			<element name="driverLicense" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>驾驶证</documentation>
				</annotation>
			</element>
			<element name="qualification" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>从业资格证</documentation>
				</annotation>
			</element>
			<element name="licenseType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>驾照类型</documentation>
				</annotation>
			</element>
			<element name="beginTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>驾照签发日期</documentation>
				</annotation>
			</element>
			<element name="expirationDate" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>有效期限</documentation>
				</annotation>
			</element>
			<element name="notes" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>备注</documentation>
				</annotation>
			</element>
			<element name="status" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>状态</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改人</documentation>
				</annotation>
			</element>
			<element name="optionType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>操作类型</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="WhiteListAuditInfo">
		<annotation>
			<documentation>外请车白名单</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="driverName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>司机姓名</documentation>
				</annotation>
			</element>
			<element name="driverPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>司机电话</documentation>
				</annotation>
			</element>
			<element name="driverIdCard" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>司机身份证</documentation>
				</annotation>
			</element>
			<element name="quelification" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>从业资格证</documentation>
				</annotation>
			</element>
			<element name="driverLicense" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>驾驶证</documentation>
				</annotation>
			</element>
			<element name="vehicleNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车牌号</documentation>
				</annotation>
			</element>
			<element name="vehicleType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车辆类型</documentation>
				</annotation>
			</element>
			<element name="drivingLicense" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>行驶证</documentation>
				</annotation>
			</element>
			<element name="endTimeDrivingLic" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>行驶证到期日期</documentation>
				</annotation>
			</element>
			<element name="operatingLic" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营运证</documentation>
				</annotation>
			</element>
			<element name="endTimeOperatingLic" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营运证到期日期</documentation>
				</annotation>
			</element>
			<element name="insureCard" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>保险卡</documentation>
				</annotation>
			</element>
			<element name="contact" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车主姓名</documentation>
				</annotation>
			</element>
			<element name="contactPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>车主联系方式</documentation>
				</annotation>
			</element>
			<element name="currentApplication" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>当前申请</documentation>
				</annotation>
			</element>
			<element name="status" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>白名单状态</documentation>
				</annotation>
			</element>
			<element name="applyUser" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>申请人</documentation>
				</annotation>
			</element>
			<element name="applyTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>申请时间</documentation>
				</annotation>
			</element>
			<element name="approveUser" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>审核人</documentation>
				</annotation>
			</element>
			<element name="approveTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>审核时间</documentation>
				</annotation>
			</element>
			<element name="auditNotes" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>审核备注</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改人</documentation>
				</annotation>
			</element>
			<element name="whiteListType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>白名单类型</documentation>
				</annotation>
			</element>
			<element name="applyNotes" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>申请备注</documentation>
				</annotation>
			</element>
			<element name="optionType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>操作类型</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="ResultInfo">
		<annotation>
			<documentation>返回处理结果</documentation>
		</annotation>
		<sequence>
			<element name="success" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否成功</documentation>
				</annotation>
			</element>
			<element name="fail" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否失败</documentation>
				</annotation>
			</element>
			<element name="details" type="string" minOccurs="1"
				maxOccurs="unbounded">
				<annotation>
					<documentation>返回处理信息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>  