esb-extends-pojo/src/main/schema/foss2ecs/ECS_SYNC_SERVICE_EFFICIENCY.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/ecs/inteface/domain/"
	xmlns:tns1="http://www.deppon.com/ecs/inteface/domain/failInfo"
	targetNamespace="http://www.deppon.com/ecs/inteface/domain/"
	elementFormDefault="qualified">
	<complexType name="SyncEfficiencyRequest">
		<annotation>
			<documentation>
				FOSS装卸车标准信息变化，调用接口同步数据
			</documentation>
		</annotation>
		<sequence>
			<element name="EfficiencyTon" type="tns:EfficiencyTonInfo"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>装卸车标准-吨-时间接口信息同步</documentation>
				</annotation>
			</element>
			<element name="EfficiencyMan" type="tns:EfficiencyManInfo"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>装卸车标准-吨-人天信息同步</documentation>
				</annotation>
			</element>
			<element name="EfficiencyVehicle" type="tns:EfficiencyVehicleInfo"
				minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>装卸车标准-车-时间信息同步</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="EfficiencyManInfo">
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="orgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>部门编码</documentation>
				</annotation>
			</element>
			<element name="orgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>部门名称</documentation>
				</annotation>
			</element>
			<element name="loadWeightStd" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>平均人天装车吨数</documentation>
				</annotation>
			</element>
			<element name="loadVolumeStd" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>平均人天卸车吨数</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<element name="operationType" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>操作类型，1、新增；2、修改；3、删除；</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="EfficiencyVehicleInfo">
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="virtualCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>虚拟编码</documentation>
				</annotation>
			</element>
			<element name="orgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>部门编码</documentation>
				</annotation>
			</element>
			<element name="orgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>部门名称</documentation>
				</annotation>
			</element>
			<element name="vehicleTypeLength" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>车型长</documentation>
				</annotation>
			</element>
			<element name="vehicleLength" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>车型长为车长编码，vehicleLength的实际长度</documentation>
				</annotation>
			</element>
			<element name="glCpLoadHours" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>带高栏敞篷车装车标准用时</documentation>
				</annotation>
			</element>
			<element name="glCpLoadMins" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>带高栏敞篷车装车标准用分</documentation>
				</annotation>
			</element>
			<element name="glCpUnloadHours" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>带高栏敞篷车卸车标准用时</documentation>
				</annotation>
			</element>
			<element name="glCpUnloadMins" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>带高栏敞篷车卸车标准用分</documentation>
				</annotation>
			</element>
			<element name="nglCpLoadHours" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>不带高栏敞篷车装车标准用时</documentation>
				</annotation>
			</element>
			<element name="nglCpLoadMins" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>不带高栏敞篷车装车标准用分</documentation>
				</annotation>
			</element>
			<element name="nglCpUnloadHours" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>不带高栏敞篷车卸车标准用时</documentation>
				</annotation>
			</element>
			<element name="nglCpUnloadMins" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>不带高栏敞篷车卸车标准用分</documentation>
				</annotation>
			</element>
			<element name="ncpLoadHours" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>非敞篷车装车标准用时</documentation>
				</annotation>
			</element>
			<element name="ncpLoadMins" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>非敞篷车装车标准用分</documentation>
				</annotation>
			</element>
			<element name="ncpUnloadHours" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>非敞篷车卸车标准用时</documentation>
				</annotation>
			</element>
			<element name="ncpUnloadMins" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>非敞篷车卸车标准用分</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<element name="operationType" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>操作类型，1、新增；2、修改；3、删除；</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="EfficiencyTonInfo">
		<sequence>
			<element name="id" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="orgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>部门编码</documentation>
				</annotation>
			</element>
			<element name="orgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>部门名称</documentation>
				</annotation>
			</element>
			<element name="loadWeightStd" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>装车重量标准</documentation>
				</annotation>
			</element>
			<element name="loadVolumeStd" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>装车体积标准</documentation>
				</annotation>
			</element>
			<element name="unloadWeightStd" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>卸车重量标准</documentation>
				</annotation>
			</element>
			<element name="unloadVolumeStd" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>卸车体积标准</documentation>
				</annotation>
			</element>
			<element name="createTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
			<element name="active" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否启用</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建人</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			<element name="operationType" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>操作类型，1、新增；2、修改；3、删除；</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="SyncEfficiencyResponse">
		<annotation>
			<documentation>
				ecs处理数据结果返回给FOSS
			</documentation>
		</annotation>
		<sequence>
			<element name="isSuccess" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>返回是否成功</documentation>
				</annotation>
			</element>
			<element name="exceptionMsg" type="string" minOccurs="0">
				<annotation>
					<documentation>异常信息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="SyncEfficiencyRequest" type="tns:SyncEfficiencyRequest" />
	<element name="SyncEfficiencyResponse" type="tns:SyncEfficiencyResponse" />
</schema>