foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/wdgh/server/FossSyncWdghService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/foss/inteface/fossSyncWdghService"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/foss"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FossSyncWdghService"
	targetNamespace="http://www.deppon.com/foss/inteface/fossSyncWdghService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/foss">
			<xsd:include schemaLocation="FOSS_SYNC_RANGE_WORKFLOW.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<!--FOSS_SYNC_ RANGE_WORKFLOW：同步自提/派送变更申请信息 -->
	<wsdl:message name="SyncDeliveryRangeRequest">
		<wsdl:part element="tns_domain:SyncDeliveryRangeRequest"
			name="SyncRequest" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SyncDeliveryRangeResponse">
		<wsdl:part element="tns_domain:SyncDeliveryRangeResponse"
			name="SyncResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>

	<wsdl:portType name="FossSyncWdghService">
		<wsdl:operation name="FossSyncRangeWorkFolw">
			<wsdl:documentation>同步自提/派送变更申请信息</wsdl:documentation>
			<wsdl:input message="tns:SyncDeliveryRangeRequest" />
			<wsdl:output message="tns:SyncDeliveryRangeResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="FossSyncWdghServiceSOAP" type="tns:FossSyncWdghService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="FossSyncRangeWorkFolw">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/fossSyncWdghService/FossSyncRangeWorkFolw" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:SyncDeliveryRangeRequest"></soap:header>
				<soap:body use="literal" parts="SyncRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:SyncDeliveryRangeResponse"></soap:header>
				<soap:body use="literal" parts="SyncResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FossSyncWdghService">
		<wsdl:port binding="tns:FossSyncWdghServiceSOAP" name="FossSyncWdghServicePort">
			<soap:address location="http://www.example.org" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
