esb-extends-pojo/src/main/schema/ecs2foss/ECS_FOSS_WAYBILL_BILLING.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:tns="http://www.deppon.com/esb/inteface/domain/ecs"
    targetNamespace="http://www.deppon.com/esb/inteface/domain/ecs" elementFormDefault="qualified">
    <element name="EcsFossWaybillBillingRequest" type="tns:EcsFossWaybillBillingRequest" ></element>
    <element name="EcsFossWaybillBillingResponse" type="tns:EcsFossWaybillBillingResponse" ></element>
    <complexType name="EcsFossWaybillBillingRequest">
    	<annotation>
			<documentation>快递开单，生成财务单据请求实体</documentation>
		</annotation>
        <sequence>
            <element name="empCode" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>开单员工号</documentation>
                </annotation>
            </element>
            <element name="empName" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>开单员姓名</documentation>
                </annotation>
            </element>
            <element name="currentDeptCode" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>开单员部门编码</documentation>
                </annotation>
            </element>
            <element name="currentDeptName" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>开单员部门名称</documentation>
                </annotation>
            </element>
            <element name="isChange" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否更改：Y：更改 N：作废</documentation>
                </annotation>
            </element>
            <element name="oldWaybillNo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单号(更改前)</documentation>
                </annotation>
            </element>
            <element name="oldProductCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运输性质(更改前)</documentation>
                </annotation>
            </element>
            <element name="oldCreateOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单部门(更改前)</documentation>
                </annotation>
            </element>
            <element name="oldReceiveOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货部门(更改前出发部门)</documentation>
                </annotation>
            </element>
            <element name="oldPaidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单付款方式(更改前)</documentation>
                </annotation>
            </element>
            <element name="oldPrePayAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付金额(更改前)</documentation>
                </annotation>
            </element>
            <element name="id" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单ID</documentation>
                </annotation>
            </element>
            <element name="waybillNo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
            <element name="productId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>产品ID</documentation>
                </annotation>
            </element>
            <element name="productCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运输性质</documentation>
                </annotation>
            </element>
            <element name="invoiceMark" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发票标记</documentation>
                </annotation>
            </element>
            <element name="createOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单部门</documentation>
                </annotation>
            </element>
            <element name="createUserDeptName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单提交人所在部门名称</documentation>
                </annotation>
            </element>
            <element name="receiveOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货部门(出发部门)</documentation>
                </annotation>
            </element>
            <element name="receiveOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>出发部门名称</documentation>
                </annotation>
            </element>
            <element name="lastLoadOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>最终配载部门</documentation>
                </annotation>
            </element>
            <element name="lastLoadOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达部门名称</documentation>
                </annotation>
            </element>
            <element name="customerPickupOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货网点</documentation>
                </annotation>
            </element>
            <element name="targetOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>目的站</documentation>
                </annotation>
            </element>
            <element name="modifyOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>更新组织</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户编码</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户名称</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerContact" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户联系人</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerMobilephone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户手机</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerPhone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户电话</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户编码</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerContact" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户联系人</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerMobilephone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户手机</documentation>
                </annotation>
            </element>
            <element name="receiveMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货方式</documentation>
                </annotation>
            </element>
            <element name="goodsName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物名称</documentation>
                </annotation>
            </element>
            <element name="goodsQtyTotal" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物总件数</documentation>
                </annotation>
            </element>
            <element name="goodsVolumeTotal" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物总体积</documentation>
                </annotation>
            </element>
            <element name="billWeight" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>计费重量</documentation>
                </annotation>
            </element>
            <element name="goodsWeightTotal" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物总重量</documentation>
                </annotation>
            </element>
            <element name="paidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单付款方式</documentation>
                </annotation>
            </element>
            <element name="refundType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>退款类型</documentation>
                </annotation>
            </element>
            <element name="totalFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>总费用</documentation>
                </annotation>
            </element>
            <element name="prePayAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付金额</documentation>
                </annotation>
            </element>
            <element name="toPayAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到付金额</documentation>
                </annotation>
            </element>
            <element name="codAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收货款</documentation>
                </annotation>
            </element>
            <element name="transportFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>公布价运费</documentation>
                </annotation>
            </element>
            <element name="pickupFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>接货费</documentation>
                </annotation>
            </element>
            <element name="deliveryGoodsFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货费</documentation>
                </annotation>
            </element>
            <element name="packageFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>包装手续费</documentation>
                </annotation>
            </element>
            <element name="codFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收货款手续费</documentation>
                </annotation>
            </element>
            <element name="insuranceFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>保价费</documentation>
                </annotation>
            </element>
            <element name="otherFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>其他费用</documentation>
                </annotation>
            </element>
            <element name="valueAddFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>增值费用</documentation>
                </annotation>
            </element>
            <element name="promotionsFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>优惠费用</documentation>
                </annotation>
            </element>
            <element name="serviceFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>装卸费</documentation>
                </annotation>
            </element>
            <element name="currencyCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>币种</documentation>
                </annotation>
            </element>
            <element name="pickupCentralized" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否集中接货(Y:是)</documentation>
                </annotation>
            </element>
            <element name="billTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单时间</documentation>
                </annotation>
            </element>
            <element name="accountCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户账户</documentation>
                </annotation>
            </element>
            <element name="accountName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户名称</documentation>
                </annotation>
            </element>
            <element name="accountBank" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户银行</documentation>
                </annotation>
            </element>
            <element name="origUnifiedSettlement" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>始发统一结算</documentation>
                </annotation>
            </element>
            <element name="destUnifiedSettlement" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达统一结算</documentation>
                </annotation>
            </element>
            <element name="origContractUnifiedCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>出发统一结算合同部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="destContractUnifiedCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达统一结算合同部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="origUnifiedDuningCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>出发催款部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="destUnifiedDuningCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达催款部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="bankHQCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开户行编码</documentation>
                </annotation>
            </element>
            <element name="bankHQName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开户行名称</documentation>
                </annotation>
            </element>
            <element name="provinceCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>省份编码</documentation>
                </annotation>
            </element>
            <element name="provinceName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>省份名称</documentation>
                </annotation>
            </element>
            <element name="cityCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>城市编码</documentation>
                </annotation>
            </element>
            <element name="cityName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>城市名称</documentation>
                </annotation>
            </element>
            <element name="bankBranchCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>支行编码（行号）</documentation>
                </annotation>
            </element>
            <element name="bankBranchName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>支行名称</documentation>
                </annotation>
            </element>
            <element name="publicPrivateFlag" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>对公对私标志--对公:PUBLIC_ACCOUNT;对私:PRIVATE_ACCOUNT</documentation>
                </annotation>
            </element>
            <element name="payeeRelationship" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收款人与发货人关系</documentation>
                </annotation>
            </element>
            <element name="payeePhone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收款人手机号码</documentation>
                </annotation>
            </element>
            <element name="isSelfStation" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>结算专用,是否需要查询快递点部（自有的、自有的非外场）Y:代理网点，需要查询;N:自有网点，无需查询</documentation>
                </annotation>
            </element>
            <element name="posSerialNum" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>POS串号</documentation>
                </annotation>
            </element>
            <element name="batchNo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>银行交易流水号</documentation>
                </annotation>
            </element>
            <element name="expressEmpCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>快递员工号</documentation>
                </annotation>
            </element>
            <element name="expressEmpName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>快递员姓名</documentation>
                </annotation>
            </element>
            <element name="pdaBillTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>PDA开单时间</documentation>
                </annotation>
            </element>
            <element name="isRedirect" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否转寄</documentation>
                </annotation>
            </element>
            <element name="isRedirectFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>中转费（转寄费）</documentation>
                </annotation>
            </element>
            <element name="prePayAmountCH" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付现金</documentation>
                </annotation>
            </element>
            <element name="prePayAmountCT" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付月结</documentation>
                </annotation>
            </element>
            <element name="newWaybillNo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>转寄时，为转寄新单；非转寄时，为原单</documentation>
                </annotation>
            </element>
            <element name="redirectPaidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>转寄新单付款方式</documentation>
                </annotation>
            </element>
            <element name="isWrap" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否裹裹运单</documentation>
                </annotation>
            </element>
            <element name="isPtp" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达部门是否ptp</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <complexType name="EcsFossWaybillBillingResponse">
        <sequence>
            <element name="result" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>成功：1,；失败：0</documentation>
                </annotation>
            </element>
            <element name="message" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>处理信息说明（成功或者失败信息）</documentation>
                </annotation>
            </element>
            <element name="data" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
</schema>