foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/finance/server/onlinepay/OnlinePayService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.deppon.com/foss/module/thirdpay/server/onlinepay/fins/esb/onlinepay/onlinepayservice" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OnlinePayService" 
targetNamespace="http://www.deppon.com/foss/module/thirdpay/server/onlinepay/fins/esb/onlinepay/onlinepayservice"
xmlns:tns_header="http://www.deppon.com/esb/header"
xmlns:tns_exception="http://www.deppon.com/esb/exception"
xmlns:tns_domain ="http://www.deppon.com/foss/module/thirdpay/server/onlinepay/fins/esb/onlinepay/domain">
  <wsdl:types>
	<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
		<xsd:include schemaLocation="ESBHeader.xsd" />
	</xsd:schema>
	<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
		<xsd:include schemaLocation="CommonException.xsd" />
	</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/foss/module/thirdpay/server/onlinepay/fins/esb/onlinepay/domain">
		<xsd:include schemaLocation="FINS_OnlinePay.xsd" />
	</xsd:schema>
  </wsdl:types>
  
  	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommException">
		<wsdl:part name="CommException" element="tns_exception:commonExceptionInfo" />
	</wsdl:message>

<wsdl:message name="queryUnusedAmountsRequest">
  <wsdl:part name="esbHeader" element="tns_header:esbHeader" />
 <wsdl:part element="tns_domain:queryUnusedAmountsRequest" name="request"></wsdl:part>
</wsdl:message>
<wsdl:message name="updateUnuserdAmountsRequest">
  <wsdl:part name="esbHeader" element="tns_header:esbHeader" />
  <wsdl:part element="tns_domain:updateUnuserdAmountsRequest" name="request"></wsdl:part>
</wsdl:message>

<wsdl:message name="queryUnusedAmountsResponse">
  <wsdl:part name="esbHeader" element="tns_header:esbHeader" />
  <wsdl:part element="tns_domain:queryUnusedAmountsResponse" name="response"></wsdl:part>
</wsdl:message>

<wsdl:message name="updateUnuserdAmountsResponse">
  <wsdl:part name="esbHeader" element="tns_header:esbHeader" />
<wsdl:part element="tns_domain:updateUnuserdAmountsResponse" name="response"></wsdl:part>
</wsdl:message>

<wsdl:portType name="IOnlinePayService">
	<wsdl:operation name="queryUnusedAmounts">
	  <wsdl:input message="tns:queryUnusedAmountsRequest" ></wsdl:input>
	  <wsdl:output message="tns:queryUnusedAmountsResponse" ></wsdl:output>
	  <wsdl:fault message="tns:CommException" name="CommException"></wsdl:fault>
	</wsdl:operation>
	<wsdl:operation name="updateUnuserdAmounts">
		<wsdl:input message="tns:updateUnuserdAmountsRequest" ></wsdl:input>
		<wsdl:output message="tns:updateUnuserdAmountsResponse"></wsdl:output>
		<wsdl:fault message="tns:CommException" name="CommException"></wsdl:fault>
	</wsdl:operation>
</wsdl:portType>
 
 <wsdl:binding name="OnlinePayServiceBinding" type="tns:IOnlinePayService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<wsdl:operation name="queryUnusedAmounts">
	  <soap:operation soapAction="http://www.deppon.com/foss/module/thirdpay/server/onlinepay/fins/esb/onlinepay/onlinepayservice/queryUnusedAmounts" style="document"/>
	  <wsdl:input>
	    <soap:header use="literal" part="esbHeader" message="tns:queryUnusedAmountsRequest"/>
	    <soap:body use="literal" parts="request"/>
	  </wsdl:input>
	  <wsdl:output >
	    <soap:header use="literal" part="esbHeader"  message="tns:queryUnusedAmountsResponse"/>
	    <soap:body use="literal" parts="response"/>
	  </wsdl:output>
	  <wsdl:fault name="CommException">
		<soap:fault use="literal" name="CommException" />
	  </wsdl:fault>
	</wsdl:operation>

	 <wsdl:operation name="updateUnuserdAmounts">
	  <soap:operation soapAction="http://www.deppon.com/foss/module/thirdpay/server/onlinepay/fins/esb/onlinepay/onlinepayservice/updateUnuserdAmounts" style="document"/>
	  <wsdl:input>
	    <soap:header use="literal" part="esbHeader" message="tns:updateUnuserdAmountsRequest"/>
	    <soap:body use="literal" parts="request"/>
	  </wsdl:input>
	  <wsdl:output >
	    <soap:header use="literal" part="esbHeader"  message="tns:updateUnuserdAmountsResponse"/>
	    <soap:body use="literal" parts="response"/>
	  </wsdl:output>
	  <wsdl:fault name="CommException">
		<soap:fault use="literal" name="CommException" />
	  </wsdl:fault> 
	 </wsdl:operation>
</wsdl:binding>

<wsdl:service name="OnlinePayService">
<wsdl:port binding="tns:OnlinePayServiceBinding" name="OnlinePayService">
<soap:address location="http://localhost:8080/financManager/onlinePay/OnlinePayService"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>
