foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/edi/server/AirService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/airService" xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/air"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/airService" name="AirService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/air">
			<xsd:include schemaLocation="EDI_AIR_INFO.xsd" />
			<xsd:include schemaLocation="EDI_AIRDELIVER_COUNT.xsd" />
			<xsd:include schemaLocation="EDI_SIGN_INFO.xsd" />
			<xsd:include schemaLocation="EDI_STOCK_COUNT.xsd" />
			<xsd:include schemaLocation="EDI_WAYBILL_INFO.xsd" />
			<xsd:include schemaLocation="EDI_BATCH_SIGN.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="QueryAirInfoRequest">
		<wsdl:part element="tns_domain:airInfoQueryRequest" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryAirInfoResponse">
		<wsdl:part element="tns_domain:airInfoQueryResponse" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="AirArriveCountRequest">
		<wsdl:part element="tns_domain:airArriveCountRequest" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="AirArriveCountResponse">
		<wsdl:part element="tns_domain:airArriveCountResponse" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="SendSignInfoRequest">
		<wsdl:part element="tns_domain:signInfoSendRequest" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="SendSignInfoResponse">
		<wsdl:part element="tns_domain:signInfoSendResponse" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="StockCountRequest">
		<wsdl:part element="tns_domain:stockCountRequest" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="StockCountResponse">
		<wsdl:part element="tns_domain:stockCountResponse" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>

	
	<wsdl:message name="QueryWaybillInfoRequest">
		<wsdl:part element="tns_domain:waybillInfoRequest" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryWaybillInfoResponse">
		<wsdl:part element="tns_domain:waybillInfoResponse" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<!-- 批量到达时间签收 -->
	<wsdl:message name="BatchSignInfoSendRequest">
		<wsdl:part element="tns_domain:batchSignInfoSendRequest" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="BatchSignInfoSendResponse">
		<wsdl:part element="tns_domain:batchSignInfoSendResponse" name="payload" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>	
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	<wsdl:portType name="AirService">
		<wsdl:operation name="queryAirInfo">
			<wsdl:input message="tns:QueryAirInfoRequest" />
			<wsdl:output message="tns:QueryAirInfoResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="queryAirArriveCount">
			<wsdl:input message="tns:AirArriveCountRequest" />
			<wsdl:output message="tns:AirArriveCountResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="sendSignInfo">
			<wsdl:input message="tns:SendSignInfoRequest" />
			<wsdl:output message="tns:SendSignInfoResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="queryWaybill">
			<wsdl:input message="tns:QueryWaybillInfoRequest" />
			<wsdl:output message="tns:QueryWaybillInfoResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="queryStockCount">
			<wsdl:input message="tns:StockCountRequest" />
			<wsdl:output message="tns:StockCountResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="batchSignInfo">
			<wsdl:input message="tns:BatchSignInfoSendRequest" />
			<wsdl:output message="tns:BatchSignInfoSendResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="AirServiceSOAP" type="tns:AirService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryAirInfo">
			<soap:operation soapAction="http://www.deppon.com/foss/airService/queryAirInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryAirInfoRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryAirInfoResponse"></soap:header>
				<soap:body use="literal" parts="payload"  />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryAirArriveCount">
			<soap:operation
				soapAction="http://www.deppon.com/foss/airService/queryAirArriveCount" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:AirArriveCountRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:AirArriveCountResponse"></soap:header>
				<soap:body use="literal" parts="payload"  />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="sendSignInfo">
			<soap:operation soapAction="http://www.deppon.com/foss/airService/sendSignInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:SendSignInfoRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:SendSignInfoResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryWaybill">
			<soap:operation soapAction="http://www.deppon.com/foss/airService/queryWaybill" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillInfoRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillInfoResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryStockCount">
			<soap:operation
				soapAction="http://www.deppon.com/foss/airService/queryStockCount" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:StockCountRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:StockCountResponse"></soap:header>
				<soap:body use="literal" parts="payload"  />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="batchSignInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/airService/batchSignInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:BatchSignInfoSendRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:BatchSignInfoSendResponse"></soap:header>
				<soap:body use="literal" parts="payload"  />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AirService">
		<wsdl:port binding="tns:AirServiceSOAP" name="AirServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
