foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/csair/client/DEPPON_CSAIR_AWB_DOMAIN.xsd

<s:schema elementFormDefault="qualified"
	 xmlns:tns="http://tang.csair.com/TangWebService" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tang.csair.com/TangWebService">
	<s:element name="IsAwbMade">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbPrefix"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbNo" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbPostfix"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="IsAwbMadeResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="1" maxOccurs="1" name="IsAwbMadeResult"
					type="s:boolean" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="QueryAgentAwbByNo">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbPrefix"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbNo" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbPostfix"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="QueryAgentAwbByNoResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1"
					name="QueryAgentAwbByNoResult" type="tns:Awb" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="Awb">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" name="awbBasic"
				type="tns:AwbBasic" />
			<s:element minOccurs="0" maxOccurs="1" name="awbCharge"
				type="tns:AwbCharge" />
			<s:element minOccurs="0" maxOccurs="1" name="listAwbChargeOther"
				type="tns:ArrayOfAwbChargeOther" />
			<s:element minOccurs="0" maxOccurs="1" name="listAwbDim"
				type="tns:ArrayOfAwbDim" />
			<s:element minOccurs="0" maxOccurs="1" name="listResDim"
				type="tns:ArrayOfResDIM" />
			<s:element minOccurs="0" maxOccurs="1" name="listAwbHAwb"
				type="tns:ArrayOfAwbHAwb" />
			<s:element minOccurs="0" maxOccurs="1" name="listAwbMail"
				type="tns:ArrayOfAwbMail" />
			<s:element minOccurs="0" maxOccurs="1" name="listAwbPackage"
				type="tns:ArrayOfAwbPackage" />
			<s:element minOccurs="0" maxOccurs="1" name="awbSavingSettings"
				type="tns:AwbSavingSettings" />
			<s:element minOccurs="0" maxOccurs="1" name="listAwbRes"
				type="tns:ArrayOfAwbRes" />
			<s:element minOccurs="0" maxOccurs="1" name="resChargeEntity"
				type="tns:ArrayOfResChargeEntity" />
			<s:element minOccurs="0" maxOccurs="1" name="awbResUsed"
				type="tns:AwbResUsed" />
			<s:element minOccurs="0" maxOccurs="1" name="awbCargoReceiveInfo"
				type="tns:CargoReceiveInfoEntity" />
			<s:element minOccurs="0" maxOccurs="1" name="listAwbDocArr"
				type="tns:ArrayOfAwbDocArr" />
			<s:element minOccurs="0" maxOccurs="1" name="awbCargoArrInfo"
				type="tns:CargoArrInfoEntity" />
			<s:element minOccurs="0" maxOccurs="1" name="awbContainerInfo"
				type="tns:CargoContainerEntity" />
			<s:element minOccurs="0" maxOccurs="1" name="resStandby"
				type="tns:ResEntity" />
			<s:element minOccurs="0" maxOccurs="1" name="awbCancellation"
				type="tns:AwbCancellation" />
			<s:element minOccurs="0" maxOccurs="1" name="awbSkyTeamBrands"
				type="tns:AwbSkyTeamBrandsEntity" />
			<s:element minOccurs="0" maxOccurs="1" name="listAwbProportion"
				type="tns:ArrayOfAwbProportion" />
			<s:element minOccurs="0" maxOccurs="1" name="resSpaceClass"
				type="tns:ResEntity" />
			<s:element minOccurs="0" maxOccurs="1" name="resSpaceClassWGR"
				type="tns:ResEntity" />
			<s:element minOccurs="0" maxOccurs="1" name="strPermission"
				type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbBasic">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Book_ID"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AgentCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AgentName"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="AgentIataCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="AgentAccount" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Routing"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Carriers"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Piece"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Weight"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Unit"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="RateClass"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="ItemNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-0.1" name="Volume"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Package"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="GoodsCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Goods"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="SpCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperName" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperAddress" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperCity" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperState" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperCountry" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperCountryCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperZipCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperTelephone" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperAccount" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeName" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeAddress" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeCity" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeState" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeCountry" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeCountryCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeZipCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeTelephone" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeAccount" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="HandlingInfo" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="ClientCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="SignOfShipper" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CreatedPlace" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Office"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="IntDom"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="GroupNo"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CreatedCity" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="HandlingFlag" type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="FlightNo1"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="FlightDate1" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="FlightNo2"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="FlightDate2" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Op_ID"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="Op_Date" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Comment"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ServiceCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="DepAirportName" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="DestAirportName" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="NotifyName"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="NotifyAddress" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="NotifyCity"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="NotifyState" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="NotifyCountryCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="NotifyZipCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="NotifyContactID" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="NotifyTelephone" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="CurrentCity"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ExportFlightInfo1" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ExportFlightInfo2" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="EFreight"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="PrintSerialNo" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="IsCustomsFiling" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="CustomsFilingTime" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CustomsFilingOp_ID" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="IsCustomsSupervise" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CustomsReleaseNo" type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbCharge">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbType"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="AccountingInfo" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="AccountingRule" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CurrencyName" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="ChgsCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Discount"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Wt"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Other"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="DVFCarrier"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="DVFCustomer" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Insurance"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="CWeight"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="RateCharge"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="WeightCharge" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="ValCharge"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="InsuranceRate" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="InsuranceFee" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="GroundRate"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="GroundFee"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="OilRate"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="OilFee"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="ChargeDueAgent" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="ChargeDueCarrier" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="PrepaidTotal" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="CollectTotal" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Tax"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="CurrencyRate" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="ActualCWeight" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="ActualRateCharge" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="ActualWeightCharge" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CurrencyNameDestination" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="CurrencyRateDestination" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="CCChargesInDestinationCurrency" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="ChargesAtDestination" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="TotalCollectCharges" type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="RateType"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="RateCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="RateName"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="RateFlightNo" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="RateFlightDate" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="SpaceClass"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1"
				name="SpaceClassDiscount" type="s:decimal" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Book_Grade"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="SubSpaceClass" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="SnapshotTime" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ExecutedRateClass" type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfAwbChargeOther">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="AwbChargeOther"
				nillable="true" type="tns:AwbChargeOther" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbChargeOther">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="DescCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CodeDescription" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Charge"
				type="s:double" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfAwbDim">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="AwbDim"
				nillable="true" type="tns:AwbDim" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbDim">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Lines"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Long"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Width"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Height"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Piece"
				type="s:int" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfResDIM">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="ResDIM"
				nillable="true" type="tns:ResDIM" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ResDIM">
		<s:complexContent mixed="false">
			<s:extension base="tns:EntityBase">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="BookId"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="Lines" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Long" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Height"
						type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Piece" type="s:int" />
				</s:sequence>
			</s:extension>
		</s:complexContent>
	</s:complexType>
	<s:complexType name="EntityBase" />
	<s:complexType name="ResPlateEntity">
		<s:complexContent mixed="false">
			<s:extension base="tns:EntityBase">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="Book_ID"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="PlateCode"
						type="s:string" />
					<s:element minOccurs="1" maxOccurs="1" name="PlateNumber"
						type="s:int" />
					<s:element minOccurs="1" maxOccurs="1" name="Lines" type="s:int" />
				</s:sequence>
			</s:extension>
		</s:complexContent>
	</s:complexType>
	<s:complexType name="ResChargeWGREntity">
		<s:complexContent mixed="false">
			<s:extension base="tns:EntityBase">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="BATCH_ID"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="BookID"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="WeightGrade"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FavRate"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="BeginWeightCondition"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="EndWeightCondition"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Status"
						type="s:string" />
				</s:sequence>
			</s:extension>
		</s:complexContent>
	</s:complexType>
	<s:complexType name="ResChargeEntity">
		<s:complexContent mixed="false">
			<s:extension base="tns:EntityBase">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="listResChargeWGR"
						type="tns:ArrayOfResChargeWGREntity" />
					<s:element minOccurs="0" maxOccurs="1" name="BookID"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="CurrencyName"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ChargeWeight"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="RateCharge"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="WeightCharge"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="OtherCharge"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="AccountingRule"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="RateCode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="RateName"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ClientCode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ExecutedRateClass"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SpaceClass"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Discount"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SubSpaceClass"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="MinFee"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="NorRate"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SnapshotID"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SnapshotTime"
						type="s:string" />
				</s:sequence>
			</s:extension>
		</s:complexContent>
	</s:complexType>
	<s:complexType name="ArrayOfResChargeWGREntity">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="ResChargeWGREntity"
				nillable="true" type="tns:ResChargeWGREntity" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ResEntity">
		<s:complexContent mixed="false">
			<s:extension base="tns:EntityBase">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" name="listResChargeEntity"
						type="tns:ArrayOfResChargeEntity" />
					<s:element minOccurs="0" maxOccurs="1" name="listResDim"
						type="tns:ArrayOfResDIM" />
					<s:element minOccurs="0" maxOccurs="1" name="listResPlate"
						type="tns:ArrayOfResPlateEntity" />
					<s:element minOccurs="0" maxOccurs="1" name="BookId"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="LoadGuidance"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Prefix"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="No" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Postfix"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SpCode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FDep" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FDest" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FNo" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="FDate" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="AgentCode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Pc" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Weight"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Volume"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Grade" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Uldp" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Uldc" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="BookDate"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SegmentType"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="OpId" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="GoodsCode"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Goods" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Routing"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="RepeatedFlag"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="ValidFlag"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="IntDom"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="Op_Date"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SkyTeamBrand"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" name="SeniorControl"
						type="s:string" />
				</s:sequence>
			</s:extension>
		</s:complexContent>
	</s:complexType>
	<s:complexType name="ArrayOfResChargeEntity">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="ResChargeEntity"
				nillable="true" type="tns:ResChargeEntity" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfResPlateEntity">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="ResPlateEntity"
				nillable="true" type="tns:ResPlateEntity" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbRes">
		<s:complexContent mixed="false">
			<s:extension base="tns:ResEntity">
				<s:sequence>
					<s:element minOccurs="0" maxOccurs="1" default=""
						name="AwbPrefix" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
						type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" default=""
						name="AwbPostfix" type="s:string" />
					<s:element minOccurs="0" maxOccurs="1" default="-1" name="Book_ID"
						type="s:int" />
				</s:sequence>
			</s:extension>
		</s:complexContent>
	</s:complexType>
	<s:complexType name="ArrayOfAwbHAwb">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="AwbHAwb"
				nillable="true" type="tns:AwbHAwb" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbHAwb">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="HwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AgentCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AgentName"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="AgentIataCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperName" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperAddress" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperCity" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperState" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperCountry" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperCountryCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperContactID" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperTelephone" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperZipcode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ShipperAccount" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeName" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeAddress" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeCity" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeState" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeCountry" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeCountryCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeContactID" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeTelephone" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeZipcode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="ConsigneeAccount" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Routing"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Carriers"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="ClientCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Currency"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Wt"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Other"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="ChgsCode"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="DVFCarrier"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="DVFCustomer" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Insurance"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Piece"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Weight"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Goods"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="SpCode1"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="SpCode2"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="GoodsDescription" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="FlightNo1"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="FlightDate1" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="FlightNo2"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="FlightDate2" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Comment"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Op_ID"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="Op_Date" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CreatedCity" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="CreatedPlace" type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfAwbMail">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="AwbMail"
				nillable="true" type="tns:AwbMail" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbMail">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="MailID"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Piece"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Weight"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Volume"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Memo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Batch_ID"
				type="s:int" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfAwbPackage">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="AwbPackage"
				nillable="true" type="tns:AwbPackage" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbPackage">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Line"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Package"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Piece"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Comment"
				type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbSavingSettings">
		<s:sequence>
			<s:element minOccurs="1" maxOccurs="1" name="SavingDocArr"
				type="tns:SavingAwbWithDocArr" />
			<s:element minOccurs="1" maxOccurs="1" name="SavingCargoArr"
				type="tns:SavingAwbWithCargoArr" />
			<s:element minOccurs="1" maxOccurs="1" name="SavingPosition"
				type="tns:SavingAwbWithCargoPosition" />
			<s:element minOccurs="1" maxOccurs="1" name="SavingReceive"
				type="tns:SavingAwbWithReceive" />
			<s:element minOccurs="1" maxOccurs="1" name="MakingRes"
				type="tns:MakingResEnum" />
			<s:element minOccurs="1" maxOccurs="1" name="AwbFromWeb"
				type="tns:AwbFromWebEnum" />
			<s:element minOccurs="1" maxOccurs="1" name="AwbFromImport"
				type="tns:AwbFromImportEnum" />
			<s:element minOccurs="1" maxOccurs="1" name="AwbFromCMS"
				type="tns:AwbFromCMSEnum" />
		</s:sequence>
	</s:complexType>
	<s:simpleType name="SavingAwbWithDocArr">
		<s:restriction base="s:string">
			<s:enumeration value="Yes" />
			<s:enumeration value="No" />
		</s:restriction>
	</s:simpleType>
	<s:simpleType name="SavingAwbWithCargoArr">
		<s:restriction base="s:string">
			<s:enumeration value="Yes" />
			<s:enumeration value="No" />
		</s:restriction>
	</s:simpleType>
	<s:simpleType name="SavingAwbWithCargoPosition">
		<s:restriction base="s:string">
			<s:enumeration value="Yes" />
			<s:enumeration value="No" />
		</s:restriction>
	</s:simpleType>
	<s:simpleType name="SavingAwbWithReceive">
		<s:restriction base="s:string">
			<s:enumeration value="Yes" />
			<s:enumeration value="No" />
		</s:restriction>
	</s:simpleType>
	<s:simpleType name="MakingResEnum">
		<s:restriction base="s:string">
			<s:enumeration value="Yes" />
			<s:enumeration value="No" />
		</s:restriction>
	</s:simpleType>
	<s:simpleType name="AwbFromWebEnum">
		<s:restriction base="s:string">
			<s:enumeration value="Yes" />
			<s:enumeration value="No" />
		</s:restriction>
	</s:simpleType>
	<s:simpleType name="AwbFromImportEnum">
		<s:restriction base="s:string">
			<s:enumeration value="Yes" />
			<s:enumeration value="No" />
		</s:restriction>
	</s:simpleType>
	<s:simpleType name="AwbFromCMSEnum">
		<s:restriction base="s:string">
			<s:enumeration value="Yes" />
			<s:enumeration value="No" />
		</s:restriction>
	</s:simpleType>
	<s:complexType name="ArrayOfAwbRes">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="AwbRes"
				nillable="true" type="tns:AwbRes" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbResUsed">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Book_ID"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="UsedPiece"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="UsedWeight"
				type="s:double" />
			<s:element minOccurs="0" maxOccurs="1" default="-0.1" name="UsedVolume"
				type="s:double" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="CargoReceiveInfoEntity">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Flight_Dep"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="Receive_Info" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00"
				name="Receive_Date" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Op_ID"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00"
				name="OP_DATE" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Batch_ID"
				type="s:long" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfAwbDocArr">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="AwbDocArr"
				nillable="true" type="tns:AwbDocArr" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbDocArr">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="BATCH_ID"
				type="s:long" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="FDep"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="DocInfo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00"
				name="DocDate" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Op_ID"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="Op_Date" type="s:dateTime" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="CargoArrInfoEntity">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Flight_Dep"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="0" name="Piece"
				type="s:int" />
			<s:element minOccurs="0" maxOccurs="1" default="0" name="Weight"
				type="s:decimal" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="Cargo_ArrInfo" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00"
				name="Cargo_ArrDate" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Op_ID"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00"
				name="Op_Date" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="BATCH_ID"
				type="s:long" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="CargoContainerEntity">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="Tang" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="Tang" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="Tang" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="Tang"
				name="ContainerCode" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="Tang"
				name="ContainerType" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="Tang" name="Position"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="Tang" name="Flight_Dep"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Piece"
				type="s:int" />
			<s:element minOccurs="1" maxOccurs="1" name="Weight" type="s:decimal" />
			<s:element minOccurs="1" maxOccurs="1" name="Volume" type="s:decimal" />
			<s:element minOccurs="0" maxOccurs="1" default="Tang"
				name="Manifest_ID" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="Tang" name="Op_ID"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="0001-01-01T00:00:00"
				name="Op_Date" type="s:dateTime" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="Cargo_ID"
				type="s:long" />
			<s:element minOccurs="0" maxOccurs="1" default="-1" name="BATCH_ID"
				type="s:long" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbCancellation">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Reason"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Op_ID"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="1900-01-01T00:00:00"
				name="Op_Date" type="s:dateTime" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbSkyTeamBrandsEntity">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="SkyTeamBrands" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="Branch"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="0" name="UNKBookID"
				type="s:int" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="ArrayOfAwbProportion">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="AwbProportion"
				nillable="true" type="tns:AwbProportion" />
		</s:sequence>
	</s:complexType>
	<s:complexType name="AwbProportion">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPrefix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbNo"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="AwbPostfix"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="FLIGHT_DEP"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="FLIGHT_DEST" type="s:string" />
			<s:element minOccurs="1" maxOccurs="1" name="FLIGHT_DEP_ID"
				type="s:unsignedByte" />
			<s:element minOccurs="1" maxOccurs="1" name="FLIGHT_DEST_ID"
				type="s:unsignedByte" />
			<s:element minOccurs="0" maxOccurs="1" default="" name="RateCharge"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" default=""
				name="WeightCharge" type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:element name="SaveAwb">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awb" type="tns:Awb" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="SaveAwbResponse">
		<s:complexType />
	</s:element>
	<s:element name="QueryAwb">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="cityCode"
					type="s:string" />
				<s:element minOccurs="1" maxOccurs="1" name="lastAccess"
					type="s:dateTime" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="QueryAwbResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="QueryAwbResult">
					<s:complexType>
						<s:sequence>
							<!-- <s:element ref="s:schema" /> <s:any /> -->
							<s:any minOccurs="2" maxOccurs="2" />
						</s:sequence>
					</s:complexType>
				</s:element>
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="DeleteAwb">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="token" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbPrefix"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbNo" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="awbPostfix"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="DeleteAwbResponse">
		<s:complexType />
	</s:element>
</s:schema>	