foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/csair/client/deppon_csair_login_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception" name="deppon_csair_login_service"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tang.csair.com/DexExchange"
	xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tang.csair.com/DexExchange"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tang.csair.com/DexExchange">
			<xsd:include schemaLocation="DEPPON_CSAIR_LOGIN_DOMAIN.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="VerifyTangTokenSoapIn">
		<wsdl:part name="parameters" element="tns:VerifyTangToken" />
	</wsdl:message>
	<wsdl:message name="VerifyTangTokenSoapOut">
		<wsdl:part name="parameters" element="tns:VerifyTangTokenResponse" />
	</wsdl:message>
	<wsdl:message name="RegisterSoapIn">
		<wsdl:part name="parameters" element="tns:Register" />
	</wsdl:message>
	<wsdl:message name="RegisterSoapOut">
		<wsdl:part name="parameters" element="tns:RegisterResponse" />
	</wsdl:message>
	<wsdl:message name="ChangeUserSoapIn">
		<wsdl:part name="parameters" element="tns:ChangeUser" />
	</wsdl:message>
	<wsdl:message name="ChangeUserSoapOut">
		<wsdl:part name="parameters" element="tns:ChangeUserResponse" />
	</wsdl:message>
	<wsdl:message name="RemoveUserSoapIn">
		<wsdl:part name="parameters" element="tns:RemoveUser" />
	</wsdl:message>
	<wsdl:message name="RemoveUserSoapOut">
		<wsdl:part name="parameters" element="tns:RemoveUserResponse" />
	</wsdl:message>
	<wsdl:message name="LoginSoapIn">
		<wsdl:part name="parameters" element="tns:Login" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="LoginSoapOut">
		<wsdl:part name="parameters" element="tns:LoginResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="SubscribeSoapIn">
		<wsdl:part name="parameters" element="tns:Subscribe" />
	</wsdl:message>
	<wsdl:message name="SubscribeSoapOut">
		<wsdl:part name="parameters" element="tns:SubscribeResponse" />
	</wsdl:message>
	<wsdl:message name="ESBHeader">
		<wsdl:part name="header" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part name="exception" element="tns_exception:commonExceptionInfo" />
	</wsdl:message>
	<wsdl:portType name="UserServiceSoap">
		<wsdl:operation name="VerifyTangToken">
			<wsdl:input message="tns:VerifyTangTokenSoapIn" />
			<wsdl:output message="tns:VerifyTangTokenSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Register">
			<wsdl:input message="tns:RegisterSoapIn" />
			<wsdl:output message="tns:RegisterSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="ChangeUser">
			<wsdl:input message="tns:ChangeUserSoapIn" />
			<wsdl:output message="tns:ChangeUserSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="RemoveUser">
			<wsdl:input message="tns:RemoveUserSoapIn" />
			<wsdl:output message="tns:RemoveUserSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="Login">
			<wsdl:input message="tns:LoginSoapIn" />
			<wsdl:output message="tns:LoginSoapOut" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<wsdl:input message="tns:SubscribeSoapIn" />
			<wsdl:output message="tns:SubscribeSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="UserServiceSoap" type="tns:UserServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="VerifyTangToken">
			<soap:operation soapAction="http://tang.csair.com/DexExchange/VerifyTangToken"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Register">
			<soap:operation soapAction="http://tang.csair.com/DexExchange/Register"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeUser">
			<soap:operation soapAction="http://tang.csair.com/DexExchange/ChangeUser"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemoveUser">
			<soap:operation soapAction="http://tang.csair.com/DexExchange/RemoveUser"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<soap:operation soapAction="http://tang.csair.com/DexExchange/Login"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:LoginSoapIn" part="esbHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header message="tns:LoginSoapOut" part="esbHeader"
					use="literal" />
			</wsdl:output>

		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<soap:operation soapAction="http://tang.csair.com/DexExchange/Subscribe"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="UserServiceSoap12" type="tns:UserServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="VerifyTangToken">
			<soap12:operation soapAction="http://tang.csair.com/DexExchange/VerifyTangToken"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Register">
			<soap12:operation soapAction="http://tang.csair.com/DexExchange/Register"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="ChangeUser">
			<soap12:operation soapAction="http://tang.csair.com/DexExchange/ChangeUser"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="RemoveUser">
			<soap12:operation soapAction="http://tang.csair.com/DexExchange/RemoveUser"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Login">
			<soap12:operation soapAction="http://tang.csair.com/DexExchange/Login"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
				<soap:header message="tns:LoginSoapIn" part="esbHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
				<soap:header message="tns:LoginSoapOut" part="esbHeader"
					use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Subscribe">
			<soap12:operation soapAction="http://tang.csair.com/DexExchange/Subscribe"
				style="document" />
			<wsdl:input>
				<soap12:body use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="UserService">
		<wsdl:port name="UserServiceSoap" binding="tns:UserServiceSoap">
			<soap:address location="http://125.88.6.151/DexExchange/UserService.asmx" />
		</wsdl:port>
		<!-- <wsdl:port name="UserServiceSoap12" binding="tns:UserServiceSoap12">
			<soap12:address location="http://125.88.6.151/DexExchange/UserService.asmx" />
		</wsdl:port> -->
	</wsdl:service>
</wsdl:definitions>