foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/csair/client/DEPPON_CSAIR_LOGIN_DOMAIN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<s:schema elementFormDefault="qualified"
	xmlns:tns="http://tang.csair.com/DexExchange" xmlns="http://www.w3.org/2001/XMLSchema"
	xmlns:s="http://www.w3.org/2001/XMLSchema" targetNamespace="http://tang.csair.com/DexExchange">
	<s:element name="VerifyTangToken">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="tangId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="tangToken"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="VerifyTangTokenResponse">
		<s:complexType />
	</s:element>
	<s:element name="Register">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="user" type="tns:DexUsers" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="DexUsers">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="UserName"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="Password"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="SubscriberId"
				type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="Memo" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="TangId" type="s:string" />
			<s:element minOccurs="0" maxOccurs="1" name="TangToken"
				type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:element name="RegisterResponse">
		<s:complexType />
	</s:element>
	<s:element name="ChangeUser">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="user" type="tns:DexUsers" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="ChangeUserResponse">
		<s:complexType />
	</s:element>
	<s:element name="RemoveUser">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="password"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="RemoveUserResponse">
		<s:complexType />
	</s:element>
	<s:element name="Login">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="authId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="authPassword"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="LoginResponse">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="LoginResult"
					type="s:string" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:element name="Subscribe">
		<s:complexType>
			<s:sequence>
				<s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="password"
					type="s:string" />
				<s:element minOccurs="0" maxOccurs="1" name="serviceNames"
					type="tns:ArrayOfString" />
			</s:sequence>
		</s:complexType>
	</s:element>
	<s:complexType name="ArrayOfString">
		<s:sequence>
			<s:element minOccurs="0" maxOccurs="unbounded" name="string"
				nillable="true" type="s:string" />
		</s:sequence>
	</s:complexType>
	<s:element name="SubscribeResponse">
		<s:complexType />
	</s:element>
</s:schema>