foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/csair/client/deppon_csair_awb_service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception" name="deppon_csair_awb_service"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
	xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tang.csair.com/TangWebService"
	xmlns:s1="http://tang.csair.com/dex/" xmlns:s="http://www.w3.org/2001/XMLSchema"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://tang.csair.com/TangWebService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tang.csair.com/TangWebService">
			<xsd:include schemaLocation="DEPPON_CSAIR_AWB_DOMAIN.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IsAwbMadeSoapIn">
		<wsdl:part name="parameters" element="tns:IsAwbMade" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="IsAwbMadeSoapOut">
		<wsdl:part name="parameters" element="tns:IsAwbMadeResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="QueryAgentAwbByNoSoapIn">
		<wsdl:part name="parameters" element="tns:QueryAgentAwbByNo" />
	</wsdl:message>
	<wsdl:message name="QueryAgentAwbByNoSoapOut">
		<wsdl:part name="parameters" element="tns:QueryAgentAwbByNoResponse" />
	</wsdl:message>
	<wsdl:message name="SaveAwbSoapIn">
		<wsdl:part name="parameters" element="tns:SaveAwb" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="SaveAwbSoapOut">
		<wsdl:part name="parameters" element="tns:SaveAwbResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="QueryAwbSoapIn">
		<wsdl:part name="parameters" element="tns:QueryAwb" />
	</wsdl:message>
	<wsdl:message name="QueryAwbSoapOut">
		<wsdl:part name="parameters" element="tns:QueryAwbResponse" />
	</wsdl:message>
	<wsdl:message name="DeleteAwbSoapIn">
		<wsdl:part name="parameters" element="tns:DeleteAwb" />
	</wsdl:message>
	<wsdl:message name="DeleteAwbSoapOut">
		<wsdl:part name="parameters" element="tns:DeleteAwbResponse" />
	</wsdl:message>
	<wsdl:message name="DexMessageHeader">
		<wsdl:part name="DexHeader" element="s1:DexHeader" />
	</wsdl:message>
	<wsdl:message name="ESBHeader">
		<wsdl:part name="header" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part name="exception" element="tns_exception:commonExceptionInfo" />
	</wsdl:message>
	<wsdl:portType name="AwbQueryServiceSoap">
		<wsdl:operation name="IsAwbMade">
			<wsdl:input message="tns:IsAwbMadeSoapIn" />
			<wsdl:output message="tns:IsAwbMadeSoapOut" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>
		<wsdl:operation name="QueryAgentAwbByNo">
			<wsdl:input message="tns:QueryAgentAwbByNoSoapIn" />
			<wsdl:output message="tns:QueryAgentAwbByNoSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="SaveAwb">
			<wsdl:input message="tns:SaveAwbSoapIn" />
			<wsdl:output message="tns:SaveAwbSoapOut" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>
		<wsdl:operation name="QueryAwb">
			<wsdl:input message="tns:QueryAwbSoapIn" />
			<wsdl:output message="tns:QueryAwbSoapOut" />
		</wsdl:operation>
		<wsdl:operation name="DeleteAwb">
			<wsdl:input message="tns:DeleteAwbSoapIn" />
			<wsdl:output message="tns:DeleteAwbSoapOut" />
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="AwbQueryServiceSoap" type="tns:AwbQueryServiceSoap">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="IsAwbMade">
			<soap:operation soapAction="http://tang.csair.com/TangWebService/IsAwbMade"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header part="esbHeader" use="literal" message="tns:IsAwbMadeSoapIn"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header part="esbHeader" use="literal" message="tns:IsAwbMadeSoapOut"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QueryAgentAwbByNo">
			<soap:operation
				soapAction="http://tang.csair.com/TangWebService/QueryAgentAwbByNo"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:DexMessageHeader" part="DexHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SaveAwb">
			<soap:operation soapAction="http://tang.csair.com/TangWebService/SaveAwb"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header  part="esbHeader" use="literal" message="tns:SaveAwbSoapIn"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header part="esbHeader" use="literal" message="tns:SaveAwbSoapOut"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QueryAwb">
			<soap:operation soapAction="http://tang.csair.com/TangWebService/QueryAwb"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:DexMessageHeader" part="DexHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteAwb">
			<soap:operation soapAction="http://tang.csair.com/TangWebService/DeleteAwb"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header message="tns:DexMessageHeader" part="DexHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:binding name="AwbQueryServiceSoap12" type="tns:AwbQueryServiceSoap">
		<soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="IsAwbMade">
			<soap:operation soapAction="http://tang.csair.com/TangWebService/IsAwbMade"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header part="esbHeader" use="literal" message="tns:IsAwbMadeSoapIn"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header part="esbHeader" use="literal" message="tns:IsAwbMadeSoapOut"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QueryAgentAwbByNo">
			<wsdl:input>
				<soap12:body use="literal" />
				<soap:header message="tns:DexMessageHeader" part="DexHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="SaveAwb">
			<soap:operation soapAction="http://tang.csair.com/TangWebService/SaveAwb"
				style="document" />
			<wsdl:input>
				<soap:body use="literal" />
				<soap:header  part="esbHeader" use="literal" message="tns:SaveAwbSoapIn"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal" />
				<soap:header part="esbHeader" use="literal" message="tns:SaveAwbSoapOut"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="QueryAwb">
			<wsdl:input>
				<soap12:body use="literal" />
				<soap:header message="tns:DexMessageHeader" part="DexHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="DeleteAwb">
			<wsdl:input>
				<soap12:body use="literal" />
				<soap:header message="tns:DexMessageHeader" part="DexHeader"
					use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap12:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="AwbQueryService">
		<wsdl:port name="AwbQueryServiceSoap" binding="tns:AwbQueryServiceSoap">
			<soap:address location="http://125.88.6.151/DexExchange/MessageHandler.svc" />
		</wsdl:port>
		<!-- <wsdl:port name="AwbQueryServiceSoap12" binding="tns:AwbQueryServiceSoap12">
			<soap12:address location="http://125.88.6.151/DexExchange/MessageHandler.svc" />
		</wsdl:port> -->
	</wsdl:service>
</wsdl:definitions>
