foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/cc/server/CcSyncFossService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/inteface/CcSyncFossService"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/foss"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/inteface/CcSyncFossService" name="foss4pashReminderSyncInvoiceService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/foss">
			<xsd:include schemaLocation="FOSS_PUSH_REMINDER.xsd"></xsd:include>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="pashReminderRequest">
		<wsdl:part name="pashReminderRequest" element="tns_domain:pashReminderRequest"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="pashReminderResponse">
		<wsdl:part name="pashReminderResponse" element="tns_domain:pashReminderResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>
	
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>

	<wsdl:portType name="CallCenterSyncFossService">
		<wsdl:operation name="sysQuerypashReminderBasic">
			<wsdl:documentation>查询CC催运单信息</wsdl:documentation>
			<wsdl:input message="tns:pashReminderRequest" />
			<wsdl:output message="tns:pashReminderResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="foss4pashReminderSyncInvoiceServiceSOAP" type="tns:CallCenterSyncFossService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="sysQuerypashReminderBasic">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/CcSyncFossService/sysQuerypashReminderBasic" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:pashReminderRequest"></soap:header>
				<soap:body use="literal" parts="pashReminderRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:pashReminderResponse"></soap:header>
				<soap:body use="literal" parts="pashReminderResponse" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="foss4pashReminderSyncInvoiceService">
		<wsdl:port binding="tns:foss4pashReminderSyncInvoiceServiceSOAP" name="foss4pashReminderSyncInvoiceServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
