foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/crm/client/CrmService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/crm/interface/CrmService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CrmService"
	targetNamespace="http://www.deppon.com/crm/interface/CrmService"
	xmlns:tns_domain="http://www.deppon.com/crm/inteface/foss/domain"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/crm/inteface/foss/domain">
			<xsd:include schemaLocation="FOSS_CRM_QUERYORDER.xsd" />
			<xsd:include schemaLocation="FOSS_CRM_IMPORT.xsd" />
			<xsd:include schemaLocation="CRM_COUPON_STATE.xsd" />
			<xsd:include schemaLocation="CRM_VALIDATE_COUPON.xsd" />
			<xsd:include schemaLocation="CRM_BACK_FREIGHT_CHECK.xsd" />
			<xsd:include schemaLocation="CRM_QUERY_CLAIMBILL.xsd" />
			<xsd:include schemaLocation="FOSS_MODIFY_ORDER_LOCK_INFO.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="ModifyOrderLockInfoRequest">
		<wsdl:documentation>修改订单解屏信息请求</wsdl:documentation>
		<wsdl:part name="request" element="tns_domain:ModifyOrderLockInfoRequest"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="ModifyOrderLockInfoResponse">
		<wsdl:documentation>修改订单解屏信息响应</wsdl:documentation>
		<wsdl:part name="response" element="tns_domain:ModifyOrderLockInfoResponse"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>

	<wsdl:message name="BackFreightCheckRequest">
		<wsdl:part name="request" element="tns_domain:backFreightCheckRequest" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="BackFreightCheckResponse">
		<wsdl:part name="response" element="tns_domain:backFreightCheckResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="QueryClaimbillRequest">
		<wsdl:part name="request" element="tns_domain:query_claimbillRequest" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="QueryClaimbillResponse">
		<wsdl:part name="response" element="tns_domain:query_claimbillResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="CouponStateRequest">
		<wsdl:part element="tns_domain:couponStateRequest" name="request" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="CouponStateResponse">
		<wsdl:part element="tns_domain:couponStateResponse" name="response" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="ValidateCouponRequest">
		<wsdl:part element="tns_domain:validateCouponRequest" name="request" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="validateCouponResponse">
		<wsdl:part element="tns_domain:validateCouponResponse" name="Response" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="queryOrderListRequest">
		<wsdl:part name="queryOrderListRequest" element="tns_domain:queryOrderListRequest" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="queryOrderListResponse">
		<wsdl:part name="queryOrderListResponse" element="tns_domain:queryOrderListResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="searchOrderRequest">
		<wsdl:part name="searchOrderRequest" element="tns_domain:searchOrderRequest" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="searchOrderResponse">
		<wsdl:part name="searchOrderResponse" element="tns_domain:searchOrderResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="CommException">
		<wsdl:part name="CommException" element="tns_exception:commonExceptionInfo" />
	</wsdl:message>
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:portType name="fossToCrmService">
		<wsdl:operation name="modifyOrderLockInfo">
			<wsdl:documentation>修改订单解屏信息</wsdl:documentation>
			<wsdl:input message="tns:ModifyOrderLockInfoRequest" />
			<wsdl:output message="tns:ModifyOrderLockInfoResponse" />
			<wsdl:fault name="commException" message="tns:CommException" />
		</wsdl:operation>
		<wsdl:operation name="queryOrder">
			<wsdl:input message="tns:queryOrderListRequest" />
			<wsdl:output message="tns:queryOrderListResponse" />
			<wsdl:fault name="commException" message="tns:CommException" />
		</wsdl:operation>
		<wsdl:operation name="searchOrder">
			<wsdl:input message="tns:searchOrderRequest" />
			<wsdl:output message="tns:searchOrderResponse" />
			<wsdl:fault name="commException" message="tns:CommException" />
		</wsdl:operation>
		<wsdl:operation name="effectCouponState">
			<wsdl:input message="tns:CouponStateRequest" />
			<wsdl:output message="tns:CouponStateResponse" />
			<wsdl:fault name="commException" message="tns:CommException" />
		</wsdl:operation>
		<wsdl:operation name="validateCoupon">
			<wsdl:input message="tns:ValidateCouponRequest" />
			<wsdl:output message="tns:validateCouponResponse" />
			<wsdl:fault name="commException" message="tns:CommException" />
		</wsdl:operation>
		<wsdl:operation name="backFreightCheck">
			<wsdl:input message="tns:BackFreightCheckRequest" />
			<wsdl:output message="tns:BackFreightCheckResponse" />
			<wsdl:fault name="commException" message="tns:CommException" />
		</wsdl:operation>
		<wsdl:operation name="queryClaimbill">
			<wsdl:input message="tns:QueryClaimbillRequest" />
			<wsdl:output message="tns:QueryClaimbillResponse" />
			<wsdl:fault name="commException" message="tns:CommException" />
		</wsdl:operation>
	</wsdl:portType>	<wsdl:binding name="NewBinding" type="tns:fossToCrmService">		<soap:binding style="document"			transport="http://schemas.xmlsoap.org/soap/http" />		<wsdl:operation name="modifyOrderLockInfo">
			<wsdl:documentation>修改订单解屏信息</wsdl:documentation>
			<soap:operation
				soapAction="http://www.deppon.com/crm/interface/CrmService/modifyOrderLockInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:ModifyOrderLockInfoRequest" />
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:ModifyOrderLockInfoResponse" />
				<soap:body use="literal" parts="response" />
			</wsdl:output>
			<wsdl:fault name="commException">
				<soap:fault use="literal" name="commException" />
			</wsdl:fault>
		</wsdl:operation>		<!-- 导入订单开单 -->
		<wsdl:operation name="queryOrder">
			<soap:operation
				soapAction="http://www.deppon.com/crm/interface/CrmService/queryOrder" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:queryOrderListRequest" />
				<soap:body use="literal" parts="queryOrderListRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:queryOrderListResponse" />
				<soap:body use="literal" parts="queryOrderListResponse" />
			</wsdl:output>
			<wsdl:fault name="commException">
				<soap:fault use="literal" name="commException" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- 条件查询订单集合 -->
		<wsdl:operation name="searchOrder">
			<soap:operation
				soapAction="http://www.deppon.com/crm/interface/CrmService/searchOrder" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:searchOrderRequest" />
				<soap:body use="literal" parts="searchOrderRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:searchOrderResponse" />
				<soap:body use="literal" parts="searchOrderResponse" />
			</wsdl:output>
			<wsdl:fault name="commException">
				<soap:fault use="literal" name="commException" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- 反写优惠券状态 -->
		<wsdl:operation name="effectCouponState">
			<soap:operation
				soapAction="http://www.deppon.com/crm/interface/CrmService/effectCouponState" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:CouponStateRequest" />
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:CouponStateResponse" />
				<soap:body use="literal" parts="response" />
			</wsdl:output>
			<wsdl:fault name="commException">
				<soap:fault use="literal" name="commException" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- 校验优惠券 -->
		<wsdl:operation name="validateCoupon">
			<soap:operation
				soapAction="http://www.deppon.com/crm/interface/CrmService/validateCoupon" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:ValidateCouponRequest" />
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:validateCouponResponse" />
				<soap:body use="literal" parts="Response" />
			</wsdl:output>
			<wsdl:fault name="commException">
				<soap:fault use="literal" name="commException" />
			</wsdl:fault>
		</wsdl:operation>
		<!-- 退运费校验 -->
		<wsdl:operation name="backFreightCheck">
			<soap:operation
				soapAction="http://www.deppon.com/crm/interface/CrmService/backFreightCheck" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:BackFreightCheckRequest" />
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:BackFreightCheckResponse" />
				<soap:body use="literal" parts="response" />
			</wsdl:output>
			<wsdl:fault name="commException">
				<soap:fault use="literal" name="commException" />
			</wsdl:fault>
		</wsdl:operation>

		<!-- 查询理赔单接口 -->
		<wsdl:operation name="queryClaimbill">
			<soap:operation
				soapAction="http://www.deppon.com/crm/interface/CrmService/queryClaimbill" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryClaimbillRequest" />
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryClaimbillResponse" />
				<soap:body use="literal" parts="response" />
			</wsdl:output>
			<wsdl:fault name="commException">
				<soap:fault use="literal" name="commException" />
			</wsdl:fault>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="CrmService">
		<wsdl:port binding="tns:NewBinding" name="CrmService">
			<soap:address location="http://www.deppon.com/crm/interface/fossService" />
		</wsdl:port>
	</wsdl:service></wsdl:definitions>