foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/crm/client/FOSS_CRM_IMPORT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.deppon.com/crm/inteface/foss/domain"
	elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/crm/inteface/foss/domain" xmlns:pref="http://www.deppon.com/crm/inteface/foss/domain" xmlns:pref1="http://www.deppon.com/crm/interface/foss/baseMessage">

	<element name="searchOrderRequest" type="tns:searchOrderRequest"></element>

	<element name="searchOrderResponse" type="tns:searchOrderResponse">
	</element>

	<complexType name="searchOrderRequest">
		<sequence>
			<element name="orderNumber" type="string" maxOccurs="1">
				<annotation>
					<documentation>订单编号</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="Order">
		<annotation>
			<documentation>联系人id</documentation>
		</annotation>
		<sequence>
			<element name="hastenCount" type="int">
				<annotation>
					<documentation>催单次数</documentation>
				</annotation>
			</element>
			<element name="lastHastenTime" type="dateTime">
				<annotation>
					<documentation>最后催单时间</documentation>
				</annotation>
			</element>
			<element name="contactManId" type="string">
				<annotation>
					<documentation>联系人id</documentation>
				</annotation>
			</element>
			<element name="orderNumber" type="string">
				<annotation>
					<documentation>订单号</documentation>
				</annotation>
			</element>
			<element name="channelNumber" type="string">
				<annotation>
					<documentation>渠道单号</documentation>
				</annotation>
			</element>
			<element name="shipperId" type="string">
				<annotation>
					<documentation>发货客户id</documentation>
				</annotation>
			</element>
			<element name="shipperNumber" type="string">
				<annotation>
					<documentation>发货客户编号</documentation>
				</annotation>
			</element>
			<element name="shipperName" type="string">
				<annotation>
					<documentation>发货客户姓名</documentation>
				</annotation>
			</element>
			<element name="contactName" type="string">
				<annotation>
					<documentation>发货联系人名称</documentation>
				</annotation>
			</element>
			<element name="contactMobile" type="string">
				<annotation>
					<documentation>联系人手机</documentation>
				</annotation>
			</element>
			<element name="contactPhone" type="string">
				<annotation>
					<documentation>联系人电话</documentation>
				</annotation>
			</element>
			<element name="contactProvince" type="string">
				<annotation>
					<documentation>联系人省份</documentation>
				</annotation>
			</element>
			<element name="contactCity" type="string">
				<annotation>
					<documentation>联系人城市</documentation>
				</annotation>
			</element>
			<element name="contactArea" type="string">
				<annotation>
					<documentation>联系人区县</documentation>
				</annotation>
			</element>
			<element name="contactProvinceCode" type="string">
				<annotation>
					<documentation>联系人省份编码</documentation>
				</annotation>
			</element>
			<element name="contactCityCode" type="string">
				<annotation>
					<documentation>联系人城市编码</documentation>
				</annotation>
			</element>
			<element name="contactAreaCode" type="string">
				<annotation>
					<documentation>联系人区县编码</documentation>
				</annotation>
			</element>
			<element name="contactAddress" type="string">
				<annotation>
					<documentation>联系地址</documentation>
				</annotation>
			</element>
			<element name="contactAddrRemark" type="string">
				<annotation>
					<documentation>联系地址备注</documentation>
				</annotation>
			</element>
			<element name="isReceiveGoods" type="boolean">
				<annotation>
					<documentation>是否接货</documentation>
				</annotation>
			</element>
			<element name="beginAcceptTime" type="dateTime">
				<annotation>
					<documentation>接货起始时间</documentation>
				</annotation>
			</element>
			<element name="endAcceptTime" type="dateTime">
				<annotation>
					<documentation>接货结束时间</documentation>
				</annotation>
			</element>
			<element name="receiverCustId" type="string">
				<annotation>
					<documentation>收货客户id</documentation>
				</annotation>
			</element>
			<element name="receiverCustNumber" type="string">
				<annotation>
					<documentation>收货客户编号</documentation>
				</annotation>
			</element>
			<element name="receiverCustcompany" type="string">
				<annotation>
					<documentation>收货客户所属公司</documentation>
				</annotation>
			</element>
			<element name="receiverCustName" type="string">
				<annotation>
					<documentation>收货人联系姓名</documentation>
				</annotation>
			</element>
			<element name="receiverCustMobile" type="string">
				<annotation>
					<documentation>接货人联系手机</documentation>
				</annotation>
			</element>
			<element name="receiverCustPhone" type="string">
				<annotation>
					<documentation>接货人联系电话</documentation>
				</annotation>
			</element>
			<element name="receiverCustProvince" type="string">
				<annotation>
					<documentation>接货人省份</documentation>
				</annotation>
			</element>
			<element name="receiverCustCity" type="string">
				<annotation>
					<documentation>接货人城市</documentation>
				</annotation>
			</element>
			<element name="receiverCustArea" type="string">
				<annotation>
					<documentation>接货人区县</documentation>
				</annotation>
			</element>
			<element name="receiverCustProvinceCode" type="string">
				<annotation>
					<documentation>接货人省份编码</documentation>
				</annotation>
			</element>
			<element name="receiverCustCityCode" type="string">
				<annotation>
					<documentation>接货人城市编码</documentation>
				</annotation>
			</element>
			<element name="receiverCustAreaCode" type="string">
				<annotation>
					<documentation>接货人区县编码</documentation>
				</annotation>
			</element>			
			<element name="receiverCustAddress" type="string">
				<annotation>
					<documentation>接货人详细地址</documentation>
				</annotation>
			</element>			
			<element name="receiverCustAddrRemark" type="string">
				<annotation>
					<documentation>接货人详细地址备注</documentation>
				</annotation>
			</element>
			<element name="isSendmessage" type="boolean">
				<annotation>
					<documentation>是否短信通知</documentation>
				</annotation>
			</element>
			<element name="receivingToPoint" type="string" minOccurs="0">
				<annotation>
					<documentation>到达网点</documentation>
				</annotation>
			</element>
			<element name="receivingToPointName" type="string" minOccurs="0">
				<annotation>
					<documentation>到达网点名称</documentation>
				</annotation>
			</element>
			<element name="transportMode" type="string">
				<annotation>
					<documentation>货物运输方式</documentation>
				</annotation>
			</element>
			<element name="goodsName" type="string">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>
			<element name="packing" type="string">
				<annotation>
					<documentation>货物包装类型</documentation>
				</annotation>
			</element>
			<element name="goodsType" type="string">
				<annotation>
					<documentation>货物类型</documentation>
				</annotation>
			</element>
			<element name="goodsNumber" type="int">
				<annotation>
					<documentation>托运货物总件数</documentation>
				</annotation>
			</element>
			<element name="totalWeight" type="double">
				<annotation>
					<documentation>托运货物总重量</documentation>
				</annotation>
			</element>
			<element name="totalVolume" type="double">
				<annotation>
					<documentation>货物总体积</documentation>
				</annotation>
			</element>
			<element name="paymentType" type="string">
				<annotation>
					<documentation>付款方式</documentation>
				</annotation>
			</element>
			<element name="channelType" type="string">
				<annotation>
					<documentation>渠道类型</documentation>
				</annotation>
			</element>
			<element name="channelCustId" type="string">
				<annotation>
					<documentation>渠道客户Id</documentation>
				</annotation>
			</element>
			<element name="deliveryMode" type="string">
				<annotation>
					<documentation>提货方式</documentation>
				</annotation>
			</element>
			<element name="reciveLoanType" type="string">
				<annotation>
					<documentation>代收货款类型</documentation>
				</annotation>
			</element>
			<element name="reviceMoneyAmount" type="decimal">
				<annotation>
					<documentation>代收货款金额</documentation>
				</annotation>
			</element>
			<element name="insuredAmount" type="decimal">
				<annotation>
					<documentation>报价申明价值</documentation>
				</annotation>
			</element>
			<element name="orderTime" type="dateTime">
				<annotation>
					<documentation>下单时间</documentation>
				</annotation>
			</element>
			<element name="startStation" type="string">
				<annotation>
					<documentation>始发网点</documentation>
				</annotation>
			</element>
			<element name="startStationName" type="string">
				<annotation>
					<documentation>始发网点名称</documentation>
				</annotation>
			</element>
			<element name="acceptDept" type="string">
				<annotation>
					<documentation> 受理部门</documentation>
				</annotation>
			</element>
			<element name="acceptDeptName" type="string">
				<annotation>
					<documentation>受理部门名称</documentation>
				</annotation>
			</element>
			<element name="orderStatus" type="string">
				<annotation>
					<documentation>订单状态</documentation>
				</annotation>
			</element>
			<element name="dealPerson" type="string">
				<annotation>
					<documentation>受理人</documentation>
				</annotation>
			</element>
			<element name="orderAcceptTime" type="dateTime">
				<annotation>
					<documentation>订单受理时间</documentation>
				</annotation>
			</element>
			<element name="receiver" type="string">
				<annotation>
					<documentation>接货员姓名</documentation>
				</annotation>
			</element>
			<element name="accepterPersonMobile" type="string">
				<annotation>
					<documentation>接货员手机</documentation>
				</annotation>
			</element>
			<element name="waybillNumber" type="string">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="resource" type="string">
				<annotation>
					<documentation>订单来源</documentation>
				</annotation>
			</element>
			<element name="transNote" type="string">
				<annotation>
					<documentation>储运事项</documentation>
				</annotation>
			</element>
			<element name="returnBillType" type="string">
				<annotation>
					<documentation>签收单</documentation>
				</annotation>
			</element>
			<element name="orderPerson" type="string">
				<annotation>
					<documentation>下单人</documentation>
				</annotation>
			</element>
			<element name="feedbackInfo" type="string">
				<annotation>
					<documentation>反馈信息</documentation>
				</annotation>
			</element>
			<element name="onlineName" type="string">
				<annotation>
					<documentation>官网收货人德邦用户名</documentation>
				</annotation>
			</element>
			<element name="memberType" type="string" minOccurs="0">
				<annotation>
					<documentation>阿里巴巴订单的会员类型</documentation>
				</annotation>
			</element>
			<element name="couponNumber" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>优惠券编码</documentation>
				</annotation>
			</element>
			<!--
				@author:218371-foss-zhaoyanjun
				@date:2014-10-23下午15:48 
			 -->
			 <element name="ifEInvoice" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否电子发票</documentation>
				</annotation>
			</element>
			<!--
				@author:218371-foss-zhaoyanjun
				@date:2014-10-23下午15:48 
			 -->
			 <element name="invoicePhone" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发票手机号码</documentation>
				</annotation>
			</element>
			<!--
				@author:218371-foss-zhaoyanjun
				@date:2014-10-23下午15:48 
			 -->
			 <element name="invoiceMail" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发票邮箱</documentation>
				</annotation>
			</element>
			<!--
				@Dmana-9885
				@author:218371-foss-zhaoyanjun
				@date:2014-10-23下午15:48 
			 -->
			 <element name="freight" type="double">
				<annotation>
					<documentation>特殊渠道运费</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="searchOrderResponse">
		<sequence>
			<element name="order" type="tns:Order" minOccurs="0">
			</element>
		</sequence>
	</complexType>
</schema>