esb-extends-pojo/src/main/schema/foss2cubc/CUBC_SYNC_ADDAIRREVISEBILL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/esb/inteface/domain/cubc/revisebill" 
 targetNamespace="http://www.deppon.com/esb/inteface/domain/cubc/revisebill" elementFormDefault="qualified">
	<complexType name="AirRevisebillToCubcRequest">
		<sequence>
			<element name="airPickupbillEntity" type="tns:AirPickupbillEntity" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>合大票清单</documentation>
				</annotation>
			</element>
			<element name="stlModifyList" type="tns:StlModifyList" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>合大票清单明细</documentation>
				</annotation>
			</element>
			<element name="stlDeleteList" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>删除列表,用于调用结算接口</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	<!-- 合大票清单 -->
	<complexType name="AirPickupbillEntity">
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>ID</documentation>
				</annotation>
			</element>
			<element name="airLineCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>航空公司编号</documentation>
				</annotation>
			</element>	
			<element name="airLineName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>航空公司名称</documentation>
				</annotation>
			</element>
			<element name="airWaybillNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>正单号</documentation>
				</annotation>
			</element>	
			<element name="destOrgCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到达网点编号</documentation>
				</annotation>
			</element>
			<element name="destOrgName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到达网点名称</documentation>
				</annotation>
			</element>	
			<element name="flightNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>航班号</documentation>
				</annotation>
			</element>
			<element name="arrvRegionCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>目的站编号</documentation>
				</annotation>
			</element>	
			<element name="arrvRegionName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>目的站名称</documentation>
				</annotation>
			</element>
			<element name="flightDate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>航班日期</documentation>
				</annotation>
			</element>	
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单人编号</documentation>
				</annotation>
			</element>
			<element name="createUserName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单人名称</documentation>
				</annotation>
			</element>	
			<element name="origOrgCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单部门编号</documentation>
				</annotation>
			</element>
			<element name="origOrgName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单部门名称</documentation>
				</annotation>
			</element>	
			<element name="createTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单时间</documentation>
				</annotation>
			</element>
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改人编号</documentation>
				</annotation>
			</element>	
			<element name="modifyUserName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改人名称</documentation>
				</annotation>
			</element>
			<element name="modifyTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改时间</documentation>
				</annotation>
			</element>	
			<element name="waybillQtyTotal" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>总票数</documentation>
				</annotation>
			</element>
			<element name="goodsQtyTotal" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>总件数</documentation>
				</annotation>
			</element>	
			<element name="airPickQtyTotal" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>清单总件数</documentation>
				</annotation>
			</element>
			<element name="grossWeightTotal" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>总毛重</documentation>
				</annotation>
			</element>	
			<element name="deliverFeeTotal" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>总送货费</documentation>
				</annotation>
			</element>
			<element name="arrivalFeeTotal" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>总到付款</documentation>
				</annotation>
			</element>	
			<element name="collectionFeeTotal" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>总代收款</documentation>
				</annotation>
			</element>
			<element name="currencyCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>币种</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	<!-- 合大票清单明细 -->
	<complexType name="StlModifyList">
		<sequence>
			<element name="airPickupbillId" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>合大票清单组建ID</documentation>
				</annotation>
			</element>
			<element name="waybillNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="airWaybillNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>正单号</documentation>
				</annotation>
			</element>	
			<element name="arrvRegionName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>目的站</documentation>
				</annotation>
			</element>
			<element name="goodsName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>品名</documentation>
				</annotation>
			</element>	
			<element name="goodsQty" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运单件数</documentation>
				</annotation>
			</element>
			<element name="airPickQty" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>清单件数</documentation>
				</annotation>
			</element>	
			<element name="weight" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>重量</documentation>
				</annotation>
			</element>
			<element name="billingWeight" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>计费重量</documentation>
				</annotation>
			</element>	
			<element name="beTransfer" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否中转</documentation>
				</annotation>
			</element>
			<element name="pickupType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>提货方式</documentation>
				</annotation>
			</element>	
			<element name="deliverFee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>送货费</documentation>
				</annotation>
			</element>
			<element name="arrivalFee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到付款</documentation>
				</annotation>
			</element>	
			<element name="collectionFee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>代收款</documentation>
				</annotation>
			</element>
			<element name="notes" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>备注</documentation>
				</annotation>
			</element>	
			<element name="currencyCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>币种</documentation>
				</annotation>
			</element>
			<element name="createTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>	
			<element name="receiverContactPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人电话</documentation>
				</annotation>
			</element>
			<element name="receiverAddress" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人地址</documentation>
				</annotation>
			</element>	
			<element name="receiverName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人姓名</documentation>
				</annotation>
			</element>
			<element name="flag" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否新增标记</documentation>
				</annotation>
			</element>	
			<element name="billType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>应付单来源单据子类型</documentation>
				</annotation>
			</element>
			<element name="agentCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>代理网点编码</documentation>
				</annotation>
			</element>	
			<element name="arrvRegionCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>目的站编码</documentation>
				</annotation>
			</element>
			<element name="transportType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运输性质</documentation>
				</annotation>
			</element>	
		</sequence>
	</complexType>
	
	<!-- 返回结果 -->
	<!-- <complexType name="AirRevisebillToCubcResponse">
		<annotation>
			<documentation>
				CUBC处理数据结果返回给FOSS
			</documentation>
		</annotation>
		<sequence>
			<element name="resultInfos" type="tns:ResultInfos" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>返回信息集合</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType> -->
	<complexType name="AirRevisebillToCubcResponse">
		<annotation>
			<documentation>
				返回处理结果
			</documentation>
		</annotation>
		<sequence>
			<element name="result" type="int" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>处理结果("1"表示成功,"0"表示失败)</documentation>
				</annotation>
			</element>
			<element name="reason" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>返回处理信息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="AirRevisebillToCubcRequest" type="tns:AirRevisebillToCubcRequest"/>
	<element name="AirRevisebillToCubcResponse" type="tns:AirRevisebillToCubcResponse"/>
</schema>
