esb-extends-pojo/src/main/schema/foss2cubc/CUBC_SYNC_ADDAIRWAYBILL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/esb/inteface/domain/cubc/waybill" 
 targetNamespace="http://www.deppon.com/esb/inteface/domain/cubc/waybill" elementFormDefault="qualified">
	<complexType name="AirWaybillToCubcRequest">
		<sequence>
			<element name="airLineTwoletter" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>航空公司二字码</documentation>
				</annotation>
			</element>
			<element name="airWaybillNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>正单号</documentation>
				</annotation>
			</element>	
			<element name="deptRegionCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>始发站编码</documentation>
				</annotation>
			</element>
			<element name="deptRegionName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>始发站名称</documentation>
				</annotation>
			</element>	
			<element name="arrvRegionCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>目的站编码</documentation>
				</annotation>
			</element>
			<element name="arrvRegionName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>目的站名称</documentation>
				</annotation>
			</element>	
			<element name="airAssembleType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>配载类型</documentation>
				</annotation>
			</element>
			<element name="destOrgCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到达网点编码</documentation>
				</annotation>
			</element>	
			<element name="dedtOrgName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到达网点名称</documentation>
				</annotation>
			</element>
			<element name="receiverCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人编码</documentation>
				</annotation>
			</element>	
			<element name="receiverName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人名称</documentation>
				</annotation>
			</element>
			<element name="receiverContactPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人电话</documentation>
				</annotation>
			</element>	
			<element name="accountItem" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>结算事项</documentation>
				</annotation>
			</element>
			<element name="billingAgency" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>填开代理</documentation>
				</annotation>
			</element>	
			<element name="receiverAddress" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人地址</documentation>
				</annotation>
			</element>
			<element name="storageItem" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>储运事项</documentation>
				</annotation>
			</element>	
			<element name="flightNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>航班号</documentation>
				</annotation>
			</element>
			<element name="flightDate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>航班日期</documentation>
				</annotation>
			</element>	
			<element name="takeOffTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>起飞时间</documentation>
				</annotation>
			</element>
			<element name="arriveTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到达时间</documentation>
				</annotation>
			</element>	
			<element name="rateClass" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运价种类</documentation>
				</annotation>
			</element>
			<element name="paymentType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>付款方式</documentation>
				</annotation>
			</element>	
			<element name="grossWeight" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>毛重</documentation>
				</annotation>
			</element>
			<element name="billingWeight" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>计费重量</documentation>
				</annotation>
			</element>	
			<element name="fee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运价</documentation>
				</annotation>
			</element>
			<element name="agenctCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>承运人/外发代理_编号</documentation>
				</annotation>
			</element>	
			<element name="agencyName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>承运人/外发代理_名称</documentation>
				</annotation>
			</element>
			<element name="declareValue" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>声明价值</documentation>
				</annotation>
			</element>	
			<element name="itemCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>商品代号</documentation>
				</annotation>
			</element>
			<element name="goodsQty" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>件数</documentation>
				</annotation>
			</element>	
			<element name="volume" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>体积</documentation>
				</annotation>
			</element>
			<element name="airFee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>航空运费</documentation>
				</annotation>
			</element>	
			<element name="extraFee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>附加费</documentation>
				</annotation>
			</element>
			<element name="goodsName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>	
			<element name="packageStruction" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>包装说明</documentation>
				</annotation>
			</element>
			<element name="groundFee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>地面运费</documentation>
				</annotation>
			</element>	
			<element name="fuelSurcharge" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>燃油附加税</documentation>
				</annotation>
			</element>
			<element name="transportInsurance" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运输保险</documentation>
				</annotation>
			</element>	
			<element name="inseranceFee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>保险费</documentation>
				</annotation>
			</element>
			<element name="feeTotal" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>总金额</documentation>
				</annotation>
			</element>	
			<element name="feePlain" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>费用说明</documentation>
				</annotation>
			</element>
			<element name="billingFee" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单费</documentation>
				</annotation>
			</element>	
			<element name="shipperCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>托运人编号</documentation>
				</annotation>
			</element>
			<element name="shipperName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>托运人名称</documentation>
				</annotation>
			</element>	
			<element name="shipperAddress" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>托运人地址</documentation>
				</annotation>
			</element>
			<element name="shipperContactPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>托运人电话</documentation>
				</annotation>
			</element>	
			<element name="pickupType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>提货方式</documentation>
				</annotation>
			</element>
			<element name="createOrgCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单部门编号</documentation>
				</annotation>
			</element>	
			<element name="createOrgName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单部门名称</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单人编号</documentation>
				</annotation>
			</element>	
			<element name="createUserName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单人名称</documentation>
				</annotation>
			</element>
			<element name="createTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>制单时间</documentation>
				</annotation>
			</element>	
			<element name="modifyUserCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改人编号</documentation>
				</annotation>
			</element>
			<element name="modifyUserName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改人名称</documentation>
				</annotation>
			</element>	
			<element name="modifyTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>修改时间</documentation>
				</annotation>
			</element>
			<element name="handoverState" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>交接状态</documentation>
				</annotation>
			</element>	
			<element name="airPickState" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否已做合大票</documentation>
				</annotation>
			</element>
			<element name="currencyCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>币种</documentation>
				</annotation>
			</element>	
			<element name="isNotPayment" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否付款</documentation>
				</annotation>
			</element>
			<element name="jointTicketNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>合票号</documentation>
				</annotation>
			</element>	
			<element name="actualTakeOffTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>实飞时间</documentation>
				</annotation>
			</element>
			<element name="actualArriveTime" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>实到时间</documentation>
				</annotation>
			</element>	
			<element name="trackState" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>跟踪状态</documentation>
				</annotation>
			</element>
			<element name="airportCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>机场三字码</documentation>
				</annotation>
			</element>	
			<element name="transportType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运输类型</documentation>
				</annotation>
			</element>
			<element name="productCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运输性质</documentation>
				</annotation>
			</element>	
			<element name="productName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运输性质名称</documentation>
				</annotation>
			</element>	
			<element name="detailWaybills" type="string" minOccurs="0" maxOccurs="unbounded">
				<annotation>
					<documentation>航空正单明细包含运单号列表</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>	
	
	<!-- 返回结果 -->
	<complexType name="AirWaybillToCubcResponse">
		<annotation>
			<documentation>
				CUBC处理数据结果返回给FOSS
			</documentation>
		</annotation>
		<sequence>
			<element name="result" type="int" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>处理结果("1"表示成功,"0"表示失败)</documentation>
				</annotation>
			</element>
			<element name="reason" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>返回处理信息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="AirWaybillToCubcRequest" type="tns:AirWaybillToCubcRequest"/>
	<element name="AirWaybillToCubcResponse" type="tns:AirWaybillToCubcResponse"/>
</schema>
