esb-extends-pojo/src/main/schema/foss2cubc/FOSS_CUBC_LTL_WAYBILLINFO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.deppon.com/esb/inteface/domain/foss2cubc"
    xmlns:tns="http://www.deppon.com/esb/inteface/domain/foss2cubc"
    elementFormDefault="qualified">
 
 	<annotation>
		<documentation>
			FOSS推送信息给CUBC（零担）
		</documentation>
	</annotation>
	
	<complexType name="WaybillInfoToCUBCRequest">
		<annotation>
			<documentation>同步运单信息</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>唯一标识ID</documentation>
                </annotation>
            </element>
			<element name="waybillInfo" type="tns:WaybillInfo"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运单信息</documentation>
				</annotation>
			</element>
			<element name="actualFreightInfo" type="tns:ActualFreightInfo"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>实际承运表信息</documentation>
				</annotation>
			</element>
			<element name="waybillRfcInfo" type="tns:WaybillRfcInfo"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>更改单信息</documentation>
				</annotation>
			</element>
			<!-- <element name="waybillFinanceInfo" type="tns:WaybillFinanceInfo"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运单财务单据信息</documentation>
				</annotation>
			</element> -->
		</sequence>
	</complexType>
	
    <!--请求类型定义-->
    <complexType name="WaybillInfo">
       <annotation>
			<documentation>推送的运单信息（零担 修改前、修改后）</documentation>
		</annotation>
        <sequence>
            <element name="id" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单表中运单ID</documentation>
                </annotation>
            </element>
            <element name="waybillNo" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
            <element name="orderNo" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户ID</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerCode" type="string" minOccurs="0" maxOccurs="1" >
                <annotation>
                    <documentation>发货客户编码</documentation>
                </annotation>
            </element>
            
            <element name="deliveryCustomerName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户名称</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerMobilephone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户手机</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerPhone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户电话</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerContact" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户联系人</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerNationCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货国家</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerProvCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货省份</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerCityCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货市</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerDistCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货区</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerAddress" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货具体地址</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户ID</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户编码</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户名称</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerMobilephone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户手机</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerPhone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户电话</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerContact" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户联系人</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerNationCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货国家</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerProvCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货省份</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerCityCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货市</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerDistCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货区</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerAddress" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货具体地址</documentation>
                </annotation>
            </element>
            <element name="receiveOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货部门(出发部门)</documentation>
                </annotation>
            </element>
            <element name="productId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>产品ID</documentation>
                </annotation>
            </element>
            <element name="productCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运输性质</documentation>
                </annotation>
            </element>
            <element name="receiveMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货方式</documentation>
                </annotation>
            </element>
            <element name="customerPickupOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货网点</documentation>
                </annotation>
            </element>
            <element name="loadMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>配载类型</documentation>
                </annotation>
            </element>
            <element name="targetOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>目的站</documentation>
                </annotation>
            </element>
            <element name="pickupToDoor" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否上门接货</documentation>
                </annotation>
            </element>
            <element name="driverCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>司机</documentation>
                </annotation>
            </element>
            <element name="pickupCentralized" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否集中接货</documentation>
                </annotation>
            </element>
            <element name="loadLineCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>配载线路</documentation>
                </annotation>
            </element>
            <element name="loadOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>配载部门</documentation>
                </annotation>
            </element>
            <element name="lastLoadOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>最终配载部门</documentation>
                </annotation>
            </element>
            <element name="preDepartureTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预计出发时间</documentation>
                </annotation>
            </element>
            <element name="preCustomerPickupTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预计派送/提货时间</documentation>
                </annotation>
            </element>
            <element name="carDirectDelivery" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否大车直送</documentation>
                </annotation>
            </element>
            <element name="goodsName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物名称</documentation>
                </annotation>
            </element>
            <element name="goodsQtyTotal" type="int" minOccurs="0" maxOccurs="1" >
                <annotation>
                    <documentation>货物总件数</documentation>
                </annotation>
            </element>
            <element name="goodsWeightTotal" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物总件数</documentation>
                </annotation>
            </element>
            <element name="goodsVolumeTotal" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物总体积</documentation>
                </annotation>
            </element>
            <element name="goodsTypeCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物类型</documentation>
                </annotation>
            </element>
            <element name="preciousGoods" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否贵重物品</documentation>
                </annotation>
            </element>
            <element name="specialShapedGoods" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否异形物品</documentation>
                </annotation>
            </element>
            <element name="goodsPackage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物包装</documentation>
                </annotation>
            </element>
            <element name="insuranceAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>保价声明价值</documentation>
                </annotation>
            </element>
            <element name="codAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收货款</documentation>
                </annotation>
            </element>
            <element name="codRate" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收费率</documentation>
                </annotation>
            </element>
            <element name="codFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收货款手续费</documentation>
                </annotation>
            </element>
            <element name="refundType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>退款类型</documentation>
                </annotation>
            </element>
            <element name="returnBillType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返单类别</documentation>
                </annotation>
            </element>
            <element name="secretPrepaid" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付费保密</documentation>
                </annotation>
            </element>
            <element name="toPayAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到付金额</documentation>
                </annotation>
            </element>
            <element name="prePayAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付金额</documentation>
                </annotation>
            </element>
            <element name="deliveryGoodsFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货费</documentation>
                </annotation>
            </element>
            <element name="otherFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>其他费用</documentation>
                </annotation>
            </element>
            <element name="packageFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>包装手续费</documentation>
                </annotation>
            </element>
            <element name="promotionsFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>优惠费用</documentation>
                </annotation>
            </element>
            <element name="billingType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运费计费类型</documentation>
                </annotation>
            </element>
            <element name="transportFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>公布价运费</documentation>
                </annotation>
            </element>
            <element name="valueAddFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>增值费用</documentation>
                </annotation>
            </element>
            <element name="paidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单付款方式</documentation>
                </annotation>
            </element>
            <element name="arriveType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达类型</documentation>
                </annotation>
            </element>
            <element name="active" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单状态</documentation>
                </annotation>
            </element>
            <element name="forbiddenLine" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>禁行</documentation>
                </annotation>
            </element>
            <element name="freightMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>合票方式</documentation>
                </annotation>
            </element>
            <element name="flightShift" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>航班时间</documentation>
                </annotation>
            </element>
            <element name="totalFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>总费用</documentation>
                </annotation>
            </element>
            <element name="promotionsCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>优惠编码</documentation>
                </annotation>
            </element>
            <element name="createTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>创建时间</documentation>
                </annotation>
            </element>
            <element name="modifyTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>更新时间（业务时间）</documentation>
                </annotation>
            </element>
            <element name="billTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单时间</documentation>
                </annotation>
            </element>
            <element name="createUserCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单人</documentation>
                </annotation>
            </element>
            <element name="modifyUserCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>更新人</documentation>
                </annotation>
            </element>
            <element name="createOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单组织</documentation>
                </annotation>
            </element>
            <element name="modifyOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>更新组织</documentation>
                </annotation>
            </element>
            <element name="refId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>原运单ID</documentation>
                </annotation>
            </element>
            <element name="refCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>原运单号</documentation>
                </annotation>
            </element>
            <element name="currencyCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>币种</documentation>
                </annotation>
            </element>
            <element name="isWholeVehicle" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否整车运单</documentation>
                </annotation>
            </element>
            <element name="wholeVehicleAppfee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>整车约车报价</documentation>
                </annotation>
            </element>
            <element name="wholeVehicleActualfee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>整车开单报价</documentation>
                </annotation>
            </element>
            <element name="accountName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户名称</documentation>
                </annotation>
            </element>
            <element name="accountCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户账户</documentation>
                </annotation>
            </element>
            <element name="accountBank" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户银行</documentation>
                </annotation>
            </element>
            <element name="billWeight" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>计费重量</documentation>
                </annotation>
            </element>
            <element name="pickupFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>接货费</documentation>
                </annotation>
            </element>
            <element name="serviceFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>装卸费</documentation>
                </annotation>
            </element>
            <element name="preArriveTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预计到达时间</documentation>
                </annotation>
            </element>
            <element name="transportType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运输类型</documentation>
                </annotation>
            </element>
            <element name="addTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>新增时间</documentation>
                </annotation>
            </element>
            <element name="insuranceRate" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>保价费率</documentation>
                </annotation>
            </element>
            <element name="insuranceFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>保价费</documentation>
                </annotation>
            </element>
            <element name="unitPrice" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运费计费费率</documentation>
                </annotation>
            </element>
            <element name="contactAddressId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>联系人地址ID</documentation>
                </annotation>
            </element>
            <element name="flightNumberType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>航班类型</documentation>
                </annotation>
            </element>
            <element name="collectionDepartment" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收款部门</documentation>
                </annotation>
            </element>
            <element name="isPassOwnDepartment" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否经过营业部</documentation>
                </annotation>
            </element>
            <element name="paperNum" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>纸包装</documentation>
                </annotation>
            </element>
            <element name="woodNum" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>木包装</documentation>
                </annotation>
            </element>
            <element name="fibreNum" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>纤包装</documentation>
                </annotation>
            </element>
            <element name="salverNum" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>托包装</documentation>
                </annotation>
            </element>
            <element name="membraneNum" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>膜包装</documentation>
                </annotation>
            </element>
            <element name="otherPackage" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>其他包装</documentation>
                </annotation>
            </element>
            <element name="deliverCustContactId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货联系人Id</documentation>
                </annotation>
            </element>
            <element name="receiverCustContactId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货联系人Id</documentation>
                </annotation>
            </element>
            <element name="pendingType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>处理类型:"PDA_ACTIVE"--PDA已补录 ，"PC_ACTIVE"--暂存已开单</documentation>
                </annotation>
            </element>
            <element name="licensePlateNum" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>车牌号</documentation>
                </annotation>
            </element>
            <element name="orderVehicleNum" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>约车编号</documentation>
                </annotation>
            </element>
            <element name="orderChannel" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>订单来源</documentation>
                </annotation>
            </element>
            <element name="orderPaidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>订单付款方式</documentation>
                </annotation>
            </element>
            <element name="isInit" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否迁移数据</documentation>
                </annotation>
            </element>
            <element name="createUserName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单提交人姓名</documentation>
                </annotation>
            </element>
             <element name="createUserDeptName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单提交人所在部门名称</documentation>
                </annotation>
            </element>
            <element name="receiveOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单提交人姓名</documentation>
                </annotation>
            </element>
             <element name="customerPickupOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单提交人所在部门名称</documentation>
                </annotation>
            </element>
            <element name="loadOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>配载部门名称</documentation>
                </annotation>
            </element>
             <element name="lastLoadOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>最终配置部门名称</documentation>
                </annotation>
            </element>
            <element name="goodsSize" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物尺寸</documentation>
                </annotation>
            </element>
            <element name="outerNotes" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>对外备注</documentation>
                </annotation>
            </element>
            <element name="innerNotes" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>对内备注</documentation>
                </annotation>
            </element>
            <element name="transportationRemark" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>储运事项</documentation>
                </annotation>
            </element>
            <element name="transferStartOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>中转 返货的时候的中转起点外场</documentation>
                </annotation>
            </element>
            <element name="transferStartOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>中转 返货的时候的中转起点外场名称</documentation>
                </annotation>
            </element>
            <element name="kilometer" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>公里数</documentation>
                </annotation>
            </element>
            <element name="isEconomyGoods" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否经济自提件</documentation>
                </annotation>
            </element>
            <element name="economyGoodsType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>经济自提件类型</documentation>
                </annotation>
            </element>
            <element name="deliveryBigCustomer" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户是否是大客户</documentation>
                </annotation>
            </element>
            <element name="receiveBigCustomer" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户是否是大客户</documentation>
                </annotation>
            </element>
            <element name="isExpress" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否快递</documentation>
                </annotation>
            </element>
            <element name="freePickupGoods" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否免费接货</documentation>
                </annotation>
            </element>
            <element name="isecs" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否悟空运单</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="ActualFreightInfo">
    	<annotation>
			<documentation>推送的实际承运表信息（零担开单更改单）</documentation>
		</annotation>
        <sequence>
            <element name="id" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>ID</documentation>
                </annotation>
            </element>
            <element name="waybillNo" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
            <element name="goodsName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物名称</documentation>
                </annotation>
            </element>
            <element name="weight" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>重量</documentation>
                </annotation>
            </element>
            <element name="volume" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>体积</documentation>
                </annotation>
            </element>
            <element name="goodsQty" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>件数</documentation>
                </annotation>
            </element>
            <element name="dimension" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>尺寸</documentation>
                </annotation>
            </element>
            <element name="insuranceValue" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>起草人</documentation>
                </annotation>
            </element>
            <element name="packingFee" type="decimal" minOccurs="0" maxOccurs="1" >
                <annotation>
                    <documentation>包装费</documentation>
                </annotation>
            </element>
            <element name="deliverFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货费</documentation>
                </annotation>
            </element>
            <element name="laborFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>装卸费</documentation>
                </annotation>
            </element>
            <element name="codAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收货款</documentation>
                </annotation>
            </element>
            <element name="valueaddFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>增值服务</documentation>
                </annotation>
            </element>
            <element name="freight" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>公布价运费</documentation>
                </annotation>
            </element>
            <element name="settleStatus" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>结清状态</documentation>
                </annotation>
            </element>
            <element name="settleTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>结清时间</documentation>
                </annotation>
            </element>
            <element name="notificationResult" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>通知状态</documentation>
                </annotation>
            </element>
            <element name="notificationTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>通知时间</documentation>
                </annotation>
            </element>
            <element name="deliverDate" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>派送日期</documentation>
                </annotation>
            </element>
            <element name="actualDeliverType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货方式</documentation>
                </annotation>
            </element>
            <element name="storageDay" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>仓储天数</documentation>
                </annotation>
            </element>
            <element name="storageCharge" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>仓储费</documentation>
                </annotation>
            </element>
            <element name="overdueDay" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>逾期天数</documentation>
                </annotation>
            </element>
            <element name="arriveGoodsQty" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达件数</documentation>
                </annotation>
            </element>
            <element name="arriveTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达时间</documentation>
                </annotation>
            </element>
            <element name="arrangeGoodsQty" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>排单件数</documentation>
                </annotation>
            </element>
            <element name="arriveNotoutGoodsQty" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达未出库件数</documentation>
                </annotation>
            </element>
            <element name="exceptionGoodsQty" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>异常件数</documentation>
                </annotation>
            </element>
            <element name="deliverRegionCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货区域编码</documentation>
                </annotation>
            </element>
            <element name="generateGoodsQty" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>已生成到达联件数</documentation>
                </annotation>
            </element>
            <element name="paymentType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>已生成到达联件数</documentation>
                </annotation>
            </element>
            <element name="startStockOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>始发库存部门编码</documentation>
                </annotation>
            </element>
            <element name="endStockOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>最终库存部门编码</documentation>
                </annotation>
            </element>
            <element name="waybillId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单ID</documentation>
                </annotation>
            </element>
            <element name="status" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单状态</documentation>
                </annotation>
            </element>
            <element name="channelCustId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>渠道客户Id:官网发货人德邦用户名</documentation>
                </annotation>
            </element>
            <element name="arriveGoodsQtyMargin" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达件数超出值</documentation>
                </annotation>
            </element>
            <element name="arriveNotOutGoodsQtyMargin" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达未出库件数超出值</documentation>
                </annotation>
            </element>
            <element name="deliverymanName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达提货人</documentation>
                </annotation>
            </element>
            <element name="identifyType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>证件类型</documentation>
                </annotation>
            </element>
            <element name="identifyCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>证件号</documentation>
                </annotation>
            </element>
            <element name="goodsAreaCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>获取编码</documentation>
                </annotation>
            </element>
            <element name="everTelnoticeSuccess" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否曾经电话通知成功过</documentation>
                </annotation>
            </element>
            <element name="notificationOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>通知部门</documentation>
                </annotation>
            </element>
            <element name="createTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>创建时间</documentation>
                </annotation>
            </element>
            <element name="codIdentifyType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>证件类型（代收人）</documentation>
                </annotation>
            </element>
            <element name="codIdentifyCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>证件号码（代收人）</documentation>
                </annotation>
            </element>
            <element name="invoice" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发票标识</documentation>
                </annotation>
            </element>
            <element name="isSMS" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>短信标识</documentation>
                </annotation>
            </element>
            <element name="isCollect" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否已采集</documentation>
                </annotation>
            </element>
            <element name="specialOffer" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>优惠类型</documentation>
                </annotation>
            </element>
            <element name="modifyTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>修改时间</documentation>
                </annotation>
            </element>
            <element name="startBillTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开始开单时间</documentation>
                </annotation>
            </element>
            <element name="togetherSendCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>合送编码</documentation>
                </annotation>
            </element>
            <element name="togetherSendMark" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>合送标识</documentation>
                </annotation>
            </element>
            <element name="bigTicketGoods" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否大票货</documentation>
                </annotation>
            </element>
            <element name="waybillType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>设置运单类型</documentation>
                </annotation>
            </element>
            <element name="isNextDayPending" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否次日补录</documentation>
                </annotation>
            </element>
            <element name="pendingTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>补录时间</documentation>
                </annotation>
            </element>
            <element name="isElectronicInvoice" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否电子发票</documentation>
                </annotation>
            </element>
            <element name="invoiceMobilePhone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发票手机号</documentation>
                </annotation>
            </element>
            <element name="email" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发票发送邮箱</documentation>
                </annotation>
            </element>
            <element name="packageRemark" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>包装备注</documentation>
                </annotation>
            </element>
            <element name="businessZone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否商业区</documentation>
                </annotation>
            </element>
            <element name="residentialDistrict" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否住宅区</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerAddressNote" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货具体地址备注</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerAddressNote" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货具体地址备注</documentation>
                </annotation>
            </element>
            <element name="startCentralizedSettlement" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>始发客户是否统一结算</documentation>
                </annotation>
            </element>
            <element name="arriveCentralizedSettlement" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达客户是否统一结算</documentation>
                </annotation>
            </element>
            <element name="startContractOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>始发客户合同部门编码</documentation>
                </annotation>
            </element>
            <element name="arriveContractOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达客户合同部门编码</documentation>
                </annotation>
            </element>
            <element name="startReminderOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>始发客户合同上催款部门编码</documentation>
                </annotation>
            </element>
            <element name="arriveReminderOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达客户合同上催款部门编码</documentation>
                </annotation>
            </element>
            <element name="paperBoxTotlePrice" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>纸箱总价</documentation>
                </annotation>
            </element>
            <element name="fibelBagTotlePrice" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>纤袋总价</documentation>
                </annotation>
            </element>
            <element name="otherTotle" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>打包装其它合计</documentation>
                </annotation>
            </element>
            <element name="packingTotle" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>打包装价格合计</documentation>
                </annotation>
            </element>
            <element name="isExhibitCargo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否展货</documentation>
                </annotation>
            </element>
            <element name="industrySourceCategory" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货源品类</documentation>
                </annotation>
            </element>
            <element name="toPayAmountDiscount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到付折扣金额</documentation>
                </annotation>
            </element>
            <element name="prePayAmountDiscount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付折扣金额</documentation>
                </annotation>
            </element>
            <element name="connectionNumFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>关联单号费用</documentation>
                </annotation>
            </element>
            <element name="complainStatus" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否有投诉变更签收结果</documentation>
                </annotation>
            </element>
            <element name="transactionSerialNumber" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>交易流水号</documentation>
                </annotation>
            </element>
            <element name="crmTransportFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运费</documentation>
                </annotation>
            </element>
            <element name="crmWeight" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>重量</documentation>
                </annotation>
            </element>
            <element name="crmVolume" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>体积</documentation>
                </annotation>
            </element>
            <element name="deliveryTimeInterval" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货时间段</documentation>
                </annotation>
            </element>
            <element name="invoiceType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发票类型</documentation>
                </annotation>
            </element>
            <element name="deliveryTimeStart" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货时间点(起)</documentation>
                </annotation>
            </element>
            <element name="deliveryTimeOver" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货时间点(止)</documentation>
                </annotation>
            </element>
            <element name="deliverBillQty" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>交单件数</documentation>
                </annotation>
            </element>
            <element name="upDeliverDateOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>修改预计送货日期部门</documentation>
                </annotation>
            </element>
            <element name="internalDeliveryType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>内部发货类型</documentation>
                </annotation>
            </element>
            <element name="employeeNo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>员工号</documentation>
                </annotation>
            </element>
            <element name="isBatchCreateWaybill" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否批量开单</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerVillageCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货人乡镇(街道)</documentation>
                </annotation>
            </element>
            <element name="pdaPaidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>PDA付款方式</documentation>
                </annotation>
            </element>
            <element name="pdaPrePayAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>PDA现付金额</documentation>
                </annotation>
            </element>
            <element name="homeDelivery" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否为上门发货</documentation>
                </annotation>
            </element>
            <element name="partnerBillingLogo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>伙伴开单</documentation>
                </annotation>
            </element>
            <element name="partnerPhome" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>伙伴手机</documentation>
                </annotation>
            </element>
            <element name="partnerName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>伙伴名称</documentation>
                </annotation>
            </element>
            <element name="flabelleavemonth" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>客户分群</documentation>
                </annotation>
            </element>
            <element name="minTransportFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>最低一票费用</documentation>
                </annotation>
            </element>
            <element name="dcServicefee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>折让方式-装卸费</documentation>
                </annotation>
            </element>
            <element name="isExpressFocus" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否快递集中录单</documentation>
                </annotation>
            </element>
            <element name="specialValueAddedServiceType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>特殊增值服务类型</documentation>
                </annotation>
            </element>
            <element name="isEcs" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否悟空快递</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="WaybillRfcInfo">
        <annotation>
			<documentation>推送的更改单信息（零担 修改前、修改后）</documentation>
		</annotation>
        <sequence>
            <element name="id" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单表中运单ID</documentation>
                </annotation>
            </element>
            <element name="waybillNo" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
            <element name="rfcSource" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>变更来源(客户要求，内部要求)</documentation>
                </annotation>
            </element>
            <element name="rfcType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>变更类型</documentation>
                </annotation>
            </element>
            <element name="rfcReason" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>变更原因</documentation>
                </annotation>
            </element>
            <element name="draftOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>起草部门</documentation>
                </annotation>
            </element>
            <element name="draftOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>起草部门编码</documentation>
                </annotation>
            </element>
            <element name="drafter" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>起草人</documentation>
                </annotation>
            </element>
            <element name="drafterCode" type="string" minOccurs="0" maxOccurs="1" >
                <annotation>
                    <documentation>起草人编号</documentation>
                </annotation>
            </element>
            <element name="draftTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>起草时间</documentation>
                </annotation>
            </element>
            <element name="notes" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>备注</documentation>
                </annotation>
            </element>
            <element name="status" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>备注</documentation>
                </annotation>
            </element>
            <element name="operator" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>操作人</documentation>
                </annotation>
            </element>
            <element name="operatorCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>操作人编码</documentation>
                </annotation>
            </element>
            <element name="operateOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>操作部门</documentation>
                </annotation>
            </element>
            <element name="operateOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>操作部门编码</documentation>
                </annotation>
            </element>
            <element name="operateTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>操作时间</documentation>
                </annotation>
            </element>
            <element name="oldVersionWaybillId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>原版本运单ID</documentation>
                </annotation>
            </element>
            <element name="newVersionWaybillId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>新版本运单ID</documentation>
                </annotation>
            </element>
            <element name="writeOffStatus" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>核销状态</documentation>
                </annotation>
            </element>
            <element name="writeOffNotes" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>核销备注</documentation>
                </annotation>
            </element>
            <element name="isFinanceChange" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否财务类变更</documentation>
                </annotation>
            </element>
            <element name="changeItems" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>变更内容</documentation>
                </annotation>
            </element>
            <element name="pdaNotice" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否PDA提醒</documentation>
                </annotation>
            </element>
            <element name="deliverSms" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货人短信</documentation>
                </annotation>
            </element>
            <element name="receiverSms" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货人短信</documentation>
                </annotation>
            </element>
            <element name="isChangeDestination" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否目的站修改</documentation>
                </annotation>
            </element>
            <element name="needWriteOff" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否需要财务核销</documentation>
                </annotation>
            </element>
            <element name="isChangeWaybillNo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否修改运单号</documentation>
                </annotation>
            </element>
            <element name="isLabourHandle" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否自动核销</documentation>
                </annotation>
            </element>
            <element name="transportFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>中转费</documentation>
                </annotation>
            </element>
            <element name="transportFeeRate" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>中转费费率</documentation>
                </annotation>
            </element>
            <element name="writeOffEmpName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>核销人姓名</documentation>
                </annotation>
            </element>
            <element name="writeOffTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>核销时间</documentation>
                </annotation>
            </element>
            <element name="isEcs" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否悟空快递</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    <complexType name="WaybillFinanceInfo">
       <annotation>
			<documentation>推送的更改单信息（零担 修改前、修改后）</documentation>
		</annotation>
        <sequence>
            <element name="receiveOrgName" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>出发部门名称</documentation>
                </annotation>
            </element>
            <element name="receiveSubsidiaryCode" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>出发子公司编码</documentation>
                </annotation>
            </element>
            <element name="receiveSubsidiaryName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>出发子公司名称</documentation>
                </annotation>
            </element>
            <element name="lastLoadOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达部门名称</documentation>
                </annotation>
            </element>
            <element name="lastLoadSubsidiaryCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达子公司编码</documentation>
                </annotation>
            </element>
            <element name="lastLoadSubsidiaryName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达子公司名称</documentation>
                </annotation>
            </element>
            <element name="collectionOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收款部门编码</documentation>
                </annotation>
            </element>
            <element name="collectionOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收款部门名称</documentation>
                </annotation>
            </element>
            <element name="collectionCompanyCode" type="string" minOccurs="0" maxOccurs="1" >
                <annotation>
                    <documentation>收款部门子公司编码</documentation>
                </annotation>
            </element>
            <element name="collectionCompanyName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收款部门子公司名称</documentation>
                </annotation>
            </element>
            <element name="pickupCentralized" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户名称</documentation>
                </annotation>
            </element>
            <element name="bankHQCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开户行编码</documentation>
                </annotation>
            </element>
            <element name="bankHQName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开户行名称</documentation>
                </annotation>
            </element>
            <element name="bankBranchCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>支行编码（行号）</documentation>
                </annotation>
            </element>
            <element name="bankBranchName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货国家</documentation>
                </annotation>
            </element>
            <element name="provinceCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>省份编码</documentation>
                </annotation>
            </element>
            <element name="provinceName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>省份名称</documentation>
                </annotation>
            </element>
            <element name="cityCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>城市编码</documentation>
                </annotation>
            </element>
            <element name="cityName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>城市名称</documentation>
                </annotation>
            </element>
            <element name="publicPrivateFlag" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>对公对私标志</documentation>
                </annotation>
            </element>
            <element name="payeeRelationship" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收款人与发货人关系</documentation>
                </annotation>
            </element>
            <element name="payeePhone" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收款人手机号码</documentation>
                </annotation>
            </element>
            <element name="posSerialNum" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>POS串号</documentation>
                </annotation>
            </element>
            <element name="batchNo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>银行交易流水号</documentation>
                </annotation>
            </element>
            <element name="isSelfStation" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>结算专用：是否需要查询快递点部（自有的、自有的非外场）</documentation>
                </annotation>
            </element>
            <element name="invoiceMark" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发票标记</documentation>
                </annotation>
            </element>
            <element name="origUnifiedSettlement" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>始发统一结算</documentation>
                </annotation>
            </element>
            <element name="destUnifiedSettlement" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达统一结算</documentation>
                </annotation>
            </element>
            <element name="origContractUnifiedCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>出发统一结算合同部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="destContractUnifiedCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达统一结算合同部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="origUnifiedDuningCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>出发催款部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="destUnifiedDuningCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到达催款部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="contractOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>合同部门编码 </documentation>
                </annotation>
            </element>
            <element name="contractOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>合同部门名称</documentation>
                </annotation>
            </element>
            <element name="receivableOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>应收部门编码 </documentation>
                </annotation>
            </element>
            <element name="receivableOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>应收部门名称</documentation>
                </annotation>
            </element>
            <element name="dunningOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>催款部门编码</documentation>
                </annotation>
            </element>
            <element name="dunningOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>催款部门名称</documentation>
                </annotation>
            </element>
            <element name="businessId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>业务ID-VTS传过来的唯一标识</documentation>
                </annotation>
            </element>
            <element name="oldWaybillNo" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>原运单号：oldWaybillNo 运单多次发更改，取自距离此次更改时间最近的运单单号</documentation>
                </annotation>
            </element>
            <element name="openBillType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>操作类型</documentation>
                </annotation>
            </element>
            <element name="expressEmpCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>快递员工号</documentation>
                </annotation>
            </element>
            <element name="expressEmpName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>快递员姓名</documentation>
                </annotation>
            </element>
            <element name="pdaBillTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>PDA开单时间</documentation>
                </annotation>
            </element>
            <element name="isRedirect" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否转寄</documentation>
                </annotation>
            </element>
            <element name="isRedirectFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>中转费（转寄费）</documentation>
                </annotation>
            </element>
            <element name="prePayAmountCH" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付现金</documentation>
                </annotation>
            </element>
            <element name="prePayAmountCT" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付月结</documentation>
                </annotation>
            </element>
            <element name="sourceSystem" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>来源系统（系统来源于悟空的，不需要校验客户额度）</documentation>
                </annotation>
            </element>
            <element name="redirectPaidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>转寄新单付款方式</documentation>
                </annotation>
            </element>
            <element name="isWrap" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否裹裹运单</documentation>
                </annotation>
            </element>
            <element name="userName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>用户名</documentation>
                </annotation>
            </element>
            <element name="empCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>员工工号</documentation>
                </annotation>
            </element>
            <element name="empName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>员工姓名</documentation>
                </annotation>
            </element>
            <element name="currentDeptCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>当前登录部门编码</documentation>
                </annotation>
            </element>
            <element name="currentDeptName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>当前登录部门名称</documentation>
                </annotation>
            </element>
            
            
            
            
            <element name="billingType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运费计费类型</documentation>
                </annotation>
            </element>
            <element name="unitPrice" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运费计费费率</documentation>
                </annotation>
            </element>
            <element name="transportFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>公布价运费</documentation>
                </annotation>
            </element>
            <element name="valueAddFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>增值费用</documentation>
                </annotation>
            </element>
            <element name="paidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单付款方式</documentation>
                </annotation>
            </element>
            <element name="totalFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>总费用</documentation>
                </annotation>
            </element>
            <element name="createTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>创建时间</documentation>
                </annotation>
            </element>
            <element name="modifyTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>更新时间（业务时间）</documentation>
                </annotation>
            </element>
            <element name="billTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单时间</documentation>
                </annotation>
            </element>
            <element name="createUserCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单人</documentation>
                </annotation>
            </element>
            <element name="modifyUserCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>更新人</documentation>
                </annotation>
            </element>
            <element name="createOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单部门</documentation>
                </annotation>
            </element>
            <element name="modifyOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>更新组织</documentation>
                </annotation>
            </element>
            <element name="refId" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>原运单ID</documentation>
                </annotation>
            </element>
            <element name="refCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>原运单号</documentation>
                </annotation>
            </element>
            <element name="currencyCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>币种</documentation>
                </annotation>
            </element>
            <element name="isWholeVehicle" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否整车运单</documentation>
                </annotation>
            </element>
            <element name="wholeVehicleAppfee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>整车约车报价</documentation>
                </annotation>
            </element>
            <element name="wholeVehicleActualfee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>整车开单报价</documentation>
                </annotation>
            </element>
            <element name="accountName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户名称</documentation>
                </annotation>
            </element>
            <element name="accountCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户账户</documentation>
                </annotation>
            </element>
            <element name="accountBank" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户银行</documentation>
                </annotation>
            </element>
            <element name="billWeight" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>计费重量</documentation>
                </annotation>
            </element>
            <element name="pickupFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>接货费</documentation>
                </annotation>
            </element>
            
            <element name="serviceFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>装卸费</documentation>
                </annotation>
            </element>
            <element name="active" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单状态</documentation>
                </annotation>
            </element>
            <element name="isPassOwnDepartment" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否经过营业部</documentation>
                </annotation>
            </element>
            <element name="createUserName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单提交人姓名</documentation>
                </annotation>
            </element>
            <element name="createUserDeptName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单提交人所在部门名称</documentation>
                </annotation>
            </element>
            <element name="customerPickupOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货网点名称</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    
    
    <!--响应类型定义-->
    <complexType name="WaybillInfoToCUBCResponse">
        <sequence>
        	<element name="id" type="string"  minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>唯一标识ID</documentation>
                </annotation>
            </element>
            <element name="result" type="boolean" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>是否成功</documentation>
                </annotation>
            </element>
            <element name="reason" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>失败原因</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <!--请求bean-->
    <element name="waybillInfoToCUBCRequest" type="tns:WaybillInfoToCUBCRequest"/>
    <!--响应bean-->
    <element name="waybillInfoToCUBCResponse" type="tns:WaybillInfoToCUBCResponse"/>
</schema>