foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/finance/server/foss_fims_syncinvoice_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/inteface/finmanager"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/foss"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/inteface/finmanager" name="foss4finsSyncInvoiceService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/foss">
			<xsd:include schemaLocation="QUERY_WAYBILL_RECEIPT_BASIC.xsd"></xsd:include>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="sysQueryInvoiceBasicRequest">
		<wsdl:part name="sysQueryInvoiceBasicRequest" element="tns_domain:sysQueryInvoiceBasicRequest"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="sysQueryInvoiceBasicResponse">
		<wsdl:part name="sysQueryInvoiceBasicResponse" element="tns_domain:sysQueryInvoiceBasicResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>

	<wsdl:portType name="FossSyncInvoiceService">
		<wsdl:operation name="sysQueryWaybillReceiptBasic">
			<wsdl:documentation>根据运单、小票集合查询运单小票基础数据</wsdl:documentation>
			<wsdl:input message="tns:sysQueryInvoiceBasicRequest" />
			<wsdl:output message="tns:sysQueryInvoiceBasicResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="foss4finsSyncInvoiceServiceSOAP" type="tns:FossSyncInvoiceService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="sysQueryWaybillReceiptBasic">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/finmanager/sysQueryWaybillReceiptBasic" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:sysQueryInvoiceBasicRequest"></soap:header>
				<soap:body use="literal" parts="sysQueryInvoiceBasicRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:sysQueryInvoiceBasicResponse"></soap:header>
				<soap:body use="literal" parts="sysQueryInvoiceBasicResponse" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="foss4finsSyncInvoiceService">
		<wsdl:port binding="tns:foss4finsSyncInvoiceServiceSOAP" name="foss4finsSyncInvoiceServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
