foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/finance/server/foss_finmanager_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/foss/inteface/finmanager"
	xmlns:tns_finance="http://www.deppon.com/esb/inteface/domain/finance"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="foss4FinSelfService"
	targetNamespace="http://www.deppon.com/foss/inteface/finmanager">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/finance">
			<xsd:include schemaLocation="FOSS_QUERY_BADDEBTSARINFO.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_INVOICE_AMOUNT.xsd" />
			<xsd:include schemaLocation="QUERY_LITTLETICKETAMOUNT.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_DEBT.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_STATEMENT.xsd" />
			<xsd:include schemaLocation="FINMANAGER_QUERY_EXDEPT.xsd"></xsd:include>
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="queryInvoiceAmountRequest">
		<wsdl:part element="tns_finance:queryInvoiceAmountRequest"
			name="parameters" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryInvoiceAmountResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finance:queryInvoiceAmountResponse"
			name="parameters" />
	</wsdl:message>

	<wsdl:message name="QueryBadDebtsArInfoRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finance:QueryBadDebtsArInfoRequest"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="QueryBadDebtsArInfoResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finance:QueryBadDebtsArInfoResponse"
			name="parameters" />
	</wsdl:message>
	
	<wsdl:message name="QueryReceiptMoneyRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finance:QueryReceiptMoneyRequest"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="QueryReceiptMoneyResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finance:QueryReceiptMoneyResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="QueryDebtMoneyRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_finance:QueryDebtMoneyRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryDebtMoneyResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_finance:QueryDebtMoneyResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="queryExpressDeptRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_finance:queryExpressDeptRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryExpressDeptResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_finance:queryExpressDeptResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="QueryStatementRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_finance:QueryStatementRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryStatementResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_finance:QueryStatementResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>

	<wsdl:portType name="FossFinmanagerService">
		<wsdl:operation name="queryInvoiceAmount">
			<wsdl:input message="tns:queryInvoiceAmountRequest" />
			<wsdl:output message="tns:queryInvoiceAmountResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="queryBadDebtsArInfo">
			<wsdl:input message="tns:QueryBadDebtsArInfoRequest" />
			<wsdl:output message="tns:QueryBadDebtsArInfoResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryReceiptMoney">
			<wsdl:input message="tns:QueryReceiptMoneyRequest" />
			<wsdl:output message="tns:QueryReceiptMoneyResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="queryDebtMoney">
			<wsdl:documentation>查询部门累计未交帐</wsdl:documentation>
			<wsdl:input message="tns:QueryDebtMoneyRequest"></wsdl:input>
			<wsdl:output message="tns:QueryDebtMoneyResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="queryExpressDept">
			<wsdl:documentation>查询快递点部</wsdl:documentation>
			<wsdl:input message="tns:queryExpressDeptRequest"></wsdl:input>
			<wsdl:output message="tns:queryExpressDeptResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>	
		
		<wsdl:operation name="queryStatementInfo">
			<wsdl:documentation>查询对账单</wsdl:documentation>
			<wsdl:input message="tns:QueryStatementRequest"></wsdl:input>
			<wsdl:output message="tns:QueryStatementResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
			
	</wsdl:portType>

	<wsdl:binding name="foss4FinSelfServiceSOAP" type="tns:FossFinmanagerService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="queryInvoiceAmount">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/finmanager/queryInvoiceAmount" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:queryInvoiceAmountRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:queryInvoiceAmountResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryBadDebtsArInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/finmanager/queryBadDebtsArInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryBadDebtsArInfoRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryBadDebtsArInfoResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryReceiptMoney">
			<soap:operation soapAction="http://www.deppon.com/fossinteface/finmanager/queryReceiptMoney"/>
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryReceiptMoneyRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryReceiptMoneyResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryDebtMoney">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/finmanager/queryDebtMoney" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryDebtMoneyRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryDebtMoneyResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryExpressDept">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/finmanager/queryExpressDept" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:queryExpressDeptRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:queryExpressDeptResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryStatementInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/finmanager/queryStatementInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryStatementRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryStatementResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="foss4FinSelfService">
		<wsdl:port binding="tns:foss4FinSelfServiceSOAP" name="foss4FinSelfServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
