foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/finance/client/ClaimNumService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/fin/module/claimpay/service"
	xmlns:tns_finclaimbill="http://www.deppon.com/fin/module/claimpay/shared/domain"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="FinClaimNumServiceService" targetNamespace="http://www.deppon.com/fin/module/claimpay/service">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.deppon.com/fin/module/claimpay/shared/domain">
      <xsd:include schemaLocation="FINMANAGER_OBTAIN_NUMBER.xsd" />
      <xsd:include schemaLocation="FINMANAGER_QUERY_TRANSFER.xsd" />
	  <xsd:include schemaLocation="FINMANAGER_RELEASE_NUMBER.xsd" />
    </xsd:schema>
    <xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
		<xsd:include schemaLocation="CommonException.xsd" />
	</xsd:schema>
	<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
		<xsd:include schemaLocation="ESBHeader.xsd" />
	</xsd:schema>
    
  </wsdl:types>
  <wsdl:message name="releaseClaimNumRequest">
  <wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finclaimbill:releaseClaimNumRequest" name="parameters" />
	</wsdl:message>
  <wsdl:message name="releaseClaimNumResponse">
  <wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	<wsdl:part element="tns_finclaimbill:releaseClaimNumResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="obtainClaimNumRequest">
  <wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finclaimbill:obtainClaimNumRequest" name="parameters" />
	</wsdl:message>
  <wsdl:message name="obtainClaimNumResponse">
  <wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	<wsdl:part element="tns_finclaimbill:obtainClaimNumResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="queryTransFerRequest">
  		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finclaimbill:queryTransFerRequest" name="parameters" />
  </wsdl:message>
  <wsdl:message name="queryTransFerResponse">
  		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_finclaimbill:queryTransFerResponse" name="parameters" />
  </wsdl:message>
  <wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
  </wsdl:message>
  <wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
  </wsdl:message>
  <wsdl:portType name="IFinClaimNumService">
		<wsdl:operation name="obtainClaimNum">
			<wsdl:input message="tns:obtainClaimNumRequest" />
			<wsdl:output message="tns:obtainClaimNumResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="releaseClaimNum">
			<wsdl:input message="tns:releaseClaimNumRequest" />
			<wsdl:output message="tns:releaseClaimNumResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryTransFer">
			<wsdl:input message="tns:queryTransFerRequest" />
			<wsdl:output message="tns:queryTransFerResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
  </wsdl:portType>
	
  <wsdl:binding name="IFinClaimNumServiceSOAPBinding" type="tns:IFinClaimNumService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="obtainClaimNum">
			<soap:operation
				soapAction="http://www.deppon.com/fin/module/claimpay/service/finClaimNumService/obtainClaimNum" />
			<wsdl:input>
			<soap:header use="literal" part="esbHeader" message="tns:obtainClaimNumRequest"></soap:header>
			<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
			    <soap:header use="literal" part="esbHeader" message="tns:obtainClaimNumResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="releaseClaimNum">
			<soap:operation
				soapAction="http://www.deppon.com/fin/module/claimpay/service/finClaimNumService/releaseClaimNum" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:releaseClaimNumRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:releaseClaimNumResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryTransFer">
			<soap:operation
				soapAction="http://www.deppon.com/fin/module/claimpay/service/finClaimNumService/queryTransFer" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:queryTransFerRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:queryTransFerResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="IFinClaimNumServiceService">
		<wsdl:port binding="tns:IFinClaimNumServiceSOAPBinding" name="IFinClaimNumServicePort">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
