foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/finance/client/FossToFimsService.wsdl

<wsdl:definitions xmlns:ns1="http://www.deppon.com/esb/header"
	xmlns:ns2="http://www.deppon.com/esb/exception" xmlns:ns3="http://schemas.xmlsoap.org/soap/http"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.deppon.com/fims/inter/foss/service"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="FossToFimsServiceService" targetNamespace="http://www.deppon.com/fims/inter/foss/service">
	<wsdl:types>
		<xs:schema xmlns:tns="http://www.deppon.com/fims/inter/foss/service"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
			elementFormDefault="unqualified" targetNamespace="http://www.deppon.com/fims/inter/foss/service">
			<xs:element name="QuotaMark" type="tns:QuotaMarkReq" />
			<xs:complexType name="QuotaMarkReq">
				<xs:sequence>
					<xs:element name="amount" type="xs:string" />
					<xs:element name="empcode" type="xs:string" />					
					<xs:element maxOccurs="unbounded" minOccurs="0"	name="smallTickets" nillable="true" type="tns:Waybill" />					
					<xs:element maxOccurs="unbounded" name="waybills" type="tns:Waybill" />					
					<xs:element name="billDept" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="Waybill">
				<xs:sequence>
					<xs:element name="wayBillNo" type="xs:string" />
					<xs:element name="otherRevenueNo" type="xs:string" />
					<xs:element name="businessType" type="xs:string" />
					<xs:element name="invoiceMark" type="xs:string" />
					<xs:element name="prePayAmount" type="xs:decimal" />
					<xs:element name="toPayAmount" type="xs:decimal" />
					<xs:element name="rereceiveCustomerCode" type="xs:string" />
					<xs:element name="deliverCustomerCode" type="xs:string" />
					<xs:element name="customerName" type="xs:string" />
					<xs:element name="receiveOrgCode" type="xs:string" />
					<xs:element name="descOrgCode" type="xs:string" />
					<xs:element name="billTime" type="xs:dateTime" />
					<xs:element name="transferLine" type="xs:string" />
					<xs:element name="receiveDunningDeptCode" type="xs:string" />
					<xs:element name="descDunningDeptCode" type="xs:string" />
					<xs:element name="receiveContractDeptCode" type="xs:string" />
					<xs:element name="descContractDeptCode" type="xs:string" />					
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="QuotaMarkRes">
				<xs:sequence>
					<xs:element name="isSucess" type="xs:boolean" />
					<xs:element minOccurs="0" name="failReason" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="QuotaReq">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" name="invoiceTicket"
						type="xs:string" />
					<xs:element maxOccurs="unbounded" minOccurs="0"
						name="smallTicket" nillable="true" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="QuotaRes">
				<xs:sequence>
					<xs:element minOccurs="0" name="rereceiveAmount" type="xs:decimal" />
					<xs:element minOccurs="0" name="descAmount" type="xs:decimal" />
					<xs:element minOccurs="0" name="otherAmount" type="xs:decimal" />
				</xs:sequence>
			</xs:complexType>
			<xs:element name="QuotaMarkReq" nillable="true"
				type="tns:QuotaMarkReq" />
			<xs:element name="QuotaMarkRes" nillable="true"
				type="tns:QuotaMarkRes" />
			<xs:element name="QuotaReq" nillable="true" type="tns:QuotaReq" />
			<xs:element name="QuotaRes" nillable="true" type="tns:QuotaRes" />
		</xs:schema>
		<xs:schema xmlns:tns="http://www.deppon.com/esb/header"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://www.deppon.com/esb/header" version="1.0">
			<xs:element name="esbHeader" type="tns:ESBHeader" />
			<xs:complexType name="ESBHeader">
				<xs:sequence>
					<xs:element name="version" type="xs:string" />
					<xs:element name="businessId" type="xs:string" />
					<xs:element minOccurs="0" name="businessDesc1" type="xs:string" />
					<xs:element minOccurs="0" name="businessDesc2" type="xs:string" />
					<xs:element minOccurs="0" name="businessDesc3" type="xs:string" />
					<xs:element name="requestId" type="xs:string" />
					<xs:element minOccurs="0" name="responseId" type="xs:string" />
					<xs:element name="sourceSystem" type="xs:string" />
					<xs:element minOccurs="0" name="targetSystem" type="xs:string" />
					<xs:element name="esbServiceCode" type="xs:string" />
					<xs:element minOccurs="0" name="backServiceCode" type="xs:string" />
					<xs:element minOccurs="0" name="messageFormat" type="xs:string" />
					<xs:element minOccurs="0" name="exchangePattern" type="xs:int" />
					<xs:element minOccurs="0" name="sentSequence" type="xs:int" />
					<xs:element minOccurs="0" name="resultCode" type="xs:int" />
					<xs:element minOccurs="0" name="authentication" type="tns:AuthInfo" />
					<xs:element minOccurs="0" name="statusList" type="tns:StatusList" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="AuthInfo">
				<xs:sequence>
					<xs:element name="username" type="xs:string" />
					<xs:element name="password" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="StatusList">
				<xs:sequence>
					<xs:element maxOccurs="unbounded" minOccurs="0" name="statusInfo"
						nillable="true" type="tns:StatusInfo" />
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="StatusInfo">
				<xs:sequence>
					<xs:element minOccurs="0" name="statusId" type="xs:string" />
					<xs:element name="timeStamp" type="xs:long" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
		<xs:schema xmlns:tns="http://www.deppon.com/esb/exception"
			xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
			targetNamespace="http://www.deppon.com/esb/exception" version="1.0">
			<xs:element name="commonExceptionInfo" type="tns:CommonExceptionInfo" />
			<xs:complexType name="CommonExceptionInfo">
				<xs:sequence>
					<xs:element name="exceptioncode" type="xs:string" />
					<xs:element name="exceptiontype" type="xs:string" />
					<xs:element name="message" type="xs:string" />
					<xs:element name="createdTime" type="xs:dateTime" />
					<xs:element name="detailedInfo" type="xs:string" />
				</xs:sequence>
			</xs:complexType>
		</xs:schema>
	</wsdl:types>
	<wsdl:message name="QuotaRegist">
		<wsdl:part element="tns:QuotaMarkReq" name="request"></wsdl:part>
		<wsdl:part element="ns1:esbHeader" name="esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QuotaRegistResponse">
		<wsdl:part element="tns:QuotaMarkRes" name="response"></wsdl:part>
		<wsdl:part element="ns1:esbHeader" name="esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="invoice">
		<wsdl:part element="tns:QuotaReq" name="request"></wsdl:part>
		<wsdl:part element="ns1:esbHeader" name="esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="invoiceResponse">
		<wsdl:part element="tns:QuotaRes" name="response"></wsdl:part>
		<wsdl:part element="ns1:esbHeader" name="esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="CommException">
		<wsdl:part element="ns2:commonExceptionInfo" name="CommException"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="FossToFimsService">
		<wsdl:operation name="QuotaRegist" parameterOrder="request esbHeader">
			<wsdl:input message="tns:QuotaRegist" name="QuotaRegist"></wsdl:input>
			<wsdl:output message="tns:QuotaRegistResponse" name="QuotaRegistResponse"></wsdl:output>
			<wsdl:fault message="tns:CommException" name="CommException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="invoice" parameterOrder="request esbHeader">
			<wsdl:input message="tns:invoice" name="invoice"></wsdl:input>
			<wsdl:output message="tns:invoiceResponse" name="invoiceResponse"></wsdl:output>
			<wsdl:fault message="tns:CommException" name="CommException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="FossToFimsServiceServiceSoapBinding"
		type="tns:FossToFimsService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="QuotaRegist">
			<soap:operation
				soapAction="http://www.deppon.com/fims/inter/foss/service/QuotaRegist"
				style="document" />
			<wsdl:input name="QuotaRegist">
				<soap:header message="tns:QuotaRegist" part="esbHeader"
					use="literal"></soap:header>
				<soap:body parts="request" use="literal" />
			</wsdl:input>
			<wsdl:output name="QuotaRegistResponse">
				<soap:header message="tns:QuotaRegistResponse" part="esbHeader"
					use="literal"></soap:header>
				<soap:body parts="response" use="literal" />
			</wsdl:output>
			<wsdl:fault name="CommException">
				<soap:fault name="CommException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="invoice">
			<soap:operation
				soapAction="http://www.deppon.com/fims/inter/foss/service/invoice"
				style="document" />
			<wsdl:input name="invoice">
				<soap:header message="tns:invoice" part="esbHeader" use="literal"></soap:header>
				<soap:body parts="request" use="literal" />
			</wsdl:input>
			<wsdl:output name="invoiceResponse">
				<soap:header message="tns:invoiceResponse" part="esbHeader"
					use="literal"></soap:header>
				<soap:body parts="response" use="literal" />
			</wsdl:output>
			<wsdl:fault name="CommException">
				<soap:fault name="CommException" use="literal" />
			</wsdl:fault>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="FossToFimsServiceService">
		<wsdl:port binding="tns:FossToFimsServiceServiceSoapBinding"
			name="FossToFimsServicePort">
			<soap:address
				location="http://10.224.66.47:8080/FIMS-Interfaces/webservice/FossToFimsService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>