foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/bho/server/AccountService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/accountService" xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/accounting"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/accountService" name="AccountService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/accounting">
			<xsd:include schemaLocation="FOSS_QUERY_ACCTINFO.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_ACCTDETAIL.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_ARINFO.xsd" />
			<xsd:include schemaLocation="FOSS_LOCK_ACCTBILL.xsd" />
			<xsd:include schemaLocation="FOSS_LOCK_ARBILL.xsd" />
			<xsd:include schemaLocation="FOSS_PAY_ACCTBILL.xsd" />
			<xsd:include schemaLocation="FOSS_PAY_ARBILL.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_REFUND.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_WAYBILLINFOS.xsd" />
			<xsd:include schemaLocation="FOSS_CHANGEORDER_APPLY.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_FREIGHT_ROUTE_INFO.xsd" />
			<xsd:include schemaLocation="FOSS_QUERYEXIST_WAYBILLNO_INFO.xsd" />
			<xsd:include schemaLocation="FOSS_APP_WAYBILLINFOS.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_EWAYBILL_INFOS.xsd" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="GetAccountStatementRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:getAccountStatementRequest"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="GetAccountStatementResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:getAccountStatementResponse"
			name="payload" />
	</wsdl:message>

	<wsdl:message name="GetAccountStatementDetailRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:getAccountStatementDetailRequest"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="GetAccountStatementDetailResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:getAccountStatementDetailResponse"
			name="payload" />
	</wsdl:message>

	<wsdl:message name="GetUnWriteoffReceivableBillRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:getUnWriteoffReceivableBillRequest"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="GetUnWriteoffReceivableBillResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:getUnWriteoffReceivableBillResponse"
			name="payload" />
	</wsdl:message>

	<wsdl:message name="LockStatementOfAccountRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:lockStatementOfAccountRequest"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="LockStatementOfAccountResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:lockStatementOfAccountResponse"
			name="payload" />
	</wsdl:message>

	<wsdl:message name="LockReceivableBillRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:lockReceivableBillRequest"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="LockReceivableBillResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:lockReceivableBillResponse"
			name="payload" />
	</wsdl:message>

	<wsdl:message name="RepaymentByStatementOfAccountRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:repaymentByStatementOfAccountRequest"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="RepaymentByStatementOfAccountResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:repaymentByStatementOfAccountResponse"
			name="payload" />
	</wsdl:message>

	<wsdl:message name="RepaymentByReceivableBillRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:repaymentByReceivableBillRequest"
			name="payload" />
	</wsdl:message>
	<wsdl:message name="RepaymentByReceivableBillResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:repaymentByReceivableBillResponse"
			name="payload" />
	</wsdl:message>

	<wsdl:message name="GetRefundRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:getRefundRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="GetRefundResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:getRefundResponse" name="payload" />
	</wsdl:message>

	<wsdl:message name="QueryWaybillInfosRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryWaybillInfosRequest"
			name="request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryWaybillInfosResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryWaybillInfosResponse"
			name="response"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="QueryAppWaybillInfosRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryAppWaybillInfosRequest"
			name="request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryAppWaybillInfosResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryAppWaybillInfosResponse"
			name="response"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	<!-- 申请更改单 -->
	<wsdl:message name="ApplyChangeOrderRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:ApplyChangeOrderRequest"
			name="request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="ApplyChangeOrderResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:ApplyChangeOrderResponse"
			name="response"></wsdl:part>
	</wsdl:message>

	<!-- 查询走货路径信息 -->
	<wsdl:message name="QueryFreightRouteInfoRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryFreightRouteInfoRequest"  name="request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryFreightRouteInfoResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryFreightRouteInfoResponse" name="response"></wsdl:part>
	</wsdl:message>

	<!-- 是否运单存在 -->
	<wsdl:message name="QueryExistWaybillNoInfoRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="request" element="tns_domain:queryExistWaybillNoInfoRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryExistWaybillNoInfoResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="response" element="tns_domain:queryExistWaybillNoInfoResponse"></wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="QueryEWaybillInfosRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryEWaybillInfosRequest"
			name="request"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="QueryEWaybillInfosResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryEWaybillInfosResponse"
			name="response"></wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="AccountService">
		<wsdl:operation name="getAccountInfo">
			<wsdl:input message="tns:GetAccountStatementRequest" />
			<wsdl:output message="tns:GetAccountStatementResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>

		</wsdl:operation>

		<wsdl:operation name="getAccountDetailInfo">
			<wsdl:input message="tns:GetAccountStatementDetailRequest" />
			<wsdl:output message="tns:GetAccountStatementDetailResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getUnWriteoffReceivableBillInfo">
			<wsdl:input message="tns:GetUnWriteoffReceivableBillRequest" />
			<wsdl:output message="tns:GetUnWriteoffReceivableBillResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="lockAccountInfo">
			<wsdl:input message="tns:LockStatementOfAccountRequest" />
			<wsdl:output message="tns:LockStatementOfAccountResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="lockReceivableBill">
			<wsdl:input message="tns:LockReceivableBillRequest" />
			<wsdl:output message="tns:LockReceivableBillResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="repaymentByAccountInfo">
			<wsdl:input message="tns:RepaymentByStatementOfAccountRequest" />
			<wsdl:output message="tns:RepaymentByStatementOfAccountResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="repaymentByReceivableBill">
			<wsdl:input message="tns:RepaymentByReceivableBillRequest" />
			<wsdl:output message="tns:RepaymentByReceivableBillResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="getRefundInfo">
			<wsdl:input message="tns:GetRefundRequest" />
			<wsdl:output message="tns:GetRefundResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="queryWaybillInfos">
			<wsdl:documentation>查询我的发货单接口：FOSS_QUERY_WAYBILLS
			</wsdl:documentation>
			<wsdl:input message="tns:QueryWaybillInfosRequest"></wsdl:input>
			<wsdl:output message="tns:QueryWaybillInfosResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="queryAppWaybillInfos">
			<wsdl:documentation>APP查询我的发货单接口：FOSS_APP_WAYBILLS
			</wsdl:documentation>
			<wsdl:input message="tns:QueryAppWaybillInfosRequest"></wsdl:input>
			<wsdl:output message="tns:QueryAppWaybillInfosResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="applyChangeOrder">
			<wsdl:documentation>申请更改单</wsdl:documentation>
			<wsdl:input message="tns:ApplyChangeOrderRequest"></wsdl:input>
			<wsdl:output message="tns:ApplyChangeOrderResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		
		<wsdl:operation name="queryFreightRouteInfo">
			<wsdl:documentation>查询走货路径信息</wsdl:documentation>
			<wsdl:input message="tns:QueryFreightRouteInfoRequest"></wsdl:input>
			<wsdl:output message="tns:QueryFreightRouteInfoResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="queryExistWaybillNoInfo">
			<wsdl:documentation>是否运单存在</wsdl:documentation>
			<wsdl:input message="tns:QueryExistWaybillNoInfoRequest"></wsdl:input>
			<wsdl:output message="tns:QueryExistWaybillNoInfoResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryEWaybillInfos">
			<wsdl:documentation>查询电子电子运单：FOSS_QUERY_EWAYBILL_INFOS
			</wsdl:documentation>
			<wsdl:input message="tns:QueryEWaybillInfosRequest"></wsdl:input>
			<wsdl:output message="tns:QueryEWaybillInfosResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="AccountServiceSOAP" type="tns:AccountService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="getAccountInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/getAccountInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:GetAccountStatementRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:GetAccountStatementResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getAccountDetailInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/getAccountDetailInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:GetAccountStatementDetailRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:GetAccountStatementDetailResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getUnWriteoffReceivableBillInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/getUnWriteoffReceivableBillInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:GetUnWriteoffReceivableBillRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:GetUnWriteoffReceivableBillResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="lockAccountInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/getAccountInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:LockStatementOfAccountRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:LockStatementOfAccountResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="lockReceivableBill">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/getAccountInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:LockReceivableBillRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:LockReceivableBillResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="repaymentByAccountInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/getAccountInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:RepaymentByStatementOfAccountRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:RepaymentByStatementOfAccountResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="repaymentByReceivableBill">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/getAccountInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:RepaymentByReceivableBillRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:RepaymentByReceivableBillResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="getRefundInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/getRefundInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:GetRefundRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:GetRefundResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="queryWaybillInfos">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/queryWaybillInfos" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryWaybillInfosRequest"></soap:header>
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryWaybillInfosResponse"></soap:header>
				<soap:body use="literal" parts="response" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryAppWaybillInfos">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/queryAppWaybillInfos" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryAppWaybillInfosRequest"></soap:header>
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryAppWaybillInfosResponse"></soap:header>
				<soap:body use="literal" parts="response" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="applyChangeOrder">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/applyChangeOrder" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:ApplyChangeOrderRequest"></soap:header>
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:ApplyChangeOrderResponse"></soap:header>
				<soap:body use="literal" parts="response" />
			</wsdl:output>
		</wsdl:operation>
		

		<wsdl:operation name="queryFreightRouteInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/queryFreightRouteInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryFreightRouteInfoRequest"></soap:header>
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryFreightRouteInfoResponse"></soap:header>
				<soap:body use="literal" parts="response" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryExistWaybillNoInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/queryExistWaybillNoInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryExistWaybillNoInfoRequest"></soap:header>
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryExistWaybillNoInfoResponse"></soap:header>
				<soap:body use="literal" parts="response" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryEWaybillInfos">
			<soap:operation
				soapAction="http://www.deppon.com/foss/accountService/queryEWaybillInfos" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryEWaybillInfosRequest"></soap:header>
				<soap:body use="literal" parts="request" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:QueryEWaybillInfosResponse"></soap:header>
				<soap:body use="literal" parts="response" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="AccountService">
		<wsdl:port binding="tns:AccountServiceSOAP" name="AccountServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
