foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/bho/server/foss_cc_query_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/inteface/ccmanagerService" xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/ccmanager"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/inteface/ccmanagerService" name="CcmanagerServiceImpl">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/ccmanager">
			<xsd:include schemaLocation="FOSS_QUERY_COD.xsd" />
			<xsd:include schemaLocation="FOSS_LANGUAGE_QUERY_COD.xsd" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="LanguageQueryCodRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:languageQueryCodRequest" name="languageQueryCodRequest" />
	</wsdl:message>
	<wsdl:message name="LanguageQueryCodResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:languageQueryCodResponse" name="languageQueryCodResponse" />
	</wsdl:message>
	
	<wsdl:message name="QueryCodRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryCodRequest" name="queryCodRequest" />
	</wsdl:message>
	<wsdl:message name="QueryCodResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:queryCodResponse" name="queryCodResponse" />
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	
	<wsdl:portType name="CcmanagerService">
		<wsdl:operation name="languageQueryCodInfo">
			<wsdl:documentation>语言查询代收货款信息</wsdl:documentation>
			<wsdl:input message="tns:LanguageQueryCodRequest" />
			<wsdl:output message="tns:LanguageQueryCodResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>	
		<wsdl:operation name="queryCodInfo">
			<wsdl:documentation>查询代收货款信息</wsdl:documentation>
			<wsdl:input message="tns:QueryCodRequest" />
			<wsdl:output message="tns:QueryCodResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>	
	</wsdl:portType>

	<wsdl:binding name="CcmanagerServiceSOAP" type="tns:CcmanagerService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="languageQueryCodInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/ccmanagerService/languageQueryCodInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:LanguageQueryCodRequest"></soap:header>
				<soap:body use="literal" parts="languageQueryCodRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:LanguageQueryCodResponse"></soap:header>
				<soap:body use="literal" parts="languageQueryCodResponse" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryCodInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/ccmanagerService/queryCodInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryCodRequest"></soap:header>
				<soap:body use="literal" parts="queryCodRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryCodResponse"></soap:header>
				<soap:body use="literal" parts="queryCodResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>


	<wsdl:service name="CcmanagerServiceImpl">
		<wsdl:port binding="tns:CcmanagerServiceSOAP" name="CcmanagerServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
