foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/bho/server/FOSS_QUERY_WAYBILLINFOS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.deppon.com/esb/inteface/domain/accounting"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/accounting"
	elementFormDefault="qualified">

	<element name="queryWaybillInfosRequest" type="tns:QueryWaybillInfosRequest" />
	<element name="queryWaybillInfosResponse" type="tns:QueryWaybillInfosResponse" />
	<complexType name="QueryWaybillInfosRequest">
		<sequence>
			<element name="name" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>用户名</documentation>
				</annotation>
			</element>
			<element name="linkmanId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>联系人ID</documentation>
				</annotation>
			</element>
			<element name="waybillNum" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="consigneeName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收货人姓名</documentation>
				</annotation>
			</element>
			<element name="goodsName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>
			<element name="startDate" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>开始时间</documentation>
				</annotation>
			</element>
			<element name="endDate" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>截止时间</documentation>
				</annotation>
			</element>
			<element name="payWay" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>付款方式(1、现金；2、到付；3、月结；4、银行卡；5、临时欠款)</documentation>
				</annotation>
			</element>
			<element name="status" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>物流状态(1、库存中；2、在途运输；3、正常签收；4、异常签收)</documentation>
				</annotation>
			</element>
			<element name="pageNum" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>页号</documentation>
				</annotation>
			</element>
			<element name="pageSize" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>每页大小</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="WayBillDetailInfo">
		<sequence>
			<element name="waybillNum" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="orderNum" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>订单号</documentation>
				</annotation>
			</element>
			<element name="sendDate" type="dateTime" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>发货时间</documentation>
				</annotation>
			</element>
			<element name="departureName" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>发货网点名称</documentation>
				</annotation>
			</element>
			<element name="departureAddress" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>发货网点地址</documentation>
				</annotation>
			</element>
			<element name="departuretel" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>发货网点电话</documentation>
				</annotation>
			</element>
			<element name="departure" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>始发站</documentation>
				</annotation>
			</element>
			<element name="shipperName" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>发货人姓名</documentation>
				</annotation>
			</element>
			<element name="shippertel" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>发货人电话</documentation>
				</annotation>
			</element>
			<element name="shipperMobile" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>发货人手机</documentation>
				</annotation>
			</element>
			<element name="shipperAddress" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>发货地址</documentation>
				</annotation>
			</element>
			<element name="shipperAddressNote" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>发货地址备注</documentation>
				</annotation>
			</element>
			<element name="consigneeName" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>收货人姓名</documentation>
				</annotation>
			</element>
			<element name="consigneetel" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>收货人电话</documentation>
				</annotation>
			</element>
			<element name="consigneeMobile" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>收货人手机</documentation>
				</annotation>
			</element>
			<element name="consigneeAddress" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>收货地址</documentation>
				</annotation>
			</element>
			<element name="consigneeAddressNote" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>收货地址</documentation>
				</annotation>
			</element>
			<element name="goodsName" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>
			<element name="weight" type="float" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>货物重量</documentation>
				</annotation>
			</element>
			<element name="cubage" type="float" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>货物体积</documentation>
				</annotation>
			</element>
			<element name="pieces" type="int" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>货物件数</documentation>
				</annotation>
			</element>
			<element name="packing" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>货物包装</documentation>
				</annotation>
			</element>
			<element name="transProperties" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>运输性质（即产品类型）</documentation>
				</annotation>
			</element>
			<element name="deliveryMode" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>送货方式</documentation>
				</annotation>
			</element>
			<element name="payWay" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>付款方式(1、现金；2、到付；3、月结；4、银行卡；5、临时欠款)</documentation>
				</annotation>
			</element>
			<element name="insurance" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>保价申明</documentation>
				</annotation>
			</element>
			<element name="insuranceFee" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>保价手续费</documentation>
				</annotation>
			</element>
			<element name="refundType" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>代收货款类型</documentation>
				</annotation>
			</element>
			<element name="refund" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
			</element>
			<element name="refundFee" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>代收货款手续费</documentation>
				</annotation>
			</element>
			<element name="tranCharge" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>运输费用</documentation>
				</annotation>
			</element>
			<element name="deliveryCharge" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>送货费用</documentation>
				</annotation>
			</element>
			<element name="receiveCharge" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>接货费用</documentation>
				</annotation>
			</element>
			<element name="packingCharge" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>包装费用</documentation>
				</annotation>
			</element>
			<element name="totalCharge" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>总费用（预付款费用+到达费用）</documentation>
				</annotation>
			</element>
			<element name="otherCharge" type="decimal" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>其他费用</documentation>
				</annotation>
			</element>
			<element name="returnBillType" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>签收单返还方式1:'客户签收单原件返回',2:'客户签收单传真返回',3:'运单签收联原件返回',4:'运单签收联传真返回'，5:’无需签单’</documentation>
				</annotation>
			</element>
			<element name="transDesc" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>托运备注（储运事项）</documentation>
				</annotation>
			</element>
			<element name="wayBillState" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>运单状态（与FOSS的状态信息一致，由网站再做处理：库存中、XX部门-XX部门在途运输、派送中、正常签收/异常签收）</documentation>
				</annotation>
			</element>
			<element name="signedDate" type="dateTime" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>签收时间(运单的签收时间，若未签收则为空)</documentation>
				</annotation>
			</element>
			<element name="destination" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>目的站(城市名字)</documentation>
				</annotation>
			</element>
			<element name="stationName" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>提货网点名称</documentation>
				</annotation>
			</element>
			<element name="stationaddress" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>提货网点地址</documentation>
				</annotation>
			</element>
			<element name="stationtel" type="string" minOccurs="1"	maxOccurs="1">
				<annotation>
					<documentation>提货网点电话</documentation>
				</annotation>
			</element>
			<element name="departureFax" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>出发部门传真</documentation>
				</annotation>
			</element>
			<element name="destinationFax" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>到达部门传真</documentation>
				</annotation>
			</element>
			<!--
				@author:218371-foss-zhaoyanjun
				@date:2014-10-28下午17:48
			 -->
			<element name="ifEInvoice" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>是否电子发票</documentation>
				</annotation>
			</element>
			<!--
				@author:218371-foss-zhaoyanjun
				@date:2014-10-28下午17:48
			 -->
			<element name="invoicePhone" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>电子发票手机</documentation>
				</annotation>
			</element>
			<!--
				@author:218371-foss-zhaoyanjun
				@date:2014-10-28下午17:48
			 -->
			<element name="invoiceMail" type="string" minOccurs="0"	maxOccurs="1">
				<annotation>
					<documentation>电子发票邮箱</documentation>
				</annotation>
			</element>
			
		</sequence>
	</complexType>

	<complexType name="QueryWaybillInfosResponse">
		<sequence>
			<element name="count" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>总条数</documentation>
				</annotation>
			</element>
			<element name="wayBillList" type="tns:WayBillDetailInfo" minOccurs="1"
				maxOccurs="unbounded">
				<annotation>
					<documentation>运单集合信息</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
</schema>