foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/price/BillCalculateService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/billCaculateService" xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/billCaculateService"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/billCaculateService" name="billCaculateService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/billCaculateService">
			<xsd:include schemaLocation="QUERY_BILL_CALCULATE.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="QueryGuiBillPriceRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryGuiBillPriceRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="QueryGuiBillPriceResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryGuiBillPriceResponse" name="response" />
	</wsdl:message>

	<wsdl:message name="QueryGuiExpressBillPriceeRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryGuiExpressBillPriceeRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="QueryGuiExpressBillPriceResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryGuiExpressBillPriceResponse" name="response" />
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>

	<wsdl:portType name="BillCaculateService">
		<wsdl:operation name="queryGuiBillPrice">
			<wsdl:input message="tns:QueryGuiBillPriceRequest" />
			<wsdl:output message="tns:QueryGuiBillPriceResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="queryGuiExpressBillPrice">
			<wsdl:input message="tns:QueryGuiExpressBillPriceeRequest" />
			<wsdl:output message="tns:QueryGuiExpressBillPriceResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="BillCaculateServiceSOAP" type="tns:BillCaculateService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryGuiBillPrice">
			<soap:operation
				soapAction="http://www.deppon.com/foss/billCaculateService/queryGuiBillPrice" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryGuiBillPriceRequest"></soap:header>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryGuiBillPriceResponse"></soap:header>
				<soap:body use="literal" parts="response"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="queryGuiExpressBillPrice">
			<soap:operation
				soapAction="http://www.deppon.com/foss/billCaculateService/queryGuiExpressBillPrice" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryGuiExpressBillPriceeRequest"></soap:header>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryGuiExpressBillPriceResponse"></soap:header>
				<soap:body use="literal" parts="response"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BillCaculateService">
		<wsdl:port binding="tns:BillCaculateServiceSOAP" name="BillCaculateServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
