foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/price/QueryProductService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/productService" xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/productService"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/productService" name="productService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/productService">
			<xsd:include schemaLocation="QUERY_PRODUCT_AGING.xsd" />
			<xsd:include schemaLocation="QUERY_PRODUCT_PRICE.xsd" />
			<xsd:include schemaLocation="QUERY_PRODUCT_PUBLISHPRICE.xsd"></xsd:include>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="QueryAgingRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryAgingRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="QueryAgingResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryAgingResponse" name="response" />
	</wsdl:message>


	<wsdl:message name="QueryPriceRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryPriceRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="QueryPriceResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryPriceResponse" name="response" />
	</wsdl:message>
	
	<wsdl:message name="QueryPublishPriceRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryPublishPriceRequest" name="request" />
	</wsdl:message>
	<wsdl:message name="QueryPublishPriceResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
		<wsdl:part element="tns_domain:QueryPublishPriceResponse" name="response" />
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>

	<wsdl:portType name="ProductService">
		<wsdl:operation name="queryAging">
			<wsdl:input message="tns:QueryAgingRequest" />
			<wsdl:output message="tns:QueryAgingResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="queryPrice">
			<wsdl:input message="tns:QueryPriceRequest" />
			<wsdl:output message="tns:QueryPriceResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryPublishPrice">
			<wsdl:input message="tns:QueryPublishPriceRequest" />
			<wsdl:output message="tns:QueryPublishPriceResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="ProductServiceSOAP" type="tns:ProductService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryAging">
			<soap:operation
				soapAction="http://www.deppon.com/foss/productService/queryAging" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryAgingRequest"></soap:header>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryAgingResponse"></soap:header>
				<soap:body use="literal" parts="response"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="queryPrice">
			<soap:operation
				soapAction="http://www.deppon.com/foss/productService/queryPrice" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPriceRequest"></soap:header>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPriceResponse"></soap:header>
				<soap:body use="literal" parts="response"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryPublishPrice">
			<soap:operation
				soapAction="http://www.deppon.com/foss/productService/queryPublishPrice" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPublishPriceRequest"></soap:header>
				<soap:body use="literal" parts="request"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPublishPriceResponse"></soap:header>
				<soap:body use="literal" parts="response"/>
			</wsdl:output>
		</wsdl:operation>
	
	</wsdl:binding>
	<wsdl:service name="ProductService">
		<wsdl:port binding="tns:ProductServiceSOAP" name="ProductServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
