foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/price/QUERY_BILL_CALCULATE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/billCaculateService"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/billCaculateService"
	elementFormDefault="qualified">
	<!-- 产品价格计算返回参数-->
	<complexType name="QueryGuiBillPriceResponse">
    	<sequence>
      		<element name="billPriceList" maxOccurs="unbounded" minOccurs="1" type="tns:WsGuiResultBillCalculateDto">
      			<annotation>
					<documentation>计算结果信息列表</documentation>
				</annotation>
      		</element>
      		<element name="totalFee" maxOccurs="1" minOccurs="0" type="decimal">
      			<annotation>
					<documentation>总运费</documentation>
				</annotation>
      		</element>
      		<element name="success" maxOccurs="1" minOccurs="1" type="string">
      			<annotation>
					<documentation>成功标志</documentation>
				</annotation>
      		</element>
      		<element name="msg" maxOccurs="1" minOccurs="0" type="string">
      			<annotation>
					<documentation>异常消息</documentation>
				</annotation>
      		</element>
    	</sequence>
  	</complexType>
  	<!--  -->
    <complexType name="WsGuiQueryBillCalculateDto">
    	<sequence>
      		<element minOccurs="0" name="allNet" type="string">
      			<annotation>
					<documentation>全网点</documentation>
				</annotation>
      		</element>
      		<element minOccurs="0" name="arrvRegionId" type="string">
      			<annotation>
					<documentation>到达区域ID</documentation>
				</annotation>
      		</element>
      		<element minOccurs="0" name="users" type="string">
      			<annotation>
					<documentation>该接口的使用者(官网：OWS CC:CC)</documentation>
				</annotation>
      		</element>
      		<element minOccurs="0" name="startCountyCode" type="string">
      			<annotation>
					<documentation>出发区县code(目前官网使用)</documentation>
				</annotation>
      		</element>
      		<element minOccurs="0" name="startCityCode" type="string">
      			<annotation>
					<documentation>出发城市code(目前官网使用)</documentation>
				</annotation>
      		</element>
      		<element minOccurs="0" name="startProvCode" type="string">
      			<annotation>
					<documentation>出发省份code(目前官网使用)</documentation>
				</annotation>
      		</element>
      		<element minOccurs="0" name="arriveCountyCode" type="string">
      			<annotation>
					<documentation>到达区县code(目前官网使用)</documentation>
				</annotation>
      		</element>
      		<element minOccurs="0" name="arriveCityCode" type="string">
      			<annotation>
					<documentation>到达城市code(目前官网使用)</documentation>
				</annotation>
      		</element>
      		<element minOccurs="0" name="arriveProvCode" type="string">
      			<annotation>
					<documentation>到达省份code(目前官网使用)</documentation>
				</annotation>
      		</element>
	      	<element minOccurs="0" name="channelCode" type="string">
	      	<annotation>
					<documentation>渠道code</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="cityMarketCode" type="string">
	      	<annotation>
					<documentation>大礼包方案CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="combBillTypeCode" type="string">
	      	<annotation>
					<documentation></documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="currencyCdoe" type="string">
	      	<annotation>
					<documentation>合票类型</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="customerCode" type="string">
	      	<annotation>
					<documentation> 客户编码</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="deptRegionId" type="string">
	      	<annotation>
					<documentation>出发区域ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="destinationOrgCode" type="string">
	      	<annotation>
					<documentation>到达部门</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="economySince" type="string">
	      		<annotation>
					<documentation>是否经济自提件</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="feeRate" type="decimal">
	      		<annotation>
					<documentation>费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="flightShift" type="string">
	      		<annotation>
					<documentation>航班班次</documentation>
				</annotation>
	      	</element>
	     	<element minOccurs="0" name="goodsCode" type="string">
	     		<annotation>
					<documentation>货物类型</documentation>
				</annotation>
	     	</element>
	      	<element minOccurs="0" name="industrulCode" type="string">
	      		<annotation>
					<documentation>所属行业编码</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="isReceiveGoods" type="string">
	      		<annotation>
					<documentation>是否接货</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="isSelfPickUp" type="string">
	      		<annotation>
					<documentation>是否自提</documentation>
				</annotation>
	      	</element>
	        <element minOccurs="0" name="kilom" type="decimal">
	      		<annotation>
					<documentation>公里计费</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="lastOrgCode" type="string">
	      		<annotation>
					<documentation>最后一个自有公司OrgCode</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="longOrShort" type="string">
	      		<annotation>
					<documentation>长短途</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="originalOrgCode" type="string">
	      		<annotation>
					<documentation>出发部门</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="originnalCost" type="decimal">
	      		<annotation>
					<documentation>原始费用</documentation>
				</annotation>
	      	</element>
	      	<element maxOccurs="unbounded" minOccurs="0" name="priceEntities" nillable="true" type="tns:WsGuiQueryBillCalculateSubDto">
	      		<annotation>
					<documentation>计价条目列表</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="pricingEntryCode" type="string">
	      		<annotation>
					<documentation>计价条目</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="productCode" type="string">
	      		<annotation>
					<documentation>产品编号</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="receiveDate" type="dateTime">
	      		<annotation>
					<documentation>营业部收货日期</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="subType" type="string">
	      		<annotation>
					<documentation>子类型</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="volume" type="decimal">
	      		<annotation>
					<documentation>体积</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="weight" type="decimal">
	      		<annotation>
					<documentation>重量</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="woodenVolume" type="decimal">
	      		<annotation>
					<documentation>打木架体积</documentation>
				</annotation>
	      	</element>
    	</sequence>
  	</complexType>
  
  	<complexType name="WsGuiQueryBillCalculateSubDto">
    	<sequence>
		    <element minOccurs="0" name="insuranceAmount" type="decimal">
		    	<annotation>
					<documentation>保险声明价值</documentation>
				</annotation>
		    </element>
		    <element minOccurs="0" name="insuranceRate" type="decimal">
		    	<annotation>
					<documentation>保价费率</documentation>
				</annotation>
		    </element>
		    <element minOccurs="0" name="originnalCost" type="decimal">
		    	<annotation>
					<documentation>原始费用</documentation>
				</annotation>
		    </element>
		    <element minOccurs="0" name="priceEntityCode" type="string">
		    	<annotation>
					<documentation>费用类型代码</documentation>
				</annotation>
		    </element>
		    <element minOccurs="0" name="subType" type="string">
		    	<annotation>
					<documentation>增值服务子类型</documentation>
				</annotation>
		    </element>
		    <element minOccurs="0" name="woodenVolume" type="decimal">
		    	<annotation>
					<documentation>木架体积</documentation>
				</annotation>
		    </element>
    	</sequence>
  	</complexType>
	
	<complexType name="WsGuiResultBillCalculateDto">
	    <sequence>
	      	<element minOccurs="0" name="actualFeeRate" type="decimal">
	      		<annotation>
					<documentation>最终实际计算的费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="arrvRegionId" type="string">
	      		<annotation>
					<documentation>到达区域ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="belongToPriceEntityCode" type="string">
	      		<annotation>
					<documentation>其他费用归集类别代码</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="belongToPriceEntityName" type="string">
	      		<annotation>
					<documentation>其他费用归集类别名称</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="caculateExpression" type="string">
	      		<annotation>
					<documentation>价格计算表达式</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="caculateFee" type="decimal">
	      		<annotation>
					<documentation>经过计算后的费用</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="caculateType" type="string">
	      		<annotation>
					<documentation>计费类别</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="candelete" type="string">
	      		<annotation>
					<documentation>是否可以删除</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="canmodify" type="string">
	      		<annotation>
					<documentation>是否可以修改</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="centralizePickup" type="string">
	      		<annotation>
					<documentation>是否接货</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="defaultBF" type="decimal">
	      		<annotation>
					<documentation>默认保费申明</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="discountFee" type="decimal">
	      		<annotation>
					<documentation>打折后的费用</documentation>
				</annotation>
	      	</element>
	      	<element maxOccurs="unbounded" minOccurs="0" name="discountPrograms" nillable="true" type="tns:WsGuiResultDiscountDto">
	      		<annotation>
					<documentation>采用的折扣方案</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="fee" type="decimal">
	      		<annotation>
					<documentation>固定费用</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="feeRate" type="decimal">
	      		<annotation>
					<documentation>经过计算后的费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="flightShiftNo" type="string">
	      		<annotation>
					<documentation>航班班次</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="goodsTypeCode" type="string">
	      		<annotation>
					<documentation>货物类型CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="goodsTypeName" type="string">
	      		<annotation>
					<documentation>货物类型name</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="heavyFeeRate" type="decimal">
	      		<annotation>
					<documentation>重货费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="heavyFeeRatePickUpNo" type="decimal">
	      		<annotation>
					<documentation>非接送货重货费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="heavyFeeRatePickUpYes" type="decimal">
	      		<annotation>
					<documentation>接送货重货费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="id" type="string">
	      		<annotation>
					<documentation></documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="lightFeeRate" type="decimal">
	      		<annotation>
					<documentation> 轻货费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="lightFeeRatePickUpNo" type="decimal">
	      		<annotation>
					<documentation>非接送货轻货费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="lightFeeRatePickUpYes" type="decimal">
	      		<annotation>
					<documentation>接送货轻货费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="longOrShort" type="string">
	      		<annotation>
					<documentation>长途或短途</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="maxFee" type="decimal">
	      		<annotation>
					<documentation>最高费用</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="maxFeeRate" type="decimal">
	      		<annotation>
					<documentation>最高费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="minFee" type="decimal">
	      		<annotation>
					<documentation>最低费用</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="minFeePickUpNo" type="decimal">
	      		<annotation>
					<documentation>非接送货最低一票</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="minFeePickUpYes" type="decimal">
	      		<annotation>
					<documentation>接送货最低一票</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="minFeeRate" type="decimal">
	      		<annotation>
					<documentation>最低费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="priceEntryCode" type="string">
	      		<annotation>
					<documentation>费用类型代码</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="priceEntryName" type="string">
	      		<annotation>
					<documentation>费用类型名称</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="productCode" type="string">
	      		<annotation>
					<documentation>产品代码</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="productName" type="string">
	      		<annotation>
					<documentation>产品name</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="resultOuterPriceCaccilateDto" type="tns:WsResultOuterPriceCaccilateDto">
	      		<annotation>
					<documentation>偏线费率信息</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="startRegionId" type="string">
	      		<annotation>
					<documentation>始发区域ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="subType" type="string">
	      		<annotation>
					<documentation>服务子类型</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="subTypeName" type="string">
	      		<annotation>
					<documentation>服务子类型</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="volumeWeight" type="decimal">
	      		<annotation>
					<documentation>体积重 空运中使用</documentation>
				</annotation>
	      	</element>
	    </sequence>
  	</complexType>
	<complexType name="WsGuiResultDiscountDto">
    	<sequence>
      		<element minOccurs="0" name="active" type="string">
      			<annotation>
					<documentation>数据状态</documentation>
				</annotation>
      		</element>
	      	<element minOccurs="0" name="arrvOrgCode" type="string">
	      		<annotation>
					<documentation>目的区域CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="arrvOrgId" type="string">
	      		<annotation>
					<documentation>目的区域ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="arrvOrgName" type="string">
	      		<annotation>
					<documentation>目的区域NAME</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="arrvOrgTypeCode" type="string">
	      		<annotation>
					<documentation>到达组织类型CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="arrvOrgTypeName" type="string">
	      		<annotation>
					<documentation>到达组织类型NAME</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="beginDate" type="dateTime">
	      		<annotation>
					<documentation>折扣方案开始时间</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="businessDate" type="dateTime">
	      		<annotation>
					<documentation>业务日期</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="caculateType" type="string">
	      		<annotation>
					<documentation>折扣规则</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="chargeDetailId" type="string">
	      		<annotation>
					<documentation>费用类型</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="createOrgCode" type="string">
	      		<annotation>
					<documentation>创建组织CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="createTime" type="dateTime">
	      		<annotation>
					<documentation>创建时间</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="createUserCode" type="string">
	      		<annotation>
					<documentation>创建人CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="createUserName" type="string">
	      		<annotation>
					<documentation>创建人姓名</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="deptOrgCode" type="string">
	      		<annotation>
					<documentation>出发区域CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="deptOrgId" type="string">
	      		<annotation>
					<documentation>出发区域ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="deptOrgName" type="string">
	      		<annotation>
					<documentation>出发区域NAME</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="deptOrgTypeCode" type="string">
	      		<annotation>
					<documentation>出发组织类型CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="deptOrgTypeName" type="string">
	      		<annotation>
					<documentation>出发组织类型NAME</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="discountId" type="string">
	      		<annotation>
					<documentation>获取 折扣(折扣明细、优惠明细)ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="discountOrgId" type="string">
	      		<annotation>
					<documentation>折扣适用起始目的组织网点ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="discountRate" type="decimal">
	      		<annotation>
					<documentation>折扣率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="discountType" type="string">
	      		<annotation>
					<documentation>优先级类型、产品、渠道、客户</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="discountTypeName" type="string">
	      		<annotation>
					<documentation>优先级类型名称、产品、渠道、客户</documentation>
				</annotation>
	      	</element>
	     	<element minOccurs="0" name="endDate" type="dateTime">
	     		<annotation>
					<documentation>折扣方案结束时间</documentation>
				</annotation>
	     	</element>
	      	<element minOccurs="0" name="goodsTypeCode" type="string">
	      		<annotation>
					<documentation>货物类型CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="goodsTypeId" type="string">
	      		<annotation>
					<documentation>货物类型ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="googsTypeName" type="string">
	      		<annotation>
					<documentation>货物类型NAME</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="leftRange" type="decimal">
	      		<annotation>
					<documentation>价格左区间</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="marketChannelId" type="string">
	      		<annotation>
					<documentation>市场活动适用渠道ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="marketCode" type="string">
	      		<annotation>
					<documentation>市场CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="marketId" type="string">
	      		<annotation>
					<documentation>市场ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="marketName" type="string">
	      		<annotation>
					<documentation>市场NAME</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="marketType" type="string">
	      		<annotation>
					<documentation>市场活动类型</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="maxFee" type="long">
	      		<annotation>
					<documentation>最高一票</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="minFee" type="long">
	      		<annotation>
					<documentation> 最低一票</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="modifyTime" type="dateTime">
	      		<annotation>
					<documentation>修改时间</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="priceCriteriaId" type="string">
	      		<annotation>
					<documentation>计价方式ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="priceEntryCode" type="string">
	      		<annotation>
					<documentation>计价条目CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="priceEntryId" type="string">
	      		<annotation>
					<documentation>计价条目ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="priceEntryName" type="string">
	      		<annotation>
					<documentation>计价条目Name</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="priceValuationId" type="string">
	      		<annotation>
					<documentation>计费规则ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="pricingIndustryCode" type="string">
	      		<annotation>
					<documentation>所属行业CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="pricingIndustryId" type="string">
	      		<annotation>
					<documentation>所属行业ID</documentation>
				</annotation>
	      	</element>
	      	<element name="priorityLevel" type="int">
	      		<annotation>
					<documentation>优选级别</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="productCode" type="string">
	      		<annotation>
					<documentation>产品CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="productId" type="string">
	      		<annotation>
					<documentation>产品ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="productName" type="string">
	      		<annotation>
					<documentation>产品条目名称</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="programDesc" type="string">
	      		<annotation>
					<documentation>方案描述</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="reduceFee" type="decimal">
	      		<annotation>
					<documentation>减免的费用</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="rightRange" type="decimal">
	      		<annotation>
					<documentation>价格右区间</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="saleChannelCode" type="string">
	      		<annotation>
					<documentation>方案渠道CODE</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="saleChannelId" type="string">
	      		<annotation>
					<documentation>方案渠道ID</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="saleChannelName" type="string">
	      		<annotation>
					<documentation>方案渠道NAME</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="subType" type="string">
	      		<annotation>
					<documentation>子类型</documentation>
				</annotation>
	      	</element>
    	</sequence>
  	</complexType>
	<complexType name="WsResultOuterPriceCaccilateDto">
	    <sequence>
	      	<element minOccurs="0" name="caculateType" type="string">
	      		<annotation>
					<documentation>计费类别</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="calateFee" type="decimal">
	      		<annotation>
					<documentation>实际费用</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="currencyCdoe" type="string">
	      		<annotation>
					<documentation>币种</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="goodsCode" type="string">
	      		<annotation>
					<documentation>货物类型</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="isMinFee" type="string">
	      		<annotation>
					<documentation>是否最低一票</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="minFee" type="decimal">
	      		<annotation>
					<documentation>最低一票</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="outFieldCode" type="string">
	      		<annotation>
					<documentation>外场编码</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="partialLineCode" type="string">
	      		<annotation>
					<documentation>偏线编码</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="productCode" type="string">
	      		<annotation>
					<documentation>产品</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="rateFee" type="decimal">
	      		<annotation>
					<documentation>实际费率</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="receiveDate" type="dateTime">
	      		<annotation>
					<documentation>营业部收货日期</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="volume" type="decimal">
	      		<annotation>
					<documentation>体积</documentation>
				</annotation>
	      	</element>
	      	<element minOccurs="0" name="weight" type="decimal">
	      		<annotation>
					<documentation>重量</documentation>
				</annotation>
	      	</element>
	    </sequence>
	    
  	</complexType>
	
	<element name="QueryGuiBillPriceRequest" type="tns:WsGuiQueryBillCalculateDto"></element>
	<element name="QueryGuiBillPriceResponse" type="tns:QueryGuiBillPriceResponse"></element>
	<element name="QueryGuiExpressBillPriceeRequest" type="tns:WsGuiQueryBillCalculateDto"></element>
	<element name="QueryGuiExpressBillPriceResponse" type="tns:QueryGuiBillPriceResponse"></element>
</schema>