foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/bho/client/OnlinePays.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="IOnlinePayWebServciesService"
	targetNamespace="http://ws.shared.finance.module.myDeppon.deppon.com/"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://ws.shared.finance.module.myDeppon.deppon.com/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://ws.shared.finance.module.myDeppon.deppon.com/">
			<xsd:include schemaLocation="OWS_OnlnePay.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="queryOnlnePayListRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns:queryOnlnePayListRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="queryOnlnePayListResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns:queryOnlnePayListResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	<wsdl:portType name="IOnlinePayWebServcies">
		<wsdl:operation name="queryOnlnePayList">
			<wsdl:documentation>在线支付信息查询</wsdl:documentation>
			<wsdl:input message="tns:queryOnlnePayListRequest" name="queryOnlnePayList">
			</wsdl:input>
			<wsdl:output message="tns:queryOnlnePayListResponse"
				name="queryOnlnePayListResponse">
			</wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="IOnlinePayWebServciesServiceSoapBinding"
		type="tns:IOnlinePayWebServcies">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryOnlnePayList">
			<soap:operation soapAction="http://ws.shared.finance.module.myDeppon.deppon.com/queryOnlnePayList" style="document" />
			<wsdl:input name="queryOnlnePayList">
				<soap:body use="literal" />
				<soap:header use="literal" part="esbHeader" message="tns:queryOnlnePayListRequest"></soap:header>
			</wsdl:input>
			<wsdl:output name="queryOnlnePayListResponse">
				<soap:body use="literal" />
				<soap:header use="literal" part="esbHeader" message="tns:queryOnlnePayListResponse"></soap:header>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="IOnlinePayWebServciesService">
		<wsdl:port binding="tns:IOnlinePayWebServciesServiceSoapBinding"
			name="IOnlinePayWebServciesPort">
			<soap:address
				location="http://192.168.14.44:8082/webWsPro/webservice/OnlinePays" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>