foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/vehicle/VechicleService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/service/vechicleService"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/foss"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/service/vechicleService" name="VechicleService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/foss">
			<xsd:include schemaLocation="FOSS_QUERY_VICHICLE_STATUS.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_VICHICLE_TASK.xsd" />
			<xsd:include schemaLocation="FOSS_VICHICLE_STATUS.xsd" />
			<xsd:include schemaLocation="FOSS_VICHICLE_TASK.xsd" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/foss/service/platformService"><xsd:element name="in" type="xsd:string"></xsd:element><xsd:element name="out" type="xsd:string"></xsd:element></xsd:schema>
    </wsdl:types>

	<wsdl:message name="QueryVichicleStatusRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryVichicleStatusRequest" name="queryVichicleStatusRequest" />
	</wsdl:message>
	<wsdl:message name="QueryVichicleStatusResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryVichicleStatusResponse" name="queryVichicleStatusResponse" />
	</wsdl:message>

	<wsdl:message name="QueryVichicleTaskRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryVichicleTaskRequest" name="queryVichicleTaskRequest" />
	</wsdl:message>
	<wsdl:message name="QueryVichicleTaskResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryVichicleTaskResponse" name="queryVichicleTaskResponse" />
	</wsdl:message>
	
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	
	<wsdl:portType name="VechicleService">
		<wsdl:operation name="queryVichicleStatus">
			<wsdl:documentation>查询车辆运行状态信息</wsdl:documentation>
			<wsdl:input message="tns:QueryVichicleStatusRequest" />
			<wsdl:output message="tns:QueryVichicleStatusResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>
		
		<wsdl:operation name="queryVichicleTask">
			<wsdl:documentation>查询车辆任务信息</wsdl:documentation>
			<wsdl:input message="tns:QueryVichicleTaskRequest" />
			<wsdl:output message="tns:QueryVichicleTaskResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="VechicleServiceSOAP" type="tns:VechicleService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryVichicleStatus">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryVichicleStatus" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryVichicleStatusRequest"></soap:header>
				<soap:body use="literal" parts="queryVichicleStatusRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryVichicleStatusResponse"></soap:header>
				<soap:body use="literal" parts="queryVichicleStatusResponse"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryVichicleTask">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryVichicleTask" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryVichicleTaskRequest"></soap:header>
				<soap:body use="literal" parts="queryVichicleTaskRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryVichicleTaskResponse"></soap:header>
				<soap:body use="literal" parts="queryVichicleTaskResponse"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="VechicleService">
		<wsdl:port binding="tns:VechicleServiceSOAP" name="VechicleService">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
