foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/platform/platformstatussrv.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/service/platformService"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/foss"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/service/platformService" name="PlatformStatusSrv">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/foss">
			<xsd:include schemaLocation="FOSS_QUERY_OUTFIELD_PLATFORM_LIST.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_PLATFORM_BASIC_PROPERTY.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_PLATFORM_STATUS.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_PLATFORM_TRUCKS_PROCESS.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_PLATFORM_PLAN.xsd" />
			<xsd:include schemaLocation="FOSS_PLATFORM.xsd" />
			<xsd:include schemaLocation="FOSS_PLATFORM_USING_PLAN.xsd" />
			<xsd:include schemaLocation="FOSS_LOAD_AND_UNLOAD_TRUCKS_TASK.xsd" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/foss/service/platformService"><xsd:element name="in" type="xsd:string"></xsd:element><xsd:element name="out" type="xsd:string"></xsd:element></xsd:schema>
    </wsdl:types>

	<wsdl:message name="QueryOutfieldPlatformInfoListRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryOutfieldPlatformInfoListRequest" name="payload" />
	</wsdl:message>
		
	<wsdl:message name="QueryOutfieldPlatformInfoListResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryOutfieldPlatformInfoListResponse" name="payload" />
	</wsdl:message>
	
	<wsdl:message name="QueryPlatformBasicPropertyRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryPlatformBasicPropertyRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryPlatformBasicPropertyResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryPlatformBasicPropertyResponse" name="payload" />
	</wsdl:message>

	<wsdl:message name="QueryPlatformCurrentStatusRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryPlatformCurrentStatusRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryPlatformCurrentStatusResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryPlatformCurrentStatusResponse" name="payload" />
	</wsdl:message>

	<wsdl:message name="QueryPlatformTrucksProgressRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryPlatformTrucksProgressRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryPlatformTrucksProgressResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryPlatformTrucksProgressResponse" name="payload" />
	</wsdl:message>

	<wsdl:message name="QueryPlatformPlanRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryPlatformPlanRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryPlatformPlanResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryPlatformPlanResponse" name="payload" />
	</wsdl:message>
	
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	
	<wsdl:portType name="PlatformStatusService">
		<wsdl:operation name="queryOutfieldPlatformInfoList">
			<wsdl:documentation>查询外场月台清单</wsdl:documentation>
			<wsdl:input message="tns:QueryOutfieldPlatformInfoListRequest" />
			<wsdl:output message="tns:QueryOutfieldPlatformInfoListResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>

		<wsdl:operation name="queryPlatformBasicProperty">
			<wsdl:documentation>查询月台的基本属性</wsdl:documentation>
			<wsdl:input message="tns:QueryPlatformBasicPropertyRequest" />
			<wsdl:output message="tns:QueryPlatformBasicPropertyResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>
		
		<wsdl:operation name="queryPlatformCurrentStatus">
			<wsdl:documentation>查询月台当前使用状态</wsdl:documentation>
			<wsdl:input message="tns:QueryPlatformCurrentStatusRequest" />
			<wsdl:output message="tns:QueryPlatformCurrentStatusResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>

		<wsdl:operation name="queryPlatformTrucksProgress">
			<wsdl:documentation>查询月台正在执行装卸车任务和任务的进度</wsdl:documentation>
			<wsdl:input message="tns:QueryPlatformTrucksProgressRequest" />
			<wsdl:output message="tns:QueryPlatformTrucksProgressResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>

		<wsdl:operation name="queryPlatformPlan">
			<wsdl:documentation>查询月台的安排计划</wsdl:documentation>
			<wsdl:input message="tns:QueryPlatformPlanRequest" />
			<wsdl:output message="tns:QueryPlatformPlanResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>
		
	</wsdl:portType>

	<wsdl:binding name="PlatformStatusServiceSOAP" type="tns:PlatformStatusService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryOutfieldPlatformInfoList">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryOutfieldPlatformInfoList" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryOutfieldPlatformInfoListRequest"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryOutfieldPlatformInfoListResponse"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryPlatformBasicProperty">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryPlatformBasicProperty" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPlatformBasicPropertyRequest"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPlatformBasicPropertyResponse"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryPlatformCurrentStatus">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryPlatformCurrentStatus" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPlatformCurrentStatusRequest"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPlatformCurrentStatusResponse"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryPlatformTrucksProgress">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryPlatformTrucksProgress" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPlatformTrucksProgressRequest"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPlatformTrucksProgressResponse"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryPlatformPlan">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryPlatformPlan" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPlatformPlanRequest"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryPlatformPlanResponse"></soap:header>
				<soap:body use="literal" parts="payload"/>
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="PlatformStatusService">
		<wsdl:port binding="tns:PlatformStatusServiceSOAP" name="PlatformStatusService">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
