foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/gps/client/deppon_gps_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!-- edited with XMLSpy v2010 rel. 3 sp1 (http://www.altova.com) by Javacafe (Home) -->
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.example.org/deppon_gps_service/" xmlns:tns_domain="http://www.example.org/deppon_gps_service/domain" xmlns:tns_header="http://www.deppon.com/esb/header" xmlns:tns_exception="http://www.deppon.com/esb/exception" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" name="deppon_gps_service" targetNamespace="http://www.example.org/deppon_gps_service/">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.example.org/deppon_gps_service/domain">
			<xsd:include schemaLocation="DEPPON_GPS_DOMAIN.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd"/>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="queryTransmitVehicleRequest">
		<wsdl:part name="queryTransmitVehicleRequest" element="tns_domain:queryTransmitVehicleRequest"/>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"/>
	</wsdl:message>
	<wsdl:message name="queryTransmitVehicleResponse">
		<wsdl:part name="queryTransmitVehicleResponse" element="tns_domain:queryTransmitVehicleResponse"/>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"/>
	</wsdl:message>
	<wsdl:message name="queryTransmitLineRequest">
		<wsdl:part name="queryTransmitLineRequest" element="tns_domain:queryTransmitLineRequest"/>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"/>
	</wsdl:message>
	<wsdl:message name="queryTransmitLineResponse">
		<wsdl:part name="queryTransmitLineResponse" element="tns_domain:queryTransmitLineResponse"/>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"/>
	</wsdl:message>
	<wsdl:message name="ESBHeader">
		<wsdl:part name="header" element="tns_header:esbHeader"/>
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part name="exception" element="tns_exception:commonExceptionInfo"/>
	</wsdl:message>
	
	<wsdl:portType name="deppon_gps_service">
		<wsdl:operation name="queryTransmitVehicle">
			<wsdl:input message="tns:queryTransmitVehicleRequest"/>
			<wsdl:output message="tns:queryTransmitVehicleResponse"/>
			<wsdl:fault name="exception" message="tns:CommonException"/>
		</wsdl:operation>
		<wsdl:operation name="queryTransmitLine">
			<wsdl:input message="tns:queryTransmitLineRequest"/>
			<wsdl:output message="tns:queryTransmitLineResponse"/>
			<wsdl:fault name="exception" message="tns:CommonException"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="deppon_gps_serviceSOAP" type="tns:deppon_gps_service">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="queryTransmitVehicle">
			<soap:operation soapAction="http://www.example.org/deppon_gps_service/queryTransmitVehicle"/>
			<wsdl:input>
				<soap:body parts="queryTransmitVehicleRequest" use="literal"/>
				<soap:header message="tns:queryTransmitVehicleRequest" part="esbHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="queryTransmitVehicleResponse" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="exception"/>
		</wsdl:operation>
		<wsdl:operation name="queryTransmitLine">
			<soap:operation soapAction="http://www.example.org/deppon_gps_service/queryTransmitLine"/>
			<wsdl:input>
				<soap:body parts="queryTransmitLineRequest" use="literal"/>
				<soap:header message="tns:queryTransmitLineRequest" part="esbHeader" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body parts="queryTransmitLineResponse" use="literal"/>
				<soap:header message="tns:queryTransmitLineResponse" part="esbHeader" use="literal"/>
			</wsdl:output>
			<wsdl:fault name="exception"/>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="deppon_gps_service">
		<wsdl:port name="deppon_gps_serviceSOAP" binding="tns:deppon_gps_serviceSOAP">
			<soap:address location="http://ips2test.huoyunren.com/rest/deppon_gps_service.php"/>
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
