foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/waybill/OA_QUERY_DETAIL.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/waybillService"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/waybillService"
	elementFormDefault="qualified">
	<complexType name="OaQueryDetailRequest">
		<annotation>
			<documentation>查询详细运单信息集合</documentation>
		</annotation>
		<sequence>
			<element name="waybillNo" type="string" minOccurs="1"
				maxOccurs="unbounded">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="OAWayBillDetail">
		<annotation>
			<documentation>运单信息</documentation>
		</annotation>
		<sequence>
			<element name="number" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="tranType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运输类型(一级产品)：汽运-VEHICLE；空运-AIRLINE</documentation>
				</annotation>
			</element>
			<element name="tranProperty" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运输性质(三级产品)：
									精准汽运（长途）LRF
									精准卡航 FLF
									精准汽运（短途）SRF
									精准城运 FSF
									汽运偏线 PLF
									精准空运 AF
									整车 WVH
					</documentation>
				</annotation>
			</element>
			<element name="sender" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货人</documentation>
				</annotation>
			</element>
			<element name="senderPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货人电话</documentation>
				</annotation>
			</element>
			<element name="senderMobile" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货人手机</documentation>
				</annotation>
			</element>
			<element name="departure" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>始发站</documentation>
				</annotation>
			</element>
			<element name="senderAddress" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人地址</documentation>
				</annotation>
			</element>
			<element name="consignee" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人</documentation>
				</annotation>
			</element>
			<element name="consigneePhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人电话</documentation>
				</annotation>
			</element>
			<element name="consigneeMobile" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人手机</documentation>
				</annotation>
			</element>
			<element name="destination" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>目的站</documentation>
				</annotation>
			</element>
			<element name="consigneeAddress" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人地址</documentation>
				</annotation>
			</element>
			<element name="goodName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>
			<element name="pieces" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>件数</documentation>
				</annotation>
			</element>
			<element name="weight" type="float" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>重量</documentation>
				</annotation>
			</element>
			<element name="cubage" type="float" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>体积</documentation>
				</annotation>
			</element>
			<element name="totalCharge" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>总费用(公布价运费 + 增值服务费用 - 优惠总费用=到付+预付—代收)</documentation>
				</annotation>
			</element>
			<element name="payment" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>付款方式</documentation>
				</annotation>
			</element>
			<element name="preCharge" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>预付（客户预付款金额）</documentation>
				</annotation>
			</element>
			<element name="arriveCharge" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>到付（客户到付金额）</documentation>
				</annotation>
			</element>
			<element name="refundType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>代收货款类型</documentation>
				</annotation>
			</element>
			<element name="refund" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
			</element>
			<element name="refundFee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>代收货款手续费</documentation>
				</annotation>
			</element>
			<element name="deliveryType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>开单提货方式</documentation>
				</annotation>
			</element>
			<element name="consignCharge" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货费</documentation>
				</annotation>
			</element>
			<element name="deliveryCharge" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>送货费</documentation>
				</annotation>
			</element>
			<element name="signBackCharge" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>签收回单费</documentation>
				</annotation>
			</element>
			<element name="pickCharge" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>包装费</documentation>
				</annotation>
			</element>
			<element name="laborRebate" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>劳务费</documentation>
				</annotation>
			</element>			
			<element name="publishCharge" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>公布价运费（重量/体积 * 费率 * 折扣）</documentation>
				</annotation>
			</element>
			<element name="departureDeptName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>出发部门名称</documentation>
				</annotation>
			</element>
			<element name="departureDeptNumber" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>出发部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="departureDeptAddr" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>出发部门地址</documentation>
				</annotation>
			</element>
			<element name="departureDeptPhone" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>出发部门电话</documentation>
				</annotation>
			</element>
			<element name="departureDeptFax" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>出发部门传真</documentation>
				</annotation>
			</element>
			<element name="ladingStationName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>到达网点名称</documentation>
				</annotation>
			</element>
			<element name="ladingStationNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>到达网点标杆编码</documentation>
				</annotation>
			</element>
			<element name="ladingStationAddr" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>到达网点地址</documentation>
				</annotation>
			</element>
			<element name="ladingStationPhone" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>到达网点电话</documentation>
				</annotation>
			</element>
			<element name="ladingStationFax" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>到达网点传真</documentation>
				</annotation>
			</element>
			<element name="isSigned" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否签收</documentation>
				</annotation>
			</element>
			<element name="isNormalSigned" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否正常签收</documentation>
				</annotation>
			</element>
			<element name="signRecorderId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>签收录入人</documentation>
				</annotation>
			</element>
			<element name="signedDate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>签收时间</documentation>
				</annotation>
			</element>
			<element name="firstSignedDate" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>第一次签收时间</documentation>
				</annotation>
			</element>
			<element name="signedDesc" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>签收备注</documentation>
				</annotation>
			</element>
			<element name="orderNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>订单号</documentation>
				</annotation>
			</element>
			<element name="insuranceValue" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>保价声明</documentation>
				</annotation>
			</element>
			<element name="insurance" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>保价手续费</documentation>
				</annotation>
			</element>
			<element name="packing" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>货物包装</documentation>
				</annotation>
			</element>
			<element name="orderState" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单状态</documentation>
				</annotation>
			</element>
			<element name="otherPayment" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>其它费用</documentation>
				</annotation>
			</element>
			<element name="tranDesc" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>托运备注</documentation>
				</annotation>
			</element>
			<element name="senderNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货客户编码</documentation>
				</annotation>
			</element>
			<element name="consigneeNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货客户编码</documentation>
				</annotation>
			</element>
			<element name="isClear" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否已结款</documentation>
				</annotation>
			</element>
			<element name="signBackType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>返单类型 </documentation>
				</annotation>
			</element>
			<element name="transNotice" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>储运事项</documentation>
				</annotation>
			</element>
			<element name="sendTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货时间</documentation>
				</annotation>
			</element>
			<element name="receiveDeptName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货部门名称</documentation>
				</annotation>
			</element>
			<element name="receiveDeptNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货部门标杆代码</documentation>
				</annotation>
			</element>
			<element name="stowageDept" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>配载部门</documentation>
				</annotation>
			</element>
			<element name="senderCityCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人城市编码</documentation>
				</annotation>
			</element>
			<element name="senderCityName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人城市名称</documentation>
				</annotation>
			</element>
			<element name="senderProvinceCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人省份编码</documentation>
				</annotation>
			</element>
			<element name="senderProvinceName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人省份名称</documentation>
				</annotation>
			</element>
			<element name="consigneeCityCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货人城市编码</documentation>
				</annotation>
			</element>
			<element name="consigneeCityName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货人城市名称</documentation>
				</annotation>
			</element>
			<element name="consigneeProvinceCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货人省份编码</documentation>
				</annotation>
			</element>
			<element name="consigneeProvinceName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货人省份名称</documentation>
				</annotation>
			</element>
			<element name="isDoorToDoorPick" type="boolean" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否上门接货</documentation>
				</annotation>
			</element>
			<element name="smsNoticeResult" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>短信通知结果：未通知_NONE_NOTICE、通知成功_SUCCESS、通知失败_FAILURE、语音通知中_VOICE_NOTICING、短信通知中_SMS_NOTICING、通知未果_NOTICING_UNSUCCESSFU
					</documentation>
				</annotation>
			</element>
			<element name="signBillBackWay" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>
						签收单返回方式:
						1-无需返单
						2-客户签收单原件返回
						3-客户签收单复印件返回
						4-运单签收单原件返回
						5-运单签收单复印件返回
						6-派送代理签收单原件返回
						7-派送代理签收单传真件返回
					</documentation>
				</annotation>
			</element>
			<element name="exDepartureRegionNubmer" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单所属快递大区编码-出发</documentation>
				</annotation>
			</element>
			<element name="exDepartureRegionName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单所属快递大区名称-出发</documentation>
				</annotation>
			</element>
			<element name="exDepartureRegionStandardNubmer" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单所属快递大区标杆编码-出发</documentation>
				</annotation>
			</element>
			<element name="exDestinationRegionNubmer" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单所属快递大区编码-到达</documentation>
				</annotation>
			</element>
			<element name="exDestinationRegionName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单所属快递大区名称-到达</documentation>
				</annotation>
			</element>
			<element name="exDestinationRegionStandardNubmer" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单所属快递大区标杆编码-到达</documentation>
				</annotation>
			</element>
			<element name="exDepartureCourierNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递员CODE-出发</documentation>
				</annotation>
			</element>
			<element name="exDepartureCourierName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递员名称-出发</documentation>
				</annotation>
			</element>
			<element name="exDepartureDeptNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递点部CODE-出发</documentation>
				</annotation>
			</element>
			<element name="exDepartureDeptStandardNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递点部标杆编码-出发</documentation>
				</annotation>
			</element>
			<element name="exDepartureDeptName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递点部名称-出发</documentation>
				</annotation>
			</element>
			<element name="exDestinationCourierNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递员CODE-到达</documentation>
				</annotation>
			</element>
			<element name="exDestinationCourierName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递员名称-到达</documentation>
				</annotation>
			</element>
			<element name="exDestinationDeptNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递点部CODE-到达</documentation>
				</annotation>
			</element>
			<element name="exDestinationDeptStandardNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递点部标杆编码-到达</documentation>
				</annotation>
			</element>
			<element name="exDestinationDeptName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>快递点部名称-到达</documentation>
				</annotation>
			</element>
			<element name="complementOperationOrgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>补码操作部门编码</documentation>
				</annotation>
			</element>
			<element name="complementOperationOrgName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>补码操作部门名称</documentation>
				</annotation>
			</element>
			<element name="createUserName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>开单人名称</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>开单人工号</documentation>
				</annotation>
			</element>
			<element name="isCreateByExpress" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>开单人是否为快递员</documentation>
				</annotation>
			</element>
			<element name="responsiblePersonName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>责任人名称</documentation>
				</annotation>
			</element>		
			<element name="responsiblePersonCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>责任人CODE</documentation>
				</annotation>
			</element>
			<element name="responsibleOrgName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>责任人所在部门名称</documentation>
				</annotation>
			</element>
			<element name="responsibleOrgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>责任人所在部门CODE</documentation>
				</annotation>
			</element>
			<element name="waybillCostInfos" type="tns:OAWaybillCostInfo" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>运单费用信息集合</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="OAWaybillCostInfo">
		<annotation>
			<documentation>运单费用信息</documentation>
		</annotation>
		<sequence>
			<element name="costType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>费用类型：
							费用名称		费用代码		备注
							运费			FRT	
							保费			BF	
							代收货款		HK	
							送货费		SH	
							接货费		JH	
							签收回单		QS	
							仓储费		CCF	
							其他费用		QT			其他费用中包括-综合服务费，燃油附加费等等
							包装费用		BZ	
							综合信息费	ZHXX		所属增值服务中其他费用
							燃油附加费	RYFJ		所属增值服务中其他费用
							中转费		ZZ			所属增值服务中其他费用
							接货差额补差	JHCEBC		所属增值服务中其他费用
							电子优惠券	DZYHQ		所属增值服务中其他费用
					</documentation>
				</annotation>
			</element>
			<element name="costName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>费用名称</documentation>
				</annotation>
			</element>
			<element name="costMoney" type="decimal" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>费用金额</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="OaQueryDetailResponse">
		<sequence>
			<element name="OAwayBillDetailList" type="tns:OAWayBillDetail" minOccurs="1" maxOccurs="unbounded"></element>
		</sequence>
	</complexType>
	<element name="OaQueryDetailRequest" type="tns:OaQueryDetailRequest"></element>
	<element name="OaQueryDetailResponse" type="tns:OaQueryDetailResponse"></element>
</schema>