foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/waybill/QueryWayBillService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/waybillService" xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/waybillService"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/waybillService" name="waybillService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/waybillService">
			<xsd:include schemaLocation="QUERY_DETAIL.xsd" />
			<xsd:include schemaLocation="FOSS_ONEYEAR_WAYBILL.xsd" />
			<xsd:include schemaLocation="OA_QUERY_DETAIL.xsd" />
		</xsd:schema>

		<!-- 新增一个新的xsd -->
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/waybillService">
			<xsd:include schemaLocation="QUERY_DETAIL_FOR_OFFICIAL.xsd" />
		</xsd:schema>
		
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>


	<wsdl:message name="QueryDetailRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryDetailRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryDetailResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryDetailResponse" name="payload" />
	</wsdl:message>
	<!-- 新增一个message：信息 -->
	<wsdl:message name="QueryDetailForOfficialRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryDetailForOfficialRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryDetailForOfficialResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryDetailForOfficialResponse" name="payload" />
	</wsdl:message>
	
	<wsdl:message name="QueryOneYearDetailRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryOneYearDetailRequest" name="queryOneYearDetailRequest" />
	</wsdl:message>
	<wsdl:message name="QueryOneYearDetailResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryOneYearDetailResponse" name="queryOneYearDetailResponse" />
	</wsdl:message>
	
	<wsdl:message name="OaQueryDetailRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:OaQueryDetailRequest" name="oAQueryDetailRequest" />
	</wsdl:message>
	<wsdl:message name="OaQueryDetailResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:OaQueryDetailResponse" name="oAQueryDetailResponse" />
	</wsdl:message>
	
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>

	<wsdl:portType name="WaybillService">

		<wsdl:operation name="queryDetail">
			<wsdl:input message="tns:QueryDetailRequest" />
			<wsdl:output message="tns:QueryDetailResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
        <wsdl:operation name="queryOneYearDetail">
			<wsdl:input message="tns:QueryOneYearDetailRequest" />
			<wsdl:output message="tns:QueryOneYearDetailResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<!-- 在 portType中新增一个操作-->
	   <wsdl:operation name="queryDetailForOfficial">
			<wsdl:input message="tns:QueryDetailForOfficialRequest" />
			<wsdl:output message="tns:QueryDetailForOfficialResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="queryOADetail">
			<wsdl:input message="tns:OaQueryDetailRequest" />
			<wsdl:output message="tns:OaQueryDetailResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="WaybillServiceSOAP" type="tns:WaybillService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryDetail">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryDetail" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryDetailRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryDetailResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
		<!-- 在Binding接口给中 :新增方法给官网 queryDetailForOfficial -->
		<wsdl:operation name="queryDetailForOfficial">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryDetailForOfficial" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryDetailForOfficialRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryDetailForOfficialResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryOneYearDetail">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryOneYearDetail" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryOneYearDetailRequest"></soap:header>
				<soap:body use="literal" parts="queryOneYearDetailRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryOneYearDetailResponse"></soap:header>
				<soap:body use="literal" parts="queryOneYearDetailResponse" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="queryOADetail">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryOADetail" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:OaQueryDetailRequest"></soap:header>
				<soap:body use="literal" parts="oAQueryDetailRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:OaQueryDetailResponse"></soap:header>
				<soap:body use="literal" parts="oAQueryDetailResponse" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="CustomerService">
		<wsdl:port binding="tns:WaybillServiceSOAP" name="WaybillServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
