foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/stl/withholding/foss_withholding.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="IWithholdingService"
	targetNamespace="http://www.deppon.com/foss/WithholdingService"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/foss/WithholdingService"
	xmlns:tns_domain="http://www.deppon.com/foss/inteface/domain/stl"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/foss/inteface/domain/stl">
			<xsd:include schemaLocation="Foss_Withholding.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
    </wsdl:types>
	<wsdl:message name="withholdingRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_domain:withholdingRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="withholdingResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_domain:withholdingResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	<wsdl:portType name="IWithholdingService">
		<wsdl:operation name="rewriteWithholdingState">
			<wsdl:documentation>预提工作流起草或审批不同意回写预提单是否预提状态</wsdl:documentation>
			<wsdl:input message="tns:withholdingRequest" name="withholdingRequest">
			</wsdl:input>
			<wsdl:output message="tns:withholdingResponse" name="withholdingResponse">
			</wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="WithholdingServiceSoapBinding" type="tns:IWithholdingService">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="rewriteWithholdingState">
			<soap:operation soapAction="http://www.deppon.com/foss/withholdingService/rewriteWithholdingState" style="document" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:withholdingRequest"></soap:header>
				<soap:body   use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:withholdingResponse"></soap:header>
				<soap:body   use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="WithholdingService">
		<wsdl:port name="IWithholdingServicePort" binding="tns:WithholdingServiceSoapBinding">
			<soap:address location="http://10.224.69.106/webWsPro/webservice/WithholdingService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>