foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/gps/server/foss_gps_service.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/foss/inteface/gps" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FossGpsService"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/gps"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/inteface/gps">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/gps">
			<xsd:include schemaLocation="gps_interfaces.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="notifyStarttimeRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:notifyStarttimeRequest" name="parameters" />
	</wsdl:message>
	<wsdl:message name="notifyStarttimeResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:notifyStarttimeResponse"
			name="parameters" />
	</wsdl:message>
	<wsdl:message name="notifyArrivaltimeRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_domain:notifyArrivaltimeRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="notifyArrivaltimeResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_domain:notifyArrivaltimeResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="updateVehicleTrackRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="parameters" element="tns_domain:updateVehicleTrackRequest"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>


	<wsdl:portType name="FossGpsService">
		<wsdl:operation name="notifyStarttime">
			<wsdl:input message="tns:notifyStarttimeRequest" />
			<wsdl:output message="tns:notifyStarttimeResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		<wsdl:operation name="notifyArrivaltime">
			<wsdl:input message="tns:notifyArrivaltimeRequest"></wsdl:input>
			<wsdl:output message="tns:notifyArrivaltimeResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>

		<wsdl:operation name="updateVehicleTrack">
			<wsdl:input message="tns:updateVehicleTrackRequest" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="FossGpsServiceSOAP" type="tns:FossGpsService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="notifyStarttime">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/gps/notifyStarttime" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:notifyStarttimeRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:notifyStarttimeResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="notifyArrivaltime">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/gps/notifyArrivaltime" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:notifyArrivaltimeRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:notifyArrivaltimeResponse"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="updateVehicleTrack">
			<soap:operation
				soapAction="http://www.deppon.com/foss/inteface/gps/updateVehicleTrack" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:updateVehicleTrackRequest"></soap:header>
				<soap:body use="literal" parts="parameters"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FossGpsService">
		<wsdl:port binding="tns:FossGpsServiceSOAP" name="FossGpsServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
