foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/cc/client/FOSS2CCService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/cc/module/foss/server/service"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	name="FossToCCService"
	targetNamespace="http://www.deppon.com/cc/module/foss/server/service"
	xmlns:tns_domain="http://www.deppon.com/cc/module/foss/shared/domain"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception">

	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/cc/module/foss/shared/domain">
			<xsd:include schemaLocation="CCS_SYNC_RECORDOR_INFO.xsd"></xsd:include>
			<xsd:include schemaLocation="FOSS_ANSOWER_REMINDER.xsd"></xsd:include>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="CommException">
		<wsdl:part name="CommException" element="tns_exception:commonExceptionInfo" />
	</wsdl:message>
	<wsdl:message name="syncRecordorInfoRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="request" element="tns_domain:ccsSyncRecordorInfoRequest">
		</wsdl:part>
	</wsdl:message>
		<wsdl:message name="syncRecordorInfoResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="response" element="tns_domain:ccsSyncRecordorInfoResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:message name="reminderRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="request" element="tns_domain:answerReminderRequest">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="reminderResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="response" element="tns_domain:answerReminderResponse">
		</wsdl:part>
	</wsdl:message>
	
	<wsdl:portType name="IFossToCCService">
		<wsdl:operation name="ccsSyncRecordorInfo">
			<wsdl:documentation>记录单信息接口</wsdl:documentation>
			<wsdl:input message="tns:syncRecordorInfoRequest" />
			<wsdl:output message="tns:syncRecordorInfoResponse"></wsdl:output>
			<wsdl:fault name="commException" message="tns:CommException" />
		</wsdl:operation>
		<wsdl:operation name="answerReminder">
			<wsdl:documentation>催运单信息反馈CC接口</wsdl:documentation>
			<wsdl:input message="tns:reminderRequest"></wsdl:input>
			<wsdl:output message="tns:reminderResponse"></wsdl:output>
			<wsdl:fault name="commException" message="tns:CommException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="IFossToCCServiceSoapBinding" type="tns:IFossToCCService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="ccsSyncRecordorInfo">
			<soap:operation
				soapAction="http://www.deppon.com/cc/module/foss/server/service/syncRecordorInfo"
				style="document" />
			<wsdl:input>
				<soap:header message="tns:syncRecordorInfoRequest" part="esbHeader" use="literal"></soap:header>
				<soap:body parts="request" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:syncRecordorInfoResponse" part="esbHeader" use="literal"></soap:header>
				<soap:body parts="request" use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="answerReminder">
			<soap:operation
				soapAction="http://www.deppon.com/cc/module/foss/server/service/answerReminder"
				style="document" />
			<wsdl:input>
				<soap:header message="tns:reminderRequest" part="esbHeader" use="literal"></soap:header>
				<soap:body parts="request" use="literal" />
			</wsdl:input>
			<wsdl:output>
				<soap:header message="tns:reminderResponse" part="esbHeader" use="literal"></soap:header>
				<soap:body parts="request" use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>

	<wsdl:service name="FossToCCService">
		<wsdl:port binding="tns:IFossToCCServiceSoapBinding" name="IFossToCCServiceSoapBinding">
			<soap:address location="http://localhost:8083/cc-sync/ws/FossToCCService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>