esb-extends-pojo/src/main/schema/vts2foss/VTS_FOSS_WAYBILL_FINANCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/vtsbill"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/vtsbill"
	elementFormDefault="qualified">
	
	<!-- @218392 zhangyongxue 2016-05-04 17:54:50 -->
	<complexType name="VtsWaybillFinanceBillRequest">
	
		<annotation>
			<documentation>VTS系统开单生成财务单据流水JMS接口传给FOSS结算request
			</documentation>
		</annotation>
		<sequence>
		
            <element name="currentInfo" type="tns:CurrentInfo"
                     minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>当前登陆信息实体</documentation>
                </annotation>
            </element>
            
            <element name="waybillEntity" type="tns:WaybillEntity"
                     minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>运单实体</documentation>
                </annotation>
            </element>
            
            <element name="payableVtsDto" type="tns:PayableVtsDto"
                     minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>VTS打印运输合同收款款金额实体</documentation>
                </annotation>
            </element>
            
            <!--openBillType 这个字段是为了VTS接口传输到我这边，判断动作到底是新增、更改、作废、中止  -->
            <element name="openBillType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>运单操作类型：1.新增：add 2.更改：update 3.作废：disable 4.中止：stop</documentation>
				</annotation>
			</element>  
			
			<!--businessId 业务ID：vts所有异步接口加了这个字段，VTS传送给我FOSS结算，然后我再把这个字段传输给vts，他们会根据这个字段来回调  -->
            <element name="businessId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>业务ID：vts所有异步接口加了这个字段，VTS传送给我FOSS结算，然后我再把这个字段传输给vts，他们会根据这个字段来回调</documentation>
				</annotation>
			</element>   
			
 			<!--begin01 WaybillPickupInfoDto 实体中属性  --> 			
 			<element name="receiveOrgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>出发部门名称(这个字段，在waybillEntiy也有，名字叫收货部门)</documentation>
				</annotation>
			</element>
			
			<element name="receiveSubsidiaryCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>出发子公司编码</documentation>
				</annotation>
			</element>
			
			<element name="receiveSubsidiaryName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>出发子公司名称</documentation>
				</annotation>
			</element>
			
        	<element name="lastLoadOrgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>到达部门名称</documentation>
				</annotation>
			</element>
			
			<element name="lastLoadSubsidiaryCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>到达子公司编码</documentation>
				</annotation>
			</element>	
			
			<element name="lastLoadSubsidiaryName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>到达子公司名称</documentation>
				</annotation>
			</element>
			
			<element name="collectionOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收款部门编码</documentation>
				</annotation>
			</element>
			
			<element name="collectionOrgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收款部门名称</documentation>
				</annotation>
			</element>
			
			<element name="collectionCompanyCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收款部门子公司编码</documentation>
				</annotation>
			</element>	
		
			<element name="collectionCompanyName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收款部门子公司名称</documentation>
				</annotation>
			</element>
			
			<!-- 以下代收货款银企账号信息 -->
			<element name="bankHQCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开户行编码</documentation>
				</annotation>
			</element>
			
			<element name="bankHQName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开户行名称</documentation>
				</annotation>
			</element>
			
			<element name="bankBranchCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>支行编码（行号）</documentation>
				</annotation>
			</element>
			
		   <element name="bankBranchName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>支行名称</documentation>
				</annotation>
			</element>	
			
			<element name="provinceCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>省份编码</documentation>
				</annotation>
			</element>
			
			<element name="provinceName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>省份名称</documentation>
				</annotation>
			</element>	
		
			<element name="cityCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>城市编码</documentation>
				</annotation>
			</element>
			
			<element name="cityName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>城市名称</documentation>
				</annotation>
			</element>
						
			<element name="publicPrivateFlag" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>对公对私标志(对公:PUBLIC_ACCOUNT 对私:PRIVATE_ACCOUNT)</documentation>
				</annotation>
			</element>
			
			<element name="payeeRelationship" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收款人与发货人关系</documentation>
				</annotation>
			</element>
			
			<element name="payeePhone" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收款人手机号码</documentation>
				</annotation>
			</element>
			
			<element name="posSerialNum" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>POS串号</documentation>
				</annotation>
			</element>
			
			<element name="batchNo" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>银行交易流水号</documentation>
				</annotation>
			</element>
					
			<element name="invoiceMark" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发票标记</documentation>
				</annotation>
			</element>
			
			<element name="origUnifiedSettlement" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>始发统一结算</documentation>
				</annotation>
			</element>		
			
			<element name="destUnifiedSettlement" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>到达统一结算</documentation>
				</annotation>
			</element>				
						
			<element name="origContractUnifiedCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>出发统一结算合同部门标杆编码</documentation>
				</annotation>
			</element>
			
			<element name="destContractUnifiedCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>到达统一结算合同部门标杆编码</documentation>
				</annotation>
			</element>
			
			<element name="origUnifiedDuningCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>出发催款部门标杆编码</documentation>
				</annotation>
			</element>
			
			<element name="destUnifiedDuningCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>到达催款部门标杆编码</documentation>
				</annotation>
			</element>	
			
			<!--@218392 张永雪 新增 这个字段本来FOSS中是自己根据是否统一结算自己查询基础资料，但是现在是要VTS传给我  -->
			<element name="contractOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>合同部门编码</documentation>
				</annotation>
			</element>  
			
			<!--@218392 张永雪 新增 这个字段本来FOSS中是自己根据是否统一结算自己查询基础资料，但是现在是要VTS传给我  -->
			<element name="contractOrgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>合同部门名称</documentation>
				</annotation>
			</element>   		
			
			<!--@218392 张永雪 新增 这个字段本来FOSS中是自己根据是否统一结算自己查询基础资料，但是现在是要VTS传给我  -->
			<element name="receivableOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>应收部门编码</documentation>
				</annotation>
			</element>  
			
			<!--@218392 张永雪 新增 这个字段本来FOSS中是自己根据是否统一结算自己查询基础资料，但是现在是要VTS传给我  -->
			<element name="receivableOrgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>应收部门名称</documentation>
				</annotation>
			</element>  
			
			<!--@218392 张永雪 新增 这个字段本来FOSS中是自己根据是否统一结算自己查询基础资料，但是现在是要VTS传给我  -->
			<element name="dunningOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>催款部门编码</documentation>
				</annotation>
			</element>  
			
			<!--@218392 张永雪 新增 这个字段本来FOSS中是自己根据是否统一结算自己查询基础资料，但是现在是要VTS传给我  -->
			<element name="dunningOrgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>催款部门名称</documentation>
				</annotation>
			</element>  
 			<!--end01 for begin01 WaybillPickupInfoDto 实体中属性  -->		

		</sequence>
	</complexType>
	
   <!--接收运单实体参数 -->
    <complexType name="WaybillEntity">
    
        <annotation>
            <documentation>运单实体信息</documentation>
        </annotation>
        
        <sequence>
        
			<element name="id" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>运单ID</documentation>
				</annotation>
			</element>
			
			<element name="waybillNo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			
		    <element name="oldWaybillNo" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>原运单号：如果运单发生多次更改，那么这个就取自于最近一次单据的单号</documentation>
				</annotation>
			</element>
			
			<!-- @218392 zhangyongxue 以下结算财务单据可能不一定用到2016-05-04 17:54:50 -->	
			<element name="deliveryCustomerId" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户ID</documentation>
				</annotation>
			</element>
			
			<element name="deliveryCustomerCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户编码</documentation>
				</annotation>
			</element>
			
			<element name="deliveryBigCustomer" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户是否是大客户</documentation>
				</annotation>
			</element>	
			
			<element name="deliveryCustomerName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户名称</documentation>
				</annotation>
			</element>	
			
			<element name="deliveryCustomerMobilephone" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户手机</documentation>
				</annotation>
			</element>
			
			<element name="deliveryCustomerPhone" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户电话</documentation>
				</annotation>
			</element>
			
			<element name="deliveryCustomerContact" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户联系人</documentation>
				</annotation>
			</element>
			<element name="deliveryCustomerNationCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货国家</documentation>
				</annotation>
			</element>
			
			<element name="deliveryCustomerProvCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货省份</documentation>
				</annotation>
			</element>
			
			<element name="deliveryCustomerCityCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货市</documentation>
				</annotation>
			</element>
			
			<element name="deliveryCustomerDistCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货区</documentation>
				</annotation>
			</element>	
		
			<element name="deliveryCustomerAddress" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>发货具体地址</documentation>
				</annotation>
			</element>
			
			<element name="receiveCustomerId" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户ID</documentation>
				</annotation>
			</element>
			
			<element name="receiveCustomerCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户编码</documentation>
				</annotation>
			</element>	
			
			<element name="receiveBigCustomer" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户是否是大客户</documentation>
				</annotation>
			</element>
			
			<element name="receiveCustomerName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户名称</documentation>
				</annotation>
			</element>	
			
			<element name="receiveCustomerMobilephone" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户手机</documentation>
				</annotation>
			</element>
			
			<element name="receiveCustomerPhone" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户电话</documentation>
				</annotation>
			</element>
			
			<element name="receiveCustomerContact" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户联系人</documentation>
				</annotation>
			</element>
						
			<element name="receiveCustomerNationCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货国家</documentation>
				</annotation>
			</element>
			
			<element name="receiveCustomerProvCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货省份</documentation>
				</annotation>
			</element>
			
			<element name="receiveCustomerCityCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货市</documentation>
				</annotation>
			</element>	
		
			<element name="receiveCustomerDistCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货区</documentation>
				</annotation>
			</element>
			
			<element name="applicationReason" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>申请事由</documentation>
				</annotation>
			</element>
			
			<element name="receiveCustomerVillageCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货乡镇(街道)</documentation>
				</annotation>
			</element>
			
			<element name="dcServicefee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>折让方式-装卸费</documentation>
				</annotation>
			</element>	
			
			<element name="receiveCustomerAddress" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货具体地址</documentation>
				</annotation>
			</element>
			
			<element name="receiveOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收货部门(出发部门)</documentation>
				</annotation>
			</element>	
						
			<element name="productId" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>产品ID</documentation>
				</annotation>
			</element>
			
			<element name="productCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>运输性质</documentation>
				</annotation>
			</element>	
						
			<element name="customerPickupOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>提货网点</documentation>
				</annotation>
			</element>	
			
			
			<element name="targetOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>目的站</documentation>
				</annotation>
			</element>
			
			<element name="lastLoadOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>最终配载部门</documentation>
				</annotation>
			</element>
			
			<element name="goodsName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>	
			
			<element name="goodsQtyTotal" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>货物总件数</documentation>
				</annotation>
			</element>
			
			<element name="goodsWeightTotal" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>货物总重量</documentation>
				</annotation>
			</element>	
			
			<element name="goodsVolumeTotal" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>货物总体积</documentation>
				</annotation>
			</element>
			
			<element name="goodsSize" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>货物尺寸</documentation>
				</annotation>
			</element>
			
			<element name="goodsTypeCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>货物类型</documentation>
				</annotation>
			</element>
			
			<element name="insuranceAmount" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>保价声明价值</documentation>
				</annotation>
			</element>
			
			<element name="insuranceRate" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>保价费率</documentation>
				</annotation>
			</element>		
			
			<element name="insuranceFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>保价费</documentation>
				</annotation>
			</element>	
			
			<element name="codAmount" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
			</element>
			
			<element name="codRate" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>代收费率</documentation>
				</annotation>
			</element>
			
			<element name="codFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>代收货款手续费</documentation>
				</annotation>
			</element>
			
			<element name="refundType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>退款类型</documentation>
				</annotation>
			</element>
			
			<element name="toPayAmount" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>到付金额</documentation>
				</annotation>
			</element>
			
			<element name="prePayAmount" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>预付金额</documentation>
				</annotation>
			</element>	
			
			<element name="deliveryGoodsFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>送货费</documentation>
				</annotation>
			</element>
			
		    <element name="otherFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>其他费用</documentation>
				</annotation>
			</element>
			
			<element name="packageFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>包装手续费</documentation>
				</annotation>
			</element>
			
			<element name="promotionsFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>优惠费用</documentation>
				</annotation>
			</element>
			
			<element name="billingType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>运费计费类型</documentation>
				</annotation>
			</element>	
		
			<element name="unitPrice" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>运费计费费率</documentation>
				</annotation>
			</element>
			
			<element name="transportFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>公布价运费</documentation>
				</annotation>
			</element>
			
			<element name="valueAddFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>增值费用</documentation>
				</annotation>
			</element>
			
			<element name="paidMethod" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开单付款方式</documentation>
				</annotation>
			</element>
			
			<element name="totalFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>总费用</documentation>
				</annotation>
			</element>
			
			<element name="createTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			
			<element name="modifyTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新时间（业务时间）</documentation>
				</annotation>
			</element>
			
			<element name="billTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开单时间</documentation>
				</annotation>
			</element>
			
			<element name="createUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开单人</documentation>
				</annotation>
			</element>	
			
			<element name="modifyUserCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>
			
			<element name="createOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开单部门</documentation>
				</annotation>
			</element>
			
			<element name="modifyOrgCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>更新组织</documentation>
				</annotation>
			</element>
			
			<element name="refId" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>原运单ID</documentation>
				</annotation>
			</element>
			
			<element name="refCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>原运单号</documentation>
				</annotation>
			</element>
			
			<element name="currencyCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>币种</documentation>
				</annotation>
			</element>
			
			<element name="isWholeVehicle" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否整车运单</documentation>
				</annotation>
			</element>	
		
			<element name="wholeVehicleAppfee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>整车约车报价</documentation>
				</annotation>
			</element>
			
			<element name="wholeVehicleActualfee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>整车开单报价</documentation>
				</annotation>
			</element>
			
			<element name="accountName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>返款帐户开户名称：收款人姓名-代收货款</documentation>
				</annotation>
			</element>
			
			<element name="accountCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>返款帐户开户账户:银行账号-代收货款</documentation>
				</annotation>
			</element>	
						
			<element name="accountBank" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>返款帐户开户银行：汇款银行</documentation>
				</annotation>
			</element>
			
			<element name="billWeight" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>计费重量</documentation>
				</annotation>
			</element>
			
			<element name="pickupFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>接货费</documentation>
				</annotation>
			</element>	
			
			<element name="serviceFee" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>装卸费</documentation>
				</annotation>
			</element>	
			
<!-- 			<element name="collectionDepartment" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>收款部门：运单表中的收款部门，为空</documentation>
				</annotation>
			</element>	 -->

			<element name="active" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>运单状态- Y有效；N无效</documentation>
				</annotation>
			</element>
			
			<element name="isPassOwnDepartment" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否经过营业部</documentation>
				</annotation>
			</element>
			
			<element name="createUserName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>运单提交人姓名</documentation>
				</annotation>
			</element>
			
			<element name="createUserDeptName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>运单提交人所在部门名称</documentation>
				</annotation>
			</element>
			
			<element name="customerPickupOrgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>提货网点名称</documentation>
				</annotation>
			</element>
			
         </sequence>
     </complexType>
     
     
   <!--begin02 下面是VTS新的开单打印运输合同生成首尾款应付单，打印运输用的 -->	
    <complexType name="PayableVtsDto">
        <annotation>
            <documentation>VTS打印运输合同收款款金额实体</documentation>
        </annotation>
        <sequence>		
			<element name="TF2Amount" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>整车首款</documentation>
				</annotation>
			</element>			
			
			<element name="TL2Amount" type="decimal" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>整车尾款</documentation>
				</annotation>
			</element>
			
			<element name="origOutFieldCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>出发外场编码</documentation>
				</annotation>
			</element>	
			
			<element name="origOutFieldName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>出发外场名字</documentation>
				</annotation>
			</element>
						
         </sequence>
     </complexType>			
 	<!--end02 for begin02 上面是VTS新的开单打印运输合同生成首尾款应付单，打印运输用的  -->				
			
	<!--接收current实体参数 -->
    <complexType name="CurrentInfo">
        <annotation>
            <documentation>当前登陆信息</documentation>
        </annotation>
        <sequence>
			<element name="empCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开单员工号</documentation>
				</annotation>
			</element>
			
			<element name="empName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开单员姓名</documentation>
				</annotation>
			</element>
			
			<element name="currentDeptCode" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开单员部门编码</documentation>
				</annotation>
			</element>
			
			<element name="currentDeptName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>开单员部门名称</documentation>
				</annotation>
			</element>	
         </sequence>
     </complexType>

	<!-- 响应实体 response -->
	<complexType name="VtsWaybillFinanceBillResponse">
        <annotation>
        	<documentation>FOSS结算接收到VTS系统开单生成财务单据流水响应response</documentation>
        </annotation>
        <sequence>
			<!--businessId 业务ID：vts所有异步接口加了这个字段，VTS传送给我FOSS结算，然后我再把这个字段传输给vts，他们会根据这个字段来回调  -->
            <element name="businessId" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>业务ID：vts所有异步接口加了这个字段，VTS传送给我FOSS结算，然后我再把这个字段传输给vts，他们会根据这个字段来回调</documentation>
				</annotation>
			</element>  
            <element name="result" type="int" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>成功或者失败（整数类型，2、失败；1、成功）</documentation>
                </annotation>
            </element>
            <element name="reason" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>失败原因</documentation>
                </annotation>
            </element>
            <element name="waybillNo" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
		</sequence>
	</complexType>

	<element name="vtsWaybillFinanceBillRequest" type="tns:VtsWaybillFinanceBillRequest"></element>
	<element name="currentInfo" type="tns:CurrentInfo"></element>
	<element name="waybillEntity" type="tns:WaybillEntity"></element>
	<element name="payableVtsDto" type="tns:PayableVtsDto"></element>
	<element name="vtsWaybillFinanceBillResponse" type="tns:VtsWaybillFinanceBillResponse"></element>
</schema>