esb-extends-pojo/src/main/schema/vts2foss/VTS_SEND_WAYBILLMESSAGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.deppon.com/esb/inteface/domain/vtsbill"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/esb/inteface/domain/vtsbill"
	elementFormDefault="qualified">

	<element name="waybillMessageRequest" type="tns:WaybillMessageRequest"></element>
	<element name="waybillMessageResponse" type="tns:WaybillMessageResponse"></element>

	<complexType name="WaybillMessageRequest">
		<sequence>
			<element name="bussinessId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>业务ID</documentation>
				</annotation>
			</element>
			
			<element name="id" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>Id</documentation>
				</annotation>
			</element>
			
			<element name="waybillNo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户ID</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户编码</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>发货客户名称</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerMobilephone" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货客户手机</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerPhone" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货客户电话</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerContact" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货客户联系人</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerNationCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货国家</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerProvCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货省份</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerCityCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货市</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerDistCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货区</documentation>
				</annotation>
			</element>

			<element name="deliveryCustomerAddress" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货具体地址</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户ID</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户编码</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户名称</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerMobilephone" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货客户手机</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerPhone" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收货客户电话</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerContact" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货客户联系人</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerNationCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货国家</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerProvCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货省份</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerCityCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货市</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerDistCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货区</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerAddress" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货具体地址</documentation>
				</annotation>
			</element>

			<element name="receiveOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收货部门(出发部门)</documentation>
				</annotation>
			</element>

			<element name="productCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运输性质</documentation>
				</annotation>
			</element>

			<element name="receiveMethod" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>提货方式</documentation>
				</annotation>
			</element>

			<element name="customerPickupOrgCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>提货网点</documentation>
				</annotation>
			</element>

			<element name="targetOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>目的站</documentation>
				</annotation>
			</element>
			
			<element name="pickupToDoor" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否上门接货</documentation>
				</annotation>
			</element>
			
			<element name="pickupCentralized" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否集中接货</documentation>
				</annotation>
			</element>
			
			<element name="loadOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>配载部门</documentation>
				</annotation>
			</element>
			
			<element name="carDirectDelivery" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否大车直送</documentation>
				</annotation>
			</element>

			<element name="goodsName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>

			<element name="goodsQtyTotal" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物总件数</documentation>
				</annotation>
			</element>

			<element name="goodsWeightTotal" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物总重量</documentation>
				</annotation>
			</element>

			<element name="goodsVolumeTotal" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物总体积</documentation>
				</annotation>
			</element>

			<element name="goodsTypeCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物类型</documentation>
				</annotation>
			</element>
			
			<element name="preciousGoods" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否贵重物品</documentation>
				</annotation>
			</element>
			
			<element name="specialShapedGoods" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否异形物品</documentation>
				</annotation>
			</element>

			<element name="goodsPackage" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物包装</documentation>
				</annotation>
			</element>

			<element name="insuranceAmount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>保价声明价值</documentation>
				</annotation>
			</element>

			<element name="codAmount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
			</element>

			<element name="codRate" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>代收费率</documentation>
				</annotation>
			</element>

			<element name="codFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>代收货款手续费</documentation>
				</annotation>
			</element>

			<element name="refundType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>退款类型</documentation>
				</annotation>
			</element>

			<element name="returnBillType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>返单类别</documentation>
				</annotation>
			</element>

			<element name="secretPrepaid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>预付费保密</documentation>
				</annotation>
			</element>

			<element name="toPayAmount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>到付金额</documentation>
				</annotation>
			</element>

			<element name="prePayAmount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>预付金额</documentation>
				</annotation>
			</element>

			<element name="otherFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>其他费用</documentation>
				</annotation>
			</element>

			<element name="packageFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>包装手续费</documentation>
				</annotation>
			</element>

			<element name="promotionsFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>优惠费用</documentation>
				</annotation>
			</element>

			<element name="billingType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运费计费类型</documentation>
				</annotation>
			</element>

			<element name="transportFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>公布价运费</documentation>
				</annotation>
			</element>

			<element name="valueAddFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>增值费用</documentation>
				</annotation>
			</element>

			<element name="paidMethod" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开单付款方式</documentation>
				</annotation>
			</element>

			<element name="active" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运单状态/是否有效</documentation>
				</annotation>
			</element>
			
			<element name="forbiddenLine" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>禁行</documentation>
				</annotation>
			</element>

			<element name="totalFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>总费用</documentation>
				</annotation>
			</element>

			<element name="createTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>

			<element name="modifyTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>更新时间（业务时间）</documentation>
				</annotation>
			</element>

			<element name="billTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开单时间</documentation>
				</annotation>
			</element>

			<element name="createUserCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开单人</documentation>
				</annotation>
			</element>

			<element name="modifyUserCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>更新人</documentation>
				</annotation>
			</element>

			<element name="createOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开单组织</documentation>
				</annotation>
			</element>

			<element name="modifyOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>更新组织</documentation>
				</annotation>
			</element>

			<element name="refId" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>原运单ID</documentation>
				</annotation>
			</element>

			<element name="refCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>原运单号</documentation>
				</annotation>
			</element>

			<element name="isWholeVehicle" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否整车运单</documentation>
				</annotation>
			</element>

			<element name="wholeVehicleAppfee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>整车约车报价</documentation>
				</annotation>
			</element>

			<element name="wholeVehicleActualfee" type="decimal"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>整车开单报价</documentation>
				</annotation>
			</element>

			<element name="accountName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>返款帐户开户名称</documentation>
				</annotation>
			</element>

			<element name="accountCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>返款帐户开户账户</documentation>
				</annotation>
			</element>

			<element name="accountBank" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>返款帐户开户银行</documentation>
				</annotation>
			</element>

			<element name="billWeight" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>计费重量</documentation>
				</annotation>
			</element>

			<element name="serviceFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>装卸费/劳务费</documentation>
				</annotation>
			</element>

			<element name="transportType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运输类型</documentation>
				</annotation>
			</element>

			<element name="addTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>新增时间</documentation>
				</annotation>
			</element>

			<element name="insuranceRate" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>保价费率</documentation>
				</annotation>
			</element>

			<element name="insuranceFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>保价费</documentation>
				</annotation>
			</element>

			<element name="unitPrice" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运费计费费率</documentation>
				</annotation>
			</element>

			<element name="contactAddressId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>联系人地址ID</documentation>
				</annotation>
			</element>

			<element name="collectionDepartment" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收款部门</documentation>
				</annotation>
			</element>

			<element name="isPassOwnDepartment" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否经过营业部</documentation>
				</annotation>
			</element>

			<element name="paperNum" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>纸包装</documentation>
				</annotation>
			</element>

			<element name="woodNum" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>木包装</documentation>
				</annotation>
			</element>

			<element name="fibreNum" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>纤包装</documentation>
				</annotation>
			</element>

			<element name="salverNum" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>托包装</documentation>
				</annotation>
			</element>

			<element name="membraneNum" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>膜包装</documentation>
				</annotation>
			</element>

			<element name="otherPackage" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>其他包装</documentation>
				</annotation>
			</element>

			<element name="deliverCustContactId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>发货联系人Id</documentation>
				</annotation>
			</element>

			<element name="receiverCustContactId" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收获联系人ID</documentation>
				</annotation>
			</element>

			<element name="pendingType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>处理类型:"PDA_ACTIVE"--PDA已补录 ，"PC_ACTIVE"--暂存已开单
					</documentation>
				</annotation>
			</element>

			<element name="licensePlateNum" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>车牌号</documentation>
				</annotation>
			</element>

			<element name="orderVehicleNum" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>约车编号</documentation>
				</annotation>
			</element>

			<element name="isInit" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>是否初始化</documentation>
				</annotation>
			</element>

			<element name="createUserName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单提交人名称</documentation>
				</annotation>
			</element>

			<element name="createUserDeptName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单提交人所在部门名称</documentation>
				</annotation>
			</element>

			<element name="receiveOrgName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>收货部门名称</documentation>
				</annotation>
			</element>

			<element name="customerPickupOrgName" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>提货网点名称</documentation>
				</annotation>
			</element>

			<element name="goodsSize" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物尺寸</documentation>
				</annotation>
			</element>

			<element name="outerNotes" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>对外备注</documentation>
				</annotation>
			</element>

			<element name="innerNotes" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>对内备注</documentation>
				</annotation>
			</element>

			<element name="transportationRemark" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>储运事项</documentation>
				</annotation>
			</element>
			
			<element name="oldVersionWaybillId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>老版本运单ID</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="WaybillMessageResponse">
		<sequence>
			<element name="bussinessId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>业务ID</documentation>
				</annotation>
			</element>
			
			<element name="waybillNo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="result" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>返回结果</documentation>
				</annotation>
			</element>
			<element name="reason" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>原因</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>