esb-extends-pojo/src/main/schema/vts2foss/VTS_SEND_ACTUALFREIGHTMESSAGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.deppon.com/esb/inteface/domain/vtsbill"
	xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.deppon.com/esb/inteface/domain/vtsbill"
	elementFormDefault="qualified">
	 
	<element name="actualFreightMessageRequest" type="tns:ActualFreightMessageRequest"></element>
	<element name="actualFreightMessageResponse" type="tns:ActualFreightMessageResponse"></element>

	<complexType name="ActualFreightMessageRequest">
		<sequence>
			<element name="bussinessId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>业务ID</documentation>
				</annotation>
			</element> 
			
			<element name="waybillNo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>

			<element name="goodsName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>

			<element name="weight" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>重量</documentation>
				</annotation>
			</element>

			<element name="volume" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>体积</documentation>
				</annotation>
			</element>

			<element name="goodsQty" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>件数</documentation>
				</annotation>
			</element>

			<element name="dimension" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>尺寸</documentation>
				</annotation>
			</element>

			<element name="insuranceValue" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>保险声明价值</documentation>
				</annotation>
			</element>

			<element name="packingFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>包装费</documentation>
				</annotation>
			</element>

			<element name="deliverFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>送货费</documentation>
				</annotation>
			</element>

			<element name="laborFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>劳务费/装卸费</documentation>
				</annotation>
			</element>

			<element name="codAmount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
			</element>

			<element name="valueaddFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>增值服务</documentation>
				</annotation>
			</element>

			<element name="freight" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>公布价运费</documentation>
				</annotation>
			</element>

			<element name="settleStatus" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>结清状态</documentation>
				</annotation>
			</element>

			<element name="settleTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>结清时间</documentation>
				</annotation>
			</element>

			<element name="notificationResult" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>通知状态</documentation>
				</annotation>
			</element>

			<element name="notificationTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>通知时间</documentation>
				</annotation>
			</element>

			<element name="deliverDate" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>派送日期</documentation>
				</annotation>
			</element>

			<element name="actualDeliverType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>提货方式/实际提货方式</documentation>
				</annotation>
			</element>

			<element name="storageDay" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>仓储天数</documentation>
				</annotation>
			</element>

			<element name="storageCharge" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>仓储费</documentation>
				</annotation>
			</element>

			<element name="overdueDay" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>逾期天数</documentation>
				</annotation>
			</element>

			<element name="arriveGoodsQty" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>到达件数</documentation>
				</annotation>
			</element>

			<element name="arriveTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>到达时间</documentation>
				</annotation>
			</element>

			<element name="arrangeGoodsQty" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>排单件数</documentation>
				</annotation>
			</element>

			<element name="arriveNotoutGoodsQty" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>到达未出库件数</documentation>
				</annotation>
			</element>

			<element name="exceptionGoodsQty" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>异常件数</documentation>
				</annotation>
			</element>

			<element name="deliverRegionCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>送货区域编码</documentation>
				</annotation>
			</element>

			<element name="generateGoodsQty" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>已生成到达联件数</documentation>
				</annotation>
			</element>

			<element name="paymentType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>通知客户产生的付款方式</documentation>
				</annotation>
			</element>

			<element name="startStockOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>始发库存部门编码</documentation>
				</annotation>
			</element>

			<element name="endStockOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最终库存部门编码</documentation>
				</annotation>
			</element>

			<element name="waybillId" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运单id</documentation>
				</annotation>
			</element>

			<element name="status" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>运单状态</documentation>
				</annotation>
			</element>

			<element name="channelCustId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>渠道客户Id:官网发货人德邦用户名</documentation>
				</annotation>
			</element>

			<element name="deliverymanName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>到达提货人</documentation>
				</annotation>
			</element>

			<element name="identifyType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>证件类型</documentation>
				</annotation>
			</element>

			<element name="identifyCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>证件号</documentation>
				</annotation>
			</element>

			<element name="goodsAreaCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>货区编码</documentation>
				</annotation>
			</element>

			<element name="everTelnoticeSuccess" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否曾经电话通知成功过</documentation>
				</annotation>
			</element>

			<element name="notificationOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>通知部门</documentation>
				</annotation>
			</element>

			<element name="codIdentifyType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>证件类型（代收人）</documentation>
				</annotation>
			</element>

			<element name="codIdentifyCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>证件号码（代收人）</documentation>
				</annotation>
			</element>

			<element name="invoice" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>发票标识</documentation>
				</annotation>
			</element>

			<element name="isSMS" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>短信标识</documentation>
				</annotation>
			</element>

			<element name="isCollect" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否已采集</documentation>
				</annotation>
			</element>

			<element name="modifyTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>修改时间</documentation>
				</annotation>
			</element>

			<element name="startBillTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开始开单时间</documentation>
				</annotation>
			</element>

			<element name="togetherSendCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>合送编码</documentation>
				</annotation>
			</element>

			<element name="togetherSendMark" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>合送标识</documentation>
				</annotation>
			</element>

			<element name="bigTicketGoods" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否大票货</documentation>
				</annotation>
			</element>

			<element name="waybillType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单类型</documentation>
				</annotation>
			</element>

			<element name="isNextDayPending" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否次日补录</documentation>
				</annotation>
			</element>

			<element name="pendingTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>补录时间</documentation>
				</annotation>
			</element>

			<element name="isElectronicInvoice" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否电子发票</documentation>
				</annotation>
			</element>

			<element name="invoiceMobilePhone" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>发票手机号</documentation>
				</annotation>
			</element>

			<element name="email" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发票邮箱</documentation>
				</annotation>
			</element>

			<element name="packageRemark" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>包装备注</documentation>
				</annotation>
			</element>
			
			<element name="businessZone" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否商业区</documentation>
				</annotation>
			</element>

			<element name="residentialDistrict" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否住宅区</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerAddressNote" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货具体地址备注</documentation>
				</annotation>
			</element>
			

			<element name="deliveryCustomerAddressNote" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>发货具体地址备注</documentation>
				</annotation>
			</element>

			<element name="startCentralizedSettlement" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>始发客户是否统一结算</documentation>
				</annotation>
			</element>

			<element name="arriveCentralizedSettlement" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到达客户是否统一结算</documentation>
				</annotation>
			</element>

			<element name="startContractOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>始发客户合同部门编码</documentation>
				</annotation>
			</element>

			<element name="arriveContractOrgCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到达客户合同部门编码</documentation>
				</annotation>
			</element>

			<element name="startReminderOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>始发客户合同上催款部门编码</documentation>
				</annotation>
			</element>

			<element name="arriveReminderOrgCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>到达客户合同上催款部门编码</documentation>
				</annotation>
			</element>

			<element name="paperBoxTotlePrice" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>纸箱总价</documentation>
				</annotation>
			</element>

			<element name="fibelBagTotlePrice" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>纤袋总价</documentation>
				</annotation>
			</element>

			<element name="otherTotle" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>打包装其它合计/纸纤包装其它总价</documentation>
				</annotation>
			</element>

			<element name="packingTotle" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>打包装价格合计/纸纤包装总价</documentation>
				</annotation>
			</element>

			<element name="isExhibitCargo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否展货</documentation>
				</annotation>
			</element>

			<element name="industrySourceCategory" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>货源品类/行业货源品类</documentation>
				</annotation>
			</element>

			<element name="toPayAmountDiscount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>到付折扣金额</documentation>
				</annotation>
			</element>

			<element name="prePayAmountDiscount" type="decimal"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>预付折扣金额</documentation>
				</annotation>
			</element>

			<element name="connectionNumFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>关联单号费用</documentation>
				</annotation>
			</element>

			<element name="complainStatus" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否有投诉变更签收结果/是否有投诉变更：Y,有; 为空或N,没有</documentation>
				</annotation>
			</element>

			<element name="transactionSerialNumber" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>交易流水号</documentation>
				</annotation>
			</element>

			<element name="crmTransportFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>特殊渠道（巨商汇，阿里巴巴）订单运费</documentation>
				</annotation>
			</element>

			<element name="crmWeight" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>特殊渠道（巨商汇，阿里巴巴）订单重量</documentation>
				</annotation>
			</element>

			<element name="crmVolume" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>特殊渠道（巨商汇，阿里巴巴）订单体积</documentation>
				</annotation>
			</element>

			<element name="internalDeliveryType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>内部发货类型</documentation>
				</annotation>
			</element>

			<element name="employeeNo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>员工号</documentation>
				</annotation>
			</element>

			<element name="isBatchCreateWaybill" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否批量开单</documentation>
				</annotation>
			</element>

			<element name="deliveryTimeInterval" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>送货时间段</documentation>
				</annotation>
			</element>

			<element name="invoiceType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>发票类型</documentation>
				</annotation>
			</element>

			<element name="deliveryTimeStart" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>送货时间点(起)</documentation>
				</annotation>
			</element>

			<element name="deliveryTimeOver" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>送货时间点(止)</documentation>
				</annotation>
			</element>

			<element name="deliverBillQty" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>交单件数/已派送交单件数</documentation>
				</annotation>
			</element>

			<element name="upDeliverDateOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>修改预计送货日期部门</documentation>
				</annotation>
			</element>

			<element name="partnerBillingLogo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否伙伴开单/伙伴开单</documentation>
				</annotation>
			</element>

			<element name="partnerPhome" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>伙伴手机</documentation>
				</annotation>
			</element>

			<element name="partnerName" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>伙伴名称</documentation>
				</annotation>
			</element>

			<element name="receiveCustomerVillageCode" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>收货人乡镇(街道)</documentation>
				</annotation>
			</element>

			<element name="homeDelivery" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否为上门发货</documentation>
				</annotation>
			</element>

			<element name="pdaPaidMethod" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>PDA付款方式</documentation>
				</annotation>
			</element>

			<element name="pdaPrePayAmount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>PDA现付金额</documentation>
				</annotation>
			</element>

			<element name="flabelleavemonth" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>客户分群</documentation>
				</annotation>
			</element>

			<element name="minTransportFee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最低一票费用</documentation>
				</annotation>
			</element>

			<element name="isExpressFocus" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否快递集中录单</documentation>
				</annotation>
			</element>

			<element name="specialValueAddedServiceType" type="string"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>特殊增值服务类型</documentation>
				</annotation>
			</element>

			<element name="dcServicefee" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>折让方式-装卸费</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ActualFreightMessageResponse">
		<sequence>
			<element name="bussinessId" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>业务ID</documentation>
				</annotation>
			</element>
			
			<element name="waybillNo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			
			<element name="result" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>返回结果</documentation>
				</annotation>
			</element>
			
			<element name="reason" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>原因</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

</schema>