foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/bank/server/Receive_auditState.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="IOnlinePayWebServciesService"
	targetNamespace="http://www.deppon.com/foss/receiveAuditStateService"
	xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://www.deppon.com/foss/receiveAuditStateService"
	xmlns:tns_domain="http://www.deppon.com/foss/inteface/domain/payment"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception">
	
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/foss/inteface/domain/payment">
			<xsd:include schemaLocation="FOSS_RECEIVE_AUDITSTATE.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="paymentAuditStatusRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:paymentAuditStatusRequest" name="parameters">
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="paymentAuditStatusResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:paymentAuditStatusResponse" name="parameters">
		</wsdl:part>
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	<wsdl:portType name="ReceiveAuditStateService">
		<wsdl:operation name="receiveAuditState">
			<wsdl:documentation>处理代收货款审核结果 </wsdl:documentation>
			<wsdl:input message="tns:paymentAuditStatusRequest" name="paymentAuditStatusRequest">
			</wsdl:input>
			<wsdl:output message="tns:paymentAuditStatusResponse"
				name="paymentAuditStatusResponse">
			</wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ReceiveAuditStateServiceSoapBinding"
		type="tns:ReceiveAuditStateService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="receiveAuditState">
			<soap:operation soapAction="http://www.deppon.com/foss/receiveAuditStateService" style="document" />
			<wsdl:input name="paymentAuditStatusRequest">
				<soap:body use="literal" />
				<soap:header use="literal" part="esbHeader" message="tns:paymentAuditStatusRequest"></soap:header>
			</wsdl:input>
			<wsdl:output name="paymentAuditStatusResponse">
				<soap:body use="literal" />
				<soap:header use="literal" part="esbHeader" message="tns:paymentAuditStatusResponse"></soap:header>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="ReceiveAuditStateService">
		<wsdl:port binding="tns:ReceiveAuditStateServiceSoapBinding"
			name="ReceiveAuditStateServicePort">
			<soap:address
				location="http://192.168.14.44:8082/webWsPro/webservice/OnlinePays" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>