esb-extends-pojo/src/main/schema/crm2foss/FOSS_RECIEVE_CUSTOMERINFOETC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/crm"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/crm"
	elementFormDefault="qualified">
	<complexType name="CustInfoSyncRequest">
		<annotation>
			<documentation>FOSS接送货子系统中的开单用例、FOSS结算子系统中的退代收货款等用例都需要客户及客户关联信息，该信息存储在CRM系统中，为满足FOSS系统各功能模块对于该部分信息的需求，需将客户及客户关联信息同步至FOSS系统
			</documentation>
		</annotation>
		<sequence>
			<element name="custBaseInfo" type="tns:CustBaseInfo"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>客户基本信息</documentation>
				</annotation>
			</element>
			<element name="custBankInfoList" type="tns:CustBankInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>客户开户银行</documentation>
				</annotation>
			</element>
			<element name="linkManInfoList" type="tns:LinkManInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>客户联系人信息</documentation>
				</annotation>
			</element>
			<element name="contractInfoList" type="tns:ContractInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>客户合同信息</documentation>
				</annotation>
			</element>
			<element name="custAddressInfoList" type="tns:CustAddressInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>客户接送货地址</documentation>
				</annotation>
			</element>
			<element name="departmentInfoList" type="tns:DepartmentInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>合同适用部门</documentation>
				</annotation>
			</element>
			<element name="preferentialInfoList" type="tns:PreferentialInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>优惠信息</documentation>
				</annotation>
			</element>
			<element name="linkManAddressInfoList" type="tns:LinkManAddresInfo"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>联系人接送货地址</documentation>
				</annotation>
			</element>
			<element name="operateType" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>操作类别：整数类型，1、新增；2、修改；3、删除；</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="CustBaseInfo">
		<annotation>
			<documentation>客户基本信息</documentation>
		</annotation>
		<sequence>
			<element name="fcustnumber" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>客户编码</documentation>
				</annotation>
			</element>
			<element name="fregistaddress" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>地址</documentation>
				</annotation>
			</element>
			<element name="fcustnature" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>客户属性,整数类型，1、出发和到达客户；2、到达客户；3、出发客户</documentation>
				</annotation>
			</element>
			<element name="fcusttype" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>客户类型,整数类型，1、企业；2、个人；</documentation>
				</annotation>
			</element>
			<element name="credit" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>信用额度</documentation>
				</annotation>
			</element>
			<element name="fcustname" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation> 客户名称</documentation>
				</annotation>
			</element>
			<element name="fdegree" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>客户等级(整数类型，1、已降级固定客户；2、普通客户；3、铂金客户；4、黄金客户；5、钻石客户)
					</documentation>
				</annotation>
			</element>
			<element name="ftaxregnumber" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>营业执照号</documentation>
				</annotation>
			</element>
			<element name="fdeptid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>客户所属部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="fcrmcancel" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>客户是否有效(0,无效；1、有效；)</documentation>
				</annotation>
			</element>
			<element name="fid" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>CRM客户ID</documentation>
				</annotation>
			</element>
			<element name="monthSettlementCustOwe" type="decimal"
				minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>月结客户总欠款</documentation>
				</annotation>
			</element>
			<element name="fcreatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="flastUpdateTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="CustBankInfo">
		<annotation>
			<documentation>客户开户银行</documentation>
		</annotation>
		<sequence>
			<element name="fsubbankname" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>其他支行名称（手动输入）</documentation>
				</annotation>
			</element>

			<element name="fbankaccount" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开户帐号</documentation>
				</annotation>
			</element>

			<element name="fcountname" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开户人姓名</documentation>
				</annotation>
			</element>

			<element name="fbankcityid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开户行所在城市编码</documentation>
				</annotation>
			</element>

			<element name="fbankprovinceid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开户行省份编码</documentation>
				</annotation>
			</element>

			<element name="fbankid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开户行编码</documentation>
				</annotation>
			</element>

			<element name="flinkmanmobile" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>手机号码</documentation>
				</annotation>
			</element>

			<element name="frelation" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>帐号与客户关系s</documentation>
				</annotation>
			</element>

			<element name="fsubbanknameid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>支行编码</documentation>
				</annotation>
			</element>

			<element name="fdesciption" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>备注</documentation>
				</annotation>
			</element>

			<element name="fisdefaultaccount" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否默认帐号</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="CustAddressInfo">
		<annotation>
			<documentation>客户接送货地址</documentation>
		</annotation>
		<sequence>
			<element name="faddress" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>详细地址</documentation>
				</annotation>
			</element>

			<element name="fpostcode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>邮编</documentation>
				</annotation>
			</element>

			<element name="fprovince" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>省份</documentation>
				</annotation>
			</element>

			<element name="fcity" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>城市</documentation>
				</annotation>
			</element>

			<element name="farea" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>区县</documentation>
				</annotation>
			</element>
			<element name="faddresstype" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>地址类型(整数类型，1、发货地址；2、接货地址；3、接送货地址)</documentation>
				</annotation>
			</element>

			<element name="fstatus" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>状态(整数类型，1、正常；2、审批中；3、无效)</documentation>
				</annotation>
			</element>

			<element name="fcreateTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>

			<element name="flastUpdateTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="LinkManInfo">
		<annotation>
			<documentation>客户联系人信息</documentation>
		</annotation>
		<sequence>
			<element name="fsex" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>性别(整数类型，1、男；2、女)</documentation>
				</annotation>
			</element>
			<element name="foffertel" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>办公电话</documentation>
				</annotation>
			</element>
			<element name="fmobiletel" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>移动电话</documentation>
				</annotation>
			</element>
			<!-- ? -->
			<element name="fax" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>传真</documentation>
				</annotation>
			</element>
			<element name="flinkmanaddress" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>联系人地址</documentation>
				</annotation>
			</element>
			<element name="femail" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>邮箱</documentation>
				</annotation>
			</element>
			<!-- ? -->
			<element name="fpostcode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>邮编</documentation>
				</annotation>
			</element>
			<element name="fborndate" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>出生日期</documentation>
				</annotation>
			</element>
			<element name="fidcard" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>身份证号</documentation>
				</annotation>
			</element>
			<element name="fpersonlove" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>个人爱好</documentation>
				</annotation>
			</element>
			<!-- ? -->
			<element name="isReceiveEmail" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否接收邮件</documentation>
				</annotation>
			</element>
			<!-- ? -->
			<element name="isReceiveShortMsg" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否接收短信</documentation>
				</annotation>
			</element>
			<!-- ? -->
			<element name="isReceiveLetter" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否接收信件</documentation>
				</annotation>
			</element>
			<element name="fgainave" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>获知公司途径</documentation>
				</annotation>
			</element>
			<element name="ffolk" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>民族</documentation>
				</annotation>
			</element>
			<element name="fnativeplace" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>籍贯</documentation>
				</annotation>
			</element>
			<element name="fduty" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>职务</documentation>
				</annotation>
			</element>
			<element name="fdutydept" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>任职部门</documentation>
				</annotation>
			</element>
			<element name="fname" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>联系人名称</documentation>
				</annotation>
			</element>
			<!-- ? -->
			<element name="desc" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>描述</documentation>
				</annotation>
			</element>
			<element name="fcreatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="flastupdatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ContractInfo">
		<annotation>
			<documentation>客户合同信息</documentation>
		</annotation>
		<sequence>
			<element name="fpayway" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>付款方式(整数类型，1、月结；2、无；)</documentation>
				</annotation>
			</element>
			<element name="farrearamount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>申请欠款额度</documentation>
				</annotation>
			</element>
			<element name="flinkmanname" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>协议联系人姓名</documentation>
				</annotation>
			</element>
			<element name="flinkmanphone" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>联系人固定电话</documentation>
				</annotation>
			</element>
			<element name="flinkmanmobile" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>联系人手机</documentation>
				</annotation>
			</element>
			<element name="flinkmanaddress" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>联系人详细地址</documentation>
				</annotation>
			</element>
			<element name="frecondate" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>对账日期</documentation>
				</annotation>
			</element>
			<element name="finvoicdate" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开发票日期</documentation>
				</annotation>
			</element>
			<element name="fresultdate" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>结款日期</documentation>
				</annotation>
			</element>
			<element name="fcontractbegindate" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>合同起始日期</documentation>
				</annotation>
			</element>
			<element name="fcontractenddate" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>合同到期日期</documentation>
				</annotation>
			</element>
			<element name="fapplication" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>申请事由(保留2000个字节)</documentation>
				</annotation>
			</element>
			<element name="fcustid" type="string" minOccurs="1"
				maxOccurs="unbounded">
				<annotation>
					<documentation>客户id</documentation>
				</annotation>
			</element>
			<element name="fdeptidStandardcode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>所属部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="fiddiscount" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否折扣</documentation>
				</annotation>
			</element>
			<element name="fcontractstatus" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>合同状态(整数类型，1、审批中；2、生效；3、失效)</documentation>
				</annotation>
			</element>
			<element name="fcontractsubject" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>合同主体</documentation>
				</annotation>
			</element>
			<element name="fregicapital" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>注册资金</documentation>
				</annotation>
			</element>
			<element name="fbeforecontractnum" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>原合同编号</documentation>
				</annotation>
			</element>
			<element name="fcontractnum" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>合同编号</documentation>
				</annotation>
			</element>
			<element name="fgoodsname" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>走货名称</documentation>
				</annotation>
			</element>
			<element name="fcustcompany" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>客户全称</documentation>
				</annotation>
			</element>
			<element name="fcontactid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>协议联系人id</documentation>
				</annotation>
			</element>
			<element name="fpreferentialtype" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>优惠类型(整数类型，1、月发月送；2、价格折扣)</documentation>
				</annotation>
			</element>
			<!-- ? -->
			<element name="fpreferential" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>优惠信息</documentation>
				</annotation>
			</element>
			<element name="fcreatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="flastupdatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="DepartmentInfo">
		<annotation>
			<documentation>合同适用部门</documentation>
		</annotation>
		<sequence>
			<element name="fdeptidStandardcode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>对应部门标杆编码</documentation>
				</annotation>
			</element>
			<!-- new -->
			<element name="fcontractid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>对应合同id</documentation>
				</annotation>
			</element>
			<!-- new -->
			<element name="fdeptid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>对应部门id</documentation>
				</annotation>
			</element>
			<element name="fbegintime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>开始时间</documentation>
				</annotation>
			</element>
			<element name="fendTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>结束时间</documentation>
				</annotation>
			</element>
			<element name="fworkflowid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>工作流号</documentation>
				</annotation>
			</element>
			<element name="fapprovalstate" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>OA审批状态</documentation>
				</annotation>
			</element>
			<element name="fapprovalman" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>审批人</documentation>
				</annotation>
			</element>
			<element name="fworkflowtype" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>工作流类型(整数类型，1、新增合同；2、改签合同；3、作废合同；4、归属变更；5、解除绑定；6、绑定合同)
					</documentation>
				</annotation>
			</element>
			<element name="fstate" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>状态(0、无效；1、有效)</documentation>
				</annotation>
			</element>
			<element name="fisdept" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否归属部门</documentation>
				</annotation>
			</element>
			<element name="fcreatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="flastupdatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="PreferentialInfo">
		<annotation>
			<documentation>优惠信息</documentation>
		</annotation>
		<sequence>
			<element name="fchargerebate" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运费折扣费率</documentation>
				</annotation>
			</element>
			<element name="fagentgathrate" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>代收货款费率</documentation>
				</annotation>
			</element>
			<element name="finsuredpricerate" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>保价费率</documentation>
				</annotation>
			</element>
			<element name="freceivepricerate" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>接货费率</documentation>
				</annotation>
			</element>
			<element name="fdeliverypricerate" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>送货费率</documentation>
				</annotation>
			</element>
			<element name="fcreatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="flastupdatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="LinkManAddresInfo">
		<annotation>
			<documentation>联系人接送货地址</documentation>
		</annotation>
		<sequence>
			<element name="fshuttleaddressid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>接送货地址id</documentation>
				</annotation>
			</element>
			<element name="flinkmanid" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>联系人id</documentation>
				</annotation>
			</element>

			<element name="faddresstype" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>地址类型(整数类型，1、发货地址；2、接货地址；3、接送货地址；)</documentation>
				</annotation>
			</element>
			<element name="faddress" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>地址</documentation>
				</annotation>
			</element>
			<element name="fstartTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>偏好起始时间</documentation>
				</annotation>
			</element>
			<element name="fendTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>偏好结束时间</documentation>
				</annotation>
			</element>

			<element name="fbillRequest" minOccurs="1" maxOccurs="1"
				type="string">
				<annotation>
					<documentation>发票要求(整数类型，1、不要发票；2、定额发票；3、增值税普通发票；4、增值税专用发票；)
					</documentation>
				</annotation>
			</element>
			<element name="fhasstopcost" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>停车费用</documentation>
				</annotation>
			</element>
			<element name="fpaytype" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>付款方式(整数类型，1、现金；2、月结；3、到付；4、在线支付；)
					</documentation>
				</annotation>
			</element>
			<element name="fissendtofloor" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否送货上楼</documentation>
				</annotation>
			</element>
			<element name="fotherneed" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>其它要求</documentation>
				</annotation>
			</element>
			<element name="fismainaddress" type="boolean" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>是否主地址</documentation>
				</annotation>
			</element>
			<element name="fstatus" minOccurs="1" maxOccurs="1" type="string">
				<annotation>
					<documentation>状态(整数类型，1、正常；2、审批中；3、无效；)
					</documentation>
				</annotation>
			</element>
			<element name="fcreateTime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>创建时间</documentation>
				</annotation>
			</element>
			<element name="flastupdatetime" type="dateTime" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>最后修改时间</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>


	<complexType name="CustInfoSyncResponse">
		<annotation>
			<documentation>返回结果</documentation>
		</annotation>
		<sequence>
			<element name="successCount" type="int" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>成功总数</documentation>
				</annotation>
			</element>
			<element name="failCount" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>失败总数</documentation>
				</annotation>
			</element>
			<element name="detail" type="tns:ProcessDetail" minOccurs="1"
				maxOccurs="unbounded">
				<annotation>
					<documentation>处理明细</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="ProcessDetail">
		<annotation>
			<documentation>处理明细</documentation>
		</annotation>
		<sequence>
			<element name="number" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>唯一标识号</documentation>
				</annotation>
			</element>

			<element name="result" type="boolean" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>成功或失败的标识:0、失败；1、成功</documentation>
				</annotation>
			</element>
			<element name="reason" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>失败原因,如果处理失败，此字段为必填</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<element name="CustInfoSyncRequest" type="tns:CustInfoSyncRequest"></element>
	<element name="CustInfoSyncResponse" type="tns:CustInfoSyncResponse"></element>

</schema>