esb-extends-pojo/src/main/schema/crm2foss/OMS_FOSS_VEHICLE_ASYN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/crm"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/crm"
	elementFormDefault="qualified">

	<complexType name="AsynOmsGoodsBillReceiveRequest">
		<annotation>
			<documentation>OMS提交接货单信息</documentation>
		</annotation>
		<sequence>
			<element name="orderNo" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>订单号</documentation>
				</annotation>
			</element>
			<element name="orderVehicleOrgName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>约车部门名称</documentation>
				</annotation>
			</element>
			<element name="orderVehicleOrgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>约车部门编码</documentation>
				</annotation>
			</element>
			<element name="orderType" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>订单类型</documentation>
				</annotation>
			</element>
			<element name="vehicleType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>车型</documentation>
				</annotation>
			</element>
			<element name="weight" type="double" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>重量</documentation>
				</annotation>
			</element>
			<element name="volume" type="double" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>体积</documentation>
				</annotation>
			</element>
			<element name="pickupProvince" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货省</documentation>
				</annotation>
			</element>
			<element name="pickupCity" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货市</documentation>
				</annotation>
			</element>
			<element name="pickupCounty" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货区</documentation>
				</annotation>
			</element>
			<element name="pickupElseAddress" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货其他地址信息</documentation>
				</annotation>
			</element>
			<element name="latestPickupTime" type="dateTime" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>接货最晚时间</documentation>
				</annotation>
			</element>
			<element name="customerName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>客户姓名</documentation>
				</annotation>
			</element>
			<element name="tel" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>客户电话</documentation>
				</annotation>
			</element>
			<element name="mobile" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>客户手机</documentation>
				</annotation>
			</element>
			<element name="goodsQty" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>件数</documentation>
				</annotation>
			</element>
			<element name="orderNotes" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>订单备注</documentation>
				</annotation>
			</element>
			<element name="driverName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>司机姓名</documentation>
				</annotation>
			</element>
			<element name="driverCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>司机编码</documentation>
				</annotation>
			</element>
			<element name="vehicleNo" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>车牌号</documentation>
				</annotation>
			</element>
			<element name="deviceNo" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>设备号</documentation>
				</annotation>
			</element>
			<element name="salesDepartmentName" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营业部名称</documentation>
				</annotation>
			</element>
			<element name="salesDepartmentCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>营业部编码</documentation>
				</annotation>
			</element>
			<element name="orderStatus" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>订单状态</documentation>
				</annotation>
			</element>
			<element name="operateNotes" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>操作备注</documentation>
				</annotation>
			</element>
			<element name="operator" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>操作人</documentation>
				</annotation>
			</element>
			<element name="operatorCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>操作人编码</documentation>
				</annotation>
			</element>
			<element name="operateOrgName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>操作部门名称</documentation>
				</annotation>
			</element>
			<element name="operateOrgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>操作部门编码</documentation>
				</annotation>
			</element>
			<element name="operateTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>操作时间</documentation>
				</annotation>
			</element>
			<element name="preprocessId" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>预处理建议code</documentation>
				</annotation>
			</element>
			<element name="vehicleNoSuggested" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>建议车牌号</documentation>
				</annotation>
			</element>
			<element name="driverNameSuggested" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>建议司机姓名</documentation>
				</annotation>
			</element>
			<element name="driverCodeSuggested" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>建议司机编码</documentation>
				</annotation>
			</element>
			<element name="productCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运输性质</documentation>
				</annotation>
			</element>
			<element name="isPda" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否PDA发送</documentation>
				</annotation>
			</element>
			<element name="orderSendStatus" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>订单发送状态</documentation>
				</annotation>
			</element>
			<element name="orderVehicleTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>约车时间(创建时间)</documentation>
				</annotation>
			</element>
			<element name="earliestPickupTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>最早接货时间</documentation>
				</annotation>
			</element>
			<element name="goodsName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>
			<element name="goodsType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>货物类型</documentation>
				</annotation>
			</element>
			<element name="goodsPackage" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>货物包装</documentation>
				</annotation>
			</element>
			<element name="isSms" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否短信发送</documentation>
				</annotation>
			</element>
			<element name="isCustomer" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否发送给客户</documentation>
				</annotation>
			</element>
			<element name="orderTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>创建人编码</documentation>
				</annotation>
			</element>
			<element name="createUserName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>创建人名称</documentation>
				</annotation>
			</element>
			<element name="fleetCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>派车车队编码</documentation>
				</annotation>
			</element>
			<element name="customerPickupOrgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>提货网点</documentation>
				</annotation>
			</element>
			<element name="consigneeAddress" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货人地址</documentation>
				</annotation>
			</element>
			<element name="receiveMethod" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>提货方式</documentation>
				</annotation>
			</element>
			<element name="orderSource" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>订单来源</documentation>
				</annotation>
			</element>
			<element name="pickupProvinceCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货省份编码</documentation>
				</annotation>
			</element>
			<element name="pickupCityCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货城市编码</documentation>
				</annotation>
			</element>
			<element name="pickupCountyCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货区编码</documentation>
				</annotation>
			</element>
			<element name="waybillNo" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
			<element name="receiveOrgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收入部门编码</documentation>
				</annotation>
			</element>
			<element name="receiveOrgName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收入部门名称</documentation>
				</annotation>
			</element>
			<element name="paidMethod" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>付款方式</documentation>
				</annotation>
			</element>
			<element name="smallZoneCodeSuggested" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>预处理建议小区编码</documentation>
				</annotation>
			</element>
			<element name="smallZoneNameSuggested" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>预处理建议小区名称</documentation>
				</annotation>
			</element>
			<element name="smallZoneCodeActual" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>实际小区编码</documentation>
				</annotation>
			</element>
			<element name="isCollect" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否已采集入库</documentation>
				</annotation>
			</element>
			<element name="reciveLoanType" type="string">
				<annotation>
					<documentation>代收货款类型</documentation>
				</annotation>
			</element>
			<element name="reviceMoneyAmount" type="decimal">
				<annotation>
					<documentation>代收货款金额</documentation>
				</annotation>
			</element>
			<element name="insuredAmount" type="decimal">
				<annotation>
					<documentation>保价声明价值</documentation>
				</annotation>
			</element>
			<element name="couponNumber" type="string" maxOccurs="1">
				<annotation>
					<documentation>优惠券编码</documentation>
				</annotation>
			</element>
			<element name="acceptStatus" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>订单受理方式</documentation>
				</annotation>
			</element>
			<element name="waybillType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单类型</documentation>
				</annotation>
			</element>
			<element name="deliveryCustomerCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货客户客户编码</documentation>
				</annotation>
			</element>
			<element name="isEWaybillBigCustomer" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否是电子运单大客户</documentation>
				</annotation>
			</element>
			<element name="codRefundAccount" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>代收货款帐号</documentation>
				</annotation>
			</element>
			<element name="codRefundAccountName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>代收货款帐号开户名</documentation>
				</annotation>
			</element>
			<element name="goodsSize" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>货物尺寸</documentation>
				</annotation>
			</element>
			<element name="receiveCustomerAddressNote" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货人地址备注</documentation>
				</annotation>
			</element>
			<element name="deliveryCustomerAddressNote" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人地址备注</documentation>
				</annotation>
			</element>
			<element name="consigneeProvince" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货人所在省份</documentation>
				</annotation>
			</element>
			<element name="consigneeCity" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人所在城市</documentation>
				</annotation>
			</element>
			<element name="consigneeCounty" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货人所在市区</documentation>
				</annotation>
			</element>
			<element name="consigneeDetailAddress" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人所在街道</documentation>
				</annotation>
			</element>
			<element name="teanLimit" type="decimal">
				<annotation>
					<documentation>特安上限</documentation>
				</annotation>
			</element>
			<element name="procurementNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>采购单号</documentation>
				</annotation>
			</element>
			<element name="channelNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>渠道单号</documentation>
				</annotation>
			</element>
			<element name="senderCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>发货人工号</documentation>
				</annotation>
			</element>
			<element name="paymentOrgCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>费用承担部门编码</documentation>
				</annotation>
			</element>
			<element name="receiverCustName" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货联系人姓名</documentation>
				</annotation>
			</element>
			<element name="receiverCustPhone" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货联系人电话</documentation>
				</annotation>
			</element>
			<element name="receiverCustMobile" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货联系人手机</documentation>
				</annotation>
			</element>
			<element name="customerGroup" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>客户分群</documentation>
				</annotation>
			</element>
			<element name="consigneeVillageCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货乡镇编码</documentation>
				</annotation>
			</element>
			<element name="consigneeVillage" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>收货乡镇</documentation>
				</annotation>
			</element>
			<element name="otherFee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>其他费用</documentation>
				</annotation>
			</element>
			<element name="isPicPackage" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>是否子母件</documentation>
				</annotation>
			</element>
			<element name="originalNumber" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>原始单号</documentation>
				</annotation>
			</element>
			<element name="serviceType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>服务类型</documentation>
				</annotation>
			</element>
			<element name="ggOrderType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>裹裹订单类型</documentation>
				</annotation>
			</element>
			<element name="gotInTime" type="int" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>上门时效 分30分钟和120分钟</documentation>
				</annotation>
			</element>
			<element name="inflowTime" type="dateTime" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>流入时间</documentation>
				</annotation>
			</element>
			<element name="pickupManId" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>抢单快递员编码</documentation>
				</annotation>
			</element>
			<element name="refundMethod" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>退款方式 如： 银行卡 支付宝</documentation>
				</annotation>
			</element>
			<element name="cnWd" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>是否菜鸟仓配</documentation>
				</annotation>
			</element>
			<element name="serviceFlag" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>服务标志:1-Cod 货到付款 2-预约配送 9-上门揽件（支持多个值，英文逗号分隔）</documentation>
				</annotation>
			</element>
			<element name="scheduleType" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>计划类型:1-工作日，2-节假日，101-当日达，102-次晨达，103-次日达，104-预约达（在serviceFlag中包含预约配送时有效）</documentation>
				</annotation>
			</element>
			<element name="appointTime" type="dateTime" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>约车接货的时间</documentation>
				</annotation>
			</element>
			<element name="driverPhone" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>司机手机号</documentation>
				</annotation>
			</element>
			<element name="appointType" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>预约类型：调度派车/自请车</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<complexType name="AsynOmsGoodsBillReceiveResponse">
		<sequence>
			<element name="serverCode" type="string">
				<annotation>
					<documentation>服务编码</documentation>
				</annotation>
			</element>
			<element name="orderNumber" type="string">
				<annotation>
					<documentation>订单号</documentation>
				</annotation>
			</element>
			<element name="result" type="boolean">
				<annotation>
					<documentation>是否成功</documentation>
				</annotation>
			</element>
			<element name="reason" type="string">
				<annotation>
					<documentation>失败原因</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	<element name="asynOmsGoodsBillReceiveRequest" type="tns:AsynOmsGoodsBillReceiveRequest"></element>
	<element name="asynOmsGoodsBillReceiveResponse" type="tns:AsynOmsGoodsBillReceiveResponse"></element>
</schema>