foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/fssc/client/FossAccruedService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
xmlns:tns="http://www.deppon.com/fssc/remote/foss/fossAccruedService" 
xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
xmlns:tns_domain="http://www.deppon.com/fssc/inteface/domain/accrued" 
xmlns:tns_header="http://www.deppon.com/esb/header"
xmlns:tns_exception="http://www.deppon.com/esb/exception"
targetNamespace="http://www.deppon.com/fssc/remote/foss/fossAccruedService">
  <wsdl:types>
	<xsd:schema targetNamespace="http://www.deppon.com/fssc/inteface/domain/accrued">
		<xsd:include schemaLocation="FSSC_GENERATE_ACCRUED_WORKFLOW.xsd" />
	</xsd:schema>
	<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
		<xsd:include schemaLocation="ESBHeader.xsd" />
	</xsd:schema>
	<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
		<xsd:include schemaLocation="CommonException.xsd" />
	</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="ESBHeader">
	<wsdl:part element="tns_header:esbHeader" name="header" />
  </wsdl:message>
  
  <wsdl:message name="commonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	
  <wsdl:message name="createAccruedWorkflowRequest">
    <wsdl:part  name="createAccruedWorkflowRequest" element="tns_domain:createAccruedWorkflowRequest">
        <wsdl:documentation>FOSS对接报账生成预提工作流,请求参数</wsdl:documentation>
    </wsdl:part>
    <wsdl:part  name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
  </wsdl:message>
  
  <wsdl:message name="createAccruedWorkflowResponse">
    <wsdl:part name="createAccruedWorkflowResponse" element="tns_domain:createAccruedWorkflowResponse" >
    	<wsdl:documentation>FOSS对接报账生成预提工作流,响应参数</wsdl:documentation>
    </wsdl:part>
    <wsdl:part  name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
  </wsdl:message>
  
  <wsdl:portType name="fossAccruedService">
  <wsdl:documentation>报账系统与FOSS系统生成预提报账单接口</wsdl:documentation>
    <wsdl:operation name="createAccruedWorkflow">
      <wsdl:input message="tns:createAccruedWorkflowRequest"/>
      <wsdl:output message="tns:createAccruedWorkflowResponse"/>
      <wsdl:fault name="exception" message="tns:commonException" />
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="fossAccruedService" type="tns:fossAccruedService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="createAccruedWorkflow">
      <soap:operation soapAction="http://www.deppon.com/fssc/remote/foss/fossAccruedService/createAccruedWorkflow"/>
      <wsdl:input>
      	<soap:header use="literal" part="esbHeader" message="tns:createAccruedWorkflowRequest" />
        <soap:body use="literal" parts="createAccruedWorkflowRequest"/>
      </wsdl:input>
      <wsdl:output>
      	<soap:header use="literal" part="esbHeader" message="tns:createAccruedWorkflowResponse" />
        <soap:body use="literal" parts="createAccruedWorkflowResponse"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="fossAccruedService">
    <wsdl:port binding="tns:fossAccruedService" name="fossAccruedService">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
