esb-extends-pojo/src/main/schema/foss2ptp/FOSS_PTP_PAYABLE_CHANGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/payable/update"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/payable/update"
	elementFormDefault="qualified">
    <complexType name="BillPayableChangedRequest">
        <annotation>
            <documentation>运单更改通知请求信息</documentation>
        </annotation>
        <sequence>
            <element name="changePayableBills" type="tns:ChangePayableBills"
                     minOccurs="1" maxOccurs="unbounded">
                <annotation>
                    <documentation>应付列表</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="BillPayableChangedResponse">
        <annotation>
            <documentation>运单更改通知请求信息</documentation>
        </annotation>
        <sequence>
        	<element name="id" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>id</documentation>
                </annotation>
            </element>
            <element name="result" type="int" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>成功或者失败（整数类型，0、失败；1、成功）</documentation>
                </annotation>
            </element>
            <element name="reason" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>失败原因</documentation>
                </annotation>
            </element>
            <element name="waybillNo" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <!--接收参数 -->
    <complexType name="ChangePayableBills">
        <annotation>
            <documentation>应付信息</documentation>
        </annotation>
        <sequence>
        	<element name="id" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>ID</documentation>
                </annotation>
            </element>
            <element name="operateType" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>操作类型(值：1.add(新增) 2.update(修改))</documentation>
                </annotation>
            </element>
            <element name="changeFeeDetails" type="tns:ChangeFeeDetails"
                     minOccurs="0" maxOccurs="unbounded">
                <annotation>
                    <documentation>费用明细</documentation>
                </annotation>
            </element>
            <element name="waybillNo" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
            <element name="waybillId" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>运单号id</documentation>
                </annotation>
            </element>
            <element name="payableNo" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>应付单号</documentation>
                </annotation>
            </element>
            <element name="paymentNo" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>付款单号</documentation>
                </annotation>
            </element>
            <element name="sourceBillNo" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>来源单据单号</documentation>
                </annotation>
            </element>
            <element name="sourceBillType" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>来源单据类型</documentation>
                </annotation>
            </element>
            <element name="billType" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>单据子类型</documentation>
                </annotation>
            </element>
            <element name="codType" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>代收货款类型</documentation>
                </annotation>
            </element>
            <element name="payableOrgCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>应付部门编码</documentation>
                </annotation>
            </element>
            <element name="origOrgCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>出发部门编码</documentation>
                </annotation>
            </element>
            <element name="destOrgCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>到达部门编码</documentation>
                </annotation>
            </element>
            <element name="customerCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>客户编码/应付代理编码</documentation>
                </annotation>
            </element>
            <element name="customerName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>客户名称/应付代理名称</documentation>
                </annotation>
            </element>
            <element name="amount" type="decimal" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>金额</documentation>
                </annotation>
            </element>
            <element name="currencyCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>币种</documentation>
                </annotation>
            </element>
            <element name="productCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>运输性质</documentation>
                </annotation>
            </element>
            <element name="productId" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>产品ID</documentation>
                </annotation>
            </element>
            <element name="businessDate" type="dateTime" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>业务日期</documentation>
                </annotation>
            </element>
            <element name="signDate" type="dateTime" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>签收日期</documentation>
                </annotation>
            </element>
            <element name="createUserCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>制单人编码</documentation>
                </annotation>
            </element>
            <element name="createUserName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>制单人名称</documentation>
                </annotation>
            </element>
            <element name="createOrgCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>制单部门编码</documentation>
                </annotation>
            </element>
            <element name="createOrgName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>制单部门名称</documentation>
                </annotation>
            </element>
            <element name="payStatus" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>支付状态</documentation>
                </annotation>
            </element>
            <element name="customerContact" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>客户联系人编码</documentation>
                </annotation>
            </element>
            <element name="customerContactName" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>客户联系人名称</documentation>
                </annotation>
            </element>
            <element name="customerPhone" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>客户联系人电话</documentation>
                </annotation>
            </element>
            <element name="workflowNo" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>工作流号</documentation>
                </annotation>
            </element>
            <element name="lgdriverCode" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>外请司机编码</documentation>
                </annotation>
            </element>
            <element name="lgdriverName" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>外请司机名称</documentation>
                </annotation>
            </element>
            <element name="payerType" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>付款方</documentation>
                </annotation>
            </element>
            <element name="payableType" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>应付类型</documentation>
                </annotation>
            </element>
            <element name="deliverFee" type="decimal" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>送货费</documentation>
                </annotation>
            </element>
            <element name="outgoingFee" type="decimal" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>外发费</documentation>
                </annotation>
            </element>
            <element name="codAgencyFee" type="decimal" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>代收货款手续费</documentation>
                </annotation>
            </element>
            <element name="externalInsuranceFee" type="decimal" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>外发保价费</documentation>
                </annotation>
            </element>
            <element name="notes" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>备注</documentation>
                </annotation>
            </element>
            <element name="payeeName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>开户人名称</documentation>
                </annotation>
            </element>
            <element name="bankHqCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>开户行编码</documentation>
                </annotation>
            </element>
            <element name="bankHqName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>开户行名称</documentation>
                </annotation>
            </element>
            <element name="accountNo" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>银行账号</documentation>
                </annotation>
            </element>
            <element name="provinceCode" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>省份编码</documentation>
                </annotation>
            </element>
            <element name="provinceName" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>省份名称</documentation>
                </annotation>
            </element>
            <element name="cityCode" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>城市编码</documentation>
                </annotation>
            </element>
            <element name="cityName" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>城市名称</documentation>
                </annotation>
            </element>
            <element name="bankBranchCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>支行编码（行号）</documentation>
                </annotation>
            </element>
            <element name="bankBranchName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>支行名称</documentation>
                </annotation>
            </element>
            <element name="paymentNotes" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>付款备注</documentation>
                </annotation>
            </element>
            <element name="paymentAmount" type="decimal" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>付款金额</documentation>
                </annotation>
            </element>
            <element name="paymentCategories" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>支付类别</documentation>
                </annotation>
            </element>
            <element name="accountType" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>账户类型</documentation>
                </annotation>
            </element>
            <element name="expressOrigOrgCode" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>出发部门快递点部编码</documentation>
                </annotation>
            </element>
            <element name="expressOrigOrgName" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>出发部门快递点部名称</documentation>
                </annotation>
            </element>
            <element name="expressDestOrgCode" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>到达部门快递点部编码</documentation>
                </annotation>
            </element>
            <element name="expressDestOrgName" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>到达部门快递点部名称</documentation>
                </annotation>
            </element>
            <element name="invoiceMark" type="string" minOccurs="0"
                     maxOccurs="1">
                <annotation>
                    <documentation>发票标记</documentation>
                </annotation>
            </element>
            <element name="contractOrgCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>合同部门编码</documentation>
                </annotation>
            </element>
            <element name="contractOrgName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>合同部门名称</documentation>
                </annotation>
            </element>
            <element name="expenseBearCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>应付单费用承担部门</documentation>
                </annotation>
            </element>
            <element name="collectionOrgCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>收款部门编码</documentation>
                </annotation>
            </element>
            <element name="publicPrivateFlag" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>对公对私标志</documentation>
                </annotation>
            </element>
            <element name="payeeRelationship" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>收款人与发货人关系</documentation>
                </annotation>
            </element>
            <element name="payeePhone" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>收款人手机号码</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>发货客户名称</documentation>
                </annotation>
            </element>
            <element name="refundType" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>退款类型(代收货款类型)</documentation>
                </annotation>
            </element>
            <element name="accountCode" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户账户</documentation>
                </annotation>
            </element>
            <element name="accountName" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>返款帐户开户名称</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>

    <complexType name="ChangeFeeDetails">
        <annotation>
            <documentation>费用明细</documentation>
        </annotation>
        <sequence>
            <element name="amount" type="decimal" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>金额</documentation>
                </annotation>
            </element>
            <element name="payableType" type="string" minOccurs="1"
                     maxOccurs="1">
                <annotation>
                    <documentation>应付类型</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
 
	<element name="billPayableChangedRequest" type="tns:BillPayableChangedRequest"></element>
	<element name="billPayableChangedResponse" type="tns:BillPayableChangedResponse"></element>
    <element name="changePayableBills" type="tns:ChangePayableBills"></element>
    <element name="changeFeeDetails" type="tns:ChangeFeeDetails"></element>
</schema>