esb-extends-pojo/src/main/schema/foss2ptp/FOSS_PTP_EXPRESS_WAYBILLINFO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.deppon.com/esb/inteface/domain/foss2ptp"
    xmlns:tns="http://www.deppon.com/esb/inteface/domain/foss2ptp"
    elementFormDefault="qualified">
 
 	<annotation>
		<documentation>
			FOSS推送信息给PTP（快递）
		</documentation>
	</annotation>
	
    <!--请求类型定义-->
    <complexType name="PartnerWaybillExpInfoRequest">
       <annotation>
			<documentation>推送的运单信息（快递 修改前、修改后）</documentation>
		</annotation>
        <sequence>
            <element name="waybillNOId" type="string"  minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>运单表中运单ID</documentation>
                </annotation>
            </element>
            <element name="waybillNo" type="string"  minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>运单号</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户编码</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户名称</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户编码</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户名称</documentation>
                </annotation>
            </element>
            <element name="createTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>创建时间</documentation>
                </annotation>
            </element>
            <element name="goodsWeightTotal" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation> 货物总重量</documentation>
                </annotation>
            </element>
            <element name="goodsVolumeTotal" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物总体积</documentation>
                </annotation>
            </element>
            <element name="goodsQtyTotal" type="int" minOccurs="0" maxOccurs="1" >
                <annotation>
                    <documentation>货物总件数</documentation>
                </annotation>
            </element>
            <element name="targetOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>目的站</documentation>
                </annotation>
            </element>
            <element name="createUserCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单人</documentation>
                </annotation>
            </element>
            <element name="createOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单组织</documentation>
                </annotation>
            </element>
            <element name="deliveryCustomerContact" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发货客户联系人</documentation>
                </annotation>
            </element>
            <element name="receiveCustomerContact" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货客户联系人</documentation>
                </annotation>
            </element>
            <element name="invoice" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>发票标记</documentation>
                </annotation>
            </element>
 
            <element name="receiveOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货部门(出发部门)</documentation>
                </annotation>
            </element>
            <element name="productCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运输性质</documentation>
                </annotation>
            </element>
            <element name="receiveMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货方式</documentation>
                </annotation>
            </element>
            <element name="goodsName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>货物名称</documentation>
                </annotation>
            </element>
            <element name="customerPickupOrgCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货网点</documentation>
                </annotation>
            </element>
            <element name="insuranceAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>保价声明价值</documentation>
                </annotation>
            </element>
            <element name="insuranceRate" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>保价费率</documentation>
                </annotation>
            </element>
            <element name="insuranceFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>保价费</documentation>
                </annotation>
            </element>
            <element name="codAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收货款</documentation>
                </annotation>
            </element>
            <element name="codRate" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收费率</documentation>
                </annotation>
            </element>
            <element name="codFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收货款手续费</documentation>
                </annotation>
            </element>
            <element name="refundType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>退款类型</documentation>
                </annotation>
            </element>
            <element name="returnBillType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>返单类别</documentation>
                </annotation>
            </element>
            <element name="secretPrepaid" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付费保密</documentation>
                </annotation>
            </element>
            <element name="toPayAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>到付金额</documentation>
                </annotation>
            </element>
            <element name="prePayAmount" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>预付金额</documentation>
                </annotation>
            </element>
            <element name="deliveryGoodsFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货费</documentation>
                </annotation>
            </element>
            <element name="baseDeliveryGoodsFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>基础送货费</documentation>
                </annotation>
            </element>
            <element name="otherFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>其他费用</documentation>
                </annotation>
            </element>
           <element name="packageFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>包装费</documentation>
                </annotation>
            </element>
            <element name="promotionsFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>优惠费用</documentation>
                </annotation>
            </element>
            <element name="billingType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运费计费类型</documentation>
                </annotation>
            </element>
            <element name="unitPrice" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运费计费费率</documentation>
                </annotation>
            </element>
            <element name="transportFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>公布价运费</documentation>
                </annotation>
            </element>
            <element name="valueAddFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>增值费用</documentation>
                </annotation>
            </element>
            <element name="paidMethod" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单付款方式</documentation>
                </annotation>
            </element>
            <element name="totalFee" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>总费用</documentation>
                </annotation>
            </element>
            <element name="billTime" type="dateTime" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>开单时间</documentation>
                </annotation>
            </element>
            <element name="refCode" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>原运单号</documentation>
                </annotation>
            </element>
 
            <element name="billWeight" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>计费重量</documentation>
                </annotation>
            </element>
           
            <element name="transportType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运输类型</documentation>
                </annotation>
            </element>
 
           
            <element name="receiveOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>收货部门名称</documentation>
                </annotation>
            </element>
            <element name="customerPickupOrgName" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>提货网点名称</documentation>
                </annotation>
            </element>
            <element name="kilometer" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>公里数</documentation>
                </annotation>
            </element>
 
            <element name="feeType" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>0:成本  1：提成  2：成本和提成</documentation>
                </annotation>
            </element>
            <element name="transportFeeOrg" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>公布价运费（修改前的值）</documentation>
                </annotation>
            </element>
            <element name="insuranceFeeOrg" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>保价费 （修改前的值）</documentation>
                </annotation>
            </element>
            <element name="codFeeOrg" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>代收货款手续费</documentation>
                </annotation>
            </element>
            <element name="pickUpFeeOrg" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>接货费</documentation>
                </annotation>
            </element>
            <element name="deliveryGoodsFeeOrg" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>送货费</documentation>
                </annotation>
            </element>
            <element name="baseDeliveryGoodsFeeOrg" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>基础送货费</documentation>
                </annotation>
            </element>            
            <element name="otherFeeOrg" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>其他费用</documentation>
                </annotation>
            </element>
            <element name="totalFeeOrg" type="decimal" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>总费用</documentation>
                </annotation>
            </element>
            
            <element name="promotionsFeeOrg" type="decimal" minOccurs="0" >
                <annotation>
                    <documentation>优惠费用</documentation>
                </annotation>
            </element>
            <element name="valueAddFeeOrg" type="decimal" minOccurs="0" >
                <annotation>
                    <documentation>增值费用</documentation>
                </annotation>
            </element>
 
            <element name="changeType" type="string" minOccurs="0" >
                <annotation>
                    <documentation>(更改类型):转运、返货、其他项</documentation>
                </annotation>
            </element>
            <element name="arriveOrgCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>到达部门 </documentation>
                </annotation>
            </element>
           <element name="isExpress" type="string" minOccurs="0" >
                <annotation>
                    <documentation>是否快递</documentation>
                </annotation>
            </element>
            <element name="isChanged" type="string" minOccurs="0" >
                <annotation>
                    <documentation>是否更改单 Y：更改单；N:开单</documentation>
                </annotation>
            </element>
           <element name="active" type="string" minOccurs="0" maxOccurs="1">
                <annotation>
                    <documentation>运单状态</documentation>
                </annotation>
            </element>
            <element name="exceptionOpreationFeeOrg" type="decimal" minOccurs="0" >
                <annotation>
                    <documentation>异常操作服务费 ZZ(中转费)</documentation>
                </annotation>
            </element>
            <element name="overDistanceFeeOrg" type="decimal" minOccurs="0" >
                <annotation>
                    <documentation>超远派送费 CY</documentation>
                </annotation>
            </element>
            <element name="isArriveDepPartner" type="boolean" minOccurs="0" >
                <annotation>
                    <documentation>到达部门是否为合伙人</documentation>
                </annotation>
            </element>
             <element name="isReceiveDepPartner" type="boolean" minOccurs="0" >
                <annotation>
                    <documentation>判断出发部门是否为合伙人</documentation>
                </annotation>
            </element>
            <element name="changeFee" type="decimal" minOccurs="0" >
                <annotation>
                    <documentation>更改费</documentation>
                </annotation>
            </element>
            <element name="userCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>职员编号</documentation>
                </annotation>
            </element>
            <element name="currencyCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>币种</documentation>
                </annotation>
            </element>
            <element name="userName" type="string" minOccurs="0" >
                <annotation>
                    <documentation>用户姓名</documentation>
                </annotation>
            </element>
            <element name="currentDeptCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>当前登录部门编码</documentation>
                </annotation>
            </element>
            <element name="currentDeptName" type="string" minOccurs="0" >
                <annotation>
                    <documentation>当前登录部门名称</documentation>
                </annotation>
            </element>
            <element name="signBillFeeOrg" type="decimal" minOccurs="0" >
					<annotation>
					<documentation>签收单</documentation>
					</annotation>
			</element>
			 <element name="currentDeptUnifieldCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>当前登录部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="receiveDeptUnifieldCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>出发部门标杆编码</documentation>
                </annotation>
            </element>
            <element name="arriveDeptUnifieldCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>到达部门标杆编码</documentation>
                </annotation>
            </element>
            <!--代收货款退款账户信息 2016年3月8日 10:28:35 葛亮亮-->
            <element name="bankHQCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>开户行编码</documentation>
                </annotation>
            </element>
            <element name="bankHQName" type="string" minOccurs="0" >
                <annotation>
                    <documentation>开户行名称</documentation>
                </annotation>
            </element>
            <element name="bankBranchCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>支行编码</documentation>
                </annotation>
            </element>
            <element name="bankBranchName" type="string" minOccurs="0" >
                <annotation>
                    <documentation>支行名称</documentation>
                </annotation>
            </element>
            <element name="provinceCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>省份编码</documentation>
                </annotation>
            </element>
            <element name="provinceName" type="string" minOccurs="0" >
                <annotation>
                    <documentation>省份名称</documentation>
                </annotation>
            </element>
            <element name="cityCode" type="string" minOccurs="0" >
                <annotation>
                    <documentation>城市编码</documentation>
                </annotation>
            </element>
            <element name="cityName" type="string" minOccurs="0" >
                <annotation>
                    <documentation>城市名称</documentation>
                </annotation>
            </element>
            <element name="publicPrivateFlag" type="string" minOccurs="0" >
                <annotation>
                    <documentation>对公对私标志</documentation>
                </annotation>
            </element>
            <element name="payeeRelationship" type="string" minOccurs="0" >
                <annotation>
                    <documentation>收款人与发货人关系</documentation>
                </annotation>
            </element>
            <element name="payeePhone" type="string" minOccurs="0" >
                <annotation>
                    <documentation>收款人手机号码</documentation>
                </annotation>
            </element>
            <element name="payeeName" type="string" minOccurs="0" >
                <annotation>
                    <documentation>收款人姓名</documentation>
                </annotation>
            </element>
            <element name="accountNo" type="string" minOccurs="0" >
                <annotation>
                    <documentation>收款人账号</documentation>
                </annotation>
            </element>
            <element name="waybillStock" type="string" minOccurs="0" >
                <annotation>
                    <documentation>库存状态</documentation>
                </annotation>
            </element>
            <element name="isSearchHistory" type="string" minOccurs="0" >
                <annotation>
                    <documentation>是否需要查询历史数据</documentation>
                </annotation>
            </element>
            <element name="lastCreateTime" type="dateTime" minOccurs="0" >
                <annotation>
                    <documentation>运单上一次的操作创建时间</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <!--响应类型定义-->
    <complexType name="PartnerWaybillExpInfoResponse">
        <sequence>
            <element name="cname" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>中文名称</documentation>
                </annotation>
            </element>
            <element name="ename" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>英文名称</documentation>
                </annotation>
            </element>
            <element name="url" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>访问地址</documentation>
                </annotation>
            </element>
        </sequence>
    </complexType>
    <!--请求bean-->
    <element name="partnerWaybillExpInfoRequest" type="tns:PartnerWaybillExpInfoRequest"/>
    <!--响应bean-->
    <element name="partnerWaybillExpInfoResponse" type="tns:PartnerWaybillExpInfoResponse"/>
</schema>