esb-extends-pojo/src/main/schema/foss2ptp/FOSS_PTP_RECEIVABLE_CHANGE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/receivable"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/receivable"
	elementFormDefault="qualified">
	<complexType name="BillRecevivableChangedRequest">
		<annotation>
			<documentation>财务更改接受通知请求信息</documentation>
		</annotation>
		<sequence> 
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>ID</documentation>
                </annotation>
            </element>
            <element name="operateType" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>操作类型(值：1.add(新增) 2.update(修改))</documentation>
                </annotation>
            </element>
			<element name="waybill_no" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element> 
			<element name="bill_type" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>应收类型</documentation>
				</annotation>
			</element>
			<element name="createUserCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>制单人编码</documentation>
				</annotation>
			</element>
			<element name="createUserName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>制单人名称</documentation>
				</annotation>
			</element>
			<element name="createOrgCode" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>制单部门编码</documentation>
				</annotation>
			</element>
			<element name="createOrgName" type="string" minOccurs="0"
				maxOccurs="1">
				<annotation>
					<documentation>制单部门名称</documentation>
				</annotation>
			</element>
			<element name="amount" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>总金额</documentation>
				</annotation>
			</element>
			<element name="transport_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>公布价运费</documentation>
				</annotation>
			</element>
			<element name="pickup_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>接货费</documentation>
				</annotation>
			</element>
			<element name="delivery_goods_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>送货费</documentation>
				</annotation>
			</element>
			<element name="packaging_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>包装手续费</documentation>
				</annotation>
			</element>
			<element name="cod_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>代收货款手续费</documentation>
				</annotation>
			</element>
			<element name="insurance_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>保价费</documentation>
				</annotation>
			</element> 
			<element name="other_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>其他费用</documentation>
				</annotation>
			</element> 
			<element name="value_add_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>增值费用</documentation>
				</annotation>
			</element> 
			<element name="promotions_fee" type="decimal" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>优惠费用</documentation>
				</annotation>
			</element>
			<element name="waybillId" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>运单号id</documentation>
				</annotation>
			</element>
			<element name="sourceBillNo" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>来源单据单号</documentation>
				</annotation>
			</element>
			<element name="sourceBillType" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>来源单据类型</documentation>
				</annotation>
			</element>
			<element name="receivableOrgCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>应收部门编码</documentation>
				</annotation>
			</element>
			<element name="generatingOrgCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>收入部门编码</documentation>
				</annotation>
			</element>
			<element name="dunningOrgCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>催款部门编码</documentation>
				</annotation>
			</element>
			<element name="origOrgCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>出发部门编码</documentation>
				</annotation>
			</element>
			<element name="destOrgCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>到达部门编码</documentation>
				</annotation>
			</element>
			<element name="customerCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>客户编码/应收代理编码</documentation>
				</annotation>
			</element>
			<element name="customerName" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>客户名称/应收代理名称</documentation>
				</annotation>
			</element>
			<element name="deliveryCustomerCode" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>发货客户编码</documentation>
				</annotation>
			</element>
			<element name="deliveryCustomerName" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>发货客户名称</documentation>
				</annotation>
			</element>
			<element name="receiveCustomerCode" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>收货客户编码</documentation>
				</annotation>
			</element>
			<element name="receiveCustomerName" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>收货客户名称</documentation>
				</annotation>
			</element>

			<element name="currencyCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>币种</documentation>
				</annotation>
			</element>
			<element name="businessDate" type="dateTime" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>业务日期</documentation>
				</annotation>
			</element>
			<element name="paymentType" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>付款方式</documentation>
				</annotation>
			</element>
			<element name="productCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>运输性质</documentation>
				</annotation>
			</element>
			<element name="productId" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>产品ID</documentation>
				</annotation>
			</element>

			<element name="goodsName" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>货物名称</documentation>
				</annotation>
			</element>
			<element name="goodsVolumeTotal" type="decimal" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>货物总体积</documentation>
				</annotation>
			</element>
			<element name="billWeight" type="decimal" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>计费重量</documentation>
				</annotation>
			</element>
			<element name="receiveMethod" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>提货方式</documentation>
				</annotation>
			</element>
			<element name="customerPickupOrgCode" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>提货网点</documentation>
				</annotation>
			</element>
			<element name="goodsQtyTotal" type="decimal" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>货物总件数</documentation>
				</annotation>
			</element>
			<element name="targetOrgCode" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>目的站</documentation>
				</annotation>
			</element>

			<element name="collectionType" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>收款类别</documentation>
				</annotation>
			</element>
			<element name="collectionName" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>收款名称</documentation>
				</annotation>
			</element>
			<element name="unitPrice" type="decimal" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>运费计费费率</documentation>
				</annotation>
			</element>
			<element name="insuranceAmount" type="decimal" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>保价声明价值</documentation>
				</annotation>
			</element>
			<element name="deliveryCustomerContact" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>发货联系人</documentation>
				</annotation>
			</element>
			<element name="ReceiveCustomerContact" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>收货联系人</documentation>
				</annotation>
			</element>
			<element name="invoiceMark" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>发票标记</documentation>
				</annotation>
			</element>
			<element name="unifiedSettlement" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>是否统一结算</documentation>
				</annotation>
			</element>
			<element name="contractOrgCode" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>合同部门编码</documentation>
				</annotation>
			</element>
			<element name="contractOrgName" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>合同部门名称</documentation>
				</annotation>
			</element>
			<element name="isDiscount" type="string" minOccurs="0"
					 maxOccurs="1">
				<annotation>
					<documentation>是否折扣</documentation>
				</annotation>
			</element>
			<element name="withholdStatus" type="string" minOccurs="1"
					 maxOccurs="1">
				<annotation>
					<documentation>扣款状态</documentation>
				</annotation>
			</element>
			<element name="feeDetails" type="tns:FeeDetails"
				minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>费用明细</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
		
	<complexType name="FeeDetails">
		<annotation>
			<documentation>费用明细</documentation>
		</annotation>
		<sequence>
			<element name="amount" type="decimal" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>金额</documentation>
				</annotation>
			</element>
			<element name="receivableType" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>应收类型</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>

	<complexType name="BillRecevivableChangedResponse">
		<annotation>
			<documentation>更改应收单接受通知返回信息</documentation>
		</annotation>
		<sequence>
			<element name="id" type="string" minOccurs="1" maxOccurs="1">
                <annotation>
                    <documentation>id</documentation>
                </annotation>
            </element>
			<element name="result" type="int" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>成功或者失败（整数类型，0、失败；1、成功）</documentation>
				</annotation>
			</element>
			<element name="reason" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>失败原因</documentation>
				</annotation>
			</element>
			<element name="waybillNo" type="string" minOccurs="1"
				maxOccurs="1">
				<annotation>
					<documentation>运单号</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
 
	<element name="BillRecevivableChangedRequest" type="tns:BillRecevivableChangedRequest"></element>
	<element name="BillRecevivableChangedResponse" type="tns:BillRecevivableChangedResponse"></element>
</schema>