esb-extends-pojo/src/main/schema/fin72foss/FOSS_FUNDINCOME_AIR_RPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service" elementFormDefault="qualified">
	
	<complexType name="FossFundinComeAirRptRequest">
		<sequence>
			<element name="periodCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>期间编码</documentation>
				</annotation>
			</element>
			<element name="rptDeptCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="FundinComeAirRptResult">
		<sequence>
			<element name="rptDeptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="rptDate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表日期</documentation>
				</annotation>
			</element>
			<element name="rptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表编码</documentation>
				</annotation>
			</element>
			<element name="fundinComeAirRptResultDetail" type="tns:FundinComeAirRptResultDetail" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>资金部空运往来报表明细</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="FundinComeAirRptResultDetail">
		<sequence>
			<element name="statisticalDimension" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>数据统计维度</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="customerCode" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户编码(临欠客户、到付客户、月结客户、预收客户)</documentation>
							</annotation>
						</element>
						<element name="customerName" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户名称</documentation>
							</annotation>
						</element>
						<element name="deptCode" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>部门标杆编码</documentation>
							</annotation>
						</element>
						<element name="otherSideDeptCode" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>对方部门标杆编码</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="otherPayableChargeOffOtherReceivable" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>应付（其它应付）冲应收（其它应收）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="payableCostChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付到达代理成本冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableCostChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付到达代理成本冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
						<element name="otherPayableChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>其它应付到达代理冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="otherPayableChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>其它应付到达代理冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="RefundPaymentForGoods" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="noReceivedRefundWhenAirSigning" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运签收时未收代收货款</documentation>
							</annotation>
						</element>
						<element name="refundCashSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运还款代收货款现金（已签收）</documentation>
							</annotation>
						</element>
						<element name="refundBankCardSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运还款代收货款银行（已签收）</documentation>
							</annotation>
						</element>
						<element name="receivedRefundWhenAirSigning" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运签收时已收代收货款</documentation>
							</annotation>
						</element>
						<element name="payableToProxyCostChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运应付到达代理成本冲应收代收货款（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableToOtherChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运其它应付到达代理冲应收代收货款（已签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="advancesReceivedAirProxy" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>预收空运代理</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="advancesReceivedChargeOffArriveReceivedSigned" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffArriveReceivedNoSign" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffRefundSigned" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收代收货款（已签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="claimSettlement" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>理赔</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="freightOrClaimForSameBillAir" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>同一单号：应付理赔运单对应的总运费或者理赔金额（两者取小），由空运部门申请</documentation>
							</annotation>
						</element>
						<element name="claimChargeOffArriveReceivableAir" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>理赔冲应收到付运费，由空运部门申请（适用于理赔单号和应收单号相同或不同的情况进行对冲）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>

			
			<element name="repaymentNoSignedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且现金或还款现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（同时到付且现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="repaymentNoSignedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且银行或还款银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			
			<element name="signedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（同时到付且银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedRepaymentWithCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款现金（到付）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedRepaymentWithBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款银行（到付）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="FossFundinComeAirRptResponse">
		<sequence>
			<element name="fundinComeAirRptResult" type="tns:FundinComeAirRptResult" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>资金部空运往来报表</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	



	<element name="fossFundinComeAirRptRequest" type="tns:FossFundinComeAirRptRequest">
	</element>

	<element name="fossFundinComeAirRptResponse" type="tns:FossFundinComeAirRptResponse">
	</element>

</schema>