esb-extends-pojo/src/main/schema/fin72foss/FOSS_AIR_RPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service" elementFormDefault="qualified">
	
	<complexType name="FossAirRptRequest">
		<sequence>
			<element name="periodCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>期间编码</documentation>
				</annotation>
			</element>
			<element name="rptDeptCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="AirRptResult">
		<sequence>
			<element name="rptDeptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="periodCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>期间编码</documentation>
				</annotation>
			</element>
			<element name="rptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表编码</documentation>
				</annotation>
			</element>
			<element name="airRptResultDetail" type="tns:AirRptResultDetail" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>空运报表明细</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="AirRptResultDetail">
		<sequence>
			<element name="statisticalDimension" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>数据统计维度</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="businessType" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>业务类型(0、精准空运；1、精准空运；2、精准汽运（长途）；3、精准卡航、4、精准城运；5、汽运偏线；6、精准汽运（短途） )</documentation>
							</annotation>
						</element>
						<element name="customerCode" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户编码(临欠客户、到付客户、月结客户、预收客户)</documentation>
							</annotation>
						</element>
						<element name="customerName" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户名称</documentation>
							</annotation>
						</element>
						<element name="otherSideDeptCode" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>对方部门标杆编码</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="airCostGenerate" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>空运成本生成</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="advancesReceivedVehicleProxyCash" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收偏线代理款（现金）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="airCostAffirm" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>空运成本确认</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="waybillCostAffirm" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>签收运单：航空公司成本/出发代理成本/中转代理成本/到达代理成本确认</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="airCostPaymentApply" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>空运成本付款申请</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="airCostPaymentApply" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>实付航空公司成本/实付出发代理成本/实付中转代理成本/实付到达代理成本</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="otherPayableCostGenerate" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>其它应付成本生成</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="otherPayableCostGenerate" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>其它应付航空公司/其它应付出发代理/其它应付中转代理/其它应付到达代理（来源于新增或者外部导入数据）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="otherPayablePaymentApply" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>其它应付付款申请</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="otherPayablePaymentApply" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>实际支付其它应付航空公司/实际支付其它应付出发代理/实际支付其它应付中转代理/实际支付其它应付到达代理</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="rebate" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>其它应收航空公司返点/出发代理返点/中转代理返点/到达代理返点（来源于新增或者外部导入数据）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="cash" type="string" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>现金</documentation>
							</annotation>
						</element>
						<element name="bank" type="string" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>银行</documentation>
							</annotation>
						</element>
						<element name="monthlyOrTemporaryArrears" type="string" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>月结/临欠</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="otherPayableChargeOffOtherReceivable" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>应付（其它应付）冲应收（其它应收）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="payableCostChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付到达代理成本冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableCostChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付到达代理成本冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
						<element name="otherPayableChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>其它应付到达代理冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="otherPayableChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>其它应付到达代理冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
						<element name="otherPayableChargeOffOtherReceivable" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>其它应付冲其它应收（包含：航空公司单据对冲、出发代理单据对冲、中转代理单据对冲、到达代理单据对冲）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="RefundPaymentForGoods" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="noReceivedRefundWhenAirSigning" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运签收时未收代收货款</documentation>
							</annotation>
						</element>
						<element name="refundCashSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运还款代收货款现金（已签收）</documentation>
							</annotation>
						</element>
						<element name="refundBankCardSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运还款代收货款银行（已签收）</documentation>
							</annotation>
						</element>
						<element name="receivedRefundWhenAirSigning" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运签收时已收代收货款</documentation>
							</annotation>
						</element>
						<element name="refundCashNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运还款代收货款现金（未签收）</documentation>
							</annotation>
						</element>
						<element name="refundBankCardNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运还款代收货款银行（未签收）</documentation>
							</annotation>
						</element>
						<element name="payableToProxyCostChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运应付到达代理成本冲应收代收货款（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableToOtherChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运其它应付到达代理冲应收代收货款（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableToProxyCostChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运应付到达代理成本冲应收代收货款（未签收）</documentation>
							</annotation>
						</element>
						<element name="payableToOtherChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>空运其它应付到达代理冲应收代收货款（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="advancesReceivedAirProxy" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>预收空运代理</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="advancesReceivedAirProxyCash" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理现金</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedAirProxyBankCard" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理银行</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffArriveReceivedSigned" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffArriveReceivedNoSign" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffOtherReceived" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理冲其他应收</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffRefundSigned" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收代收货款（已签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffRefundNoSign" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收代收货款（未签收）</documentation>
							</annotation>
						</element>
						<element name="airReturnAdvancesReceived" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>空运退预收付款申请</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="advancesPayment" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>预付</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="advancesPaymentToAirCorp" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预付航空公司款</documentation>
							</annotation>
						</element>
						<element name="advancesPaymentChargeOffPayable" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预付冲应付</documentation>
							</annotation>
						</element>
						<element name="advancesPaymentChargeOffOtherPayable" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>预付冲其他应付</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="claimSettlementByAir" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>理赔</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="freightOrClaimForSameBillAir" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>同一单号：应付理赔运单对应的总运费或者理赔金额（两者取小），由空运部门申请</documentation>
							</annotation>
						</element>
						<element name="claimSubtractFreightForSameBillAir" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>同一单号：理赔金额-运单总运费，由空运部门请</documentation>
							</annotation>
						</element>
						<element name="claimChargeOffArriveReceivableAir" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>理赔冲应收到付运费，由空运部门申请（适用于理赔单号和应收单号相同或不同的情况进行对冲）</documentation>
							</annotation>
						</element>
						<element name="claimChargeOffOtherReceivableAir" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>理赔冲其它应收，由空运部门申请</documentation>
							</annotation>
						</element>
						<element name="balance" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>理赔冲应收或其它应收后，应付理赔仍存在余额，此时空运部门申请款项支付</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="badDebtChargeOffOtherReceivable" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>坏账冲其它应收</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="badDebtChargeOffOtherReceivable" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>坏账冲其它应收</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="repaymentNoSignedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且现金或还款现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（同时到付且现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="repaymentNoSignedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收，（到付且银行或还款银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			
			<element name="signedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（同时到付且银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedRepaymentWithCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款现金（到付）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedRepaymentWithBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款银行（到付）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="FossAirRptResponse">
		<sequence>
			<element name="airRptResult" type="tns:AirRptResult" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>空运月报表</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	



	<element name="fossAirRptRequest" type="tns:FossAirRptRequest">
	</element>

	<element name="fossAirRptResponse" type="tns:FossAirRptResponse">
	</element>

</schema>