esb-extends-pojo/src/main/schema/fin72foss/FOSS_ARRIVE_RPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service" elementFormDefault="qualified">
	
	<complexType name="FossArriveRptRequest">
		<sequence>
			<element name="periodCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>期间编码</documentation>
				</annotation>
			</element>
			<element name="rptDeptCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="ArriveRptResult">
		<sequence>
			<element name="rptDeptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="periodCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>期间编码</documentation>
				</annotation>
			</element>
			<element name="rptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表编码</documentation>
				</annotation>
			</element>
			<element name="arriveRptResultDetail" type="tns:ArriveRptResultDetail" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>到达报表明细</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="ArriveRptResultDetail">
		<sequence>
			<element name="statisticalDimension" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>数据统计维度</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="businessType" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>业务类型(0、精准空运；1、精准空运；2、精准汽运（长途）；3、精准卡航、4、精准城运；5、汽运偏线；6、精准汽运（短途） )</documentation>
							</annotation>
						</element>
						<element name="customerCode" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户编码(临欠客户、到付客户、月结客户、预收客户)</documentation>
							</annotation>
						</element>
						<element name="customerName" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户名称</documentation>
							</annotation>
						</element>
						<element name="otherSideDeptCode" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>对方部门标杆编码</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="repaymentNoSignedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且实收现金或还款现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（到付且同时收到现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="repaymentNoSignedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且实收银行或还款银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（到付同时收到银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedRepaymentWithCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款现金（包含：针对专线到付结转月结、欠款或偏线签收时未收款或空运签收时未收款3种情况做的还款现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signedRepaymentWithBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款银行（包含：针对专线到付结转月结、欠款或偏线签收时未收款或空运签收时未收款3种情况做的还款银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="claimSettlementWithDVA" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>理赔（包含专线、偏线、空运部门操作的理赔）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="freightOrClaimForSameBillArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：应付理赔运单对应的总运费或者理赔金额（两者取小），由到达部门申请</documentation>
							</annotation>
						</element>
						<element name="claimSubtractFreightForSameBillArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：理赔金额-运单总运费，由到达部门申请</documentation>
							</annotation>
						</element>
						<element name="claimChargeOffArriveReceivableArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>理赔冲应收到付，由到达部门申请（适用于理赔单号和应收单号相同或不同的情况进行对冲）</documentation>
							</annotation>
						</element>
						<element name="balance" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>理赔冲应收后，应付理赔仍存在余额，此时到达部门申请款项支付</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="RefundPaymentForGoods" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="refundCashWithSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>签收前或签收时，代收货款收现金</documentation>
							</annotation>
						</element>
						<element name="refundBankCardWithSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>签收前或签收时，代收货款收银行</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="returnFreight" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>退运费</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="freightOrRefundForSameBillArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：退运费运单对应的总运费或者退运费金额（两者取小），由到达部门申请</documentation>
							</annotation>
						</element>
						<element name="refundChargeOffFreightArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：退运费金额-运单总运费，由到达部门申请</documentation>
							</annotation>
						</element>
						<element name="payArriveFreightApply" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>到达退运费付款申请</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="seviceRecovery" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>服务补救</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveSeviceRecoveryPayment" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>到达服务补救付款申请</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="FossArriveRptResponse">
		<sequence>
			<element name="arriveRptResult" type="tns:ArriveRptResult" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>到达月报表</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	



	<element name="fossArriveRptRequest" type="tns:FossArriveRptRequest">
	</element>

	<element name="fossArriveRptResponse" type="tns:FossArriveRptResponse">
	</element>

</schema>