esb-extends-pojo/src/main/schema/fin72foss/FOSS_FUNDINCOME_VEHICLEPROXY_RPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service" elementFormDefault="qualified">
	
	<complexType name="FossFundinComeVehicleProxyRptRequest">
		<sequence>
			<element name="periodCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>期间编码</documentation>
				</annotation>
			</element>
			<element name="rptDeptCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="FundinComeVehicleProxyRptResult">
		<sequence>
			<element name="rptDeptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="rptDate" type="date" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表日期</documentation>
				</annotation>
			</element>
			<element name="rptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表编码</documentation>
				</annotation>
			</element>
			<element name="fundinComeVehicleProxyRptResultDetail" type="tns:FundinComeVehicleProxyRptResultDetail" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>资金部偏线往来报表明细</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="FundinComeVehicleProxyRptResultDetail">
		<sequence>
			<element name="statisticalDimension" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>数据统计维度</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="customerCode" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户编码(临欠客户、到付客户、月结客户、预收客户)</documentation>
							</annotation>
						</element>
						<element name="customerName" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户名称</documentation>
							</annotation>
						</element>
						<element name="deptCode" type="string" minOccurs="0" maxOccurs="1">
							<annotation>
								<documentation>部门标杆编码</documentation>
							</annotation>
						</element>
						<element name="otherSideDeptCode" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>对方部门标杆编码</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="vehicleProxyCost" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>偏线代理成本</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="payableCostChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付(成本)冲应收（到付运费）（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableCostChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付(成本)冲应收（到付运费）（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="repaymentNoSignedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且现金或还款现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（同时到付且现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="repaymentNoSignedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且银行或还款银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			
			<element name="signedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（同时到付且银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedRepaymentWithCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款现金（到付）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="signedRepaymentWithBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款银行（到付）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="claimSettlement" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>理赔</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="freightOrClaimForSameBillVehicle" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：应付理赔运单对应的总运费或者理赔金额（两者取小），由偏线部门申请</documentation>
							</annotation>
						</element>
						<element name="claimChargeOffArriveReceivableVehicle" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>理赔冲应收到付，由偏线部门申请（适用于理赔单号和应收单号相同或不同的情况进行对冲）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			<element name="advancesReceivedVehicleProxy" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>预收偏线代理</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="advancesReceivedChargeOffArriveReceivedSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收偏线代理冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffArriveReceivedNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收偏线代理冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="FossFundinComeVehicleProxyRptResponse">
		<sequence>
			<element name="fundinComeVehicleProxyRptResult" type="tns:FundinComeVehicleProxyRptResult" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>资金部偏线往来报表</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	



	<element name="fossFundinComeVehicleProxyRptRequest" type="tns:FossFundinComeVehicleProxyRptRequest">
	</element>

	<element name="fossFundinComeVehicleProxyRptResponse" type="tns:FossFundinComeVehicleProxyRptResponse">
	</element>

</schema>