esb-extends-pojo/src/main/schema/fin72foss/FOSS_START_RPT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service"
	xmlns:tns="http://www.deppon.com/esb/inteface/domain/FossReportToEAS70Service" elementFormDefault="qualified">
	
	<complexType name="FossStartRptRequest">
		<sequence>
			<element name="periodCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>期间编码</documentation>
				</annotation>
			</element>
			<element name="rptDeptCode" type="string" minOccurs="0" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	
	<complexType name="StartRptResult">
		<sequence>
			<element name="rptDeptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表部门标杆编码</documentation>
				</annotation>
			</element>
			<element name="periodCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>期间编码</documentation>
				</annotation>
			</element>
			<element name="rptCode" type="string" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>报表编码</documentation>
				</annotation>
			</element>
			<element name="startRptResultDetail" type="tns:StartRptResultDetail" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>始发报表明细</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>
	
	<complexType name="StartRptResultDetail">
		<sequence>
			<element name="statisticalDimension" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>数据统计维度</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="businessType" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>业务类型(0、精准空运；1、精准空运；2、精准汽运（长途）；3、精准卡航、4、精准城运；5、汽运偏线；6、精准汽运（短途） )</documentation>
							</annotation>
						</element>
						<element name="customer" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>客户(1-临欠客户、2-到付客户、3-月结客户、4-预收客户)</documentation>
							</annotation>
						</element>
						<element name="otherSideDept" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>对方部门</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="billingCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>开单（现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="receiveCashFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-现金（运费）</documentation>
							</annotation>
						</element>
						<element name="receiveCashReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-现金（接货费）</documentation>
							</annotation>
						</element>
						<element name="receiveCashSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-现金（送货费）</documentation>
							</annotation>
						</element>
						<element name="receiveCashPackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-现金（包装）</documentation>
							</annotation>
						</element>
						<element name="receiveCashInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-现金（保价）</documentation>
							</annotation>
						</element>
						<element name="receiveCashRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-现金（代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="receiveCashOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-现金（其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="billingBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>开单（银行卡）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="receiveBankCardFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-银行卡（运费）</documentation>
							</annotation>
						</element>
						<element name="receiveBankCardReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-银行卡（接货费）</documentation>
							</annotation>
						</element>
						<element name="receiveBankCardSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-银行卡（送货费）</documentation>
							</annotation>
						</element>
						<element name="receiveBankCardPackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-银行卡（包装）</documentation>
							</annotation>
						</element>
						<element name="receiveBankCardInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-银行卡（保价）</documentation>
							</annotation>
						</element>
						<element name="receiveBankCardRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-银行卡（代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="receiveBankCardOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>收款-银行卡（其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="laborFee" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>劳务费</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="laborFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付劳务费</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="repaymentNoSignedCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（开单为临欠、月结且以现金还款）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="startFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （运费）</documentation>
							</annotation>
						</element>
						<element name="startReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （接货费）</documentation>
							</annotation>
						</element>
						<element name="startSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （送货费）</documentation>
							</annotation>
						</element>
						<element name="startPackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （包装）</documentation>
							</annotation>
						</element>
						<element name="startInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （保价）</documentation>
							</annotation>
						</element>
						<element name="startRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="startOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="repaymentNoSignedBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（开单为：月结、欠款，且以银行卡还款）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="startFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （运费）</documentation>
							</annotation>
						</element>
						<element name="startReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （接货费）</documentation>
							</annotation>
						</element>
						<element name="startSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （送货费）</documentation>
							</annotation>
						</element>
						<element name="startPackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （包装）</documentation>
							</annotation>
						</element>
						<element name="startInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （保价）</documentation>
							</annotation>
						</element>
						<element name="startRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="startOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signedRepaymentedOrChargeOff" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收，已还款或已核销（开单为现付、月结、临欠）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="startFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （运费）</documentation>
							</annotation>
						</element>
						<element name="startReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （接货费）</documentation>
							</annotation>
						</element>
						<element name="startSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （送货费）</documentation>
							</annotation>
						</element>
						<element name="startPackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （包装）</documentation>
							</annotation>
						</element>
						<element name="startInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （保价）</documentation>
							</annotation>
						</element>
						<element name="startRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="startOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signedNoRepayment" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收，未还款（开单为月结、临欠）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="startFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （运费）</documentation>
							</annotation>
						</element>
						<element name="startReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （接货费）</documentation>
							</annotation>
						</element>
						<element name="startSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （送货费）</documentation>
							</annotation>
						</element>
						<element name="startPackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （包装）</documentation>
							</annotation>
						</element>
						<element name="startInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （保价）</documentation>
							</annotation>
						</element>
						<element name="startRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="startOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="repaymentedSignedCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，已签收（月结、欠款签收且以现金还款）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="startFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （运费）</documentation>
							</annotation>
						</element>
						<element name="startReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （接货费）</documentation>
							</annotation>
						</element>
						<element name="startSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （送货费）</documentation>
							</annotation>
						</element>
						<element name="startPackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （包装）</documentation>
							</annotation>
						</element>
						<element name="startInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （保价）</documentation>
							</annotation>
						</element>
						<element name="startRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="startOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="repaymentedSignedBandCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，已签收（月结、欠款签收且以银行还款）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="startFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （运费）</documentation>
							</annotation>
						</element>
						<element name="startReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （接货费）</documentation>
							</annotation>
						</element>
						<element name="startSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （送货费）</documentation>
							</annotation>
						</element>
						<element name="startPackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （包装）</documentation>
							</annotation>
						</element>
						<element name="startInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （保价）</documentation>
							</annotation>
						</element>
						<element name="startRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="startOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-始发 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="repaymentNoSignedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且实收现金或还款现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signedRepaymentedOrChargeOffArrive" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收，已还款或已核销（到付且签收前已收取现金、银行或还款现金、银行或已核销）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signedArriveCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（到付且同时收到现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="repaymentNoSignedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>还款，未签收（到付且实收银行或还款银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signedArriveBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收（到付同时收到银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signingNoProceed" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收时未收款（包含：专线到付结转月结、欠款或偏线签收时未收款或空运签收时未收款的情况）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signedRepaymentWithCash" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款现金（包含：针对专线到付结转月结、欠款或偏线签收时未收款或空运签收时未收款3种情况做的还款现金）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="signedRepaymentWithBankCard" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>签收后还款银行（包含：针对专线到付结转月结、欠款或偏线签收时未收款或空运签收时未收款3种情况做的还款银行）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="arriveFreight" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （运费）</documentation>
							</annotation>
						</element>
						<element name="arriveReceiveGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （接货费）</documentation>
							</annotation>
						</element>
						<element name="arriveSendGoodsFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （送货费）</documentation>
							</annotation>
						</element>
						<element name="arrivePackageFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （包装）</documentation>
							</annotation>
						</element>
						<element name="arriveInsuredFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （保价）</documentation>
							</annotation>
						</element>
						<element name="arriveRefundFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （代收货款手续费）</documentation>
							</annotation>
						</element>
						<element name="arriveOtherFee" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收-到付 （其他）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="claimSettlementWithDVA" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>理赔（包含专线、偏线、空运部门操作的理赔）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="freightOrClaimForSameBillStart" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：应付理赔运单对应的总运费或者理赔金额（两者取小），由始发部门申请</documentation>
							</annotation>
						</element>
						<element name="claimSubtractFreightForSameBillStart" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：理赔金额-运单总运费，由始发部门申请</documentation>
							</annotation>
						</element>
						<element name="claimChargeOffStartReceivableStart" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>理赔冲应收始发，由始发部门申请（适用于理赔单号和应收单号相同或不同的情况进行对冲）</documentation>
							</annotation>
						</element>
						<element name="balance" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>理赔冲应收后，应付理赔仍存在余额，此时始发部门申请款项支付</documentation>
							</annotation>
						</element>
						<element name="freightOrClaimForSameBillArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：应付理赔运单对应的总运费或者理赔金额（两者取小），由到达部门申请</documentation>
							</annotation>
						</element>
						<element name="claimSubtractFreightForSameBillArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：理赔金额-运单总运费，由到达部门申请</documentation>
							</annotation>
						</element>
						<element name="claimChargeOffArriveReceivableArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>理赔冲应收到付，由到达部门申请（适用于理赔单号和应收单号相同或不同的情况进行对冲）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="RefundPaymentForGoods" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>代收货款</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="payableChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付(代收)冲应收（到付运费）（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付(代收)冲应收（到付运费）（未签收）</documentation>
							</annotation>
						</element>
						<element name="payableChargeOffStartReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付（代收）冲应收始发（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableChargeOffStartReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付（代收）冲应收始发（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="advancesReceivedCustomer" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>预收客户</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="advancesReceivedCash" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收客户现金</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedBank" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收客户银行</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收客户冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收客户冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffStartReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收客户冲应收始发（未签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffStartReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收客户冲应收始发（已签收）</documentation>
							</annotation>
						</element>
						<element name="startReturnAdvancesReceived" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>始发退预收付款申请</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="badDebtChargeOffReceivable" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>坏账冲应收</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="badDebtChargeOffStartReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>坏账冲应收始发（已签收）</documentation>
							</annotation>
						</element>
						<element name="badDebtChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>坏账冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="voucherInfo" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>小票</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="voucherCashOutBusiness" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>小票现金（营业外收入：会员卡费、卖废品、其他3种类型）</documentation>
							</annotation>
						</element>
						<element name="voucherBankOutBusiness" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>小票银行（营业外收入：会员卡费、卖废品、其他3种类型）</documentation>
							</annotation>
						</element>
						<element name="voucherReceivableOutBusiness" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>小票应收（营业外收入：会员卡费、卖废品、其他3种类型）</documentation>
							</annotation>
						</element>
						<element name="voucherCashMainBusiness" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>小票现金（主营业务收入：除会员卡费、卖废品、其他3种之外的类型）</documentation>
							</annotation>
						</element>
						<element name="voucherBankMainBusiness" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>小票银行（主营业务收入：除会员卡费、卖废品、其他3种之外的类型）</documentation>
							</annotation>
						</element>
						<element name="voucherReceivableMainBusiness" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>小票应收（主营业务收入：除会员卡费、卖废品、其他3种之外的类型）</documentation>
							</annotation>
						</element>
						<element name="voucherReceivableRepaymentCash" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>小票应收还款现金</documentation>
							</annotation>
						</element>
						<element name="voucherReceivableRepaymentBank" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>小票应收还款银行</documentation>
							</annotation>
						</element>
						<element name="payableChargeOffVoucherReceivable" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付（代收）冲小票应收</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffVoucherReceivable" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收客户冲小票应收</documentation>
							</annotation>
						</element>
						<element name="badDebtChargeOffVoucherReceivable" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>坏账冲小票应收</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="abandonmentOrProhibitedOrLoseOfGoods" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>弃货、违禁品、丢货</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="startReceivableAbandonmentOrProhibited" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收始发（弃货或违禁品）</documentation>
							</annotation>
						</element>
						<element name="spotPaymentAbandonmentOrProhibited" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>现付（现金/银行卡）（弃货或违禁品）</documentation>
							</annotation>
						</element>
						<element name="startReceivableLose" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应收始发（全部丢货）</documentation>
							</annotation>
						</element>
						<element name="spotPaymentLose" type="string" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>现付（现金/银行卡）（全部丢货）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="returnFreight" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>退运费</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="freightOrRefundForSameBillStart" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：退运费运单对应的总运费或者退运费金额（两者取小），由始发部门申请</documentation>
							</annotation>
						</element>
						<element name="refundChargeOffFreightStart" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：退运费金额-运单总运费，由始发部门申请</documentation>
							</annotation>
						</element>
						<element name="payStartFreightApply" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>始发退运费付款申请</documentation>
							</annotation>
						</element>
						<element name="freightOrRefundForSameBillArrive" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>同一单号：退运费运单对应的总运费或者退运费金额（两者取小），由到达部门申请</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="seviceRecovery" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>服务补救</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="startSeviceRecoveryPayment" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>始发服务补救付款申请</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="vehicleProxyCost" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>偏线代理成本</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="payableCostChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付(成本)冲应收（到付运费）（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableCostChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付(成本)冲应收（到付运费）（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="advancesReceivedVehicleProxy" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>预收偏线代理</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="advancesReceivedChargeOffArriveReceivedSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收偏线代理冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffArriveReceivedNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收偏线代理冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="otherPayableChargeOffOtherReceivable" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>应付（其它应付）冲应收（其它应收）</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="payableCostChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付到达代理成本冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="payableCostChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>应付到达代理成本冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
						<element name="otherPayableChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>其它应付到达代理冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="otherPayableChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>其它应付到达代理冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="advancesReceivedAirliftProxy" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>预收空运代理</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="advancesReceivedChargeOffArriveReceivableSigned" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收到付运费（已签收）</documentation>
							</annotation>
						</element>
						<element name="advancesReceivedChargeOffArriveReceivableNoSign" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>预收空运代理冲应收到付运费（未签收）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="claimSettlementApplyByAir" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>理赔</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="freightOrClaimForSameBillAir" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>同一单号：应付理赔运单对应的总运费或者理赔金额（两者取小），由空运部门申请</documentation>
							</annotation>
						</element>
						<element name="claimChargeOffArriveReceivableAir" type="decimal" maxOccurs="1" minOccurs="1">
							<annotation>
								<documentation>理赔冲应收到付运费，由空运部门申请（适用于理赔单号和应收单号相同或不同的情况进行对冲）</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			<element name="badDebtChargeOffOtherReceivable" minOccurs="1" maxOccurs="1">
				<annotation>
					<documentation>坏账冲其它应收</documentation>
				</annotation>
				<complexType>
					<sequence>
						<element name="badDebtChargeOffOtherReceivable" type="decimal" minOccurs="1" maxOccurs="1">
							<annotation>
								<documentation>坏账冲其它应收</documentation>
							</annotation>
						</element>
					</sequence>
				</complexType>
			</element>
			
			
		</sequence>
	</complexType>

	
	<complexType name="FossStartRptResponse">
		<sequence>
			<element name="startRptResult" type="tns:StartRptResult" minOccurs="1" maxOccurs="unbounded">
				<annotation>
					<documentation>始发月报表</documentation>
				</annotation>
			</element>
		</sequence>
	</complexType>



	<element name="fossStartRptRequest" type="tns:FossStartRptRequest">
	</element>

	<element name="fossStartRptResponse" type="tns:FossStartRptResponse">
	</element>

</schema>