foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/oa/server/FossPKPOAService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/fossPkpForOAService"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/foss"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/fossPkpForOAService" name="WorkflowService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/foss">
			<xsd:include schemaLocation="FOSS_REQUEST_DETENTCARGO.xsd"></xsd:include>
			<xsd:include schemaLocation="FOSS_QUERY_WAYBILL.xsd"></xsd:include>
			<xsd:include schemaLocation="FOSS_GRAND_GOOD_ABNORMAL.xsd"></xsd:include>
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="detentCargoWorkflowRequest">
		<wsdl:part name="detentCargoWorkflowRequest" element="tns_domain:detentCargoWorkflowRequest"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="detentCargoWorkflowResponse">
		<wsdl:part name="detentCargoWorkflowResponse" element="tns_domain:detentCargoWorkflowResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>

	<wsdl:message name="queryWaybillEntityRequest">
		<wsdl:part name="queryWaybillEntityRequest" element="tns_domain:queryWaybillEntityRequest" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="queryWaybillEntityResponse">
		<wsdl:part name="queryWaybillEntityResponse" element="tns_domain:queryWaybillEntityResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	
	<wsdl:message name="grandGoodAbnormalRequest">
		<wsdl:part name="grandGoodAbnormalRequest" element="tns_domain:grandGoodAbnormalRequest" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	<wsdl:message name="grandGoodAbnormalResponse">
		<wsdl:part name="grandGoodAbnormalResponse" element="tns_domain:grandGoodAbnormalResponse" />
		<wsdl:part name="esbHeader" element="tns_header:esbHeader" />
	</wsdl:message>
	
	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>

	<wsdl:portType name="fossPkpforOAService">
		<wsdl:operation name="detentCargoWorkflow">
			<wsdl:documentation>扣货申请</wsdl:documentation>
			<wsdl:input message="tns:detentCargoWorkflowRequest" />
			<wsdl:output message="tns:detentCargoWorkflowResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="queryWaybillEntity">
			<wsdl:documentation>查询运单详情</wsdl:documentation>
			<wsdl:input message="tns:queryWaybillEntityRequest"></wsdl:input>
			<wsdl:output message="tns:queryWaybillEntityResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="grandGoodAbnormalHandle">
			<wsdl:documentation>重大货物异常处理</wsdl:documentation>
			<wsdl:input message="tns:grandGoodAbnormalRequest"></wsdl:input>
			<wsdl:output message="tns:grandGoodAbnormalResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="grandGoodAbnormalReport">
			<wsdl:documentation>重大货物异常上报</wsdl:documentation>
			<wsdl:input message="tns:grandGoodAbnormalRequest"></wsdl:input>
			<wsdl:output message="tns:grandGoodAbnormalResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
		
		<wsdl:operation name="abnormalByPieceManage">
			<wsdl:documentation>差错按件管理</wsdl:documentation>
			<wsdl:input message="tns:grandGoodAbnormalRequest"></wsdl:input>
			<wsdl:output message="tns:grandGoodAbnormalResponse"></wsdl:output>
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="fossPkpforOAServiceSOAP" type="tns:fossPkpforOAService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />

		<wsdl:operation name="detentCargoWorkflow">
			<soap:operation
				soapAction="http://www.deppon.com/foss/fossPkpForOaService/detentCargoWorkflow" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:detentCargoWorkflowRequest"></soap:header>
				<soap:body use="literal" parts="detentCargoWorkflowRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:detentCargoWorkflowResponse"></soap:header>
				<soap:body use="literal" parts="detentCargoWorkflowResponse" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryWaybillEntity">
			<soap:operation
				soapAction="http://www.deppon.com/foss/fossPkpForOaService/queryWaybillEntity" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:queryWaybillEntityRequest" />
				<soap:body use="literal" parts="queryWaybillEntityRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:queryWaybillEntityResponse"></soap:header>
				<soap:body use="literal" parts="queryWaybillEntityResponse" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="grandGoodAbnormalHandle">
			<soap:operation
				soapAction="http://www.deppon.com/foss/fossPkpForOaService/grandGoodAbnormalHandle" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:grandGoodAbnormalRequest" />
				<soap:body use="literal" parts="grandGoodAbnormalRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:grandGoodAbnormalResponse"></soap:header>
				<soap:body use="literal" parts="grandGoodAbnormalResponse" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="grandGoodAbnormalReport">
			<soap:operation
				soapAction="http://www.deppon.com/foss/fossPkpForOaService/grandGoodAbnormalReport" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:grandGoodAbnormalRequest" />
				<soap:body use="literal" parts="grandGoodAbnormalRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:grandGoodAbnormalResponse"></soap:header>
				<soap:body use="literal" parts="grandGoodAbnormalResponse" />
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="abnormalByPieceManage">
			<soap:operation
				soapAction="http://www.deppon.com/foss/fossPkpForOaService/abnormalByPieceManage" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader"
					message="tns:grandGoodAbnormalRequest" />
				<soap:body use="literal" parts="grandGoodAbnormalRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader"
					message="tns:grandGoodAbnormalResponse"></soap:header>
				<soap:body use="literal" parts="grandGoodAbnormalResponse" />
			</wsdl:output>
		</wsdl:operation>
		
	</wsdl:binding>

	<wsdl:service name="fossPkpforOAService">
		<wsdl:port binding="tns:fossPkpforOAServiceSOAP" name="fossPkpforOAServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
