foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/line/LineService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/lineService" xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/lineService"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/lineService" name="lineService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/lineService">
			<xsd:include schemaLocation="QUERY_LINE.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
	</wsdl:types>

	<wsdl:message name="QueryLineRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryLineRequest" name="payload" />
	</wsdl:message>
	<wsdl:message name="QueryLineResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryLineResponse" name="payload" />
	</wsdl:message>

	<wsdl:message name="ESBHeader">
		<wsdl:part element="tns_header:esbHeader" name="header" />
	</wsdl:message>

	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	
	<wsdl:portType name="LineService">
		<wsdl:operation name="queryLine">
			<wsdl:input message="tns:QueryLineRequest" />
			<wsdl:output message="tns:QueryLineResponse" />
			<wsdl:fault name="exception" message="tns:CommonException"></wsdl:fault>
		</wsdl:operation>
	</wsdl:portType>

	<wsdl:binding name="LineServiceSOAP" type="tns:LineService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryLine">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryLine" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryLineRequest"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryLineResponse"></soap:header>
				<soap:body use="literal" parts="payload" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="LineService">
		<wsdl:port binding="tns:LineServiceSOAP" name="LineServiceSOAP">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
