foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/service/tracking/WayBillTrackService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://www.deppon.com/foss/service/wayBillTrackService"
	xmlns:tns_domain="http://www.deppon.com/esb/inteface/domain/foss"
	xmlns:tns_header="http://www.deppon.com/esb/header"
	xmlns:tns_exception="http://www.deppon.com/esb/exception"
	targetNamespace="http://www.deppon.com/foss/service/wayBillTrackService" name="WayBillTrackService">
	<wsdl:types>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/inteface/domain/foss">
			<xsd:include schemaLocation="FOSS_QUERY_WAYBILL_TRAJECTORY.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_WAYBILL_TRACKING_INFO.xsd" />
			<xsd:include schemaLocation="FOSS_QUERY_WAYBILL_DETAIL.xsd" />
			<xsd:include schemaLocation="FOSS_WAYBILL_TRAJECTORY.xsd" />
			<xsd:include schemaLocation="FOSS_WAYBILL_TRACKING_INFO.xsd" />
			<xsd:include schemaLocation="FOSS_WAYBILL_STOCK_INFO.xsd" />
			<xsd:include schemaLocation="FOSS_WAYBILL_TRAJECTORY_CC.xsd" />
		</xsd:schema>

		<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.deppon.com/foss/service/platformService"><xsd:element name="in" type="xsd:string"></xsd:element><xsd:element name="out" type="xsd:string"></xsd:element></xsd:schema>
    </wsdl:types>

	<wsdl:message name="QueryWaybillTrajectoryRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryWaybillTrajectoryRequest" name="queryWaybillTrajectoryRequest" />
	</wsdl:message>
	<wsdl:message name="QueryWaybillTrajectoryResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryWaybillTrajectoryResponse" name="queryWaybillTrajectoryResponse" />
	</wsdl:message>
	
	<wsdl:message name="QueryWaybillForCCRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryWaybillForCCRequest" name="queryWaybillForCCRequest" />
	</wsdl:message>
	<wsdl:message name="QueryWaybillForCCResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryWaybillForCCResponse" name="queryWaybillForCCResponse" />
	</wsdl:message>

	<wsdl:message name="QueryWaybillTrackingInfoRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryWaybillTrackingInfoRequest" name="queryWaybillTrackingInfoRequest" />
	</wsdl:message>
	<wsdl:message name="QueryWaybillTrackingInfoResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryWaybillTrackingInfoResponse" name="queryWaybillTrackingInfoResponse" />
	</wsdl:message>

	<wsdl:message name="QueryWaybillDetailRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryWaybillDetailRequest" name="queryWaybillDetailRequest" />
	</wsdl:message>
	<wsdl:message name="QueryWaybillDetailResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part element="tns_domain:QueryWaybillDetailResponse" name="queryWaybillDetailResponse" />
	</wsdl:message>
	
	<wsdl:message name="CommonException">
		<wsdl:part element="tns_exception:commonExceptionInfo" name="exception" />
	</wsdl:message>
	
	<wsdl:portType name="WayBillTrackService">
		<wsdl:operation name="queryWaybillTrajectory">
			<wsdl:documentation>查询运单轨迹</wsdl:documentation>
			<wsdl:input message="tns:QueryWaybillTrajectoryRequest" />
			<wsdl:output message="tns:QueryWaybillTrajectoryResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>
		
		<wsdl:operation name="queryWaybillCurrentStatueForCC">
			<wsdl:documentation>CC调用FOSS语音货物轨迹查询</wsdl:documentation>
			<wsdl:input message="tns:QueryWaybillForCCRequest" />
			<wsdl:output message="tns:QueryWaybillForCCResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>
		
		<wsdl:operation name="queryWaybillTrackingInfo">
			<wsdl:documentation>查询运单跟踪信息</wsdl:documentation>
			<wsdl:input message="tns:QueryWaybillTrackingInfoRequest" />
			<wsdl:output message="tns:QueryWaybillTrackingInfoResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>

		<wsdl:operation name="queryWaybillDetail">
			<wsdl:documentation>查询运单明细</wsdl:documentation>
			<wsdl:input message="tns:QueryWaybillDetailRequest" />
			<wsdl:output message="tns:QueryWaybillDetailResponse" />
			<wsdl:fault name="exception" message="tns:CommonException" />
		</wsdl:operation>

	</wsdl:portType>

	<wsdl:binding name="WayBillTrackServiceSOAP" type="tns:WayBillTrackService">
		<soap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="queryWaybillTrajectory">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryWaybillTrajectory" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillTrajectoryRequest"></soap:header>
				<soap:body use="literal" parts="queryWaybillTrajectoryRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillTrajectoryResponse"></soap:header>
				<soap:body use="literal" parts="queryWaybillTrajectoryResponse"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryWaybillCurrentStatueForCC">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryWaybillCurrentStatueForCC" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillForCCRequest"></soap:header>
				<soap:body use="literal" parts="queryWaybillForCCRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillForCCResponse"></soap:header>
				<soap:body use="literal" parts="queryWaybillForCCResponse"/>
			</wsdl:output>
		</wsdl:operation>
		
		<wsdl:operation name="queryWaybillTrackingInfo">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryWaybillTrackingInfo" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillTrackingInfoRequest"></soap:header>
				<soap:body use="literal" parts="queryWaybillTrackingInfoRequest" />
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillTrackingInfoResponse"></soap:header>
				<soap:body use="literal" parts="queryWaybillTrackingInfoResponse"/>
			</wsdl:output>
		</wsdl:operation>

		<wsdl:operation name="queryWaybillDetail">
			<soap:operation
				soapAction="http://www.deppon.com/foss/customerService/queryWaybillDetail" />
			<wsdl:input>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillDetailRequest"></soap:header>
				<soap:body use="literal" parts="queryWaybillDetailRequest"/>
			</wsdl:input>
			<wsdl:output>
				<soap:header use="literal" part="esbHeader" message="tns:QueryWaybillDetailResponse"></soap:header>
				<soap:body use="literal" parts="queryWaybillDetailResponse" />
			</wsdl:output>
		</wsdl:operation>

	</wsdl:binding>
	<wsdl:service name="WayBillTrackService">
		<wsdl:port binding="tns:WayBillTrackServiceSOAP" name="WayBillTrackService">
			<soap:address location="http://www.example.org/" />
		</wsdl:port>
	</wsdl:service>

</wsdl:definitions>
