foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/oa/client/DIPService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:apachesoap="http://xml.apache.org/xml-soap"
	xmlns:tns_header="http://www.deppon.com/dip/remote/dkeytms/checkLoginService/header"
	xmlns:impl="http://ISysbbsService.datasync.integrateorg.dip"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ISysbbsService.datasync.integrateorg.dip">
	<wsdl:types>
		<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
			xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
			xmlns:tns="http://www.deppon.com/dip/remote/dkeytms/checkLoginService/header"
			xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified"
			targetNamespace="http://www.deppon.com/dip/remote/dkeytms/checkLoginService/header">
			<complexType name="ESBHeader">
				<sequence>
					<element maxOccurs="1" minOccurs="1" name="version" type="string">
						<annotation>
							<documentation>版本号, 编码规则由各应用自行决定</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="1" name="businessId"
						type="string">
						<annotation>
							<documentation>用于两端应用跟踪服务，属于同一个businessId的消息即表示在业务含义上相同。
							</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="businessDesc1"
						type="string">
						<annotation>
							<documentation>业务保留字段1，用于描述业务的辅助信息</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="businessDesc2"
						type="string">
						<annotation>
							<documentation>业务保留字段2，用于描述业务的辅助信息</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="businessDesc3"
						type="string">
						<annotation>
							<documentation>业务保留字段3，用于描述业务的辅助信息</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="1" name="requestId" type="string">
						<annotation>
							<documentation>用于标识请求消息的唯一性</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="responseId"
						type="string">
						<annotation>
							<documentation>用于标识响应消息的唯一性</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="1" name="sourceSystem"
						type="string">
						<annotation>
							<documentation>记录客户端的前端接入系统标识，ESB为每个接入的系统设定固定的常量，如ERP， CRM， OA。。。
							</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="targetSystem"
						type="string">
						<annotation>
							<documentation>记录客户端的后端接入系统标识</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="1" name="esbServiceCode"
						type="string">
						<annotation>
							<documentation>ESB提供给服务消费端的服务编码</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="backServiceCode"
						type="string">
						<annotation>
							<documentation>服务提供端提供给ESB的服务编码</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="messageFormat"
						type="string">
						<annotation>
							<documentation>消息格式，如SOAP，XML，JSON，Binary等，这些格式可扩展
							</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="exchangePattern"
						type="int">
						<annotation>
							<documentation>1- 请求/响应，2-请求/回调，3-单向（只有请求没有结果返回）</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="sentSequence"
						type="int">
						<annotation>
							<documentation>用来标识是否是重发的消息，第一次发送为1，后续每次重发加1</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="resultCode"
						type="int">
						<annotation>
							<documentation>响应结果状态:0-失败，1-成功</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="authentication"
						type="tns:AuthInfo">
						<annotation>
							<documentation>用户认证信息</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="statusList"
						type="tns:StatusList">
						<annotation>
							<documentation>状态信息，可用于记录执行状态和对应的时间戳</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="AuthInfo">
				<sequence>
					<element maxOccurs="1" minOccurs="0" name="username" type="string">
						<annotation>
							<documentation>用户名</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="0" name="password" type="string">
						<annotation>
							<documentation>密码</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="StatusList">
				<sequence>
					<element maxOccurs="unbounded" minOccurs="0" name="statusInfo"
						type="tns:StatusInfo">
						<annotation>
							<documentation>状态列表</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<complexType name="StatusInfo">
				<sequence>
					<element maxOccurs="1" minOccurs="1" name="statusId" type="string">
						<annotation>
							<documentation>状态码</documentation>
						</annotation>
					</element>
					<element maxOccurs="1" minOccurs="1" name="timeStamp" type="long">
						<annotation>
							<documentation>自从1970-1-1 以来经过的毫秒数</documentation>
						</annotation>
					</element>
				</sequence>
			</complexType>
			<element name="esbHeader" type="tns:ESBHeader" />
		</schema>
		<schema xmlns="http://www.w3.org/2001/XMLSchema"
			elementFormDefault="qualified" targetNamespace="http://ISysbbsService.datasync.integrateorg.dip">
			<element name="requestStr" type="xsd:string" />
			<element name="checkLoginServiceReturn" type="xsd:string" />
		</schema>
	</wsdl:types>
	<wsdl:message name="checkLoginServiceRequest">
		<wsdl:part element="impl:requestStr" name="requestStr"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="checkLoginServiceResponse">
		<wsdl:part element="impl:checkLoginServiceReturn" name="checkLoginServiceReturn"></wsdl:part>
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
	</wsdl:message>
	<wsdl:portType name="CheckLoginService">
		<wsdl:operation name="checkLoginService"
			parameterOrder="requestStr">
			<wsdl:input message="impl:checkLoginServiceRequest" name="checkLoginServiceRequest"></wsdl:input>
			<wsdl:output message="impl:checkLoginServiceResponse"
				name="checkLoginServiceResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="CheckLoginServiceSoapBinding" type="impl:CheckLoginService">
		<wsdlsoap:binding style="document"
			transport="http://schemas.xmlsoap.org/soap/http" />
		<wsdl:operation name="checkLoginService">
			<wsdlsoap:operation soapAction="" />
			<wsdl:input name="checkLoginServiceRequest">
				<wsdlsoap:header message="impl:checkLoginServiceRequest"
					part="esbHeader" use="literal" />
				<wsdlsoap:body use="literal" parts="requestStr" />
			</wsdl:input>
			<wsdl:output name="checkLoginServiceResponse">
				<wsdlsoap:header message="impl:checkLoginServiceResponse"
					part="esbHeader" use="literal" />
				<wsdlsoap:body use="literal" parts="checkLoginServiceReturn" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="CheckLoginServiceService">
		<wsdl:port binding="impl:CheckLoginServiceSoapBinding" name="CheckLoginService">
			<wsdlsoap:address
				location="http://192.168.17.137/dipApp/services/CheckLoginService" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>