foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/oa/client/OAErrorsForFOSSImplService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:intf="http://foss.errors.businessManagement.integrateportal.dip" xmlns:impl="http://foss.errors.businessManagement.integrateportal.dip" xmlns:apachesoap="http://xml.apache.org/xml-soap" targetNamespace="http://foss.errors.businessManagement.integrateportal.dip">
  <wsdl:types>
<schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:intf="http://foss.errors.businessManagement.integrateportal.dip" xmlns:impl="http://foss.errors.businessManagement.integrateportal.dip" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://foss.errors.businessManagement.integrateportal.dip">
   <element name="jsonGoodsInfos" type="xsd:string"/>
   <element name="reportNolabelReturn" type="xsd:string"/>
   <element name="jsonGoodsInfo" type="xsd:string"/>
   <element name="reportMoreGoodsReturn" type="xsd:string"/>
   <element name="jsonGoodsInfoes" type="xsd:string"/>
   <element name="reportLessGoodsReturn" type="xsd:string"/>
   <element name="waybillNo" type="xsd:string"/>
   <element name="queryContrabandReturn" type="xsd:string"/>
   <element name="jsonInfo" type="xsd:string"/>
   <element name="reportLessFoundReturn" type="xsd:string"/>
   <element name="errorID" type="xsd:string"/>
   <element name="queryUnloadiffReturn" type="xsd:string"/>
   <element name="errorInfo" type="xsd:string"/>
   <element name="reportSlipErrorsReturn" type="xsd:string"/>
   <element name="hangdingid" type="xsd:string"/>
   <element name="queryVirtrualWaybillReturn" type="xsd:string"/>
   <element name="jsonGoodsInfo1" type="xsd:string"/>
   <element name="reportAttachoverweightReturn" type="xsd:string"/>
   <element name="hangdingid1" type="xsd:string"/>
   <element name="updateGoodsArriverelayReturn" type="xsd:string"/>
   <element name="jsonReverseSignInfo" type="xsd:string"/>
   <element name="reportReverseSignReturn" type="xsd:string"/>
  </schema>
  </wsdl:types>
  <wsdl:message name="reportReverseSignResponse">
    <wsdl:part element="impl:reportReverseSignReturn" name="reportReverseSignReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportReverseSignRequest">
    <wsdl:part element="impl:jsonReverseSignInfo" name="jsonReverseSignInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGoodsArriverelayRequest">
  	<wsdl:part element="impl:hangdingid1" name="hangdingid1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportNolabelResponse">
    <wsdl:part element="impl:reportNolabelReturn" name="reportNolabelReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportLessGoodsRequest">
    <wsdl:part element="impl:jsonGoodsInfoes" name="jsonGoodsInfoes">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportMoreGoodsRequest">
    <wsdl:part element="impl:jsonGoodsInfo" name="jsonGoodsInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryVirtrualWaybillRequest">
    <wsdl:part element="impl:hangdingid" name="hangdingid">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryVirtrualWaybillResponse">
    <wsdl:part element="impl:queryVirtrualWaybillReturn" name="queryVirtrualWaybillReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryContrabandRequest">
    <wsdl:part element="impl:waybillNo" name="waybillNo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportLessGoodsResponse">
    <wsdl:part element="impl:reportLessGoodsReturn" name="reportLessGoodsReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryContrabandResponse">
    <wsdl:part element="impl:queryContrabandReturn" name="queryContrabandReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportMoreGoodsResponse">
    <wsdl:part element="impl:reportMoreGoodsReturn" name="reportMoreGoodsReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportAttachoverweightResponse">
    <wsdl:part element="impl:reportAttachoverweightReturn" name="reportAttachoverweightReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportSlipErrorsResponse">
    <wsdl:part element="impl:reportSlipErrorsReturn" name="reportSlipErrorsReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportLessFoundResponse">
    <wsdl:part element="impl:reportLessFoundReturn" name="reportLessFoundReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportLessFoundRequest">
    <wsdl:part element="impl:jsonInfo" name="jsonInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUnloadiffResponse">
    <wsdl:part element="impl:queryUnloadiffReturn" name="queryUnloadiffReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportSlipErrorsRequest">
    <wsdl:part element="impl:errorInfo" name="errorInfo">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportNolabelRequest">
    <wsdl:part element="impl:jsonGoodsInfos" name="jsonGoodsInfos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="reportAttachoverweightRequest">
    <wsdl:part element="impl:jsonGoodsInfo1" name="jsonGoodsInfo1">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="queryUnloadiffRequest">
    <wsdl:part element="impl:errorID" name="errorID">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="updateGoodsArriverelayResponse">
  	<wsdl:part element="impl:updateGoodsArriverelayReturn" name="updateGoodsArriverelayReturn">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OAErrorsForFOSSImpl">
    <wsdl:operation name="reportNolabel" parameterOrder="jsonGoodsInfos">
      <wsdl:input message="impl:reportNolabelRequest" name="reportNolabelRequest">
    </wsdl:input>
      <wsdl:output message="impl:reportNolabelResponse" name="reportNolabelResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportMoreGoods" parameterOrder="jsonGoodsInfo">
      <wsdl:input message="impl:reportMoreGoodsRequest" name="reportMoreGoodsRequest">
    </wsdl:input>
      <wsdl:output message="impl:reportMoreGoodsResponse" name="reportMoreGoodsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportLessGoods" parameterOrder="jsonGoodsInfoes">
      <wsdl:input message="impl:reportLessGoodsRequest" name="reportLessGoodsRequest">
    </wsdl:input>
      <wsdl:output message="impl:reportLessGoodsResponse" name="reportLessGoodsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryContraband" parameterOrder="waybillNo">
      <wsdl:input message="impl:queryContrabandRequest" name="queryContrabandRequest">
    </wsdl:input>
      <wsdl:output message="impl:queryContrabandResponse" name="queryContrabandResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportLessFound" parameterOrder="jsonInfo">
      <wsdl:input message="impl:reportLessFoundRequest" name="reportLessFoundRequest">
    </wsdl:input>
      <wsdl:output message="impl:reportLessFoundResponse" name="reportLessFoundResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUnloadiff" parameterOrder="errorID">
      <wsdl:input message="impl:queryUnloadiffRequest" name="queryUnloadiffRequest">
    </wsdl:input>
      <wsdl:output message="impl:queryUnloadiffResponse" name="queryUnloadiffResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportSlipErrors" parameterOrder="errorInfo">
      <wsdl:input message="impl:reportSlipErrorsRequest" name="reportSlipErrorsRequest">
    </wsdl:input>
      <wsdl:output message="impl:reportSlipErrorsResponse" name="reportSlipErrorsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryVirtrualWaybill" parameterOrder="hangdingid">
      <wsdl:input message="impl:queryVirtrualWaybillRequest" name="queryVirtrualWaybillRequest">
    </wsdl:input>
      <wsdl:output message="impl:queryVirtrualWaybillResponse" name="queryVirtrualWaybillResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportAttachoverweight" parameterOrder="jsonGoodsInfo1">
      <wsdl:input message="impl:reportAttachoverweightRequest" name="reportAttachoverweightRequest">
    </wsdl:input>
      <wsdl:output message="impl:reportAttachoverweightResponse" name="reportAttachoverweightResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGoodsArriverelay" parameterOrder="hangdingid1">
    	<wsdl:input message="impl:updateGoodsArriverelayRequest" name="updateGoodsArriverelayRequest">
    	</wsdl:input>
    	<wsdl:output message="impl:updateGoodsArriverelayResponse" name="updateGoodsArriverelayResponse">
    	</wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="reportReverseSign" parameterOrder="jsonReverseSignInfo">
      <wsdl:input message="impl:reportReverseSignRequest" name="reportReverseSignRequest">
    </wsdl:input>
      <wsdl:output message="impl:reportReverseSignResponse" name="reportReverseSignResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OAErrorsForFOSSImplServicesSoapBinding" type="impl:OAErrorsForFOSSImpl">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="reportNolabel">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reportNolabelRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportNolabelResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportMoreGoods">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reportMoreGoodsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportMoreGoodsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportLessGoods">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reportLessGoodsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportLessGoodsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryContraband">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="queryContrabandRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryContrabandResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportLessFound">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reportLessFoundRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportLessFoundResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryUnloadiff">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="queryUnloadiffRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryUnloadiffResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportSlipErrors">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reportSlipErrorsRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportSlipErrorsResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="queryVirtrualWaybill">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="queryVirtrualWaybillRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="queryVirtrualWaybillResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reportAttachoverweight">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reportAttachoverweightRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportAttachoverweightResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateGoodsArriverelay">
    	<wsdlsoap:operation soapAction=""/>
    	<wsdl:input name="updateGoodsArriverelayRequest">
    	<wsdlsoap:body use="literal"/>
    	</wsdl:input>
    	<wsdl:output name="updateGoodsArriverelayResponse">
    	<wsdlsoap:body use="literal"/>
    </wsdl:output></wsdl:operation>
    <wsdl:operation name="reportReverseSign">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="reportReverseSignRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="reportReverseSignResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OAErrorsForFOSSImplService">
    <wsdl:port binding="impl:OAErrorsForFOSSImplServicesSoapBinding" name="OAErrorsForFOSSImplServices">
      <!-- <wsdlsoap:address location="http://192.168.67.12:8180/esb2/ws/foss2dip/workflowService"/> -->
      <wsdlsoap:address location="http://192.168.67.12:8580/esb2/ws/foss2dip/workflowService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>