foss-esb/src/main/resources/wsdl/com/deppon/foss/esb/gis/client/expressRoutePlan.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
				  xmlns:tns="http://www.deppon.com/gis/gisServiceRoute" 
				  xmlns:tns_domain="http://www.deppon.com/gis/gisServiceRoute" 
				  xmlns:tns_header="http://www.deppon.com/esb/header"
				  xmlns:tns_exception="http://www.deppon.com/esb/exception" 
				  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
				  xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
				  name="GisServiceRouteImplService" 
				  targetNamespace="http://www.deppon.com/gis/gisServiceRoute" >
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.deppon.com/gis/gisServiceRoute">
     	<xsd:include schemaLocation="expressRoutePlan.xsd"></xsd:include>
    </xsd:schema>
    	<xsd:schema targetNamespace="http://www.deppon.com/esb/header">
			<xsd:include schemaLocation="ESBHeader.xsd" />
		</xsd:schema>
		<xsd:schema targetNamespace="http://www.deppon.com/esb/exception">
			<xsd:include schemaLocation="CommonException.xsd" />
		</xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="ESBHeader">
		<wsdl:part name="header" element="tns_header:esbHeader" >
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="CommonException">
		<wsdl:part name="commonExceptionInfo" element="tns_exception:commonExceptionInfo" >
		</wsdl:part>
	</wsdl:message>
	<wsdl:message name="expressRoutePlanRequest">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="expressRoutePlanRequest" element="tns_domain:expressRoutePlanRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="expressRoutePlanResponse">
		<wsdl:part name="esbHeader" element="tns_header:esbHeader"></wsdl:part>
		<wsdl:part name="expressRoutePlanResponse" element="tns_domain:expressRoutePlanResponse"></wsdl:part>
	</wsdl:message>
  
  <wsdl:portType name="gisServiceRoute">
    <wsdl:operation name="expressRoutePlan">
      <wsdl:input message="tns:expressRoutePlanRequest"/>
      <wsdl:output message="tns:expressRoutePlanResponse"/>
      <wsdl:fault name="commonException" message="tns:CommonException"></wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="GisServiceRouteImplServiceSoapBinding" type="tns:gisServiceRoute">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="expressRoutePlan" xmlns="http://www.deppon.com/gis/gisServiceRoute">
<!--       <soap:operation soapAction="http://www.deppon.com/ows/waybillStatusBack"/> -->
      <wsdl:input>
      	<soap:header use="literal" part="esbHeader" message="tns:expressRoutePlanRequest"></soap:header>
        <soap:body use="literal" parts="expressRoutePlanRequest"/>
      </wsdl:input>
      <wsdl:output>
      	<soap:header use="literal" part="esbHeader" message="tns:expressRoutePlanResponse"></soap:header>
        <soap:body use="literal" parts="expressRoutePlanResponse"/>
      </wsdl:output>
      <wsdl:fault name="commonException" xmlns="http://www.deppon.com/esb/exception">
				<soap:fault use="literal" name="commonException"/>
			</wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="GisServiceRouteImplService">
    <wsdl:port binding="tns:GisServiceRouteImplServiceSoapBinding" name="GisServiceRouteImplPort">
      <soap:address location="http://10.224.70.24:8090/gis-ws/com/expressRoutePlan"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
